Repository aws-powertools/powertools-lambda-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff, cloudformation

.pre-commit-config.yaml:

# We use poetry to run formatting and linting before commit/push
# Longer checks such as tests, security and complexity baseline
# are run as part of CI to prevent slower feedback loop
# All checks can be run locally via `make pr`

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: "f71fa2c1f9cf5cb705f73dffe4b21f7c61470ba9" # v4.4.0
    hooks:
      - id: check-merge-conflict
      - id: trailing-whitespace
      - id: check-toml
  - repo: local
    hooks:
      - id: black
        name: formatting::black
        entry: poetry run black
        language: system
        types: [python]
      - id: ruff
        name: linting-format::ruff
        entry: poetry run ruff
        language: system
        types: [python]
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: "ce0d77ac47dc921b62429804fe763d4d35f66a76" # v0.34.0
    hooks:
      - id: markdownlint-docker
        args: ["--fix"]
  - repo: local
    hooks:
      - id: cloudformation
        name: linting::cloudformation
        entry: poetry run cfn-lint
        language: system
        types: [yaml]
        files: examples/.*
  - repo: https://github.com/rhysd/actionlint
    rev: "fd7ba3c382e13dcc0248e425b4cbc3f1185fa3ee" # v1.6.24
    hooks:
      - id: actionlint-docker
        args: [-pyflakes=]
  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: 3420134c37197c21edffc7e6093b14ffae8402f2 # v1.81.0
    hooks:
      - id: terraform_fmt
        args:
          - --args=-recursive
  - repo: https://github.com/gitleaks/gitleaks
    rev: "7804d652c0460f0b61ea9bb2c1f202bfcdbbf144" # v8.16.3
    hooks:
      - id: gitleaks

chore: version bump
  aws_lambda_powertools/shared/version.py
  pyproject.toml
Due: black, ruff

chore(ci): layer docs update
  CHANGELOG.md
  docs/includes/_layer_homepage_arm64.md
  docs/includes/_layer_homepage_x86.md
  docs/index.md
  examples/homepage/install/arm64/amplify.txt
  examples/homepage/install/arm64/cdk_arm64.py
  examples/homepage/install/arm64/pulumi_arm64.py
  examples/homepage/install/arm64/sam.yaml
  examples/homepage/install/arm64/serverless.yml
  examples/homepage/install/arm64/terraform.tf
  examples/homepage/install/x86_64/amplify.txt
  examples/homepage/install/x86_64/cdk_x86.py
  examples/homepage/install/x86_64/pulumi_x86.py
  examples/homepage/install/x86_64/sam.yaml
  examples/homepage/install/x86_64/serverless.yml
  examples/homepage/install/x86_64/terraform.tf
  examples/logger/sam/template.yaml
  examples/metrics/sam/template.yaml
  examples/metrics_datadog/sam/template.yaml
  examples/tracer/sam/template.yaml
Due: black, ruff, cloudformation

chore(ci): new pre-release 3.15.1a0
  aws_lambda_powertools/shared/version.py
  provenance/3.15.1a0/multiple.intoto.jsonl
  pyproject.toml
Due: black, ruff

chore(ci): changelog rebuild
  CHANGELOG.md
Due: none

Fixing Glue + Confluent + Plain protobuf deser
  aws_lambda_powertools/utilities/kafka/consumer_records.py
  aws_lambda_powertools/utilities/kafka/deserializer/avro.py
  aws_lambda_powertools/utilities/kafka/deserializer/default.py
  aws_lambda_powertools/utilities/kafka/deserializer/deserializer.py
  aws_lambda_powertools/utilities/kafka/deserializer/json.py
  aws_lambda_powertools/utilities/kafka/deserializer/protobuf.py
  aws_lambda_powertools/utilities/kafka/exceptions.py
  aws_lambda_powertools/utilities/kafka/serialization/custom_dict.py
  aws_lambda_powertools/utilities/kafka/serialization/dataclass.py
  aws_lambda_powertools/utilities/kafka/serialization/pydantic.py
  tests/functional/kafka_consumer/_avro/test_kafka_consumer_with_avro.py
  tests/functional/kafka_consumer/_protobuf/schemas/__init__.py
  tests/functional/kafka_consumer/_protobuf/schemas/complex_schema_with_confuent.py
  tests/functional/kafka_consumer/_protobuf/schemas/complex_schema_with_glue.py
  tests/functional/kafka_consumer/_protobuf/test_kafka_consumer_with_protobuf.py
  tests/functional/kafka_consumer/_protobuf/user_prof.proto
  tests/functional/kafka_consumer/_protobuf/user_prof_pb2.py
  tests/functional/kafka_consumer/required_dependencies/test_kafka_consumer.py
Due: black, ruff

feat(kafka): add logic to handle protobuf deserialization (#6841)
  aws_lambda_powertools/utilities/kafka/consumer_records.py
  aws_lambda_powertools/utilities/kafka/deserializer/avro.py
  aws_lambda_powertools/utilities/kafka/deserializer/default.py
  aws_lambda_powertools/utilities/kafka/deserializer/deserializer.py
  aws_lambda_powertools/utilities/kafka/deserializer/json.py
  aws_lambda_powertools/utilities/kafka/deserializer/protobuf.py
  aws_lambda_powertools/utilities/kafka/exceptions.py
  aws_lambda_powertools/utilities/kafka/serialization/custom_dict.py
  aws_lambda_powertools/utilities/kafka/serialization/dataclass.py
  aws_lambda_powertools/utilities/kafka/serialization/pydantic.py
  tests/functional/kafka_consumer/_avro/test_kafka_consumer_with_avro.py
  tests/functional/kafka_consumer/_protobuf/schemas/__init__.py
  tests/functional/kafka_consumer/_protobuf/schemas/complex_schema_with_confuent.py
  tests/functional/kafka_consumer/_protobuf/schemas/complex_schema_with_glue.py
  tests/functional/kafka_consumer/_protobuf/test_kafka_consumer_with_protobuf.py
  tests/functional/kafka_consumer/_protobuf/user_prof.proto
  tests/functional/kafka_consumer/_protobuf/user_prof_pb2.py
  tests/functional/kafka_consumer/required_dependencies/test_kafka_consumer.py
Due: black, ruff

chore(ci): bump version to 3.15.1
  aws_lambda_powertools/shared/version.py
  pyproject.toml
Due: black, ruff

docs: Update we_made_this.md
  docs/we_made_this.md
Due: none

Update we_made_this.md
  docs/we_made_this.md
Due: none

chore(ci): new pre-release 3.15.2a0
  aws_lambda_powertools/shared/version.py
  provenance/3.15.2a0/multiple.intoto.jsonl
  pyproject.toml
Due: black, ruff

fix(logger): add test for flush without buffer
  tests/functional/logger/required_dependencies/test_powertools_logger_buffer.py
Due: black, ruff

fix(logger): fix exception on flush without buffer (#6794)
  aws_lambda_powertools/logging/logger.py
  tests/functional/logger/required_dependencies/test_powertools_logger_buffer.py
Due: black, ruff

Refactoring documentation
  docs/utilities/kafka.md
  examples/kafka/consumer/events/kafka_event_avro.json
  examples/kafka/consumer/events/kafka_event_json.json
  examples/kafka/consumer/events/kafka_event_protobuf.json
  examples/kafka/consumer/sam/adjust_batch_size_configuration.yaml
  examples/kafka/consumer/sam/getting_started_with_msk.yaml
  examples/kafka/consumer/schemas/user.avsc
  examples/kafka/consumer/schemas/user.json
  examples/kafka/consumer/schemas/user.proto
  examples/kafka/consumer/src/access_event_metadata.py
  examples/kafka/consumer/src/lambda_handler_test.py
  examples/kafka/consumer/src/serializing_output_with_custom_function.py
  examples/kafka/consumer/src/serializing_output_with_dataclass.py
  examples/kafka/consumer/src/serializing_output_with_pydantic.py
  examples/kafka/consumer/src/testing_your_code.py
  examples/kafka/consumer/src/using_java_naming_convention.py
  examples/kafka/consumer/src/working_with_idempotency.py
  examples/kafka/consumer/src/working_with_key_and_value.py
  examples/kafka/consumer/src/working_with_key_only.py
  examples/kafka/consumer/src/working_with_large_messages.py
  examples/kafka/consumer/src/working_with_record_error_handling.py
  examples/kafka/consumer/src/working_with_schema_errors.py
Due: black, ruff, cloudformation

chore(ci): new pre-release 3.15.2a1
  aws_lambda_powertools/shared/version.py
  provenance/3.15.2a1/multiple.intoto.jsonl
  pyproject.toml
Due: black, ruff

chore(ci): new pre-release 3.15.2a2
  aws_lambda_powertools/shared/version.py
  provenance/3.15.2a2/multiple.intoto.jsonl
  pyproject.toml
Due: black, ruff

Fix command to replace layer number
  docs/index.md
  layer_v3/scripts/update_layer_arn_v3.sh
Due: none

feat(ci): Deploy to AWS partitions
  .github/workflows/layers_partition_verify.yml
  .github/workflows/layers_partitions.yml
Due: none

chore(ci): fix command to replace layer number (#6868)
  docs/index.md
  layer_v3/scripts/update_layer_arn_v3.sh
Due: none

fix typo
  .github/workflows/layers_partitions.yml
Due: none

feat(ci): Deploy to AWS China partitions (#6867)
  .github/workflows/layers_partition_verify.yml
  .github/workflows/layers_partitions.yml
Due: none

chore(ci): new pre-release 3.15.2a3
  aws_lambda_powertools/shared/version.py
  provenance/3.15.2a3/multiple.intoto.jsonl
  pyproject.toml
Due: black, ruff

Fix decoding headers signed numbers
  aws_lambda_powertools/shared/functions.py
  aws_lambda_powertools/utilities/data_classes/kafka_event.py
  aws_lambda_powertools/utilities/kafka/consumer_records.py
  aws_lambda_powertools/utilities/parser/models/kafka.py
  tests/events/kafkaEventMsk.json
  tests/unit/data_classes/required_dependencies/test_kafka_event.py
  tests/unit/parser/_pydantic/test_kafka.py
Due: black, ruff

fix(logger): caplog working with parent Logger
  aws_lambda_powertools/logging/logger.py
  tests/functional/logger/required_dependencies/test_logger.py
Due: black, ruff

add comment
  aws_lambda_powertools/logging/logger.py
Due: black, ruff

chore(ci): new pre-release 3.15.2a4
  aws_lambda_powertools/shared/version.py
  provenance/3.15.2a4/multiple.intoto.jsonl
  pyproject.toml
Due: black, ruff

fix(event_source): fix decode headers with signed bytes (#6878)
  aws_lambda_powertools/shared/functions.py
  aws_lambda_powertools/utilities/data_classes/kafka_event.py
  aws_lambda_powertools/utilities/kafka/consumer_records.py
  aws_lambda_powertools/utilities/parser/models/kafka.py
  tests/events/kafkaEventMsk.json
  tests/unit/data_classes/required_dependencies/test_kafka_event.py
  tests/unit/parser/_pydantic/test_kafka.py
Due: black, ruff

fix(logger): caplog working with parent Logger (#6847)
  aws_lambda_powertools/logging/logger.py
  tests/functional/logger/required_dependencies/test_logger.py
Due: black, ruff

feat(ci): Deploy to AWS partitions
  .github/workflows/layers_partitions.yml
Due: none
