Repository aws-powertools/powertools-lambda-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff, cloudformation

black:
  name: formatting::black
  entry: poetry run black
  language: system

ruff:
  name: linting-format::ruff
  entry: poetry run ruff
  language: system

cloudformation:
  name: linting::cloudformation
  entry: poetry run cfn-lint
  language: system

chore: return list only
  aws_lambda_powertools/utilities/data_classes/common.py
Due: black, ruff

chore: return dict or empty list as default instead
  aws_lambda_powertools/utilities/data_classes/common.py
  aws_lambda_powertools/utilities/data_classes/shared_functions.py
  tests/unit/test_data_classes.py
Due: black, ruff

chore: fix return type in ALB multi-query
  aws_lambda_powertools/utilities/data_classes/alb_event.py
Due: black, ruff

docs: update query string example
  examples/event_handler_rest/src/accessing_request_details.py
Due: black, ruff

chore: adjust test on default value ALB
  tests/unit/data_classes/test_alb_event.py
Due: black, ruff

feat(event-source): add function to get multi-value query string params by name (#3846)
  aws_lambda_powertools/utilities/data_classes/alb_event.py
  aws_lambda_powertools/utilities/data_classes/common.py
  aws_lambda_powertools/utilities/data_classes/shared_functions.py
  examples/event_handler_rest/src/accessing_request_details.py
  tests/unit/data_classes/test_alb_event.py
  tests/unit/test_data_classes.py
Due: black, ruff

Deployed 9cd21aa4 to develop with MkDocs 1.5.3 and mike 1.1.2
  develop/core/event_handler/api_gateway/index.html
  develop/search/search_index.json
  develop/sitemap.xml.gz
Due: none

Removing aws-encryption-sdk from our layer
  Makefile
  docs/utilities/data_masking.md
  poetry.lock
  pyproject.toml
  tests/e2e/utils/lambda_layer/powertools_layer.py
Due: black, ruff

Changing to info
  docs/utilities/data_masking.md
Due: none

Removing jsonpath
  poetry.lock
  pyproject.toml
Due: none

chore(ci): remove aws-encryption-sdk from Lambda layer due to cffi being tied to python version (#3853)
  Makefile
  docs/utilities/data_masking.md
  poetry.lock
  pyproject.toml
  tests/e2e/utils/lambda_layer/powertools_layer.py
Due: black, ruff

Deployed 7e820114 to develop with MkDocs 1.5.3 and mike 1.1.2
  develop/404.html
  develop/automation/index.html
  develop/changelog/index.html
  develop/contributing/conventions/index.html
  develop/contributing/documentation/rfcs/index.html
  develop/contributing/getting_started/index.html
  develop/contributing/setup/index.html
  develop/core/event_handler/api_gateway/index.html
  develop/core/event_handler/appsync/index.html
  develop/core/logger/index.html
  develop/core/metrics/datadog/index.html
  develop/core/metrics/index.html
  develop/core/tracer/index.html
  develop/diagram_src/cicd_steps/index.html
  develop/index.html
  develop/maintainers/index.html
  develop/roadmap/index.html
  develop/search/search_index.json
  develop/security/index.html
  develop/sitemap.xml.gz
  develop/tutorial/index.html
  develop/upgrade/index.html
  develop/utilities/batch/index.html
  develop/utilities/data_classes/index.html
  develop/utilities/data_masking/index.html
  develop/utilities/feature_flags/index.html
  develop/utilities/idempotency/index.html
  develop/utilities/jmespath_functions/index.html
  develop/utilities/middleware_factory/index.html
  develop/utilities/parameters/index.html
  develop/utilities/parser/index.html
  develop/utilities/streaming/index.html
  develop/utilities/typing/index.html
  develop/utilities/validation/index.html
  develop/versioning/index.html
  develop/we_made_this/index.html
Due: none

chore: version bump
  aws_lambda_powertools/shared/version.py
  pyproject.toml
Due: black, ruff

chore(ci): bump version to 2.34.2
  aws_lambda_powertools/shared/version.py
  pyproject.toml
Due: black, ruff

chore(ci): layer docs update
  CHANGELOG.md
  docs/index.md
  examples/logger/sam/template.yaml
  examples/metrics/sam/template.yaml
  examples/tracer/sam/template.yaml
Due: cloudformation

Deployed 8f55f63f to develop with MkDocs 1.5.3 and mike 1.1.2
  develop/changelog/index.html
  develop/core/logger/index.html
  develop/core/metrics/index.html
  develop/core/tracer/index.html
  develop/index.html
  develop/search/search_index.json
  develop/sitemap.xml.gz
Due: none

chore: remove set as mandatory method (temporarily)
  aws_lambda_powertools/utilities/parameters/base.py
Due: black, ruff

chore(deps): feedback part 1
  docs/core/event_handler/bedrock_agents.md
  docs/core/event_handler/bedrock_agents.mermaid
  examples/event_handler_bedrock_agents/cdk/bedrock_agent_stack.py
  examples/event_handler_bedrock_agents/sam/bedrock_service_role.yaml
  examples/event_handler_bedrock_agents/sam/template.yaml
  examples/event_handler_bedrock_agents/src/getting_started_with_validation.py
Due: black, ruff, cloudformation

chore(ci): changelog rebuild
  CHANGELOG.md
Due: none

chore: xxx
  docs/core/event_handler/bedrock_agents.md
  examples/event_handler_bedrock_agents/src/get_started_with_validation_output.json
  examples/event_handler_bedrock_agents/src/getting_started_with_validation.json
  examples/event_handler_bedrock_agents/src/getting_started_with_validation.py
  examples/event_handler_bedrock_agents/src/getting_started_with_validation_schema.json
Due: black, ruff

Removing payload exception
  aws_lambda_powertools/event_handler/appsync.py
  aws_lambda_powertools/event_handler/exceptions_appsync.py
  aws_lambda_powertools/event_handler/graphql_appsync/exceptions.py
  tests/functional/event_handler/test_appsync.py
Due: black, ruff

Deployed d139c83e to develop with MkDocs 1.5.3 and mike 1.1.2
  develop/Dockerfile
  develop/sitemap.xml.gz
Due: none

Deployed 51705b8c to develop with MkDocs 1.5.3 and mike 1.1.2
  develop/changelog/index.html
  develop/search/search_index.json
  develop/sitemap.xml.gz
Due: none

Updating poetry
  poetry.lock
Due: none

Avoiding files refactoring in other PRs
  aws_lambda_powertools/logging/__init__.py
  aws_lambda_powertools/logging/logger.py
  aws_lambda_powertools/metrics/__init__.py
  aws_lambda_powertools/middleware_factory/__init__.py
  aws_lambda_powertools/shared/functions.py
  aws_lambda_powertools/tracing/__init__.py
  aws_lambda_powertools/tracing/tracer.py
  aws_lambda_powertools/utilities/batch/base.py
  aws_lambda_powertools/utilities/batch/exceptions.py
  aws_lambda_powertools/utilities/data_classes/common.py
  aws_lambda_powertools/utilities/data_masking/base.py
  aws_lambda_powertools/utilities/data_masking/provider/kms/aws_encryption_sdk.py
  aws_lambda_powertools/utilities/idempotency/exceptions.py
  aws_lambda_powertools/utilities/idempotency/idempotency.py
  aws_lambda_powertools/utilities/idempotency/serialization/base.py
  aws_lambda_powertools/utilities/parameters/appconfig.py
  aws_lambda_powertools/utilities/parameters/base.py
  aws_lambda_powertools/utilities/parameters/dynamodb.py
  aws_lambda_powertools/utilities/parameters/secrets.py
  aws_lambda_powertools/utilities/parameters/ssm.py
  aws_lambda_powertools/utilities/parser/__init__.py
  aws_lambda_powertools/utilities/parser/parser.py
  aws_lambda_powertools/utilities/serialization.py
  tests/functional/event_handler/test_api_gateway.py
  tests/functional/test_logger.py
  tests/functional/test_logger_powertools_formatter.py
  tests/functional/test_utilities_parameters.py
  tests/unit/parser/test_kinesis.py
  tests/unit/test_tracing.py
Due: black, ruff

chore: make description required
  aws_lambda_powertools/event_handler/bedrock_agent.py
  docs/core/event_handler/bedrock_agents.md
  examples/event_handler_bedrock_agents/src/customizing_bedrock_api_parameters.py
  examples/event_handler_bedrock_agents/src/getting_started_with_validation.json
  examples/event_handler_bedrock_agents/src/getting_started_with_validation.py
  examples/event_handler_bedrock_agents/src/getting_started_with_validation_output.json
  tests/functional/event_handler/test_bedrock_agent.py
Due: black, ruff

chore: remove the magic
  aws_lambda_powertools/event_handler/api_gateway.py
Due: black, ruff

chore: re-add magic comment
  aws_lambda_powertools/event_handler/bedrock_agent.py
Due: black, ruff

chore: add missing dependencies
  poetry.lock
  pyproject.toml
Due: none

chore: add ugly note about pydantic v1
  examples/event_handler_bedrock_agents/src/getting_started_with_validation.py
Due: black, ruff

fix(parameters): make cache aware of single vs multiple calls
  aws_lambda_powertools/utilities/parameters/base.py
  aws_lambda_powertools/utilities/parameters/types.py
Due: black, ruff

chore: cleanup, add test for single and nested
  aws_lambda_powertools/utilities/parameters/base.py
  aws_lambda_powertools/utilities/parameters/types.py
Due: black, ruff

Path conditions:
  black: any of: \.py$
  ruff: any of: \.py$
  cloudformation: any of: examples/.* and \.(yaml|yml)$
