Repository aws-powertools/powertools-lambda-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff, cloudformation

black:
  name: formatting::black
  entry: poetry run black
  language: system

ruff:
  name: linting-format::ruff
  entry: poetry run ruff
  language: system

cloudformation:
  name: linting::cloudformation
  entry: poetry run cfn-lint
  language: system

Deployed 9fc5169f to develop with MkDocs 1.5.3 and mike 1.1.2
  develop/core/event_handler/api_gateway/index.html
  develop/core/event_handler/appsync/index.html
  develop/core/logger/index.html
  develop/index.html
  develop/search/search_index.json
  develop/sitemap.xml.gz
  develop/tutorial/index.html
  develop/utilities/batch/index.html
  develop/utilities/middleware_factory/index.html
Due: none

chore: version bump
  aws_lambda_powertools/shared/version.py
  pyproject.toml
Due: black, ruff

chore(ci): bump version to 2.27.0
  aws_lambda_powertools/shared/version.py
  pyproject.toml
Due: black, ruff

chore(ci): layer docs update
  CHANGELOG.md
  docs/index.md
  examples/logger/sam/template.yaml
  examples/metrics/sam/template.yaml
  examples/tracer/sam/template.yaml
Due: cloudformation

Fix link
  docs/core/logger.md
Due: none

docs(logger): Fix ALC link (#3352)
  docs/core/logger.md
Due: none

Deployed 499374e1 to develop with MkDocs 1.5.3 and mike 1.1.2
  develop/core/logger/index.html
  develop/sitemap.xml.gz
Due: none

chore(ci): changelog rebuild
  CHANGELOG.md
Due: none

fix(parameters): make cache aware of single vs multiple calls
  aws_lambda_powertools/utilities/parameters/base.py
  aws_lambda_powertools/utilities/parameters/types.py
Due: black, ruff

chore: cleanup, add test for single and nested
  aws_lambda_powertools/utilities/parameters/base.py
  aws_lambda_powertools/utilities/parameters/types.py
Due: black, ruff

Deployed f9bf8acf to develop with MkDocs 1.5.3 and mike 1.1.2
  develop/changelog/index.html
  develop/core/logger/index.html
  develop/core/metrics/index.html
  develop/core/tracer/index.html
  develop/index.html
  develop/search/search_index.json
  develop/sitemap.xml.gz
Due: none

docs(logger): improve messaging on ALC usefulness in PT ctx
  docs/core/logger.md
Due: none

docs(logger): improve ALC messaging in the PT context (#3359)
  docs/core/logger.md
Due: none

Deployed 85d4df86 to develop with MkDocs 1.5.3 and mike 1.1.2
  develop/core/logger/index.html
  develop/search/search_index.json
  develop/sitemap.xml.gz
Due: none

Deployed 85d4df86 to 2.27.0 with MkDocs 1.5.3 and mike 1.1.2
  2.27.0/core/logger/index.html
  2.27.0/index.html
  2.27.0/search/search_index.json
  2.27.0/sitemap.xml.gz
Due: none

Removing lint and type checking
  .github/workflows/quality_check_pydanticv2.yml
Due: none

Removing lint and type checking
  .github/workflows/quality_check_pydanticv2.yml
  Makefile
Due: none

Adding file to test
  aws_lambda_powertools/shared/constants.py
Due: black, ruff

Adding file to test
  .github/workflows/quality_check_pydanticv2.yml
Due: none

Removing test
  aws_lambda_powertools/shared/constants.py
Due: black, ruff

chore(ci): lint and type checking removal in Pydantic v2 quality check (#3360)
  .github/workflows/quality_check_pydanticv2.yml
  Makefile
Due: none

Deployed 2799a3d5 to develop with MkDocs 1.5.3 and mike 1.1.2
  develop/Dockerfile
  develop/sitemap.xml.gz
Due: none

Deployed f2874237 to develop with MkDocs 1.5.3 and mike 1.1.2
  develop/changelog/index.html
  develop/search/search_index.json
  develop/sitemap.xml.gz
Due: none

Deployed b20bbe80 to develop with MkDocs 1.5.3 and mike 1.1.2
  develop/changelog/index.html
  develop/search/search_index.json
  develop/sitemap.xml.gz
Due: none

Path conditions:
  black: any of: \.py$
  ruff: any of: \.py$
  cloudformation: any of: examples/.* and \.(yaml|yml)$
