Repository aws-powertools/powertools-lambda-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff, cloudformation

black:
  name: formatting::black
  entry: poetry run black
  language: system

ruff:
  name: linting-format::ruff
  entry: poetry run ruff
  language: system

cloudformation:
  name: linting::cloudformation
  entry: poetry run cfn-lint
  language: system

chore(ci): changelog rebuild
  CHANGELOG.md
Due: none

[issues/6508](-) added the tests if key is set None, added a new Kafka record with explicit setting "key": null into kafkaEventMsk.json and kafkaEventSelfManaged.json.
  tests/events/kafkaEventMsk.json
  tests/events/kafkaEventSelfManaged.json
  tests/unit/data_classes/required_dependencies/test_kafka_event.py
  tests/unit/parser/_pydantic/test_kafka.py
Due: black, ruff

fix(parser): make key attribute optional in Kafka model (#6523)
  aws_lambda_powertools/utilities/data_classes/kafka_event.py
  aws_lambda_powertools/utilities/parser/models/kafka.py
  tests/events/kafkaEventMsk.json
  tests/events/kafkaEventSelfManaged.json
  tests/unit/data_classes/required_dependencies/test_kafka_event.py
  tests/unit/parser/_pydantic/test_kafka.py
Due: black, ruff

Adding documentation
  docs/core/event_handler/appsync_events.md
  examples/event_handler_appsync_events/src/accessing_event_and_context.py
  examples/event_handler_appsync_events/src/getting_started_with_appsync_events.yaml
  examples/event_handler_appsync_events/src/getting_started_with_testing_publish.py
  examples/event_handler_appsync_events/src/getting_started_with_testing_publish_event.json
  examples/event_handler_appsync_events/src/getting_started_with_testing_subscribe.py
  examples/event_handler_appsync_events/src/getting_started_with_testing_subscribe_event.json
  tests/functional/event_handler/required_dependencies/appsync/test_appsync_events_resolvers.py
Due: black, ruff, cloudformation

chore(ci): new pre-release 3.10.1a8
  aws_lambda_powertools/shared/version.py
  provenance/3.10.1a8/multiple.intoto.jsonl
  pyproject.toml
Due: black, ruff

Adding documentation
  docs/core/event_handler/appsync_events.md
  examples/event_handler_appsync_events/src/payload_request.json
  examples/event_handler_appsync_events/src/payload_response.json
  examples/event_handler_appsync_events/src/payload_response_fail_request.json
  examples/event_handler_appsync_events/src/payload_response_with_error.json
  examples/event_handler_appsync_events/src/working_with_error_handling_multiple.py
Due: black, ruff

AppSync Events
  docs/core/event_handler/appsync_events.md
  examples/event_handler_appsync_events/src/accessing_event_and_context.py
  examples/event_handler_appsync_events/src/getting_started_with_publish_events.py
  examples/event_handler_appsync_events/src/getting_started_with_subscribe_events.py
  examples/event_handler_appsync_events/src/getting_started_with_testing_publish.py
  examples/event_handler_appsync_events/src/getting_started_with_testing_subscribe.py
  examples/event_handler_appsync_events/src/payload_request.json
  examples/event_handler_appsync_events/src/payload_response.json
  examples/event_handler_appsync_events/src/payload_response_fail_request.json
  examples/event_handler_appsync_events/src/payload_response_with_error.json
  examples/event_handler_appsync_events/src/working_with_aggregated_events.py
  examples/event_handler_appsync_events/src/working_with_async_resolvers.py
  examples/event_handler_appsync_events/src/working_with_error_handling.py
  examples/event_handler_appsync_events/src/working_with_error_handling_multiple.py
  examples/event_handler_appsync_events/src/working_with_wildcard_resolvers.py
Due: black, ruff

chore(ci): new pre-release 3.10.1a9
  aws_lambda_powertools/shared/version.py
  provenance/3.10.1a9/multiple.intoto.jsonl
  pyproject.toml
Due: black, ruff

docs(event_handler): fix typo in api keys swagger url
  docs/core/event_handler/api_gateway.md
Due: none

docs(event_handler): fix typo in api keys swagger url (#6536)
  docs/core/event_handler/api_gateway.md
Due: none

chore(ci): new pre-release 3.10.1a10
  aws_lambda_powertools/shared/version.py
  provenance/3.10.1a10/multiple.intoto.jsonl
  pyproject.toml
Due: black, ruff

chore(ci): new pre-release 3.10.1a11
  aws_lambda_powertools/shared/version.py
  provenance/3.10.1a11/multiple.intoto.jsonl
  pyproject.toml
Due: black, ruff

AppSync Events
  docs/core/event_handler/appsync_events.md
Due: none

fix(event_source): fix HomeDirectoryDetails type in TransferFamilyAuthorizerResponse method (#6403)
  aws_lambda_powertools/utilities/data_classes/transfer_family_event.py
  tests/unit/data_classes/required_dependencies/test_transfer_family_event.py
Due: black, ruff

feat(parser): add AppSyncResolver model (#6400)
  aws_lambda_powertools/utilities/parser/models/__init__.py
  aws_lambda_powertools/utilities/parser/models/appsync.py
  docs/utilities/parser.md
  tests/events/appsync_resolver_event.json
  tests/unit/parser/_pydantic/test_appsync.py
Due: black, ruff

fix(event_source): Added missing properties in APIGatewayWebSocketEvent class (#6411)
  aws_lambda_powertools/utilities/data_classes/api_gateway_websocket_event.py
  tests/events/apiGatewayWebSocketApiConnect.json
  tests/events/apiGatewayWebSocketApiDisconnect.json
  tests/unit/data_classes/required_dependencies/test_api_gateway_websocket_event.py
Due: black, ruff

fix(logger): improve behavior with `exc_info=True` to prevent errors (#6417)
  aws_lambda_powertools/logging/formatter.py
  aws_lambda_powertools/utilities/parser/models/appsync.py
  tests/functional/logger/required_dependencies/test_logger.py
  tests/unit/parser/_pydantic/test_appsync.py
Due: black, ruff

feat(data-masking): add support for Pydantic models, dataclasses, and standard classes (#6413)
  aws_lambda_powertools/utilities/data_masking/base.py
  docs/utilities/data_masking.md
  examples/data_masking/src/working_with_custom_types.py
  examples/data_masking/src/working_with_dataclass_types.py
  examples/data_masking/src/working_with_pydantic_types.py
  tests/functional/data_masking/_pydantic/test_data_masking_with_pydantic.py
Due: black, ruff

docs(bedrock): fix BedrockServiceRole in template.yaml (#6436)
  examples/event_handler_bedrock_agents/sam/template.yaml
Due: cloudformation

feat(event_handler): add route-level custom response validation in OpenAPI utility (#6341)
  aws_lambda_powertools/event_handler/api_gateway.py
  aws_lambda_powertools/event_handler/bedrock_agent.py
  aws_lambda_powertools/event_handler/middlewares/openapi_validation.py
  aws_lambda_powertools/event_handler/openapi/exceptions.py
  aws_lambda_powertools/event_handler/openapi/types.py
  docs/core/event_handler/api_gateway.md
  examples/event_handler_rest/src/customizing_response_validation.py
  ruff.toml
  tests/functional/event_handler/_pydantic/test_openapi_responses.py
  tests/functional/event_handler/_pydantic/test_openapi_validation_middleware.py
Due: black, ruff

feat(logger): add support for exception notes (#6465)
  aws_lambda_powertools/logging/formatter.py
  docs/core/logger.md
  examples/logger/src/logging_exception_notes.py
  examples/logger/src/logging_exception_notes_output.json
  examples/logger/src/logging_stacktrace.py
  tests/functional/logger/required_dependencies/test_logger.py
Due: black, ruff

feat(event_handler): add extras HTTP Error Code Exceptions (#6454)
  aws_lambda_powertools/event_handler/exceptions.py
  docs/core/event_handler/api_gateway.md
  examples/event_handler_rest/src/raising_http_errors.py
  tests/functional/event_handler/required_dependencies/test_api_gateway.py
Due: black, ruff

refactor(batch): use standard collections for types (#6475)
  aws_lambda_powertools/utilities/batch/base.py
  aws_lambda_powertools/utilities/batch/decorators.py
  tests/functional/batch/required_dependencies/test_utilities_batch.py
Due: black, ruff

refactor(validation): use standard collections for types (#6491)
  aws_lambda_powertools/utilities/validation/base.py
  aws_lambda_powertools/utilities/validation/validator.py
  mypy.ini
  tests/functional/validator/_fastjsonschema/test_validator.py
  tests/functional/validator/conftest.py
Due: black, ruff

refactor(tracer): use standard collections for types (#6473)
  aws_lambda_powertools/tracing/base.py
  aws_lambda_powertools/tracing/tracer.py
  tests/functional/tracer/_aws_xray_sdk/test_tracing.py
  tests/unit/test_tracing.py
Due: black, ruff

refactor(logger): use standard collections for types (#6471)
  aws_lambda_powertools/logging/buffer/functions.py
  aws_lambda_powertools/logging/formatter.py
  aws_lambda_powertools/logging/formatters/datadog.py
  aws_lambda_powertools/logging/logger.py
  aws_lambda_powertools/logging/utils.py
  tests/functional/logger/required_dependencies/test_logger.py
  tests/functional/logger/required_dependencies/test_logger_powertools_formatter.py
  tests/functional/logger/required_dependencies/test_logger_utils.py
  tests/functional/logger/required_dependencies/test_logger_with_package_logger.py
  tests/functional/logger/required_dependencies/test_powertools_logger_buffer.py
  tests/unit/logger/required_dependencies/test_logger_buffer_cache.py
  tests/unit/logger/required_dependencies/test_logger_buffer_config.py
  tests/unit/logger/required_dependencies/test_logger_buffer_functions.py
Due: black, ruff

refactor(metrics): use standard collections for types (#6472)
  aws_lambda_powertools/metrics/base.py
  aws_lambda_powertools/metrics/metrics.py
  tests/functional/metrics/conftest.py
  tests/functional/metrics/datadog/test_metrics_datadog.py
  tests/functional/metrics/required_dependencies/test_metrics_cloudwatch_emf.py
  tests/functional/metrics/required_dependencies/test_metrics_provider.py
  tests/unit/metrics/conftest.py
  tests/unit/metrics/test_functions.py
  tests/unit/metrics/test_unit_datadog.py
Due: black, ruff

docs(bedrock_agents): remove Pydantic v1 recommendation (#6468)
  docs/core/event_handler/api_gateway.md
  docs/core/event_handler/bedrock_agents.md
Due: none

refactor(feature_flags): use standard collections for type (#6489)
  aws_lambda_powertools/utilities/feature_flags/feature_flags.py
  tests/functional/feature_flags/_boto3/test_feature_flags.py
  tests/functional/feature_flags/_boto3/test_schema_validation.py
  tests/functional/feature_flags/_boto3/test_time_based_actions.py
Due: black, ruff

refactor(parameters): use standard collections for types (#6481)
  aws_lambda_powertools/utilities/parameters/base.py
  tests/functional/parameters/_boto3/test_utilities_parameters.py
Due: black, ruff

refactor(streaming): use standard collections for types (#6483)
  aws_lambda_powertools/shared/dynamodb_deserializer.py
  aws_lambda_powertools/shared/functions.py
  aws_lambda_powertools/shared/types.py
  aws_lambda_powertools/utilities/serialization.py
  aws_lambda_powertools/utilities/streaming/_s3_seekable_io.py
  aws_lambda_powertools/utilities/streaming/s3_object.py
  tests/functional/streaming/_boto3/test_s3_object.py
  tests/functional/streaming/_boto3/test_s3_seekable_io.py
  tests/unit/shared/test_dynamodb_deserializer.py
  tests/unit/test_cookie_class.py
  tests/unit/test_data_classes.py
  tests/unit/test_json_encoder.py
  tests/unit/test_lru_cache.py
  tests/unit/test_shared_functions.py
Due: black, ruff

refactor(middleware_factory): use standard collections for types (#6485)
  aws_lambda_powertools/middleware_factory/__init__.py
  aws_lambda_powertools/middleware_factory/factory.py
  tests/functional/middleware_factory/required_dependencies/test_middleware_factory.py
Due: black, ruff

refactor(data_masking): use standard collections for types (#6493)
  aws_lambda_powertools/utilities/data_masking/base.py
  aws_lambda_powertools/utilities/data_masking/provider/base.py
  aws_lambda_powertools/utilities/data_masking/provider/kms/aws_encryption_sdk.py
  tests/functional/data_masking/_aws_encryption_sdk/test_aws_encryption_sdk.py
  tests/functional/data_masking/_pydantic/test_data_masking_with_pydantic.py
  tests/functional/data_masking/conftest.py
  tests/functional/data_masking/required_dependencies/test_erase_data_masking.py
  tests/unit/data_masking/_aws_encryption_sdk/test_kms_provider.py
  tests/unit/data_masking/required_dependencies/test_base_functions.py
Due: black, ruff

refactor(tests): use standard collections for types + refactor code (#6497)
  ruff.toml
  tests/e2e/utils/data_fetcher/traces.py
  tests/functional/batch/required_dependencies/test_utilities_batch.py
  tests/functional/event_handler/_pydantic/test_openapi_with_pep563.py
  tests/functional/feature_flags/_boto3/test_time_based_actions.py
  tests/functional/logger/required_dependencies/test_logger.py
  tests/functional/metrics/required_dependencies/test_metrics_cloudwatch_emf.py
  tests/functional/metrics/required_dependencies/test_metrics_provider.py
  tests/unit/data_classes/_boto3/test_code_pipeline_job_event.py
  tests/unit/data_classes/required_dependencies/test_sqs_event.py
  tests/unit/test_tracing.py
Due: black, ruff

Path conditions:
  black: any of: \.py$
  ruff: any of: \.py$
  cloudformation: any of: examples/.* and \.(yaml|yml)$
