Repository aws-powertools/powertools-lambda-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff, cloudformation

.pre-commit-config.yaml:

# We use poetry to run formatting and linting before commit/push
# Longer checks such as tests, security and complexity baseline
# are run as part of CI to prevent slower feedback loop
# All checks can be run locally via `make pr`

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: "f71fa2c1f9cf5cb705f73dffe4b21f7c61470ba9" # v4.4.0
    hooks:
      - id: check-merge-conflict
      - id: trailing-whitespace
      - id: check-toml
  - repo: local
    hooks:
      - id: black
        name: formatting::black
        entry: poetry run black
        language: system
        types: [python]
      - id: ruff
        name: linting-format::ruff
        entry: poetry run ruff
        language: system
        types: [python]
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: "ce0d77ac47dc921b62429804fe763d4d35f66a76" # v0.34.0
    hooks:
      - id: markdownlint-docker
        args: ["--fix"]
  - repo: local
    hooks:
      - id: cloudformation
        name: linting::cloudformation
        entry: poetry run cfn-lint
        language: system
        types: [yaml]
        files: examples/.*
  - repo: https://github.com/rhysd/actionlint
    rev: "fd7ba3c382e13dcc0248e425b4cbc3f1185fa3ee" # v1.6.24
    hooks:
      - id: actionlint-docker
        args: [-pyflakes=]
  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: 3420134c37197c21edffc7e6093b14ffae8402f2 # v1.81.0
    hooks:
      - id: terraform_fmt
        args:
          - --args=-recursive
  - repo: https://github.com/gitleaks/gitleaks
    rev: "7804d652c0460f0b61ea9bb2c1f202bfcdbbf144" # v8.16.3
    hooks:
      - id: gitleaks

Adding build page
  .github/workflows/quality_check.yml
Due: none

docs(build_recipes): add performance optimization page (#7197)
  docs/build_recipes/performance-optimization.md
  examples/build_recipes/build_optimization/optimize-advanced.sh
  examples/build_recipes/build_optimization/optimize-layer.sh
  examples/build_recipes/build_optimization/optimize-package.sh
  mkdocs.yml
Due: none

Adding cross build page
  docs/build_recipes/cross-platform.md
  examples/build_recipes/build_multi_arch/Dockerfile.lambda
  examples/build_recipes/build_multi_arch/build-al2.sh
  examples/build_recipes/build_multi_arch/build-al2023.sh
  examples/build_recipes/build_multi_arch/build-linux-wheels.sh
  examples/build_recipes/build_multi_arch/build-multiplatform.sh
  examples/build_recipes/build_multi_arch/debug-arch-mismatch.sh
  examples/build_recipes/build_multi_arch/debug-glibc.sh
  examples/build_recipes/build_multi_arch/debug-missing-libs.sh
  examples/build_recipes/build_multi_arch/lambda-build.yml
  mkdocs.yml
Due: cloudformation

Adding cross build page
  docs/build_recipes/cross-platform.md
Due: none

docs(build_recipes): add cross build page (#7199)
  docs/build_recipes/cross-platform.md
  examples/build_recipes/build_multi_arch/Dockerfile.lambda
  examples/build_recipes/build_multi_arch/build-al2.sh
  examples/build_recipes/build_multi_arch/build-al2023.sh
  examples/build_recipes/build_multi_arch/build-linux-wheels.sh
  examples/build_recipes/build_multi_arch/build-multiplatform.sh
  examples/build_recipes/build_multi_arch/debug-arch-mismatch.sh
  examples/build_recipes/build_multi_arch/debug-glibc.sh
  examples/build_recipes/build_multi_arch/debug-missing-libs.sh
  examples/build_recipes/build_multi_arch/lambda-build.yml
  mkdocs.yml
Due: cloudformation

Adding build tools page
  docs/build_recipes/build-tools.md
  examples/build_recipes/cdk/basic/requirements.txt
  examples/build_recipes/pip/requirements-app.txt
  examples/build_recipes/pip/requirements-layer.txt
  examples/build_recipes/pip/requirements.txt
  examples/build_recipes/sam/no-layers/requirements.txt
  examples/build_recipes/sam/with-layers/layers/dependencies/requirements.txt
Due: none

Adding build tools page
  docs/build_recipes/build-tools.md
Due: none

chore(ci): new pre-release 3.19.1a3
  aws_lambda_powertools/shared/version.py
  provenance/3.19.1a3/multiple.intoto.jsonl
  pyproject.toml
Due: black, ruff

chore(ci): changelog rebuild
  CHANGELOG.md
Due: none

Fix docs warnings
  aws_lambda_powertools/metrics/base.py
  docs/api_doc/metrics/metrics.md
  docs/build_recipes/getting-started.md
  docs/build_recipes/index.md
  docs/contributing/getting_started.md
  docs/core/event_handler/api_gateway.md
  docs/core/event_handler/bedrock_agents.md
  docs/core/metrics.md
  docs/tutorial/index.md
  docs/upgrade.md
  docs/utilities/data_masking.md
  docs/utilities/idempotency.md
  mkdocs.yml
Due: black, ruff

docs(mkdocs): fix docs warnings (#7211)
  aws_lambda_powertools/metrics/base.py
  docs/api_doc/metrics/metrics.md
  docs/build_recipes/getting-started.md
  docs/build_recipes/index.md
  docs/contributing/getting_started.md
  docs/core/event_handler/api_gateway.md
  docs/core/event_handler/bedrock_agents.md
  docs/core/metrics.md
  docs/tutorial/index.md
  docs/upgrade.md
  docs/utilities/data_masking.md
  docs/utilities/idempotency.md
  mkdocs.yml
Due: black, ruff

chore(ci): new pre-release 3.19.1a4
  aws_lambda_powertools/shared/version.py
  provenance/3.19.1a4/multiple.intoto.jsonl
  pyproject.toml
Due: black, ruff

chore(ci): new pre-release 3.19.1a5
  aws_lambda_powertools/shared/version.py
  provenance/3.19.1a5/multiple.intoto.jsonl
  pyproject.toml
Due: black, ruff

feat(event-handler): add support for Pydantic Field discriminator in validation (#5953)
  aws_lambda_powertools/event_handler/openapi/compat.py
  aws_lambda_powertools/event_handler/openapi/params.py
  tests/functional/event_handler/_pydantic/test_openapi_validation_middleware.py
Due: black, ruff

style(tests): remove inline comments to match project test style
  tests/functional/event_handler/_pydantic/test_openapi_validation_middleware.py
Due: black, ruff

style: run make format to fix CI formatting issues
  aws_lambda_powertools/event_handler/openapi/compat.py
  aws_lambda_powertools/event_handler/openapi/params.py
Due: black, ruff

Adding QuasiScience as public ref
  README.md
  docs/index.md
Due: none

docs(public_reference): add QuasiScience as a public reference (#7228)
  README.md
  docs/index.md
Due: none

chore(ci): new pre-release 3.19.1a6
  aws_lambda_powertools/shared/version.py
  provenance/3.19.1a6/multiple.intoto.jsonl
  pyproject.toml
Due: black, ruff

fix: add OpenAPI schema support for UploadFile class
  aws_lambda_powertools/event_handler/openapi/params.py
  examples/event_handler/upload_file_example.py
  tests/functional/event_handler/_pydantic/test_uploadfile_openapi_schema.py
Due: black, ruff

style: fix linting issues in examples and tests
  examples/event_handler/upload_file_example.py
  tests/functional/event_handler/_pydantic/test_uploadfile_openapi_schema.py
Due: black, ruff

style: fix whitespace in UploadFile schema implementation
  aws_lambda_powertools/event_handler/openapi/params.py
Due: black, ruff

refactor: reduce cognitive complexity in UploadFile schema test
  tests/functional/event_handler/_pydantic/test_uploadfile_openapi_schema.py
Due: black, ruff

fix(event_handler): Add automatic fix for missing UploadFile component references in OpenAPI schemas
  aws_lambda_powertools/event_handler/api_gateway.py
  aws_lambda_powertools/event_handler/openapi/__init__.py
  aws_lambda_powertools/event_handler/openapi/upload_file_fix.py
  examples/openapi_upload_file_fix.py
  examples/upload_file_schema_test.py
  tests/functional/event_handler/_pydantic/test_uploadfile_openapi_validator.py
  tests/functional/event_handler/test_upload_file_schema_fix.py
Due: black, ruff

refactor: reduce cognitive complexity in OpenAPI schema generation
  aws_lambda_powertools/event_handler/api_gateway.py
  aws_lambda_powertools/event_handler/openapi/upload_file_fix.py
  examples/event_handler/openapi_schema_fix_example.py
  examples/event_handler/schema_validation_test.py
  tests/functional/event_handler/_pydantic/test_uploadfile_openapi_validator.py
Due: black, ruff

refactor: reduce cognitive complexity in additional OpenAPI methods
  aws_lambda_powertools/event_handler/api_gateway.py
  examples/event_handler/openapi_schema_fix_example.py
Due: black, ruff

refactor(parser): Improve VPC Lattice with examples and descriptions
  aws_lambda_powertools/utilities/parser/models/vpc_lattice.py
  aws_lambda_powertools/utilities/parser/models/vpc_latticev2.py
Due: black, ruff

remove x-forwarded-for example
  aws_lambda_powertools/utilities/parser/models/vpc_lattice.py
  aws_lambda_powertools/utilities/parser/models/vpc_latticev2.py
Due: black, ruff

refactor(parser): Improve VPC Lattice with examples and descriptions (#7234)
  aws_lambda_powertools/utilities/parser/models/vpc_lattice.py
  aws_lambda_powertools/utilities/parser/models/vpc_latticev2.py
Due: black, ruff

chore(ci): new pre-release 3.19.1a7
  aws_lambda_powertools/shared/version.py
  provenance/3.19.1a7/multiple.intoto.jsonl
  pyproject.toml
Due: black, ruff
