Repository aws-powertools/powertools-lambda-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff, cloudformation

.pre-commit-config.yaml:

# We use poetry to run formatting and linting before commit/push
# Longer checks such as tests, security and complexity baseline
# are run as part of CI to prevent slower feedback loop
# All checks can be run locally via `make pr`

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: "f71fa2c1f9cf5cb705f73dffe4b21f7c61470ba9" # v4.4.0
    hooks:
      - id: check-merge-conflict
      - id: trailing-whitespace
      - id: check-toml
  - repo: local
    hooks:
      - id: black
        name: formatting::black
        entry: poetry run black
        language: system
        types: [python]
      - id: ruff
        name: linting-format::ruff
        entry: poetry run ruff
        language: system
        types: [python]
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: "ce0d77ac47dc921b62429804fe763d4d35f66a76" # v0.34.0
    hooks:
      - id: markdownlint-docker
        args: ["--fix"]
  - repo: local
    hooks:
      - id: cloudformation
        name: linting::cloudformation
        entry: poetry run cfn-lint
        language: system
        types: [yaml]
        files: examples/.*
  - repo: https://github.com/rhysd/actionlint
    rev: "fd7ba3c382e13dcc0248e425b4cbc3f1185fa3ee" # v1.6.24
    hooks:
      - id: actionlint-docker
        args: [-pyflakes=]
  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: 3420134c37197c21edffc7e6093b14ffae8402f2 # v1.81.0
    hooks:
      - id: terraform_fmt
        args:
          - --args=-recursive
  - repo: https://github.com/gitleaks/gitleaks
    rev: "7804d652c0460f0b61ea9bb2c1f202bfcdbbf144" # v8.16.3
    hooks:
      - id: gitleaks

Fix Ruff problems
  aws_lambda_powertools/utilities/parser/models/__init__.py
  aws_lambda_powertools/utilities/parser/models/cognito.py
  tests/unit/parser/_pydantic/test_cognito_triggers.py
Due: black, ruff

Fix implementation and tests
  aws_lambda_powertools/utilities/parser/models/__init__.py
  aws_lambda_powertools/utilities/parser/models/cognito.py
  tests/events/cognitoCreateAuthChallengeEvent.json
  tests/events/cognitoCustomEmailSenderEvent.json
  tests/events/cognitoCustomMessageEvent.json
  tests/events/cognitoCustomSMSSenderEvent.json
  tests/events/cognitoDefineAuthChallengeEvent.json
  tests/events/cognitoVerifyAuthChallengeResponseEvent.json
  tests/unit/parser/_pydantic/test_cognito_triggers.py
Due: black, ruff

Fix implementation and tests
  aws_lambda_powertools/utilities/parser/models/__init__.py
Due: black, ruff

Fix implementation and tests
  .github/workflows/quality_check.yml
Due: none

Fix docs
  docs/utilities/parser.md
Due: none

feat(parser): Added Cognito trigger schemas (#6737)
  .github/workflows/quality_check.yml
  aws_lambda_powertools/utilities/parser/models/__init__.py
  aws_lambda_powertools/utilities/parser/models/cognito.py
  docs/utilities/parser.md
  tests/events/cognitoCreateAuthChallengeEvent.json
  tests/events/cognitoCustomEmailSenderEvent.json
  tests/events/cognitoCustomMessageEvent.json
  tests/events/cognitoCustomSMSSenderEvent.json
  tests/events/cognitoDefineAuthChallengeEvent.json
  tests/events/cognitoVerifyAuthChallengeResponseEvent.json
  tests/unit/parser/_pydantic/test_cognito_triggers.py
Due: black, ruff

chore(ci): new pre-release 3.16.1a5
  aws_lambda_powertools/shared/version.py
  provenance/3.16.1a5/multiple.intoto.jsonl
  pyproject.toml
Due: black, ruff

chore(ci): changelog rebuild
  CHANGELOG.md
Due: none

chore(ci): new pre-release 3.16.1a6
  aws_lambda_powertools/shared/version.py
  provenance/3.16.1a6/multiple.intoto.jsonl
  pyproject.toml
Due: black, ruff

chore(ci): new pre-release 3.16.1a7
  aws_lambda_powertools/shared/version.py
  provenance/3.16.1a7/multiple.intoto.jsonl
  pyproject.toml
Due: black, ruff

Fix SSM workflow
  .github/workflows/release-v3.yml
Due: none

chore(ci): fix ssm workflow (#6980)
  .github/workflows/release-v3.yml
Due: none

chore(ci): bump version to 3.17.0
  aws_lambda_powertools/shared/version.py
  pyproject.toml
Due: black, ruff

chore: version bump
  aws_lambda_powertools/shared/version.py
  pyproject.toml
Due: black, ruff

chore(ci): layer docs update
  CHANGELOG.md
  docs/includes/_layer_homepage_arm64.md
  docs/includes/_layer_homepage_x86.md
  docs/index.md
  examples/homepage/install/arm64/amplify.txt
  examples/homepage/install/arm64/cdk_arm64.py
  examples/homepage/install/arm64/pulumi_arm64.py
  examples/homepage/install/arm64/sam.yaml
  examples/homepage/install/arm64/serverless.yml
  examples/homepage/install/arm64/terraform.tf
  examples/homepage/install/x86_64/amplify.txt
  examples/homepage/install/x86_64/cdk_x86.py
  examples/homepage/install/x86_64/pulumi_x86.py
  examples/homepage/install/x86_64/sam.yaml
  examples/homepage/install/x86_64/serverless.yml
  examples/homepage/install/x86_64/terraform.tf
  examples/logger/sam/template.yaml
  examples/metrics/sam/template.yaml
  examples/metrics_datadog/sam/template.yaml
  examples/tracer/sam/template.yaml
Due: black, ruff, cloudformation

Adding tenant_id property
  aws_lambda_powertools/utilities/typing/lambda_context.py
  tests/functional/typing/required_dependencies/test_utilities_typing.py
Due: black, ruff

chore(ci): new pre-release 3.17.1a0
  aws_lambda_powertools/shared/version.py
  provenance/3.17.1a0/multiple.intoto.jsonl
  pyproject.toml
Due: black, ruff

Improve documentation
  aws_lambda_powertools/utilities/typing/lambda_context.py
  docs/utilities/typing.md
Due: black, ruff

feat(typing): add tenant_id property (#6985)
  aws_lambda_powertools/utilities/typing/lambda_context.py
  docs/utilities/typing.md
  tests/functional/typing/required_dependencies/test_utilities_typing.py
Due: black, ruff

chore(ci): new pre-release 3.17.1a1
  aws_lambda_powertools/shared/version.py
  provenance/3.17.1a1/multiple.intoto.jsonl
  pyproject.toml
Due: black, ruff

Add AppSync events model
  aws_lambda_powertools/utilities/parser/models/__init__.py
  aws_lambda_powertools/utilities/parser/models/appsync_events.py
  tests/events/appSyncEventsEvent.json
  tests/unit/parser/_pydantic/test_appsync_events.py
Due: black, ruff

Add documentation + rename
  aws_lambda_powertools/utilities/parser/models/__init__.py
  aws_lambda_powertools/utilities/parser/models/appsync_events.py
  docs/utilities/parser.md
  tests/unit/parser/_pydantic/test_appsync_events.py
Due: black, ruff

Make clear behavior with query/header validation
  docs/core/event_handler/api_gateway.md
Due: none

Add a new workflow to build docs on new PRs
  .github/workflows/quality_check.yml
  .github/workflows/quality_check_docs.yml
Due: none

docs(event_handler): enhance documentation on query/header parameters behavior (#7000)
  docs/core/event_handler/api_gateway.md
Due: none

feat(parser): add AppSync Events models (#6999)
  aws_lambda_powertools/utilities/parser/models/__init__.py
  aws_lambda_powertools/utilities/parser/models/appsync_events.py
  docs/utilities/parser.md
  tests/events/appSyncEventsEvent.json
  tests/unit/parser/_pydantic/test_appsync_events.py
Due: black, ruff

chore(ci): add a new workflow to build docs in new PRs (#7002)
  .github/workflows/quality_check.yml
  .github/workflows/quality_check_docs.yml
Due: none

chore(ci): new pre-release 3.17.1a2
  aws_lambda_powertools/shared/version.py
  provenance/3.17.1a2/multiple.intoto.jsonl
  pyproject.toml
Due: black, ruff

chore(ci): new pre-release 3.17.1a3
  aws_lambda_powertools/shared/version.py
  provenance/3.17.1a3/multiple.intoto.jsonl
  pyproject.toml
Due: black, ruff
