Repository aws-powertools/powertools-lambda-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff, cloudformation

.pre-commit-config.yaml:

# We use poetry to run formatting and linting before commit/push
# Longer checks such as tests, security and complexity baseline
# are run as part of CI to prevent slower feedback loop
# All checks can be run locally via `make pr`

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: "f71fa2c1f9cf5cb705f73dffe4b21f7c61470ba9" # v4.4.0
    hooks:
      - id: check-merge-conflict
      - id: trailing-whitespace
      - id: check-toml
  - repo: local
    hooks:
      - id: black
        name: formatting::black
        entry: poetry run black
        language: system
        types: [python]
      - id: ruff
        name: linting-format::ruff
        entry: poetry run ruff
        language: system
        types: [python]
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: "ce0d77ac47dc921b62429804fe763d4d35f66a76" # v0.34.0
    hooks:
      - id: markdownlint-docker
        args: ["--fix"]
  - repo: local
    hooks:
      - id: cloudformation
        name: linting::cloudformation
        entry: poetry run cfn-lint
        language: system
        types: [yaml]
        files: examples/.*
  - repo: https://github.com/rhysd/actionlint
    rev: "fd7ba3c382e13dcc0248e425b4cbc3f1185fa3ee" # v1.6.24
    hooks:
      - id: actionlint-docker
        args: [-pyflakes=]
  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: 3420134c37197c21edffc7e6093b14ffae8402f2 # v1.81.0
    hooks:
      - id: terraform_fmt
        args:
          - --args=-recursive
  - repo: https://github.com/gitleaks/gitleaks
    rev: "7804d652c0460f0b61ea9bb2c1f202bfcdbbf144" # v8.16.3
    hooks:
      - id: gitleaks

feat(logger): add logFilter method
  aws_lambda_powertools/logging/logger.py
Due: black, ruff

chore(logger): test addFilter
  tests/functional/test_logger.py
Due: black, ruff

feat(logger): add removeFilter
  aws_lambda_powertools/logging/logger.py
  tests/functional/test_logger.py
Due: black, ruff

chore: ignore sonar false positive
  tests/functional/test_logger.py
Due: black, ruff

chore: minor typing correction that cpython didn't have
  aws_lambda_powertools/logging/logger.py
Due: black, ruff

feat(logger): implement addFilter/removeFilter to address static typing errors (#3380)
  aws_lambda_powertools/logging/logger.py
  tests/functional/test_logger.py
Due: black, ruff

Deployed 4e0e888e to develop with MkDocs 1.5.3 and mike 1.1.2
  develop/Dockerfile
  develop/sitemap.xml.gz
Due: none

Deployed ea7508fb to develop with MkDocs 1.5.3 and mike 1.1.2
  develop/changelog/index.html
  develop/search/search_index.json
  develop/sitemap.xml.gz
Due: none

chore: test logger can use custom jmespath fns
  tests/functional/test_logger.py
Due: black, ruff

fix(logger): inject powertools jmespath functions
  aws_lambda_powertools/logging/logger.py
Due: black, ruff

docs(logger): note that custom JMESPath fn works
  docs/core/logger.md
Due: none

fix(logger): allow custom JMESPath functions to extract correlation ID (#3382)
  aws_lambda_powertools/logging/logger.py
  docs/core/logger.md
  tests/functional/test_logger.py
Due: black, ruff

Deployed 8e0ab8cd to develop with MkDocs 1.5.3 and mike 1.1.2
  develop/core/logger/index.html
  develop/search/search_index.json
  develop/sitemap.xml.gz
Due: none

fix(parameters): make cache aware of single vs multiple calls
  aws_lambda_powertools/utilities/parameters/base.py
  aws_lambda_powertools/utilities/parameters/types.py
Due: black, ruff

chore: cleanup, add test for single and nested
  aws_lambda_powertools/utilities/parameters/base.py
  aws_lambda_powertools/utilities/parameters/types.py
Due: black, ruff

docs(event_handler): add note on binary+cors
  examples/event_handler_rest/sam/micro_function_template.yaml
  examples/event_handler_rest/sam/template.yaml
Due: cloudformation

docs(event_handler): add note CORS and */* mime don't work
  docs/core/event_handler/api_gateway.md
Due: none

chore: upgrade sample to python 3.11
  examples/event_handler_rest/sam/template.yaml
Due: cloudformation

docs(event_handlers): note that CORS and */* binary mime type don't work in API Gateway (#3383)
  docs/core/event_handler/api_gateway.md
  examples/event_handler_rest/sam/micro_function_template.yaml
  examples/event_handler_rest/sam/template.yaml
Due: cloudformation

Deployed 19f56416 to develop with MkDocs 1.5.3 and mike 1.1.2
  develop/core/event_handler/api_gateway/index.html
  develop/search/search_index.json
  develop/sitemap.xml.gz
Due: none

chore: version bump
  aws_lambda_powertools/shared/version.py
  pyproject.toml
Due: black, ruff

chore(ci): bump version to 2.27.1
  aws_lambda_powertools/shared/version.py
  pyproject.toml
Due: black, ruff

chore(ci): layer docs update
  CHANGELOG.md
  docs/index.md
  examples/logger/sam/template.yaml
  examples/metrics/sam/template.yaml
  examples/tracer/sam/template.yaml
Due: cloudformation

chore(docs): added validation and OpenAPI docs
  docs/core/event_handler/api_gateway.md
  docs/core/event_handler/api_gateway/index.md
  docs/core/event_handler/bedrock_agents.md
  docs/core/event_handler/openapi.md
  docs/media/swagger.png
  examples/event_handler_validation/sam/template.yaml
  examples/event_handler_validation/src/body_parsing.json
  examples/event_handler_validation/src/body_parsing.py
  examples/event_handler_validation/src/body_parsing_embed.json
  examples/event_handler_validation/src/body_parsing_embed.py
  examples/event_handler_validation/src/body_parsing_embed_output.json
  examples/event_handler_validation/src/body_parsing_output.json
  examples/event_handler_validation/src/customize_api_metadata.py
  examples/event_handler_validation/src/customizing_operations.py
  examples/event_handler_validation/src/customizing_parameters.py
  examples/event_handler_validation/src/generate_openapi_json_spec.json
  examples/event_handler_validation/src/generate_openapi_json_spec.py
  examples/event_handler_validation/src/generate_openapi_spec.py
  examples/event_handler_validation/src/getting_started.json
  examples/event_handler_validation/src/getting_started.py
  examples/event_handler_validation/src/getting_started_bad_input.json
  examples/event_handler_validation/src/getting_started_bad_input_output.json
  examples/event_handler_validation/src/getting_started_output.json
  examples/event_handler_validation/src/getting_started_pydantic.json
  examples/event_handler_validation/src/getting_started_pydantic.py
  examples/event_handler_validation/src/getting_started_pydantic_output.json
  examples/event_handler_validation/src/requirements.txt
  examples/event_handler_validation/src/swagger.py
  examples/event_handler_validation/src/swagger_customize.py
  examples/event_handler_validation/src/swagger_middlewares.py
  mkdocs.yml
Due: black, ruff, cloudformation

Reorganized data masking docs
  docs/utilities/data_masking.md
  examples/data_masking/sam/template.yaml
  examples/data_masking/src/custom_data_masking_provider.py
  examples/data_masking/src/data_masking_function_example.py
  examples/data_masking/src/generic_data_input.json
  examples/data_masking/src/getting_started_encrypt_data.py
  examples/data_masking/src/getting_started_mask_data.py
  examples/data_masking/src/large_data_input.json
  examples/data_masking/src/working_with_own_provider.py
Due: black, ruff, cloudformation

nit fixes
  docs/utilities/data_masking.md
Due: none

chore(ci): changelog rebuild
  CHANGELOG.md
Due: none

chore: refactor
  docs/core/event_handler/openapi.md
Due: none

chore: remove bad file
  docs/core/event_handler/bedrock_agents.md
Due: none

docs(apigateway): add install section for new data validation feat
  docs/core/event_handler/api_gateway.md
Due: none

Deployed f3977035 to develop with MkDocs 1.5.3 and mike 1.1.2
  develop/changelog/index.html
  develop/core/logger/index.html
  develop/core/metrics/index.html
  develop/core/tracer/index.html
  develop/index.html
  develop/search/search_index.json
  develop/sitemap.xml.gz
Due: none

docs(apigateway): add new data validation section
  docs/core/event_handler/api_gateway.md
  examples/event_handler_rest/src/data_validation.json
  examples/event_handler_rest/src/data_validation.py
  examples/event_handler_rest/src/data_validation_output.json
Due: black, ruff

docs(apigateway): improve wording to emphasize validation error
  docs/core/event_handler/api_gateway.md
Due: none
