Repository aws-powertools/powertools-lambda-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff, cloudformation

.pre-commit-config.yaml:

# We use poetry to run formatting and linting before commit/push
# Longer checks such as tests, security and complexity baseline
# are run as part of CI to prevent slower feedback loop
# All checks can be run locally via `make pr`

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: "f71fa2c1f9cf5cb705f73dffe4b21f7c61470ba9" # v4.4.0
    hooks:
      - id: check-merge-conflict
      - id: trailing-whitespace
      - id: check-toml
  - repo: local
    hooks:
      - id: black
        name: formatting::black
        entry: poetry run black
        language: system
        types: [python]
      - id: ruff
        name: linting-format::ruff
        entry: poetry run ruff
        language: system
        types: [python]
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: "ce0d77ac47dc921b62429804fe763d4d35f66a76" # v0.34.0
    hooks:
      - id: markdownlint-docker
        args: ["--fix"]
  - repo: local
    hooks:
      - id: cloudformation
        name: linting::cloudformation
        entry: poetry run cfn-lint
        language: system
        types: [yaml]
        files: examples/.*
  - repo: https://github.com/rhysd/actionlint
    rev: "fd7ba3c382e13dcc0248e425b4cbc3f1185fa3ee" # v1.6.24
    hooks:
      - id: actionlint-docker
        args: [-pyflakes=]
  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: 3420134c37197c21edffc7e6093b14ffae8402f2 # v1.81.0
    hooks:
      - id: terraform_fmt
        args:
          - --args=-recursive
  - repo: https://github.com/gitleaks/gitleaks
    rev: "7804d652c0460f0b61ea9bb2c1f202bfcdbbf144" # v8.16.3
    hooks:
      - id: gitleaks

Small refactor
  aws_lambda_powertools/utilities/data_classes/s3_batch_operation_event.py
Due: black, ruff

feat(event_handler): add support for additional response models (#3591)
  aws_lambda_powertools/event_handler/api_gateway.py
  aws_lambda_powertools/event_handler/openapi/dependant.py
  aws_lambda_powertools/event_handler/openapi/params.py
  aws_lambda_powertools/event_handler/openapi/types.py
  docs/core/event_handler/api_gateway.md
  tests/functional/event_handler/test_openapi_responses.py
Due: black, ruff

Deployed 1409499b to develop with MkDocs 1.5.3 and mike 1.1.2
  develop/core/event_handler/api_gateway/index.html
  develop/search/search_index.json
  develop/sitemap.xml.gz
Due: none

chore(ci): changelog rebuild
  CHANGELOG.md
Due: none

Deployed 9afbc78b to develop with MkDocs 1.5.3 and mike 1.1.2
  develop/changelog/index.html
  develop/search/search_index.json
  develop/sitemap.xml.gz
Due: none

Addressing Ruben's feedback - Docs and examples
  aws_lambda_powertools/utilities/data_classes/s3_batch_operation_event.py
  docs/utilities/data_classes.md
  examples/event_sources/src/s3_batch_operation.py
Due: black, ruff

Addressing Ruben's feedback - Docs and examples
  aws_lambda_powertools/utilities/data_classes/s3_batch_operation_event.py
Due: black, ruff

Addressing Ruben's feedback - Code
  aws_lambda_powertools/utilities/data_classes/s3_batch_operation_event.py
Due: black, ruff

Adding docs
  docs/media/idempotency_first_execution.png
  docs/media/idempotency_second_execution.png
  docs/utilities/idempotency.md
Due: none

wording
  docs/utilities/idempotency.md
Due: none

feat(event_source): Add support for S3 batch operations (#3572)
  aws_lambda_powertools/utilities/data_classes/__init__.py
  aws_lambda_powertools/utilities/data_classes/s3_batch_operation_event.py
  aws_lambda_powertools/utilities/parser/models/__init__.py
  aws_lambda_powertools/utilities/parser/models/s3_batch_operation.py
  docs/utilities/data_classes.md
  docs/utilities/parser.md
  examples/event_sources/src/s3_batch_operation.py
  tests/events/s3BatchOperationEventSchemaV1.json
  tests/events/s3BatchOperationEventSchemaV2.json
  tests/unit/data_classes/test_s3_batch_operation_event.py
  tests/unit/data_classes/test_s3_batch_operation_response.py
  tests/unit/parser/test_s3_batch_operation.py
  tests/unit/parser/test_s3_object_event.py
Due: black, ruff

Deployed c466c806 to develop with MkDocs 1.5.3 and mike 1.1.2
  develop/search/search_index.json
  develop/sitemap.xml.gz
  develop/utilities/data_classes/index.html
  develop/utilities/parser/index.html
Due: none

Deployed c8958c84 to develop with MkDocs 1.5.3 and mike 1.1.2
  develop/changelog/index.html
  develop/search/search_index.json
  develop/sitemap.xml.gz
Due: none

Fixing docs
  aws_lambda_powertools/event_handler/bedrock_agent.py
Due: black, ruff

refactor(event_handler): fix BedrockAgentResolver docstring (#3645)
  aws_lambda_powertools/event_handler/bedrock_agent.py
Due: black, ruff

Adressing Ruben's feedback
  aws_lambda_powertools/utilities/idempotency/persistence/dynamodb.py
  docs/utilities/idempotency.md
Due: black, ruff

Deployed 2a4ec522 to develop with MkDocs 1.5.3 and mike 1.1.2
  develop/changelog/index.html
  develop/search/search_index.json
  develop/sitemap.xml.gz
Due: none

Adressing Ruben's feedback
  aws_lambda_powertools/utilities/idempotency/persistence/dynamodb.py
Due: black, ruff

Disabling Redis e2e until we drop Python 3.7
  tests/e2e/idempotency_redis/conftest.py
Due: black, ruff

chore(ci): Disable Redis e2e until we drop Python 3.7 (#3652)
  tests/e2e/idempotency_redis/conftest.py
Due: black, ruff

feat(idempotency): leverage new DynamoDB Failed conditional writes behavior with ReturnValuesOnConditionCheckFailure (#3446)
  aws_lambda_powertools/utilities/idempotency/base.py
  aws_lambda_powertools/utilities/idempotency/exceptions.py
  aws_lambda_powertools/utilities/idempotency/persistence/base.py
  aws_lambda_powertools/utilities/idempotency/persistence/datarecord.py
  aws_lambda_powertools/utilities/idempotency/persistence/dynamodb.py
  docs/media/idempotency_first_execution.png
  docs/media/idempotency_second_execution.png
  docs/utilities/idempotency.md
  tests/functional/idempotency/conftest.py
  tests/functional/idempotency/test_idempotency.py
  tests/functional/idempotency/utils.py
  tests/unit/idempotency/test_dynamodb_persistence.py
Due: black, ruff

Deployed f8332339 to develop with MkDocs 1.5.3 and mike 1.1.2
  develop/media/idempotency_first_execution.png
  develop/media/idempotency_second_execution.png
  develop/search/search_index.json
  develop/sitemap.xml.gz
  develop/utilities/idempotency/index.html
Due: none

chore(ci): bump version to 2.32.0
  aws_lambda_powertools/shared/version.py
  pyproject.toml
Due: black, ruff

chore: version bump
  aws_lambda_powertools/shared/version.py
  pyproject.toml
Due: black, ruff

chore(ci): layer docs update
  CHANGELOG.md
  docs/index.md
  examples/logger/sam/template.yaml
  examples/metrics/sam/template.yaml
  examples/tracer/sam/template.yaml
Due: cloudformation

Deployed acdf1ab1 to develop with MkDocs 1.5.3 and mike 1.1.2
  develop/changelog/index.html
  develop/core/logger/index.html
  develop/core/metrics/index.html
  develop/core/tracer/index.html
  develop/index.html
  develop/search/search_index.json
  develop/sitemap.xml.gz
Due: none
