Repository aws-powertools/powertools-lambda-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, flake8, cloudformation

black:
  name: formatting::black
  entry: poetry run black
  language: system

isort:
  name: formatting::isort
  entry: poetry run isort
  language: system

flake8:
  name: linting::flake8
  entry: poetry run flake8
  language: system

cloudformation:
  name: linting::cloudformation
  entry: poetry run cfn-lint
  language: system

Adding batch processor
  docs/utilities/idempotency.md
  examples/idempotency/sam.yaml
  examples/idempotency/sam/template.yaml
  examples/idempotency/src/cdk.py
  examples/idempotency/src/integrate_idempotency_with_batch_processor.py
  examples/idempotency/src/integrate_idempotency_with_batch_processor_payload.json
Due: black, isort, flake8, cloudformation

Adding subset payload
  docs/utilities/idempotency.md
  examples/idempotency/src/integrate_idempotency_with_batch_processor.py
  examples/idempotency/src/working_with_payload_subset.py
  examples/idempotency/src/working_with_payload_subset_payload.json
Due: black, isort, flake8

Adding timeout
  docs/utilities/idempotency.md
  examples/idempotency/src/working_with_lambda_timeout.py
  examples/idempotency/src/working_with_payload_subset.py
Due: black, isort, flake8

Adding exception
  docs/utilities/idempotency.md
  examples/idempotency/src/working_with_exceptions.py
Due: black, isort, flake8

Adding local cache
  docs/utilities/idempotency.md
  examples/idempotency/src/customize_persistence_layer.py
  examples/idempotency/src/working_with_local_cache.py
  examples/idempotency/src/working_with_local_cache_payload.json
  examples/idempotency/src/working_with_record_expiration.py
  examples/idempotency/src/working_with_record_expiration_payload.json
Due: black, isort, flake8

adding validation
  docs/utilities/idempotency.md
  examples/idempotency/src/working_with_validation_payload.py
  examples/idempotency/src/working_with_validation_payload_payload1.json
  examples/idempotency/src/working_with_validation_payload_payload2.json
Due: black, isort, flake8

adding payload validation
  docs/utilities/idempotency.md
  examples/idempotency/src/working_with_exceptions.py
  examples/idempotency/src/working_with_idempotency_key_required.py
  examples/idempotency/src/working_with_idempotency_key_required_payload_error.json
  examples/idempotency/src/working_with_idempotency_key_required_payload_success.json
  examples/idempotency/src/working_with_payload_subset.py
  examples/idempotency/src/working_with_validation_payload.py
Due: black, isort, flake8

adding custom config
  docs/utilities/idempotency.md
  examples/idempotency/src/customize_persistence_layer.py
  examples/idempotency/src/working_with_custom_config.py
  examples/idempotency/src/working_with_custom_config_payload.json
  examples/idempotency/src/working_with_custom_session.py
  examples/idempotency/src/working_with_idempotency_key_required.py
Due: black, isort, flake8

adding composite key and own persitence
  docs/utilities/idempotency.md
  examples/idempotency/src/bring_your_own_persistence_store.py
  examples/idempotency/src/working_with_composite_key.py
  examples/idempotency/src/working_with_composite_key_payload.json
Due: black, isort, flake8

adding own persitence
  docs/utilities/idempotency.md
  examples/idempotency/src/bring_your_own_persistent_store.py
Due: black, isort, flake8

adding validator integration
  docs/utilities/idempotency.md
  examples/idempotency/src/integrate_idempotency_with_validator.py
  examples/idempotency/src/integrate_idempotency_with_validator_payload.json
Due: black, isort, flake8

adding tests
  docs/utilities/idempotency.md
  examples/idempotency/src/app_disabling_idempotency_utility.py
  examples/idempotency/src/app_with_dynamodb_local.py
  examples/idempotency/src/app_with_io_operations.py
  examples/idempotency/src/bring_your_own_persistent_store.py
  examples/idempotency/src/test_disabling_idempotency_utility.py
  examples/idempotency/src/test_with_dynamodb_local.py
  examples/idempotency/src/test_with_io_operations.py
  examples/idempotency/src/working_with_composite_key.py
Due: black, isort, flake8

highlights
  docs/utilities/idempotency.md
  examples/idempotency/src/bring_your_own_persistent_store.py
Due: black, isort, flake8

adding terraform
  .pre-commit-config.yaml
  docs/utilities/idempotency.md
  examples/idempotency/templates/cdk.py
  examples/idempotency/templates/sam.yaml
  examples/idempotency/templates/terraform.tf
Due: black, isort, flake8, cloudformation

automation: adding ruff as linter
  .pre-commit-config.yaml
  Makefile
  poetry.lock
  pyproject.toml
  ruff.toml
Due: none

automation: adding CONTRIBUTING
  CONTRIBUTING.md
Due: none

automation: removing pydoc
  ruff.toml
Due: none

tech-debt: centralizing functions
  aws_lambda_powertools/utilities/data_classes/active_mq_event.py
  aws_lambda_powertools/utilities/data_classes/api_gateway_authorizer_event.py
  aws_lambda_powertools/utilities/data_classes/appsync_resolver_event.py
  aws_lambda_powertools/utilities/data_classes/aws_config_rule_event.py
  aws_lambda_powertools/utilities/data_classes/cloud_watch_logs_event.py
  aws_lambda_powertools/utilities/data_classes/code_pipeline_job_event.py
  aws_lambda_powertools/utilities/data_classes/common.py
  aws_lambda_powertools/utilities/data_classes/kafka_event.py
  aws_lambda_powertools/utilities/data_classes/rabbit_mq_event.py
  aws_lambda_powertools/utilities/data_classes/s3_object_event.py
  aws_lambda_powertools/utilities/data_classes/shared_functions.py
  aws_lambda_powertools/utilities/data_classes/vpc_lattice.py
Due: black, isort, flake8

fix(event_source): change the import location of boto3 in CodePipelineJobEvent data class (#2353)
  aws_lambda_powertools/utilities/data_classes/code_pipeline_job_event.py
  docs/core/logger.md
Due: black, isort, flake8

feat(user-agent): add custom header User-Agent to AWS SDK requests (#2267)
  aws_lambda_powertools/__init__.py
  aws_lambda_powertools/shared/user_agent.py
  aws_lambda_powertools/shared/version.py
  aws_lambda_powertools/utilities/data_classes/code_pipeline_job_event.py
  aws_lambda_powertools/utilities/idempotency/persistence/dynamodb.py
  aws_lambda_powertools/utilities/parameters/base.py
  aws_lambda_powertools/utilities/streaming/_s3_seekable_io.py
  mypy.ini
  pyproject.toml
Due: black, isort, flake8

refactor(logger): remove subclassing and move unnecessary APIs (#2334)
  aws_lambda_powertools/logging/compat.py
  aws_lambda_powertools/logging/logger.py
  aws_lambda_powertools/logging/utils.py
Due: black, isort, flake8

fix(shared): skip user agent on much older botocore versions (#2366)
  aws_lambda_powertools/shared/user_agent.py
Due: black, isort, flake8

fix(shared): move to static version bumping to prevent issues with customers custom builds (#2386)
  .github/workflows/release.yml
  Makefile
  aws_lambda_powertools/shared/version.py
  poetry.lock
  pyproject.toml
Due: black, isort, flake8

fix(parameters): AppConfigProvider when retrieving multiple unique configuration names (#2378)
  aws_lambda_powertools/utilities/parameters/appconfig.py
  docs/utilities/parameters.md
  tests/functional/test_utilities_parameters.py
Due: black, isort, flake8

chore(typing): add setLevel and addHandler to Logger for mypy/pyright (#2388)
  aws_lambda_powertools/logging/logger.py
Due: black, isort, flake8

docs(maintainers): visual representation of release process (#2399)
  .github/workflows/publish_v2_layer.yml
  MAINTAINERS.md
Due: none

chore(ci): fix PR labeling permission scope (#2396)
  .github/workflows/label_pr_on_title.yml
  .github/workflows/on_merged_pr.yml
Due: none

chore(ci): document all github action workflows and enforce least-privilege (#2395)
  .github/workflows/build_changelog.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/dispatch_analytics.yml
  .github/workflows/label_pr_on_title.yml
  .github/workflows/on_closed_issues.yml
  .github/workflows/on_label_added.yml
  .github/workflows/on_merged_pr.yml
  .github/workflows/on_opened_pr.yml
  .github/workflows/on_push_docs.yml
  .github/workflows/publish_v2_layer.yml
  .github/workflows/quality_check.yml
  .github/workflows/rebuild_latest_docs.yml
  .github/workflows/record_pr.yml
  .github/workflows/release-drafter.yml
  .github/workflows/reusable_deploy_v2_layer_stack.yml
  .github/workflows/reusable_deploy_v2_sar.yml
  .github/workflows/reusable_export_pr_details.yml
  .github/workflows/reusable_publish_changelog.yml
  .github/workflows/reusable_publish_docs.yml
  .github/workflows/run-e2e-tests.yml
  .github/workflows/secure_workflows.yml
Due: none

docs(navigation): standardize link targets to enhance customer experience (#2420)
  docs/core/event_handler/api_gateway.md
  docs/core/logger.md
  docs/core/metrics.md
  docs/core/tracer.md
  docs/index.md
  docs/roadmap.md
  docs/tutorial/index.md
  docs/upgrade.md
  docs/utilities/data_classes.md
  docs/utilities/feature_flags.md
  docs/utilities/idempotency.md
  docs/utilities/jmespath_functions.md
  docs/utilities/middleware_factory.md
  docs/utilities/parameters.md
  docs/utilities/parser.md
  docs/utilities/streaming.md
  docs/utilities/validation.md
  poetry.lock
Due: none

fix(event_handler): prioritize static over dynamic route to prevent order of route registration mismatch (#2458)
  aws_lambda_powertools/event_handler/api_gateway.py
  tests/functional/event_handler/test_api_gateway.py
Due: black, isort, flake8

docs(event_handler): improve compress example using Response class (#2426)
  docs/core/event_handler/api_gateway.md
  examples/event_handler_rest/src/compressing_responses.py
Due: black, isort, flake8

feat(logger): type log record in LambdaPowertoolsFormatter with TypedDict (#2419)
  .pre-commit-config.yaml
  aws_lambda_powertools/logging/formatter.py
  aws_lambda_powertools/logging/formatters/datadog.py
  aws_lambda_powertools/logging/types.py
  docs/core/logger.md
  examples/logger/src/bring_your_own_formatter.py
Due: black, isort, flake8

fix(idempotency): treat missing idempotency key as non-idempotent transaction (no-op) when raise_on_no_idempotency_key is False (#2477)
  aws_lambda_powertools/utilities/idempotency/base.py
  aws_lambda_powertools/utilities/idempotency/persistence/base.py
  docs/utilities/idempotency.md
  tests/e2e/idempotency/handlers/optional_idempotency_key_handler.py
  tests/e2e/idempotency/infrastructure.py
  tests/e2e/idempotency/test_idempotency_dynamodb.py
  tests/functional/idempotency/test_idempotency.py
Due: black, isort, flake8

docs(event_sources): fix DynamoDB stream event docstring (#2468)
  aws_lambda_powertools/utilities/data_classes/common.py
  aws_lambda_powertools/utilities/data_classes/dynamo_db_stream_event.py
Due: black, isort, flake8

feat(parser): support for CloudFormation Custom Resources (#2335)
  aws_lambda_powertools/utilities/parser/models/__init__.py
  aws_lambda_powertools/utilities/parser/models/cloudformation_custom_resource.py
  docs/utilities/parser.md
  tests/events/cloudformationCustomResourceCreate.json
  tests/events/cloudformationCustomResourceDelete.json
  tests/events/cloudformationCustomResourceUpdate.json
  tests/unit/parser/test_cloudformation_custom_resource.py
Due: black, isort, flake8

docs(we-made-this): new article about idempotency design (#2425)
  docs/we_made_this.md
Due: none

docs(idempotency): new sequence flow when idempotency key is optional (#2480)
  docs/utilities/idempotency.md
Due: none

docs(idempotency): add CDK example (#2434)
  docs/utilities/idempotency.md
  examples/idempotency/cdk.py
  examples/idempotency/sam.yaml
Due: black, isort, flake8, cloudformation

feat(event_sources): add support for VPC Lattice events (#2358)
  aws_lambda_powertools/utilities/data_classes/__init__.py
  aws_lambda_powertools/utilities/data_classes/vpc_lattice.py
  docs/utilities/data_classes.md
  examples/event_sources/src/vpc_lattice.py
  examples/event_sources/src/vpc_lattice_payload.json
  tests/events/vpcLatticeEvent.json
  tests/functional/test_data_classes.py
Due: black, isort, flake8

feat(event_sources): add AWS Config Rule event data class (#2175)
  aws_lambda_powertools/utilities/data_classes/__init__.py
  aws_lambda_powertools/utilities/data_classes/aws_config_rule_event.py
  docs/utilities/data_classes.md
  examples/event_sources/src/aws_config_rule.py
  examples/event_sources/src/aws_config_rule_item_changed.json
  examples/event_sources/src/aws_config_rule_oversized.json
  examples/event_sources/src/aws_config_rule_scheduled.json
  tests/events/awsConfigRuleConfigurationChanged.json
  tests/events/awsConfigRuleOversizedConfiguration.json
  tests/events/awsConfigRuleScheduled.json
  tests/functional/test_data_classes.py
Due: black, isort, flake8

Path conditions:
  black: any of: \.py$
  isort: any of: \.py$
  flake8: any of: \.py$
  cloudformation: any of: examples/.* and \.(yaml|yml)$
