Repository aws-powertools/powertools-lambda-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff, cloudformation

black:
  name: formatting::black
  entry: poetry run black
  language: system

ruff:
  name: linting-format::ruff
  entry: poetry run ruff
  language: system

cloudformation:
  name: linting::cloudformation
  entry: poetry run cfn-lint
  language: system

chore(ci): changelog rebuild
  CHANGELOG.md
Due: none

add tests for datadog provider
  aws_lambda_powertools/metrics/provider/datadog_provider.py
  pyproject.toml
  tests/functional/test_metrics.py
Due: black, ruff

add tests for datadog provider
  pyproject.toml
Due: none

chore: version bump
  aws_lambda_powertools/shared/version.py
  pyproject.toml
Due: black, ruff

chore(ci): bump version to 2.20.0
  aws_lambda_powertools/shared/version.py
  pyproject.toml
Due: black, ruff

chore(ci): layer docs update
  CHANGELOG.md
  docs/index.md
  examples/logger/sam/template.yaml
  examples/metrics/sam/template.yaml
  examples/tracer/sam/template.yaml
Due: cloudformation

chore: improve debugging for provenance script
  .github/actions/verify-provenance/verify_provenance.sh
Due: none

Deployed c2a237ae to develop with MkDocs 1.4.3 and mike 1.1.2
  develop/changelog/index.html
  develop/core/logger/index.html
  develop/core/metrics/index.html
  develop/core/tracer/index.html
  develop/index.html
  develop/search/search_index.json
  develop/sitemap.xml.gz
Due: none

chore(security): improve debugging for provenance script (#2784)
  .github/actions/verify-provenance/verify_provenance.sh
Due: none

Removing the validators. Pydantic bug was fixed
  .github/workflows/quality_check_temp_pydanticv2.yml
  aws_lambda_powertools/utilities/parser/models/apigw.py
  aws_lambda_powertools/utilities/parser/models/apigwv2.py
  aws_lambda_powertools/utilities/parser/models/cloudwatch.py
  aws_lambda_powertools/utilities/parser/models/kafka.py
  aws_lambda_powertools/utilities/parser/models/sqs.py
Due: black, ruff

Adding pytest ignore messages for Pydantic v2
  pyproject.toml
Due: none

fix(docs) remove redundant code
  docs/tutorial/index.md
Due: none

fix(docs): reword comment
  docs/tutorial/index.md
Due: none

Deployed b704bc96 to develop with MkDocs 1.4.3 and mike 1.1.2
  develop/404.html
  develop/Dockerfile
  develop/assets/stylesheets/main.26e3688c.min.css
  develop/assets/stylesheets/main.26e3688c.min.css.map
  develop/assets/stylesheets/main.eebd395e.min.css
  develop/assets/stylesheets/main.eebd395e.min.css.map
  develop/automation/index.html
  develop/changelog/index.html
  develop/core/event_handler/api_gateway/index.html
  develop/core/event_handler/appsync/index.html
  develop/core/logger/index.html
  develop/core/metrics/index.html
  develop/core/tracer/index.html
  develop/diagram_src/cicd_steps/index.html
  develop/index.html
  develop/maintainers/index.html
  develop/roadmap/index.html
  develop/search/search_index.json
  develop/security/index.html
  develop/sitemap.xml.gz
  develop/tutorial/index.html
  develop/upgrade/index.html
  develop/utilities/batch/index.html
  develop/utilities/data_classes/index.html
  develop/utilities/feature_flags/index.html
  develop/utilities/idempotency/index.html
  develop/utilities/jmespath_functions/index.html
  develop/utilities/middleware_factory/index.html
  develop/utilities/parameters/index.html
  develop/utilities/parser/index.html
  develop/utilities/streaming/index.html
  develop/utilities/typing/index.html
  develop/utilities/validation/index.html
  develop/we_made_this/index.html
Due: none

fix(docs): remove redundant code (#2796)
  docs/tutorial/index.md
Due: none

Deployed d8cfe51c to develop with MkDocs 1.4.3 and mike 1.1.2
  develop/search/search_index.json
  develop/sitemap.xml.gz
  develop/tutorial/index.html
Due: none

Adding Jit Security public reference
  README.md
  docs/index.md
Due: none

docs(customer-reference): add Jit Security as a customer reference (#2801)
  README.md
  docs/index.md
Due: none

Deployed 4467f48c to develop with MkDocs 1.4.3 and mike 1.1.2
  develop/index.html
  develop/search/search_index.json
  develop/sitemap.xml.gz
Due: none

Path conditions:
  black: any of: \.py$
  ruff: any of: \.py$
  cloudformation: any of: examples/.* and \.(yaml|yml)$
