Repository aws-powertools/powertools-lambda-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff, cloudformation

black:
  name: formatting::black
  entry: poetry run black
  language: system

ruff:
  name: linting-format::ruff
  entry: poetry run ruff
  language: system

cloudformation:
  name: linting::cloudformation
  entry: poetry run cfn-lint
  language: system

chore(ci): new pre-release 3.20.1a11
  aws_lambda_powertools/shared/version.py
  provenance/3.20.1a11/multiple.intoto.jsonl
  pyproject.toml
Due: black, ruff

chore(ci): changelog rebuild
  CHANGELOG.md
Due: none

Add Discord badge to README
  README.md
Due: none

chore(ci): new pre-release 3.20.1a12
  aws_lambda_powertools/shared/version.py
  provenance/3.20.1a12/multiple.intoto.jsonl
  pyproject.toml
Due: black, ruff

Adding Python 3.14
  .github/workflows/quality_check.yml
Due: none

Make mypy happy
  aws_lambda_powertools/event_handler/openapi/params.py
Due: black, ruff

chore: Fix Discord badge in README (#7488)
  README.md
Due: none

Remove datadog
  poetry.lock
  pyproject.toml
Due: none

chore: version bump
  aws_lambda_powertools/shared/version.py
  pyproject.toml
Due: black, ruff

chore(ci): bump version to 3.21.0
  aws_lambda_powertools/shared/version.py
  pyproject.toml
Due: black, ruff

chore(ci): layer docs update
  CHANGELOG.md
  docs/includes/_layer_homepage_arm64.md
  docs/includes/_layer_homepage_x86.md
  docs/index.md
  examples/build_recipes/cdk/basic/app.py
  examples/build_recipes/cdk/multi-stack/stacks/powertools_cdk_stack.py
  examples/build_recipes/sam/multi-env/template.yaml
  examples/build_recipes/sam/with-layers/template.yaml
  examples/homepage/install/arm64/amplify.txt
  examples/homepage/install/arm64/cdk_arm64.py
  examples/homepage/install/arm64/pulumi_arm64.py
  examples/homepage/install/arm64/sam.yaml
  examples/homepage/install/arm64/serverless.yml
  examples/homepage/install/arm64/terraform.tf
  examples/homepage/install/x86_64/amplify.txt
  examples/homepage/install/x86_64/cdk_x86.py
  examples/homepage/install/x86_64/pulumi_x86.py
  examples/homepage/install/x86_64/sam.yaml
  examples/homepage/install/x86_64/serverless.yml
  examples/homepage/install/x86_64/terraform.tf
  examples/logger/sam/template.yaml
  examples/metrics/sam/template.yaml
  examples/metrics_datadog/sam/template.yaml
  examples/tracer/sam/template.yaml
Due: black, ruff, cloudformation

Adding docs + small fix in tests
  docs/core/event_handler/api_gateway.md
  examples/event_handler_rest/src/validating_headers_with_pydantic.py
  examples/event_handler_rest/src/validating_query_string_with_pydantic.py
  tests/functional/event_handler/_pydantic/test_openapi_validation_middleware.py
Due: black, ruff

chore(ci): new pre-release 3.21.1a0
  aws_lambda_powertools/shared/version.py
  provenance/3.21.1a0/multiple.intoto.jsonl
  pyproject.toml
Due: black, ruff

internal: improve message when do-not-merge label is present
  .github/workflows/on_pr_updates.yml
Due: none

chore(ci): new pre-release 3.21.1a1
  aws_lambda_powertools/shared/version.py
  provenance/3.21.1a1/multiple.intoto.jsonl
  pyproject.toml
Due: black, ruff

chore(ci): improve message when do-not-merge label is present (#7505)
  .github/workflows/on_pr_updates.yml
Due: none

feat(event_handler): add support for Pydantic models in Query and Header types (#7253)
  aws_lambda_powertools/event_handler/api_gateway.py
  aws_lambda_powertools/event_handler/middlewares/openapi_validation.py
  aws_lambda_powertools/event_handler/openapi/dependant.py
  aws_lambda_powertools/event_handler/openapi/params.py
  docs/core/event_handler/api_gateway.md
  examples/event_handler_rest/src/validating_headers_with_pydantic.py
  examples/event_handler_rest/src/validating_query_string_with_pydantic.py
  tests/functional/event_handler/_pydantic/test_openapi_params.py
  tests/functional/event_handler/_pydantic/test_openapi_validation_middleware.py
Due: black, ruff

chore(ci): new pre-release 3.21.1a2
  aws_lambda_powertools/shared/version.py
  provenance/3.21.1a2/multiple.intoto.jsonl
  pyproject.toml
Due: black, ruff

chore(ci): new pre-release 3.21.1a3
  aws_lambda_powertools/shared/version.py
  provenance/3.21.1a3/multiple.intoto.jsonl
  pyproject.toml
Due: black, ruff

refactor: revert to original File class approach
  aws_lambda_powertools/event_handler/openapi/params.py
Due: black, ruff

chore(ci): new pre-release 3.21.1a4
  aws_lambda_powertools/shared/version.py
  provenance/3.21.1a4/multiple.intoto.jsonl
  pyproject.toml
Due: black, ruff

chore(ci): new pre-release 3.21.1a5
  aws_lambda_powertools/shared/version.py
  provenance/3.21.1a5/multiple.intoto.jsonl
  pyproject.toml
Due: black, ruff

Fix docs
  docs/utilities/idempotency.md
  examples/streaming/src/non_uniform_sample.csv
Due: none

docs(idempotency): removed inexistent css class (#7539)
  docs/utilities/idempotency.md
  examples/streaming/src/non_uniform_sample.csv
Due: none

chore: use approved sample names and addresses
  tests/functional/data_masking/_aws_encryption_sdk/test_aws_encryption_sdk.py
  tests/functional/data_masking/required_dependencies/test_erase_data_masking.py
  tests/functional/event_handler/required_dependencies/test_api_gateway.py
  tests/functional/feature_flags/_boto3/test_feature_flags.py
  tests/functional/feature_flags/_boto3/test_schema_validation.py
  tests/unit/parser/_pydantic/test_vpc_lattice.py
Due: black, ruff

chore: use approved sample names and addresses (#7542)
  tests/functional/data_masking/_aws_encryption_sdk/test_aws_encryption_sdk.py
  tests/functional/data_masking/required_dependencies/test_erase_data_masking.py
  tests/functional/event_handler/required_dependencies/test_api_gateway.py
  tests/functional/feature_flags/_boto3/test_feature_flags.py
  tests/functional/feature_flags/_boto3/test_schema_validation.py
  tests/unit/parser/_pydantic/test_vpc_lattice.py
Due: black, ruff

fix(mypy): add type ignore comment for File class FieldInfo inheritance
  aws_lambda_powertools/event_handler/openapi/params.py
Due: black, ruff

chore(ci): new pre-release 3.21.1a6
  aws_lambda_powertools/shared/version.py
  provenance/3.21.1a6/multiple.intoto.jsonl
  pyproject.toml
Due: black, ruff

chore: update CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

chore(ci): update CONTRIBUTING.md (#7549)
  CONTRIBUTING.md
Due: none

fix: convert UploadFile to bytes for File() parameter validation
  aws_lambda_powertools/event_handler/middlewares/openapi_validation.py
Due: black, ruff

Path conditions:
  black: any of: \.py$
  ruff: any of: \.py$
  cloudformation: any of: examples/.* and \.(yaml|yml)$
