Repository aws-powertools/powertools-lambda-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff, cloudformation

black:
  name: formatting::black
  entry: poetry run black
  language: system

ruff:
  name: linting-format::ruff
  entry: poetry run ruff
  language: system

cloudformation:
  name: linting::cloudformation
  entry: poetry run cfn-lint
  language: system

fix: format
  examples/event_handler_rest/src/binary_responses.py
Due: black, ruff

fix: cyclomatic
  aws_lambda_powertools/event_handler/middlewares/openapi_validation.py
Due: black, ruff

Small changes
  docs/core/logger.md
  tests/functional/test_logger_powertools_formatter.py
Due: black, ruff

Reverting test
  tests/functional/test_logger_powertools_formatter.py
Due: black, ruff

Adding the test again -- Git was crazy :D
  tests/functional/test_logger_powertools_formatter.py
Due: black, ruff

Update docs/core/event_handler/api_gateway.md
  docs/core/event_handler/api_gateway.md
Due: none

Adding highlight
  docs/core/event_handler/api_gateway.md
Due: none

Deployed cc61bbc9 to develop with MkDocs 1.5.3 and mike 1.1.2
  develop/requirements.txt
  develop/sitemap.xml.gz
Due: none

Deployed cf3d7778 to develop with MkDocs 1.5.3 and mike 1.1.2
  develop/Dockerfile
  develop/sitemap.xml.gz
Due: none

chore(ci): changelog rebuild
  CHANGELOG.md
Due: none

Deployed c190c62c to develop with MkDocs 1.5.3 and mike 1.1.2
  develop/changelog/index.html
  develop/search/search_index.json
  develop/sitemap.xml.gz
Due: none

docs: typo in function
  docs/core/event_handler/api_gateway.md
Due: none

Heitor's feedback
  aws_lambda_powertools/utilities/data_classes/common.py
Due: black, ruff

fix: change method of generating operation id
  aws_lambda_powertools/event_handler/api_gateway.py
  tests/functional/event_handler/test_openapi_params.py
Due: black, ruff

docs(event_handler): add information about case-insensitive header lookup function (#3183)
  aws_lambda_powertools/utilities/data_classes/common.py
  docs/core/event_handler/api_gateway.md
Due: black, ruff

Deployed bf2df4f2 to develop with MkDocs 1.5.3 and mike 1.1.2
  develop/core/event_handler/api_gateway/index.html
  develop/search/search_index.json
  develop/sitemap.xml.gz
Due: none

fix: allow validation in all resolvers
  aws_lambda_powertools/event_handler/api_gateway.py
  aws_lambda_powertools/event_handler/lambda_function_url.py
  aws_lambda_powertools/event_handler/vpc_lattice.py
  tests/functional/event_handler/test_openapi_params.py
Due: black, ruff

fix: use proper resolver in tests
  aws_lambda_powertools/event_handler/api_gateway.py
  tests/functional/event_handler/test_openapi_params.py
  tests/functional/event_handler/test_openapi_servers.py
  tests/functional/event_handler/test_openapi_validation_middleware.py
Due: black, ruff

fix: move from flake8 to ruff
  .flake8
  ruff.toml
Due: none

fix: customizing responses
  aws_lambda_powertools/event_handler/api_gateway.py
  aws_lambda_powertools/event_handler/middlewares/openapi_validation.py
  tests/functional/event_handler/test_openapi_responses.py
Due: black, ruff

fix: add documentation to a method
  aws_lambda_powertools/event_handler/api_gateway.py
Due: black, ruff

fix: more explicit comments
  aws_lambda_powertools/event_handler/api_gateway.py
Due: black, ruff

fix: typo
  aws_lambda_powertools/event_handler/middlewares/openapi_validation.py
Due: black, ruff

fix: add extra comment
  aws_lambda_powertools/event_handler/middlewares/openapi_validation.py
Due: black, ruff

fix: comment
  aws_lambda_powertools/event_handler/middlewares/openapi_validation.py
Due: black, ruff

fix: add comments
  aws_lambda_powertools/event_handler/middlewares/openapi_validation.py
Due: black, ruff

fix: comments
  aws_lambda_powertools/event_handler/middlewares/openapi_validation.py
Due: black, ruff

fix: typo
  aws_lambda_powertools/event_handler/api_gateway.py
Due: black, ruff

fix: remove leftover comment
  aws_lambda_powertools/event_handler/openapi/encoders.py
Due: black, ruff

Small changes
  aws_lambda_powertools/utilities/parser/parser.py
  docs/utilities/parser.md
  examples/parser/src/using_the_model_from_event.py
  tests/functional/parser/test_parser.py
Due: black, ruff

address Heitor comment on e2e test
  tests/e2e/logger/handlers/tz_handler.py
  tests/e2e/logger/test_logger.py
Due: black, ruff

Added example getting started code to data masking docs
  docs/utilities/data_masking.md
  examples/data_masking/src/custom_provider.py
  examples/data_masking/src/getting_started_encrypt_data.py
  examples/data_masking/src/getting_started_mask_data.py
  examples/data_masking/src/working_with_own_provider.py
  examples/data_masking/tests/src/single_mock.py
  examples/data_masking/tests/test_single_mock.py
  examples/data_masking/tests/test_with_fixture.py
Due: black, ruff

Added SAM template example and fixed KMS permission info
  docs/utilities/data_masking.md
  examples/data_masking/sam/template.yaml
  examples/data_masking/src/app.py
  examples/data_masking/src/getting_started_encrypt_data.py
  tests/performance/data_masking/load_test_data_masking/pt-load-test-stack/template.yaml
Due: black, ruff, cloudformation

Added clearer file names
  examples/data_masking/sam/template.yaml
  examples/data_masking/src/data_masking_function_example.py
  examples/data_masking/src/data_masking_function_example_output.json
Due: black, ruff, cloudformation

Add testing your code example
  examples/data_masking/tests/src/single_mock.py
  examples/data_masking/tests/test_single_mock.py
  examples/data_masking/tests/test_with_fixture.py
Due: black, ruff

Path conditions:
  black: any of: \.py$
  ruff: any of: \.py$
  cloudformation: any of: examples/.* and \.(yaml|yml)$
