Repository aws-powertools/powertools-lambda-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff, cloudformation

black:
  name: formatting::black
  entry: poetry run black
  language: system

ruff:
  name: linting-format::ruff
  entry: poetry run ruff
  language: system

cloudformation:
  name: linting::cloudformation
  entry: poetry run cfn-lint
  language: system

chore(tests): temporarily disable E2E parallelism (#3484)
  .github/workflows/run-e2e-tests.yml
  Makefile
Due: none

Deployed 0616548c to develop with MkDocs 1.5.3 and mike 1.1.2
  develop/changelog/index.html
  develop/core/logger/index.html
  develop/core/metrics/index.html
  develop/core/tracer/index.html
  develop/index.html
  develop/search/search_index.json
  develop/sitemap.xml.gz
Due: none

Modifying SAM
  docs/utilities/data_masking.md
  examples/data_masking/sam/template.yaml
Due: cloudformation

Deployed 347286c1 to develop with MkDocs 1.5.3 and mike 1.1.2
  develop/Dockerfile
  develop/sitemap.xml.gz
Due: none

Removing itsdangerous dependency - we are not using
  docs/utilities/data_masking.md
  poetry.lock
  pyproject.toml
Due: none

Fixing mypy errors
  examples/data_masking/src/custom_data_masking_provider.py
  examples/data_masking/src/data_masking_function_example.py
  examples/data_masking/src/working_with_own_provider.py
  mypy.ini
Due: black, ruff

Adding more information
  docs/utilities/data_masking.md
Due: none

Fix Bandit issue
  aws_lambda_powertools/utilities/idempotency/persistence/redis.py
Due: black, ruff

Added more info about fields param
  docs/utilities/data_masking.md
Due: none

Refactoring integration tests to use testcontainers
  poetry.lock
  pyproject.toml
  tests/integration/idempotency/test_idempotency_redis.py
Due: black, ruff

Removing code smell
  tests/functional/idempotency/persistence/test_redis_layer.py
Due: black, ruff

chore(ci): changelog rebuild
  CHANGELOG.md
Due: none

Deployed 822a5b58 to develop with MkDocs 1.5.3 and mike 1.1.2
  develop/changelog/index.html
  develop/search/search_index.json
  develop/sitemap.xml.gz
Due: none

Making error message actionable
  aws_lambda_powertools/utilities/_data_masking/base.py
  aws_lambda_powertools/utilities/_data_masking/exceptions.py
  aws_lambda_powertools/utilities/_data_masking/provider/kms/aws_encryption_sdk.py
  tests/unit/data_masking/test_unit_data_masking.py
Due: black, ruff

Making error message actionable
  aws_lambda_powertools/utilities/_data_masking/exceptions.py
Due: black, ruff

Making error message actionable
  aws_lambda_powertools/utilities/_data_masking/exceptions.py
  aws_lambda_powertools/utilities/_data_masking/provider/kms/aws_encryption_sdk.py
  docs/utilities/data_masking.md
  mypy.ini
Due: black, ruff

docs: add first sequence diagram for operations
  docs/utilities/data_masking.md
Due: none

docs: add encrypt operations sequence diagram
  docs/utilities/data_masking.md
Due: none

docs: remove dot notation from mask operation
  docs/utilities/data_masking.md
Due: none

Adding typing
  aws_lambda_powertools/utilities/_data_masking/base.py
  aws_lambda_powertools/utilities/_data_masking/provider/kms/aws_encryption_sdk.py
Due: black, ruff

Fixes for SAM template comments
  examples/data_masking/sam/template.yaml
Due: cloudformation

Add return types for mask()
  aws_lambda_powertools/utilities/_data_masking/base.py
  aws_lambda_powertools/utilities/_data_masking/provider/base.py
Due: black, ruff

Deployed 688caef0 to develop with MkDocs 1.5.3 and mike 1.1.2
  develop/changelog/index.html
  develop/search/search_index.json
  develop/sitemap.xml.gz
Due: none

docs(customer-reference): add Transformity as a customer reference
  README.md
  docs/index.md
Due: none

docs(customer-reference): add Transformity as a customer reference (#3497)
  README.md
  docs/index.md
Due: none

Deployed fcb40868 to develop with MkDocs 1.5.3 and mike 1.1.2
  develop/index.html
  develop/search/search_index.json
  develop/sitemap.xml.gz
Due: none

fix(docs): make the Lambda Layer version consistent
  docs/index.md
  examples/logger/sam/template.yaml
  examples/metrics/sam/template.yaml
  examples/tracer/sam/template.yaml
  layer/scripts/layer-balancer/main.go
Due: cloudformation

fix: arm64 and all runtimes
  docs/index.md
  examples/logger/sam/template.yaml
  examples/metrics/sam/template.yaml
  examples/tracer/sam/template.yaml
  layer/scripts/layer-balancer/main.go
Due: cloudformation

Update layer/scripts/layer-balancer/main.go
  layer/scripts/layer-balancer/main.go
Due: none

fix(docs): make the Lambda Layer version consistent (#3498)
  docs/index.md
  examples/logger/sam/template.yaml
  examples/metrics/sam/template.yaml
  examples/tracer/sam/template.yaml
  layer/scripts/layer-balancer/main.go
Due: cloudformation

Deployed 6cd8ccdf to develop with MkDocs 1.5.3 and mike 1.1.2
  develop/core/logger/index.html
  develop/core/metrics/index.html
  develop/core/tracer/index.html
  develop/index.html
  develop/search/search_index.json
  develop/sitemap.xml.gz
Due: none

Path conditions:
  black: any of: \.py$
  ruff: any of: \.py$
  cloudformation: any of: examples/.* and \.(yaml|yml)$
