Repository aws-powertools/powertools-lambda-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff, cloudformation

.pre-commit-config.yaml:

# We use poetry to run formatting and linting before commit/push
# Longer checks such as tests, security and complexity baseline
# are run as part of CI to prevent slower feedback loop
# All checks can be run locally via `make pr`

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: "f71fa2c1f9cf5cb705f73dffe4b21f7c61470ba9" # v4.4.0
    hooks:
      - id: check-merge-conflict
      - id: trailing-whitespace
      - id: check-toml
  - repo: local
    hooks:
      - id: black
        name: formatting::black
        entry: poetry run black
        language: system
        types: [python]
      - id: ruff
        name: linting-format::ruff
        entry: poetry run ruff
        language: system
        types: [python]
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: "ce0d77ac47dc921b62429804fe763d4d35f66a76" # v0.34.0
    hooks:
      - id: markdownlint-docker
        args: ["--fix"]
  - repo: local
    hooks:
      - id: cloudformation
        name: linting::cloudformation
        entry: poetry run cfn-lint
        language: system
        types: [yaml]
        files: examples/.*
  - repo: https://github.com/rhysd/actionlint
    rev: "fd7ba3c382e13dcc0248e425b4cbc3f1185fa3ee" # v1.6.24
    hooks:
      - id: actionlint-docker
        args: [-pyflakes=]
  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: 3420134c37197c21edffc7e6093b14ffae8402f2 # v1.81.0
    hooks:
      - id: terraform_fmt
        args:
          - --args=-recursive
  - repo: https://github.com/gitleaks/gitleaks
    rev: "7804d652c0460f0b61ea9bb2c1f202bfcdbbf144" # v8.16.3
    hooks:
      - id: gitleaks

Deployed 33820d12 to develop with MkDocs 1.5.3 and mike 1.1.2
  develop/core/event_handler/api_gateway/index.html
  develop/search/search_index.json
  develop/sitemap.xml.gz
Due: none

Code and docs
  aws_lambda_powertools/utilities/feature_flags/comparators.py
  aws_lambda_powertools/utilities/feature_flags/feature_flags.py
  aws_lambda_powertools/utilities/feature_flags/schema.py
  docs/utilities/feature_flags.md
Due: black, ruff

Fixing and improving e2e tests for DataMasking
  tests/e2e/data_masking/test_e2e_data_masking.py
Due: black, ruff

chore(ci): changelog rebuild
  CHANGELOG.md
Due: none

Deployed 90df6b16 to develop with MkDocs 1.5.3 and mike 1.1.2
  develop/changelog/index.html
  develop/search/search_index.json
  develop/sitemap.xml.gz
Due: none

fix(data-masking): fix and improve e2e tests for DataMasking (#3695)
  tests/e2e/data_masking/test_e2e_data_masking.py
Due: black, ruff

chore: version bump
  aws_lambda_powertools/shared/version.py
  pyproject.toml
Due: black, ruff

chore(ci): bump version to 2.33.0
  aws_lambda_powertools/shared/version.py
  pyproject.toml
Due: black, ruff

chore(ci): layer docs update
  CHANGELOG.md
  docs/index.md
  examples/logger/sam/template.yaml
  examples/metrics/sam/template.yaml
  examples/tracer/sam/template.yaml
Due: cloudformation

Deployed 2d1fe1d7 to develop with MkDocs 1.5.3 and mike 1.1.2
  develop/changelog/index.html
  develop/core/logger/index.html
  develop/core/metrics/index.html
  develop/core/tracer/index.html
  develop/index.html
  develop/search/search_index.json
  develop/sitemap.xml.gz
Due: none

Deployed e0d20736 to develop with MkDocs 1.5.3 and mike 1.1.2
  develop/changelog/index.html
  develop/search/search_index.json
  develop/sitemap.xml.gz
Due: none

Reverting a potential breaking change
  aws_lambda_powertools/utilities/streaming/_s3_seekable_io.py
  aws_lambda_powertools/utilities/streaming/compat.py
  examples/streaming/src/assert_transformation.py
  tests/functional/streaming/test_s3_seekable_io.py
Due: black, ruff

Refactoring data class to cache some properties
  aws_lambda_powertools/utilities/data_classes/active_mq_event.py
  aws_lambda_powertools/utilities/data_classes/code_pipeline_job_event.py
  aws_lambda_powertools/utilities/data_classes/common.py
  aws_lambda_powertools/utilities/data_classes/kafka_event.py
  aws_lambda_powertools/utilities/data_classes/kinesis_firehose_event.py
  aws_lambda_powertools/utilities/data_classes/rabbit_mq_event.py
  aws_lambda_powertools/utilities/data_classes/sqs_event.py
  aws_lambda_powertools/utilities/data_classes/vpc_lattice.py
Due: black, ruff

Importing from typing_extensions directly
  aws_lambda_powertools/shared/types.py
Due: black, ruff

Reverting
  aws_lambda_powertools/shared/types.py
Due: black, ruff

fix(parameters): make cache aware of single vs multiple calls
  aws_lambda_powertools/utilities/parameters/base.py
  aws_lambda_powertools/utilities/parameters/types.py
Due: black, ruff

chore: cleanup, add test for single and nested
  aws_lambda_powertools/utilities/parameters/base.py
  aws_lambda_powertools/utilities/parameters/types.py
Due: black, ruff

Addressing Heitor's feedback
  aws_lambda_powertools/utilities/streaming/compat.py
  docs/core/event_handler/appsync.md
Due: black, ruff

chore(ci): drop support for Python 3.7 (#3638)
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/static_typing.yml
  .github/workflows/quality_check.yml
  .github/workflows/quality_check_pydanticv2.yml
  .github/workflows/run-e2e-tests.yml
  README.md
  aws_lambda_powertools/logging/compat.py
  aws_lambda_powertools/logging/logger.py
  aws_lambda_powertools/shared/types.py
  aws_lambda_powertools/utilities/data_classes/active_mq_event.py
  aws_lambda_powertools/utilities/data_classes/code_pipeline_job_event.py
  aws_lambda_powertools/utilities/data_classes/common.py
  aws_lambda_powertools/utilities/data_classes/kafka_event.py
  aws_lambda_powertools/utilities/data_classes/kinesis_firehose_event.py
  aws_lambda_powertools/utilities/data_classes/rabbit_mq_event.py
  aws_lambda_powertools/utilities/data_classes/sqs_event.py
  aws_lambda_powertools/utilities/data_classes/vpc_lattice.py
  aws_lambda_powertools/utilities/streaming/compat.py
  docs/core/event_handler/appsync.md
  docs/roadmap.md
  docs/upgrade.md
  docs/utilities/idempotency.md
  examples/event_handler_graphql/src/assert_async_graphql_response_module.py
  examples/event_handler_graphql/src/assert_graphql_response_module.py
  examples/event_handler_graphql/src/async_resolvers.py
  examples/event_handler_graphql/src/custom_models.py
  examples/event_handler_graphql/src/getting_started_graphql_api_resolver.py
  examples/event_handler_graphql/src/graphql_transformer_merchant_info.py
  examples/event_handler_graphql/src/graphql_transformer_search_merchant.py
  examples/event_handler_graphql/src/nested_mappings.py
  examples/event_handler_graphql/src/split_operation_append_context_module.py
  examples/event_handler_graphql/src/split_operation_module.py
  layer/sar/template.txt
  pyproject.toml
  tests/e2e/idempotency_redis/test_idempotency_redis.py
  tests/e2e/utils/infrastructure.py
  tests/functional/event_handler/test_appsync.py
  tests/functional/idempotency/test_idempotency.py
  tests/unit/test_tracing.py
Due: black, ruff

Deployed 95d8edab to develop with MkDocs 1.5.3 and mike 1.1.2
  develop/core/event_handler/appsync/index.html
  develop/roadmap/index.html
  develop/search/search_index.json
  develop/sitemap.xml.gz
  develop/upgrade/index.html
  develop/utilities/idempotency/index.html
Due: none

Deployed e0b38f1f to develop with MkDocs 1.5.3 and mike 1.1.2
  develop/Dockerfile
  develop/sitemap.xml.gz
Due: none

Fixing mypy problems
  aws_lambda_powertools/metrics/provider/cloudwatch_emf/cloudwatch.py
  examples/idempotency/src/working_with_idempotent_function_custom_output_serializer.py
Due: black, ruff

Adding new required parameter
  .github/workflows/ossf_scorecard.yml
  .github/workflows/publish_v2_layer.yml
  .github/workflows/record_pr.yml
  .github/workflows/reusable_deploy_v2_layer_stack.yml
Due: none

add_dd_poc
  aws_lambda_powertools/tracing/base.py
  aws_lambda_powertools/tracing/dd_tracer.py
  poetry.lock
  poetry.toml
  pyproject.toml
Due: black, ruff

Deployed f7ca5b0c to develop with MkDocs 1.5.3 and mike 1.1.2
  develop/search/search_index.json
  develop/sitemap.xml.gz
  develop/utilities/idempotency/index.html
Due: none

Addressing Andrea's feedback
  .github/workflows/ossf_scorecard.yml
  .github/workflows/publish_v2_layer.yml
  .github/workflows/record_pr.yml
Due: none

Deployed d255a866 to develop with MkDocs 1.5.3 and mike 1.1.2
  develop/changelog/index.html
  develop/search/search_index.json
  develop/sitemap.xml.gz
Due: none
