Repository aws-powertools/powertools-lambda-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff, cloudformation

black:
  name: formatting::black
  entry: poetry run black
  language: system

ruff:
  name: linting-format::ruff
  entry: poetry run ruff
  language: system

cloudformation:
  name: linting::cloudformation
  entry: poetry run cfn-lint
  language: system

chore(ci): new pre-release 3.0.1a0
  aws_lambda_powertools/shared/version.py
  provenance/3.0.1a0/multiple.intoto.jsonl
  pyproject.toml
Due: black, ruff

Fix small things in the documentation
  docs/index.md
  docs/overrides/main.html
  docs/versioning.md
Due: none

docs(v3): fix small things in the documentation (#5224)
  docs/index.md
  docs/overrides/main.html
  docs/versioning.md
Due: none

chore(ci): changelog rebuild
  CHANGELOG.md
Due: none

Deployed 4104f8b1 to develop with MkDocs 1.6.1 and mike 2.1.3
  develop/changelog/index.html
  develop/search/search_index.json
Due: none

fix: update singular x86 references to x86_64
  .github/workflows/publish_v2_layer.yml
  .github/workflows/publish_v3_layer.yml
  docs/diagram_src/cicd_steps.md
  docs/includes/_layer_homepage_x86.md
  docs/index.md
  docs/maintainers.md
  docs/roadmap.md
  examples/homepage/install/sar/cdk_sar.py
  examples/homepage/install/sar/sam.yaml
  examples/homepage/install/sar/scoped_down_iam.yaml
  examples/homepage/install/sar/serverless.yml
  examples/homepage/install/sar/terraform.tf
  examples/homepage/install/x86_64/amplify.txt
  examples/homepage/install/x86_64/cdk_x86.py
  examples/homepage/install/x86_64/pulumi_x86.py
  examples/homepage/install/x86_64/sam.yaml
  examples/homepage/install/x86_64/serverless.yml
  examples/homepage/install/x86_64/terraform.tf
  examples/logger/sam/template.yaml
  examples/metrics/sam/template.yaml
  examples/metrics_datadog/sam/template.yaml
  examples/tracer/sam/template.yaml
  layer_v3/app.py
  layer_v3/layer/layer_stack.py
Due: black, ruff, cloudformation

feat: Add CodeDeploy Lifecycle Hook event definition
  aws_lambda_powertools/utilities/data_classes/code_deploy_lifecycle_hook_event.py
Due: black, ruff

Add tests
  aws_lambda_powertools/utilities/data_classes/__init__.py
  tests/events/codeDeployLifecycleHookEvent.json
  tests/unit/data_classes/required_dependencies/test_code_deploy_lifecycle_hook_event.py
Due: black, ruff

Update aws_lambda_powertools/utilities/data_classes/code_deploy_lifecycle_hook_event.py
  aws_lambda_powertools/utilities/data_classes/code_deploy_lifecycle_hook_event.py
Due: black, ruff

Update aws_lambda_powertools/utilities/data_classes/__init__.py
  aws_lambda_powertools/utilities/data_classes/__init__.py
Due: black, ruff

Update tests/unit/data_classes/required_dependencies/test_code_deploy_lifecycle_hook_event.py
  tests/unit/data_classes/required_dependencies/test_code_deploy_lifecycle_hook_event.py
Due: black, ruff

Add docs
  docs/utilities/data_classes.md
Due: none

Update docs/utilities/data_classes.md
  docs/utilities/data_classes.md
Due: none

feat(event_source): add CodeDeploy Lifecycle Hook event (#5219)
  aws_lambda_powertools/utilities/data_classes/__init__.py
  aws_lambda_powertools/utilities/data_classes/code_deploy_lifecycle_hook_event.py
  docs/utilities/data_classes.md
  tests/events/codeDeployLifecycleHookEvent.json
  tests/unit/data_classes/required_dependencies/test_code_deploy_lifecycle_hook_event.py
Due: black, ruff

Deployed 8329bf34 to develop with MkDocs 1.6.1 and mike 2.1.3
  develop/search/search_index.json
  develop/utilities/data_classes/index.html
Due: none

docs(idempotency): fix description in `Advanced` table (#5191)
  docs/utilities/idempotency.md
Due: none

Deployed 4d261b7a to develop with MkDocs 1.6.1 and mike 2.1.3
  develop/search/search_index.json
  develop/sitemap.xml.gz
  develop/utilities/idempotency/index.html
Due: none

Adding v2 maintainance mode
  docs/versioning.md
Due: none

Adding v2 maintainance mode
  docs/utilities/data_classes.md
Due: none

Adding v2 maintainance mode banner
  docs/overrides/main.html
Due: none

docs(versioning): add v2 maintainance mode banner (#5240)
  docs/overrides/main.html
  docs/utilities/data_classes.md
  docs/versioning.md
Due: none

Deployed dfbae483 to develop with MkDocs 1.6.1 and mike 2.1.3
  develop/Dockerfile
Due: none

Recreating requirements file
  docs/requirements.txt
Due: none

chore(ci): new pre-release 3.0.1a1
  aws_lambda_powertools/shared/version.py
  provenance/3.0.1a1/multiple.intoto.jsonl
  pyproject.toml
Due: black, ruff

chore(docs): recreate requirements.txt file for mkdocs container (#5246)
  docs/requirements.txt
Due: none

Deployed da250833 to develop with MkDocs 1.6.1 and mike 2.1.3
  develop/requirements.txt
  develop/sitemap.xml.gz
Due: none

Fix etage and size required fields
  aws_lambda_powertools/utilities/parser/models/s3.py
Due: black, ruff

fix(parser): make size and etag optional for LifecycleExpiration events in S3 (#5250)
  aws_lambda_powertools/utilities/parser/models/s3.py
Due: black, ruff

Deployed d819f125 to develop with MkDocs 1.6.1 and mike 2.1.3
  develop/changelog/index.html
  develop/search/search_index.json
Due: none

Fix reponse hook invocation with None
  aws_lambda_powertools/utilities/idempotency/base.py
  tests/e2e/idempotency/handlers/response_hook.py
  tests/e2e/idempotency/infrastructure.py
  tests/e2e/idempotency/test_idempotency_dynamodb.py
  tests/e2e/idempotency_redis/handlers/response_hook.py
  tests/e2e/idempotency_redis/test_idempotency_redis.py
  tests/functional/idempotency/_boto3/test_idempotency.py
Due: black, ruff

Path conditions:
  black: any of: \.py$
  ruff: any of: \.py$
  cloudformation: any of: examples/.* and \.(yaml|yml)$
