Repository aws-powertools/powertools-lambda-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff, cloudformation

.pre-commit-config.yaml:

# We use poetry to run formatting and linting before commit/push
# Longer checks such as tests, security and complexity baseline
# are run as part of CI to prevent slower feedback loop
# All checks can be run locally via `make pr`

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: "f71fa2c1f9cf5cb705f73dffe4b21f7c61470ba9" # v4.4.0
    hooks:
      - id: check-merge-conflict
      - id: trailing-whitespace
      - id: check-toml
  - repo: local
    hooks:
      - id: black
        name: formatting::black
        entry: poetry run black
        language: system
        types: [python]
      - id: ruff
        name: linting-format::ruff
        entry: poetry run ruff
        language: system
        types: [python]
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: "ce0d77ac47dc921b62429804fe763d4d35f66a76" # v0.34.0
    hooks:
      - id: markdownlint-docker
        args: ["--fix"]
  - repo: local
    hooks:
      - id: cloudformation
        name: linting::cloudformation
        entry: poetry run cfn-lint
        language: system
        types: [yaml]
        files: examples/.*
  - repo: https://github.com/rhysd/actionlint
    rev: "fd7ba3c382e13dcc0248e425b4cbc3f1185fa3ee" # v1.6.24
    hooks:
      - id: actionlint-docker
        args: [-pyflakes=]
  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: 3420134c37197c21edffc7e6093b14ffae8402f2 # v1.81.0
    hooks:
      - id: terraform_fmt
        args:
          - --args=-recursive
  - repo: https://github.com/gitleaks/gitleaks
    rev: "7804d652c0460f0b61ea9bb2c1f202bfcdbbf144" # v8.16.3
    hooks:
      - id: gitleaks

chore: cleanup, add test for single and nested
  aws_lambda_powertools/utilities/parameters/base.py
  aws_lambda_powertools/utilities/parameters/types.py
Due: black, ruff

fix(metrics): lambda handler typing, and kwargs preservation
  aws_lambda_powertools/metrics/metrics.py
  aws_lambda_powertools/metrics/provider/base.py
  aws_lambda_powertools/metrics/provider/cloudwatch_emf/cloudwatch.py
Due: black, ruff

fix(event_handler): serialize pydantic/dataclasses in exception handler (#3455)
  Makefile
  aws_lambda_powertools/event_handler/api_gateway.py
  aws_lambda_powertools/shared/functions.py
  aws_lambda_powertools/shared/json_encoder.py
  tests/functional/event_handler/test_api_gateway.py
  tests/unit/test_json_encoder.py
Due: black, ruff

fix(metrics): lambda handler typing, and kwargs preservation
  aws_lambda_powertools/metrics/provider/datadog/datadog.py
  aws_lambda_powertools/metrics/provider/datadog/metrics.py
Due: black, ruff

fix: propagate kwargs
  aws_lambda_powertools/middleware_factory/factory.py
  aws_lambda_powertools/utilities/idempotency/idempotency.py
  aws_lambda_powertools/utilities/parser/parser.py
  aws_lambda_powertools/utilities/validation/validator.py
Due: black, ruff

Reverting deletion + adding get_context function
  aws_lambda_powertools/utilities/data_classes/api_gateway_proxy_event.py
  aws_lambda_powertools/utilities/parser/models/apigwv2.py
  tests/events/apiGatewayProxyV2LambdaAuthorizerEvent.json
  tests/unit/data_classes/test_api_gateway_proxy_event.py
  tests/unit/data_classes/test_lambda_function_url.py
  tests/unit/parser/test_apigwv2.py
Due: black, ruff

Reverting deletion
  tests/unit/parser/test_lambda_function_url.py
Due: black, ruff

Adding tests
  aws_lambda_powertools/utilities/data_classes/api_gateway_proxy_event.py
  tests/unit/data_classes/test_api_gateway_proxy_event.py
Due: black, ruff

Addressing Heitor's feedback
  aws_lambda_powertools/utilities/data_classes/api_gateway_proxy_event.py
Due: black, ruff

feat(event_sources): add get_context() to standardize API Gateway Lambda Authorizer context in v1 and v2 (#3454)
  aws_lambda_powertools/utilities/data_classes/api_gateway_proxy_event.py
  tests/events/apiGatewayProxyV2LambdaAuthorizerEvent.json
  tests/unit/data_classes/test_api_gateway_proxy_event.py
  tests/unit/parser/test_apigwv2.py
Due: black, ruff

fix(metrics): lambda_handler typing, and **kwargs preservation all middlewares (#3460)
  aws_lambda_powertools/metrics/metrics.py
  aws_lambda_powertools/metrics/provider/base.py
  aws_lambda_powertools/metrics/provider/cloudwatch_emf/cloudwatch.py
  aws_lambda_powertools/metrics/provider/datadog/datadog.py
  aws_lambda_powertools/metrics/provider/datadog/metrics.py
  aws_lambda_powertools/middleware_factory/factory.py
  aws_lambda_powertools/utilities/idempotency/idempotency.py
  aws_lambda_powertools/utilities/parser/parser.py
  aws_lambda_powertools/utilities/validation/validator.py
Due: black, ruff

chore: version bump
  aws_lambda_powertools/shared/version.py
  pyproject.toml
Due: black, ruff

chore(ci): bump version to 2.29.0
  aws_lambda_powertools/shared/version.py
  pyproject.toml
Due: black, ruff

chore(ci): layer docs update
  CHANGELOG.md
  docs/index.md
  examples/logger/sam/template.yaml
  examples/metrics/sam/template.yaml
  examples/tracer/sam/template.yaml
Due: cloudformation

Deployed 84910ff0 to develop with MkDocs 1.5.3 and mike 1.1.2
  develop/changelog/index.html
  develop/core/logger/index.html
  develop/core/metrics/index.html
  develop/core/tracer/index.html
  develop/index.html
  develop/search/search_index.json
  develop/sitemap.xml.gz
Due: none

chore(ci): changelog rebuild
  CHANGELOG.md
Due: none

Deployed 8c508291 to develop with MkDocs 1.5.3 and mike 1.1.2
  develop/changelog/index.html
  develop/search/search_index.json
  develop/sitemap.xml.gz
Due: none

Updating examples to Python 3.12
  examples/batch_processing/sam/kinesis_batch_processing.yaml
Due: cloudformation

Updating examples to Python 3.12
  examples/batch_processing/sam/dynamodb_batch_processing.yaml
  examples/batch_processing/sam/sqs_batch_processing.yaml
  examples/event_handler_lambda_function_url/sam/template.yaml
  examples/event_handler_rest/sam/micro_function_template.yaml
  examples/event_handler_rest/sam/template.yaml
  examples/idempotency/templates/sam.yaml
  examples/logger/sam/template.yaml
  examples/metrics/sam/template.yaml
  examples/metrics_datadog/sam/template.yaml
  examples/middleware_factory/sam/combining_powertools_utilities_template.yaml
  examples/tracer/sam/template.yaml
Due: cloudformation

fix(parameters): make cache aware of single vs multiple calls
  aws_lambda_powertools/utilities/parameters/base.py
  aws_lambda_powertools/utilities/parameters/types.py
Due: black, ruff

chore: upgrade node to v20
  .github/workflows/run-e2e-tests.yml
Due: none

add abs_lambda_path, protocol for redis client
  aws_lambda_powertools/shared/functions.py
  aws_lambda_powertools/utilities/idempotency/persistence/redis.py
  tests/unit/test_shared_functions.py
Due: black, ruff

fix typing
  aws_lambda_powertools/shared/functions.py
  aws_lambda_powertools/utilities/idempotency/persistence/redis.py
Due: black, ruff

remove awaitable
  aws_lambda_powertools/utilities/idempotency/persistence/redis.py
Due: black, ruff

Deployed 51480816 to develop with MkDocs 1.5.3 and mike 1.1.2
  develop/Dockerfile
  develop/sitemap.xml.gz
Due: none

Deployed fad09e34 to develop with MkDocs 1.5.3 and mike 1.1.2
  develop/changelog/index.html
  develop/search/search_index.json
  develop/sitemap.xml.gz
Due: none

chore: temporarily remove logger parametrized utc tests
  tests/e2e/logger/test_logger.py
Due: black, ruff

chore: temporarily use a single py version to reduce noise
  .github/workflows/run-e2e-tests.yml
Due: none
