Repository aws-powertools/powertools-lambda-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff, cloudformation

.pre-commit-config.yaml:

# We use poetry to run formatting and linting before commit/push
# Longer checks such as tests, security and complexity baseline
# are run as part of CI to prevent slower feedback loop
# All checks can be run locally via `make pr`

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: "f71fa2c1f9cf5cb705f73dffe4b21f7c61470ba9" # v4.4.0
    hooks:
      - id: check-merge-conflict
      - id: trailing-whitespace
      - id: check-toml
  - repo: local
    hooks:
      - id: black
        name: formatting::black
        entry: poetry run black
        language: system
        types: [python]
      - id: ruff
        name: linting-format::ruff
        entry: poetry run ruff
        language: system
        types: [python]
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: "ce0d77ac47dc921b62429804fe763d4d35f66a76" # v0.34.0
    hooks:
      - id: markdownlint-docker
        args: ["--fix"]
  - repo: local
    hooks:
      - id: cloudformation
        name: linting::cloudformation
        entry: poetry run cfn-lint
        language: system
        types: [yaml]
        files: examples/.*
  - repo: https://github.com/rhysd/actionlint
    rev: "fd7ba3c382e13dcc0248e425b4cbc3f1185fa3ee" # v1.6.24
    hooks:
      - id: actionlint-docker
        args: [-pyflakes=]
  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: 3420134c37197c21edffc7e6093b14ffae8402f2 # v1.81.0
    hooks:
      - id: terraform_fmt
        args:
          - --args=-recursive
  - repo: https://github.com/gitleaks/gitleaks
    rev: "7804d652c0460f0b61ea9bb2c1f202bfcdbbf144" # v8.16.3
    hooks:
      - id: gitleaks

refactor: rename response_validation_error_http_status to response_validation_error_http_code
  tests/unit/event_handler/test_response_validation.py
Due: black, ruff

feat: add route-specific custom response validation and tests
  aws_lambda_powertools/event_handler/api_gateway.py
  aws_lambda_powertools/event_handler/middlewares/openapi_validation.py
  aws_lambda_powertools/event_handler/openapi/exceptions.py
  tests/functional/event_handler/_pydantic/test_openapi_validation_middleware.py
Due: black, ruff

feat(unit-test): Add tests for custom response validation error.
  tests/unit/event_handler/test_response_validation.py
Due: black, ruff

fix: except Route implementation
  aws_lambda_powertools/event_handler/api_gateway.py
Due: black, ruff

feat(unit-test): add tests for incorrect types and invalid configs
  tests/unit/event_handler/test_response_validation.py
Due: black, ruff

chore(ci): changelog rebuild
  CHANGELOG.md
Due: none

fix: put custom_response_validation_http_code before middleware
  aws_lambda_powertools/event_handler/api_gateway.py
Due: black, ruff

feat: route's custom response validation must take precedence over app's.
  aws_lambda_powertools/event_handler/api_gateway.py
  aws_lambda_powertools/event_handler/middlewares/openapi_validation.py
  aws_lambda_powertools/event_handler/openapi/types.py
  tests/functional/event_handler/_pydantic/test_openapi_validation_middleware.py
Due: black, ruff

feat: added more tests.
  tests/functional/event_handler/_pydantic/test_openapi_validation_middleware.py
Due: black, ruff

refactor: improved error messagee and tests' descriptions.
  aws_lambda_powertools/event_handler/api_gateway.py
  tests/functional/event_handler/_pydantic/test_openapi_validation_middleware.py
Due: black, ruff

chore(ci): new pre-release 3.8.1a10
  aws_lambda_powertools/shared/version.py
  provenance/3.8.1a10/multiple.intoto.jsonl
  pyproject.toml
Due: black, ruff

feat: updated docs.
  docs/core/event_handler/api_gateway.md
  examples/event_handler_rest/src/customizing_response_validation.py
Due: black, ruff

chore(ci): new pre-release 3.8.1a11
  aws_lambda_powertools/shared/version.py
  provenance/3.8.1a11/multiple.intoto.jsonl
  pyproject.toml
Due: black, ruff

move veritifcation method of route custom http code to BaseRouter.
  aws_lambda_powertools/event_handler/api_gateway.py
Due: black, ruff

Adding Guild as public ref
  README.md
  docs/index.md
Due: none

docs(public_reference): add Guild as a public reference (#6342)
  README.md
  docs/index.md
Due: none

fix: add validate function for route http code to APIGatewayResolver not Router
  aws_lambda_powertools/event_handler/api_gateway.py
Due: black, ruff

EOL v2
  docs/overrides/main.html
  docs/upgrade.md
  docs/versioning.md
Due: none

chore(documentation): v2 end of support (#6343)
  docs/overrides/main.html
  docs/upgrade.md
  docs/versioning.md
Due: none

feat: add custom_response_validation_http_code to the routes of Bedrock
  aws_lambda_powertools/event_handler/bedrock_agent.py
Due: black, ruff

fix: make mypy happy
  aws_lambda_powertools/event_handler/api_gateway.py
Due: black, ruff

chore(ci): bump version to 3.9.0
  aws_lambda_powertools/shared/version.py
  pyproject.toml
Due: black, ruff

chore: version bump
  aws_lambda_powertools/shared/version.py
  pyproject.toml
Due: black, ruff

chore(ci): layer docs update
  CHANGELOG.md
  docs/includes/_layer_homepage_arm64.md
  docs/includes/_layer_homepage_x86.md
  docs/index.md
  examples/homepage/install/arm64/amplify.txt
  examples/homepage/install/arm64/cdk_arm64.py
  examples/homepage/install/arm64/pulumi_arm64.py
  examples/homepage/install/arm64/sam.yaml
  examples/homepage/install/arm64/serverless.yml
  examples/homepage/install/arm64/terraform.tf
  examples/homepage/install/x86_64/amplify.txt
  examples/homepage/install/x86_64/cdk_x86.py
  examples/homepage/install/x86_64/pulumi_x86.py
  examples/homepage/install/x86_64/sam.yaml
  examples/homepage/install/x86_64/serverless.yml
  examples/homepage/install/x86_64/terraform.tf
  examples/logger/sam/template.yaml
  examples/metrics/sam/template.yaml
  examples/metrics_datadog/sam/template.yaml
  examples/tracer/sam/template.yaml
Due: black, ruff, cloudformation

Adding SAR documentation
  docs/index.md
  examples/homepage/install/sar/cdk_sar.py
  examples/homepage/install/sar/sam.yaml
  examples/homepage/install/sar/scoped_down_iam.yaml
  examples/homepage/install/sar/serverless.yml
  examples/homepage/install/sar/terraform.tf
Due: black, ruff, cloudformation

docs(homepage): add SAR documentation (#6347)
  docs/index.md
  examples/homepage/install/sar/cdk_sar.py
  examples/homepage/install/sar/sam.yaml
  examples/homepage/install/sar/scoped_down_iam.yaml
  examples/homepage/install/sar/serverless.yml
  examples/homepage/install/sar/terraform.tf
Due: black, ruff, cloudformation

chore(ci): new pre-release 3.9.1a0
  aws_lambda_powertools/shared/version.py
  provenance/3.9.1a0/multiple.intoto.jsonl
  pyproject.toml
Due: black, ruff

chore(ci): new pre-release 3.9.1a1
  aws_lambda_powertools/shared/version.py
  provenance/3.9.1a1/multiple.intoto.jsonl
  pyproject.toml
Due: black, ruff

reformat bedrock response
  aws_lambda_powertools/event_handler/bedrock_agent.py
  tests/functional/event_handler/_pydantic/test_bedrock_agent.py
Due: black, ruff

fix type knowledge_base_config
  aws_lambda_powertools/event_handler/bedrock_agent.py
Due: black, ruff

fix type knowledge_base_config
  examples/event_handler_bedrock_agents/src/bedrockresponse.py
Due: black, ruff

feat(bedrock_agents): add optional fields to response payload
  aws_lambda_powertools/event_handler/__init__.py
  aws_lambda_powertools/event_handler/bedrock_agent.py
  docs/core/event_handler/bedrock_agents.md
  examples/event_handler_bedrock_agents/src/bedrockresponse.py
  tests/functional/event_handler/_pydantic/test_bedrock_agent.py
Due: black, ruff

fix bedrock response
  aws_lambda_powertools/event_handler/bedrock_agent.py
  tests/functional/event_handler/_pydantic/test_bedrock_agent.py
Due: black, ruff

mypy
  aws_lambda_powertools/event_handler/bedrock_agent.py
Due: black, ruff
