Repository aws-powertools/powertools-lambda-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff, cloudformation

.pre-commit-config.yaml:

# We use poetry to run formatting and linting before commit/push
# Longer checks such as tests, security and complexity baseline
# are run as part of CI to prevent slower feedback loop
# All checks can be run locally via `make pr`

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: "f71fa2c1f9cf5cb705f73dffe4b21f7c61470ba9" # v4.4.0
    hooks:
      - id: check-merge-conflict
      - id: trailing-whitespace
      - id: check-toml
  - repo: local
    hooks:
      - id: black
        name: formatting::black
        entry: poetry run black
        language: system
        types: [python]
      - id: ruff
        name: linting-format::ruff
        entry: poetry run ruff
        language: system
        types: [python]
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: "ce0d77ac47dc921b62429804fe763d4d35f66a76" # v0.34.0
    hooks:
      - id: markdownlint-docker
        args: ["--fix"]
  - repo: local
    hooks:
      - id: cloudformation
        name: linting::cloudformation
        entry: poetry run cfn-lint
        language: system
        types: [yaml]
        files: examples/.*
  - repo: https://github.com/rhysd/actionlint
    rev: "fd7ba3c382e13dcc0248e425b4cbc3f1185fa3ee" # v1.6.24
    hooks:
      - id: actionlint-docker
        args: [-pyflakes=]
  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: 3420134c37197c21edffc7e6093b14ffae8402f2 # v1.81.0
    hooks:
      - id: terraform_fmt
        args:
          - --args=-recursive
  - repo: https://github.com/gitleaks/gitleaks
    rev: "7804d652c0460f0b61ea9bb2c1f202bfcdbbf144" # v8.16.3
    hooks:
      - id: gitleaks

fix(ci): Tables are nicer
  .github/workflows/layer_govcloud.yml
  .github/workflows/layer_govcloud_verify.yml
Due: none

fix(ci): Tables are nicer (#5416)
  .github/workflows/layer_govcloud.yml
  .github/workflows/layer_govcloud_verify.yml
Due: none

Changing documentation and method names
  aws_lambda_powertools/logging/formatter.py
  aws_lambda_powertools/logging/logger.py
  docs/core/event_handler/api_gateway.md
  docs/core/logger.md
  examples/logger/src/thread_safe_append_keys.py
  examples/logger/src/thread_safe_append_keys_output.json
  examples/logger/src/thread_safe_clear_keys.py
  examples/logger/src/thread_safe_clear_keys_output.json
  examples/logger/src/thread_safe_get_current_keys.py
  examples/logger/src/thread_safe_remove_keys.py
  examples/logger/src/thread_safe_remove_keys_output.json
  tests/functional/event_handler/_pydantic/conftest.py
  tests/functional/logger/required_dependencies/test_logger_powertools_formatter.py
Due: black, ruff

Deployed c0e95523 to develop with MkDocs 1.6.1 and mike 2.1.3
  develop/Dockerfile
Due: none

feat(logger): add thread safe logging keys (#5141)
  aws_lambda_powertools/logging/formatter.py
  aws_lambda_powertools/logging/logger.py
  docs/core/event_handler/api_gateway.md
  docs/core/logger.md
  examples/logger/src/thread_safe_append_keys.py
  examples/logger/src/thread_safe_append_keys_output.json
  examples/logger/src/thread_safe_clear_keys.py
  examples/logger/src/thread_safe_clear_keys_output.json
  examples/logger/src/thread_safe_get_current_keys.py
  examples/logger/src/thread_safe_remove_keys.py
  examples/logger/src/thread_safe_remove_keys_output.json
  tests/functional/event_handler/_pydantic/conftest.py
  tests/functional/logger/required_dependencies/test_logger_powertools_formatter.py
Due: black, ruff

Deployed d3698d28 to develop with MkDocs 1.6.1 and mike 2.1.3
  develop/core/event_handler/api_gateway/index.html
  develop/core/logger/index.html
  develop/search/search_index.json
  develop/sitemap.xml.gz
Due: none

chore: version bump
  aws_lambda_powertools/shared/version.py
  pyproject.toml
Due: black, ruff

chore(ci): bump version to 3.2.0
  aws_lambda_powertools/shared/version.py
  pyproject.toml
Due: black, ruff

Bumping version
  docs/includes/_layer_homepage_arm64.md
  docs/includes/_layer_homepage_x86.md
  docs/index.md
  examples/homepage/install/arm64/amplify.txt
  examples/homepage/install/arm64/cdk_arm64.py
  examples/homepage/install/arm64/pulumi_arm64.py
  examples/homepage/install/arm64/sam.yaml
  examples/homepage/install/arm64/serverless.yml
  examples/homepage/install/arm64/terraform.tf
  examples/homepage/install/x86_64/amplify.txt
  examples/homepage/install/x86_64/cdk_x86.py
  examples/homepage/install/x86_64/pulumi_x86.py
  examples/homepage/install/x86_64/sam.yaml
  examples/homepage/install/x86_64/serverless.yml
  examples/homepage/install/x86_64/terraform.tf
  examples/logger/sam/template.yaml
  examples/metrics/sam/template.yaml
  examples/metrics_datadog/sam/template.yaml
  examples/tracer/sam/template.yaml
Due: black, ruff, cloudformation

docs(layer): update layer version number - v3.2.0 (#5426)
  docs/includes/_layer_homepage_arm64.md
  docs/includes/_layer_homepage_x86.md
  docs/index.md
  examples/homepage/install/arm64/amplify.txt
  examples/homepage/install/arm64/cdk_arm64.py
  examples/homepage/install/arm64/pulumi_arm64.py
  examples/homepage/install/arm64/sam.yaml
  examples/homepage/install/arm64/serverless.yml
  examples/homepage/install/arm64/terraform.tf
  examples/homepage/install/x86_64/amplify.txt
  examples/homepage/install/x86_64/cdk_x86.py
  examples/homepage/install/x86_64/pulumi_x86.py
  examples/homepage/install/x86_64/sam.yaml
  examples/homepage/install/x86_64/serverless.yml
  examples/homepage/install/x86_64/terraform.tf
  examples/logger/sam/template.yaml
  examples/metrics/sam/template.yaml
  examples/metrics_datadog/sam/template.yaml
  examples/tracer/sam/template.yaml
Due: black, ruff, cloudformation

chore(ci): changelog rebuild
  CHANGELOG.md
Due: none

Deployed 07c0db15 to develop with MkDocs 1.6.1 and mike 2.1.3
  develop/changelog/index.html
  develop/search/search_index.json
Due: none

add line highlights and fix sub header typo
  docs/utilities/parser.md
  examples/parser/src/bring_your_own_envelope.py
  examples/parser/src/envelope_with_event_parser.py
  examples/parser/src/field_validator.py
  examples/parser/src/field_validator_all_values.py
  examples/parser/src/getting_started_with_parser.py
  examples/parser/src/model_validator.py
  examples/parser/src/parser_function.py
  examples/parser/src/string_fields_contain_json_pydantic_validator.py
Due: black, ruff

fix(ci): remove space
  .github/workflows/layer_govcloud.yml
Due: none

fix(ci): remove space (#5433)
  .github/workflows/layer_govcloud.yml
Due: none

chore(ci): new pre-release 3.2.1a0
  aws_lambda_powertools/shared/version.py
  provenance/3.2.1a0/multiple.intoto.jsonl
  pyproject.toml
Due: black, ruff

fix(ci): Update output to something easily copy/pasteable
  .github/workflows/layer_govcloud_verify.yml
Due: none

fix(ci): Update output to something easily copy/pasteable (#5435)
  .github/workflows/layer_govcloud_verify.yml
Due: none

Deployed 41134462 to develop with MkDocs 1.6.1 and mike 2.1.3
  develop/changelog/index.html
  develop/search/search_index.json
  develop/sitemap.xml.gz
Due: none

Making mypy happy
  aws_lambda_powertools/event_handler/middlewares/openapi_validation.py
  aws_lambda_powertools/event_handler/openapi/encoders.py
  aws_lambda_powertools/utilities/idempotency/serialization/dataclass.py
Due: black, ruff

chore(ci): new pre-release 3.2.1a1
  aws_lambda_powertools/shared/version.py
  provenance/3.2.1a1/multiple.intoto.jsonl
  pyproject.toml
Due: black, ruff

V4 comment
  aws_lambda_powertools/event_handler/appsync.py
Due: black, ruff

Bumping pydantic version
  poetry.lock
  pyproject.toml
Due: none

Bumping pydantic version
  docs/utilities/parser.md
Due: none

chore(ci): bump minimum required pydantic version (#5446)
  docs/utilities/parser.md
  poetry.lock
  pyproject.toml
Due: none

Deployed c11d25c5 to develop with MkDocs 1.6.1 and mike 2.1.3
  develop/search/search_index.json
  develop/utilities/parser/index.html
Due: none

Reverting test
  tests/e2e/event_handler_appsync/handlers/appsync_resolver_handler.py
Due: black, ruff

fix(appsync): make contextual data accessible for async functions (#5317)
  aws_lambda_powertools/event_handler/appsync.py
  docs/core/event_handler/appsync.md
  tests/functional/event_handler/required_dependencies/appsync/test_appsync_batch_resolvers.py
  tests/functional/event_handler/required_dependencies/appsync/test_appsync_single_resolvers.py
Due: black, ruff

Deployed ccfbc948 to develop with MkDocs 1.6.1 and mike 2.1.3
  develop/core/event_handler/appsync/index.html
  develop/search/search_index.json
Due: none

Deployed fa1c29f2 to develop with MkDocs 1.6.1 and mike 2.1.3
  develop/changelog/index.html
  develop/search/search_index.json
Due: none

feat(event_source): Extend CodePipeline Artifact Capabilities
  aws_lambda_powertools/utilities/data_classes/code_pipeline_job_event.py
  docs/utilities/data_classes.md
  tests/events/codePipelineEventData.json
  tests/unit/data_classes/_boto3/test_code_pipeline_job_event.py
Due: black, ruff

Passing the method implementation to the formatter class
  aws_lambda_powertools/logging/formatter.py
  aws_lambda_powertools/logging/logger.py
Due: black, ruff

Add IoT crud event
  aws_lambda_powertools/utilities/parser/models/iot_core_crud_event.py
Due: black, ruff

Fix typo
  aws_lambda_powertools/utilities/parser/models/iot_core_crud_event.py
Due: black, ruff

modify logger tests
  tests/functional/logger/required_dependencies/test_logger.py
Due: black, ruff

add examples to doc
  docs/core/logger.md
  examples/logger/src/append_context_keys.json
  examples/logger/src/append_context_keys.py
Due: black, ruff
