Repository aws-powertools/powertools-lambda-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff, cloudformation

.pre-commit-config.yaml:

# We use poetry to run formatting and linting before commit/push
# Longer checks such as tests, security and complexity baseline
# are run as part of CI to prevent slower feedback loop
# All checks can be run locally via `make pr`

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: "f71fa2c1f9cf5cb705f73dffe4b21f7c61470ba9" # v4.4.0
    hooks:
      - id: check-merge-conflict
      - id: trailing-whitespace
      - id: check-toml
  - repo: local
    hooks:
      - id: black
        name: formatting::black
        entry: poetry run black
        language: system
        types: [python]
      - id: ruff
        name: linting-format::ruff
        entry: poetry run ruff
        language: system
        types: [python]
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: "ce0d77ac47dc921b62429804fe763d4d35f66a76" # v0.34.0
    hooks:
      - id: markdownlint-docker
        args: ["--fix"]
  - repo: local
    hooks:
      - id: cloudformation
        name: linting::cloudformation
        entry: poetry run cfn-lint
        language: system
        types: [yaml]
        files: examples/.*
  - repo: https://github.com/rhysd/actionlint
    rev: "fd7ba3c382e13dcc0248e425b4cbc3f1185fa3ee" # v1.6.24
    hooks:
      - id: actionlint-docker
        args: [-pyflakes=]
  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: 3420134c37197c21edffc7e6093b14ffae8402f2 # v1.81.0
    hooks:
      - id: terraform_fmt
        args:
          - --args=-recursive
  - repo: https://github.com/gitleaks/gitleaks
    rev: "7804d652c0460f0b61ea9bb2c1f202bfcdbbf144" # v8.16.3
    hooks:
      - id: gitleaks

Deployed 5385c472 to develop with MkDocs 1.6.0 and mike 2.1.1
  develop/changelog/index.html
  develop/search/search_index.json
Due: none

Addressing Heitor's feedback
  aws_lambda_powertools/event_handler/appsync.py
  tests/functional/event_handler/required_dependencies/test_appsync.py
Due: black, ruff

Refactoring to support aggregate events
  aws_lambda_powertools/event_handler/appsync.py
  aws_lambda_powertools/event_handler/graphql_appsync/_registry.py
  aws_lambda_powertools/event_handler/graphql_appsync/base.py
  aws_lambda_powertools/event_handler/graphql_appsync/exceptions.py
  aws_lambda_powertools/event_handler/graphql_appsync/router.py
  tests/e2e/event_handler_appsync/files/schema.graphql
  tests/e2e/event_handler_appsync/handlers/appsync_resolver_handler.py
  tests/e2e/event_handler_appsync/infrastructure.py
  tests/e2e/event_handler_appsync/test_appsync_resolvers.py
  tests/functional/event_handler/required_dependencies/appsync/__init__.py
  tests/functional/event_handler/required_dependencies/appsync/test_appsync_batch_resolvers.py
  tests/functional/event_handler/required_dependencies/appsync/test_appsync_single_resolvers.py
Due: black, ruff

Refactoring examples + docs
  docs/core/event_handler/appsync.md
  examples/event_handler_graphql/src/getting_started_with_batch_async_resolver.py
  examples/event_handler_graphql/src/getting_started_with_batch_resolver_handling_error.py
  examples/event_handler_graphql/src/getting_started_with_batch_resolver_individual.py
  examples/event_handler_graphql/src/getting_started_with_batch_resolver_payload.json
Due: black, ruff

chore(ci): new pre-release 2.39.2a3
  aws_lambda_powertools/shared/version.py
  provenance/2.39.2a3/multiple.intoto.jsonl
  pyproject.toml
Due: black, ruff

update docstrings
  aws_lambda_powertools/utilities/parser/parser.py
Due: black, ruff

Update docs/utilities/parser.md
  docs/utilities/parser.md
Due: none

chore(ci): changelog rebuild
  CHANGELOG.md
Due: none

Addressing Heitor's feedback
  aws_lambda_powertools/event_handler/appsync.py
  tests/e2e/event_handler_appsync/test_appsync_resolvers.py
  tests/functional/event_handler/required_dependencies/appsync/test_appsync_batch_resolvers.py
Due: black, ruff

update doc string
  aws_lambda_powertools/utilities/parser/envelopes/base.py
Due: black, ruff

add cache to parser to improve perf
  aws_lambda_powertools/utilities/parser/parser.py
Due: black, ruff

fix types in the test
  examples/parser/src/multiple_model_parsing.py
Due: black, ruff

Final adjusts
  aws_lambda_powertools/utilities/parser/__init__.py
  aws_lambda_powertools/utilities/parser/compat.py
  aws_lambda_powertools/utilities/parser/envelopes/base.py
  aws_lambda_powertools/utilities/parser/functions.py
  aws_lambda_powertools/utilities/parser/parser.py
  aws_lambda_powertools/utilities/parser/pydantic.py
  aws_lambda_powertools/utilities/parser/types.py
  examples/batch_processing/src/pydantic_dynamodb.py
  tests/e2e/parser/__init__.py
  tests/e2e/parser/conftest.py
  tests/e2e/parser/handlers/handler_with_basic_model.py
  tests/e2e/parser/handlers/handler_with_dataclass.py
  tests/e2e/parser/handlers/handler_with_union_tag.py
  tests/e2e/parser/infrastructure.py
  tests/e2e/parser/test_parser.py
  tests/performance/parser/__init__.py
  tests/performance/parser/test_parser_performance.py
  tests/performance/test_high_level_imports.py
Due: black, ruff

Making mypy happy
  tests/e2e/parser/handlers/handler_with_union_tag.py
  tests/performance/parser/test_parser_performance.py
Due: black, ruff

Making pytest happy
  tests/performance/parser/test_parser_performance.py
Due: black, ruff

chore(ci): new pre-release 2.39.2a4
  aws_lambda_powertools/shared/version.py
  provenance/2.39.2a4/multiple.intoto.jsonl
  pyproject.toml
Due: black, ruff

Addressing Heitor's feedback
  docs/utilities/parser.md
Due: none

feat(parser): Allow primitive data types to be parsed using TypeAdapter (#4502)
  aws_lambda_powertools/utilities/parser/__init__.py
  aws_lambda_powertools/utilities/parser/compat.py
  aws_lambda_powertools/utilities/parser/envelopes/base.py
  aws_lambda_powertools/utilities/parser/functions.py
  aws_lambda_powertools/utilities/parser/parser.py
  aws_lambda_powertools/utilities/parser/pydantic.py
  aws_lambda_powertools/utilities/parser/types.py
  docs/utilities/parser.md
  examples/batch_processing/src/pydantic_dynamodb.py
  examples/parser/src/multiple_model_parsing.py
  tests/e2e/parser/__init__.py
  tests/e2e/parser/conftest.py
  tests/e2e/parser/handlers/handler_with_basic_model.py
  tests/e2e/parser/handlers/handler_with_dataclass.py
  tests/e2e/parser/handlers/handler_with_union_tag.py
  tests/e2e/parser/infrastructure.py
  tests/e2e/parser/test_parser.py
  tests/functional/parser/test_parser.py
  tests/performance/parser/__init__.py
  tests/performance/parser/test_parser_performance.py
  tests/performance/test_high_level_imports.py
Due: black, ruff

Adding aws-encryption-sdk
  poetry.lock
  pyproject.toml
Due: none

docs: add diagram to visualize n+1 problem
  docs/core/event_handler/appsync.md
Due: none

docs: improve wording in lambda invoke
  docs/core/event_handler/appsync.md
Due: none

docs: add diagram where n+1 problem shifts to Lambda runtime
  docs/core/event_handler/appsync.md
Due: none

Deployed ce1ea742 to develop with MkDocs 1.6.0 and mike 2.1.2
  develop/changelog/index.html
  develop/search/search_index.json
  develop/sitemap.xml.gz
Due: none

docs: add diagram where n+1 problem shifts to Lambda runtime w/ error handling
  docs/core/event_handler/appsync.md
Due: none

docs: highlight lambda response for non-errors
  docs/core/event_handler/appsync.md
Due: none

docs(setup): increase table of contents depth to 5 to help redis and other subsections
  mkdocs.yml
Due: none

Adding examples
  examples/event_handler_graphql/src/getting_started_with_batch_async_resolver.py
  examples/event_handler_graphql/src/getting_started_with_batch_resolver.py
Due: black, ruff

docs: explain N+1 problem and organize content into sub-sections
  docs/core/event_handler/appsync.md
Due: none

docs: clean up batch resolvers section; add typing
  docs/core/event_handler/appsync.md
  examples/event_handler_graphql/src/getting_started_with_batch_resolver.py
Due: black, ruff

docs: clean up no-aggregate processing section
  docs/core/event_handler/appsync.md
Due: none

docs: clean up raise on error section
  docs/core/event_handler/appsync.md
Due: none

Adding examples
  aws_lambda_powertools/utilities/data_classes/appsync_resolver_event.py
  docs/core/event_handler/appsync.md
  examples/event_handler_graphql/src/getting_started_with_batch_async_resolver.py
  examples/event_handler_graphql/src/getting_started_with_batch_query.graphql
  examples/event_handler_graphql/src/getting_started_with_batch_resolver.py
  examples/event_handler_graphql/src/getting_started_with_batch_resolver_payload.json
Due: black, ruff

docs: clean up async section
  docs/core/event_handler/appsync.md
  examples/event_handler_graphql/src/getting_started_with_batch_async_resolver.py
Due: black, ruff

docs: fix highlights, add missing code annotation
  docs/core/event_handler/appsync.md
  examples/event_handler_graphql/src/getting_started_with_batch_async_resolver.py
  examples/event_handler_graphql/src/getting_started_with_batch_async_resolver_payload.json
Due: black, ruff

docs: rename snippets to match advanced section
  docs/core/event_handler/appsync.md
  examples/event_handler_graphql/src/advanced_batch_async_resolver.py
  examples/event_handler_graphql/src/advanced_batch_query.graphql
  examples/event_handler_graphql/src/advanced_batch_resolver.py
  examples/event_handler_graphql/src/advanced_batch_resolver_handling_error.py
  examples/event_handler_graphql/src/advanced_batch_resolver_individual.py
  examples/event_handler_graphql/src/advanced_batch_resolver_payload.json
Due: black, ruff

Merging from develop
  poetry.lock
Due: none

Tests
  tests/unit/data_classes/required_dependencies/test_appsync_resolver_event.py
Due: black, ruff

feat(event-handler): add appsync batch resolvers (#1998)
  aws_lambda_powertools/event_handler/appsync.py
  aws_lambda_powertools/event_handler/graphql_appsync/__init__.py
  aws_lambda_powertools/event_handler/graphql_appsync/_registry.py
  aws_lambda_powertools/event_handler/graphql_appsync/base.py
  aws_lambda_powertools/event_handler/graphql_appsync/exceptions.py
  aws_lambda_powertools/event_handler/graphql_appsync/router.py
  aws_lambda_powertools/utilities/data_classes/appsync_resolver_event.py
  aws_lambda_powertools/utilities/parameters/secrets.py
  docs/core/event_handler/appsync.md
  examples/event_handler_graphql/sam/template.yaml
  examples/event_handler_graphql/src/advanced_batch_async_resolver.py
  examples/event_handler_graphql/src/advanced_batch_query.graphql
  examples/event_handler_graphql/src/advanced_batch_resolver.py
  examples/event_handler_graphql/src/advanced_batch_resolver_handling_error.py
  examples/event_handler_graphql/src/advanced_batch_resolver_individual.py
  examples/event_handler_graphql/src/advanced_batch_resolver_payload.json
  examples/event_handler_graphql/src/custom_models.py
  examples/event_handler_graphql/src/enable_exceptions_batch_resolver.py
  examples/event_handler_graphql/src/enable_exceptions_batch_resolver_payload.json
  examples/event_handler_graphql/src/split_operation_append_context_module.py
  examples/event_handler_graphql/src/split_operation_module.py
  mkdocs.yml
  poetry.lock
  pyproject.toml
  tests/e2e/event_handler_appsync/__init__.py
  tests/e2e/event_handler_appsync/conftest.py
  tests/e2e/event_handler_appsync/files/schema.graphql
  tests/e2e/event_handler_appsync/handlers/appsync_resolver_handler.py
  tests/e2e/event_handler_appsync/infrastructure.py
  tests/e2e/event_handler_appsync/test_appsync_resolvers.py
  tests/functional/event_handler/required_dependencies/appsync/__init__.py
  tests/functional/event_handler/required_dependencies/appsync/test_appsync_batch_resolvers.py
  tests/functional/event_handler/required_dependencies/appsync/test_appsync_single_resolvers.py
  tests/unit/data_classes/required_dependencies/test_appsync_resolver_event.py
Due: black, ruff, cloudformation

Deployed 94f3fe50 to develop with MkDocs 1.6.0 and mike 2.1.2
  develop/core/event_handler/api_gateway/index.html
  develop/core/event_handler/appsync/index.html
  develop/search/search_index.json
  develop/utilities/data_masking/index.html
Due: none
