Repository aws-powertools/powertools-lambda-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff, cloudformation

black:
  name: formatting::black
  entry: poetry run black
  language: system

ruff:
  name: linting-format::ruff
  entry: poetry run ruff
  language: system

cloudformation:
  name: linting::cloudformation
  entry: poetry run cfn-lint
  language: system

Adding build recipes section
  examples/build_recipes/pants/basic_pants/BUILD
  examples/build_recipes/pants/multi-target/BUILD
  examples/build_recipes/pip/requirements-app.txt
  examples/build_recipes/pip/requirements.txt
  examples/build_recipes/sam/no-layers/requirements.txt
  examples/build_recipes/sam/with-layers/layers/dependencies/requirements.txt
  examples/build_recipes/uv/pyproject.toml
Due: none

Adding build recipes section
  examples/build_recipes/pants/basic_pants/BUILD
Due: none

Adding build recipes section
  docs/build_recipes.md
  examples/build_recipes/cdk/multi-stack/src/app/__init__.py
  examples/build_recipes/cdk/multi-stack/src/app/api.py
  examples/build_recipes/cdk/multi-stack/stacks/powertools_cdk_stack.py
  examples/build_recipes/pants/multi-target/app/handler.py
  examples/build_recipes/sam/with-layers/src/app/app_sam_layer.py
  examples/build_recipes/sam/with-layers/template.yaml
Due: black, ruff, cloudformation

chore(ci): new pre-release 3.18.1a9
  aws_lambda_powertools/shared/version.py
  provenance/3.18.1a9/multiple.intoto.jsonl
  pyproject.toml
Due: black, ruff

chore(ci): bump version to 3.19.0
  aws_lambda_powertools/shared/version.py
  pyproject.toml
Due: black, ruff

chore: version bump
  aws_lambda_powertools/shared/version.py
  pyproject.toml
Due: black, ruff

Adding build recipes section
  examples/build_recipes/cdk/multi-stack/src/app/__init__.py
Due: black, ruff

Adding build recipes section
  docs/build_recipes.md
Due: none

chore(ci): layer docs update
  CHANGELOG.md
  docs/includes/_layer_homepage_arm64.md
  docs/includes/_layer_homepage_x86.md
  docs/index.md
  examples/homepage/install/arm64/amplify.txt
  examples/homepage/install/arm64/cdk_arm64.py
  examples/homepage/install/arm64/pulumi_arm64.py
  examples/homepage/install/arm64/sam.yaml
  examples/homepage/install/arm64/serverless.yml
  examples/homepage/install/arm64/terraform.tf
  examples/homepage/install/x86_64/amplify.txt
  examples/homepage/install/x86_64/cdk_x86.py
  examples/homepage/install/x86_64/pulumi_x86.py
  examples/homepage/install/x86_64/sam.yaml
  examples/homepage/install/x86_64/serverless.yml
  examples/homepage/install/x86_64/terraform.tf
  examples/logger/sam/template.yaml
  examples/metrics/sam/template.yaml
  examples/metrics_datadog/sam/template.yaml
  examples/tracer/sam/template.yaml
Due: black, ruff, cloudformation

Fix sonar issues
  examples/build_recipes/poetry/Dockerfile.poetry
Due: none

chore(ci): changelog rebuild
  CHANGELOG.md
Due: none

Reorganizing docs files
  docs/build_recipes.md
  docs/build_recipes/build-with-cdk.md
  docs/build_recipes/build-with-pants.md
  docs/build_recipes/build-with-pip.md
  docs/build_recipes/build-with-poetry.md
  docs/build_recipes/build-with-sam.md
  docs/build_recipes/build-with-uv.md
  docs/build_recipes/cicd-integration.md
  docs/build_recipes/cross-platform.md
  docs/build_recipes/getting-started.md
  docs/build_recipes/index.md
  docs/build_recipes/performance-optimization.md
  docs/build_recipes/troubleshooting.md
  examples/build_recipes/build_multi_arch/Dockerfile.lambda
  examples/build_recipes/build_multi_arch/build-al2.sh
  examples/build_recipes/build_multi_arch/build-al2023.sh
  examples/build_recipes/build_multi_arch/build-linux-wheels.sh
  examples/build_recipes/build_multi_arch/debug-arch-mismatch.sh
  examples/build_recipes/build_multi_arch/debug-glibc.sh
  examples/build_recipes/build_multi_arch/debug-missing-libs.sh
  examples/build_recipes/build_multi_arch/lambda-build.yml
  examples/build_recipes/build_multi_arch/requirements-all-extras.txt
  examples/build_recipes/build_multi_arch/requirements-arch-dependent.txt
  examples/build_recipes/build_multi_arch/requirements-safe-extras.txt
  examples/build_recipes/cdk/basic/cdk-commands.sh
  examples/build_recipes/cdk/basic/setup-cdk.sh
  examples/build_recipes/pip/build-cross-platform.sh
  examples/build_recipes/pip/build-with-layer.sh
  examples/build_recipes/pip/build.sh
  examples/build_recipes/poetry/Dockerfile.poetry
  examples/build_recipes/poetry/build-poetry-cross-platform.sh
  examples/build_recipes/poetry/build-poetry-native.sh
  examples/build_recipes/poetry/build-with-poetry.sh
  examples/build_recipes/uv/build-uv-cross-platform.sh
  examples/build_recipes/uv/build-uv-locked.sh
  examples/build_recipes/uv/build-uv.sh
  mkdocs.yml
Due: cloudformation

chore(ci): new pre-release 3.19.1a0
  aws_lambda_powertools/shared/version.py
  provenance/3.19.1a0/multiple.intoto.jsonl
  pyproject.toml
Due: black, ruff

Adding initial structure
  mkdocs.yml
Due: none

chore: update PR template
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

chore(ci): new pre-release 3.19.1a1
  aws_lambda_powertools/shared/version.py
  provenance/3.19.1a1/multiple.intoto.jsonl
  pyproject.toml
Due: black, ruff

chore(automation): update PR template to include closes command (#7173)
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

docs(build_recipes): add initial build recipes structure (#7163)
  .pre-commit-config.yaml
  docs/build_recipes/getting-started.md
  docs/build_recipes/index.md
  mkdocs.yml
Due: none

Adding CICD page
  docs/build_recipes/cicd-integration.md
  examples/build_recipes/cicd/codebuild/buildspec-advanced.yml
  examples/build_recipes/cicd/codebuild/buildspec.yml
  examples/build_recipes/cicd/github-actions/deploy-build-tools.yml
  examples/build_recipes/cicd/github-actions/deploy-modern.yml
  examples/build_recipes/cicd/github-actions/deploy-multi-env.yml
  examples/build_recipes/cicd/github-actions/deploy-s3.yml
  examples/build_recipes/cicd/github-actions/deploy-simple.yml
  mkdocs.yml
Due: cloudformation

chore(ci): new pre-release 3.19.1a2
  aws_lambda_powertools/shared/version.py
  provenance/3.19.1a2/multiple.intoto.jsonl
  pyproject.toml
Due: black, ruff

refactor(parser): address PR review feedback for DynamoDB models
  aws_lambda_powertools/utilities/parser/models/dynamodb.py
Due: black, ruff

docs(build_recipes): add cicd page (#7176)
  docs/build_recipes/cicd-integration.md
  examples/build_recipes/cicd/codebuild/buildspec-advanced.yml
  examples/build_recipes/cicd/codebuild/buildspec.yml
  examples/build_recipes/cicd/github-actions/deploy-build-tools.yml
  examples/build_recipes/cicd/github-actions/deploy-modern.yml
  examples/build_recipes/cicd/github-actions/deploy-multi-env.yml
  examples/build_recipes/cicd/github-actions/deploy-s3.yml
  examples/build_recipes/cicd/github-actions/deploy-simple.yml
  mkdocs.yml
Due: cloudformation

Addressing changes
  aws_lambda_powertools/utilities/parser/models/dynamodb.py
Due: black, ruff

refactor(parser): Improve DynamoDB models with examples and descriptions (#7146)
  aws_lambda_powertools/utilities/parser/models/dynamodb.py
Due: black, ruff

Adding troubleshooting page
  docs/build_recipes/troubleshooting.md
  examples/build_recipes/troubleshooting/debug-import-errors.sh
  examples/build_recipes/troubleshooting/fix-architecture-mismatch.sh
  examples/build_recipes/troubleshooting/fix-build-inconsistencies.sh
  examples/build_recipes/troubleshooting/fix-layer-compatibility.sh
  examples/build_recipes/troubleshooting/optimize-cold-starts.sh
  examples/build_recipes/troubleshooting/optimize-package-size.sh
  mkdocs.yml
Due: none

Adding troubleshooting page
  examples/build_recipes/troubleshooting/fix-layer-compatibility.sh
  examples/build_recipes/troubleshooting/optimize-cold-starts.sh
Due: none

docs(build_recipes): add troubleshooting page (#7195)
  docs/build_recipes/troubleshooting.md
  examples/build_recipes/troubleshooting/debug-import-errors.sh
  examples/build_recipes/troubleshooting/fix-architecture-mismatch.sh
  examples/build_recipes/troubleshooting/fix-build-inconsistencies.sh
  examples/build_recipes/troubleshooting/fix-layer-compatibility.sh
  examples/build_recipes/troubleshooting/optimize-cold-starts.sh
  examples/build_recipes/troubleshooting/optimize-package-size.sh
  mkdocs.yml
Due: none

Adding build page
  docs/build_recipes/performance-optimization.md
  examples/build_recipes/build_optimization/optimize-advanced.sh
  examples/build_recipes/build_optimization/optimize-layer.sh
  examples/build_recipes/build_optimization/optimize-package.sh
  mkdocs.yml
Due: none

Adding build page
  .github/workflows/quality_check.yml
Due: none

Path conditions:
  black: any of: \.py$
  ruff: any of: \.py$
  cloudformation: any of: examples/.* and \.(yaml|yml)$
