Repository aws-powertools/powertools-lambda-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff, cloudformation

.pre-commit-config.yaml:

# We use poetry to run formatting and linting before commit/push
# Longer checks such as tests, security and complexity baseline
# are run as part of CI to prevent slower feedback loop
# All checks can be run locally via `make pr`

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: "f71fa2c1f9cf5cb705f73dffe4b21f7c61470ba9" # v4.4.0
    hooks:
      - id: check-merge-conflict
      - id: trailing-whitespace
      - id: check-toml
  - repo: local
    hooks:
      - id: black
        name: formatting::black
        entry: poetry run black
        language: system
        types: [python]
      - id: ruff
        name: linting-format::ruff
        entry: poetry run ruff
        language: system
        types: [python]
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: "ce0d77ac47dc921b62429804fe763d4d35f66a76" # v0.34.0
    hooks:
      - id: markdownlint-docker
        args: ["--fix"]
  - repo: local
    hooks:
      - id: cloudformation
        name: linting::cloudformation
        entry: poetry run cfn-lint
        language: system
        types: [yaml]
        files: examples/.*
  - repo: https://github.com/rhysd/actionlint
    rev: "fd7ba3c382e13dcc0248e425b4cbc3f1185fa3ee" # v1.6.24
    hooks:
      - id: actionlint-docker
        args: [-pyflakes=]
  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: 3420134c37197c21edffc7e6093b14ffae8402f2 # v1.81.0
    hooks:
      - id: terraform_fmt
        args:
          - --args=-recursive
  - repo: https://github.com/gitleaks/gitleaks
    rev: "7804d652c0460f0b61ea9bb2c1f202bfcdbbf144" # v8.16.3
    hooks:
      - id: gitleaks

fix(event_handler): omit Content-Type header from OpenAPI
  aws_lambda_powertools/event_handler/openapi/schema_generator.py
  tests/functional/event_handler/_pydantic/test_openapi_params.py
  tests/functional/event_handler/_pydantic/test_openapi_validation_middleware.py
Due: black, ruff

fix(tracer): declare in_subsegment_async as an async context manager (#8367)
  aws_lambda_powertools/tracing/base.py
Due: black, ruff

fix(event_handler): omit Content-Type header from OpenAPI (#8374)
  aws_lambda_powertools/event_handler/openapi/schema_generator.py
  tests/functional/event_handler/_pydantic/test_openapi_params.py
  tests/functional/event_handler/_pydantic/test_openapi_validation_middleware.py
Due: black, ruff

chore(ci): bump version to 3.34.0
  aws_lambda_powertools/shared/version.py
  pyproject.toml
Due: black, ruff

chore: version bump
  aws_lambda_powertools/shared/version.py
  pyproject.toml
Due: black, ruff

chore(ci): layer docs update
  CHANGELOG.md
  docs/includes/_layer_homepage_arm64.md
  docs/includes/_layer_homepage_x86.md
  examples/build_recipes/cdk/basic/app.py
  examples/build_recipes/cdk/multi-stack/stacks/powertools_cdk_stack.py
  examples/build_recipes/sam/multi-env/template.yaml
  examples/build_recipes/sam/with-layers/template.yaml
  examples/homepage/install/arm64/amplify.txt
  examples/homepage/install/arm64/cdk_arm64.py
  examples/homepage/install/arm64/pulumi_arm64.py
  examples/homepage/install/arm64/sam.yaml
  examples/homepage/install/arm64/serverless.yml
  examples/homepage/install/arm64/terraform.tf
  examples/homepage/install/x86_64/amplify.txt
  examples/homepage/install/x86_64/cdk_x86.py
  examples/homepage/install/x86_64/pulumi_x86.py
  examples/homepage/install/x86_64/sam.yaml
  examples/homepage/install/x86_64/serverless.yml
  examples/homepage/install/x86_64/terraform.tf
  examples/logger/sam/template.yaml
  examples/metrics/sam/template.yaml
  examples/metrics_datadog/sam/template.yaml
  examples/tracer/sam/template.yaml
Due: black, ruff, cloudformation

fix(idempotency): Redis persistence layer reclaims live in-progress records as orphans, allowing concurrent double-execution
  aws_lambda_powertools/utilities/idempotency/persistence/redis.py
  tests/functional/idempotency/_redis/test_redis_layer.py
Due: black, ruff

fix(streaming): _S3SeekableIO.__next__/__iter__ don't advance self._position, corrupting subsequent seek()/read()
  aws_lambda_powertools/utilities/streaming/_s3_seekable_io.py
  tests/functional/streaming/_boto3/test_s3_seekable_io.py
Due: black, ruff

fix(metrics): stop spurious overwrite warnings from set_default_dimensions
  aws_lambda_powertools/metrics/metrics.py
  aws_lambda_powertools/metrics/provider/cloudwatch_emf/cloudwatch.py
  tests/functional/metrics/required_dependencies/test_metrics_cloudwatch_emf.py
Due: black, ruff

fix(metrics): warnings when there are default_dimensions
  aws_lambda_powertools/metrics/metrics.py
  aws_lambda_powertools/metrics/provider/cloudwatch_emf/cloudwatch.py
  tests/functional/metrics/required_dependencies/test_metrics_cloudwatch_emf.py
Due: black, ruff

squash! fix(metrics): warnings when there are default_dimensions
  aws_lambda_powertools/metrics/base.py
  aws_lambda_powertools/metrics/provider/cloudwatch_emf/cloudwatch.py
Due: black, ruff

perf(parser): lazy-load envelopes and BaseEnvelope to reduce cold start latency
  aws_lambda_powertools/utilities/parser/__init__.py
  tests/functional/parser/test_parser.py
Due: black, ruff

chore: ignore new Ruff positional argument rule
  ruff.toml
Due: none

fix(idempotency): is_missing_idempotency_key iterates dict keys instead of values
  aws_lambda_powertools/utilities/idempotency/persistence/base.py
  tests/functional/idempotency/_boto3/test_idempotency.py
Due: black, ruff

test(idempotency): cover missing dictionary keys
  aws_lambda_powertools/utilities/idempotency/persistence/base.py
  tests/functional/idempotency/_boto3/test_idempotency.py
Due: black, ruff

fix(idempotency): is_missing_idempotency_key iterates dict keys instead of values (#8391)
  aws_lambda_powertools/utilities/idempotency/persistence/base.py
  tests/functional/idempotency/_boto3/test_idempotency.py
Due: black, ruff

fix(typing): use Any instead of the builtin any in e2e data fetcher annotations
  tests/e2e/utils/data_fetcher/logs.py
  tests/e2e/utils/data_fetcher/traces.py
Due: black, ruff

test(idempotency): cover concurrent cache execution
  aws_lambda_powertools/utilities/idempotency/persistence/redis.py
  tests/functional/idempotency/_redis/test_redis_layer.py
Due: black, ruff

fix(idempotency): Redis persistence layer reclaims live in-progress records as orphans, allowing concurrent double-execution (#8387)
  aws_lambda_powertools/utilities/idempotency/persistence/redis.py
  tests/functional/idempotency/_redis/test_redis_layer.py
Due: black, ruff

fix(metrics): preserve shared default_dimensions dict in provider
  aws_lambda_powertools/metrics/provider/cloudwatch_emf/cloudwatch.py
  tests/functional/metrics/required_dependencies/test_metrics_cloudwatch_emf.py
Due: black, ruff

fix(ci): omit null layer metadata fields
  .github/workflows/layers_partitions.yml
Due: none

chore(ci): omit null layer metadata fields (#8416)
  .github/workflows/layers_partitions.yml
Due: none

chore(ci): add partition layer balancer
  .github/workflows/layer_govcloud.yml
  .github/workflows/layer_govcloud_python313.yml
  .github/workflows/layers_partition_balance.yml
  .github/workflows/layers_partitions.yml
Due: none

chore(ci): add partition layer balancer (#8419)
  .github/workflows/layer_govcloud.yml
  .github/workflows/layer_govcloud_python313.yml
  .github/workflows/layers_partition_balance.yml
  .github/workflows/layers_partitions.yml
Due: none

chore(ci): mirror source layer visibility
  .github/workflows/layers_partition_balance.yml
  .github/workflows/layers_partitions.yml
Due: none

chore(ci): enforce partition layer version parity
  .github/workflows/layers_partitions.yml
Due: none

fix(feature_flags): handle same-hour midnight rollover and reject malformed HH:MM
  aws_lambda_powertools/utilities/feature_flags/comparators.py
  aws_lambda_powertools/utilities/feature_flags/constants.py
  tests/functional/feature_flags/_boto3/test_schema_validation.py
  tests/functional/feature_flags/_boto3/test_time_based_actions.py
Due: black, ruff

fix(feature_flags): missing context key never satisfies a condition
  aws_lambda_powertools/utilities/feature_flags/feature_flags.py
  docs/utilities/feature_flags.md
  tests/functional/feature_flags/_boto3/test_feature_flags.py
Due: black, ruff

chore(feature_flags): warn on empty schema and empty rules
  aws_lambda_powertools/utilities/feature_flags/schema.py
  tests/functional/feature_flags/_boto3/test_schema_validation.py
Due: black, ruff

perf(feature_flags): validate schema once per fetched document
  aws_lambda_powertools/utilities/feature_flags/appconfig.py
  aws_lambda_powertools/utilities/feature_flags/feature_flags.py
  tests/functional/feature_flags/_boto3/test_feature_flags.py
Due: black, ruff

fix(feature_flags): keep exception handlers reachable for missing context keys
  aws_lambda_powertools/utilities/feature_flags/feature_flags.py
  tests/functional/feature_flags/_boto3/test_feature_flags.py
Due: black, ruff

ref(ci): centralize layer policy classification
  .github/scripts/layer_policy_visibility.sh
  .github/workflows/layers_partition_balance.yml
  .github/workflows/layers_partitions.yml
Due: none

chore(ci): mirror commercial layer visibility (#8422)
  .github/scripts/layer_policy_visibility.sh
  .github/workflows/layers_partition_balance.yml
  .github/workflows/layers_partitions.yml
Due: none

chore: add documentation
  docs/utilities/kafka.md
Due: none

feat: add optional args to 'SchemaConfig' for ignoring prefix
  aws_lambda_powertools/utilities/kafka/consumer_records.py
  aws_lambda_powertools/utilities/kafka/deserializer/avro.py
  aws_lambda_powertools/utilities/kafka/deserializer/deserializer.py
  aws_lambda_powertools/utilities/kafka/schema_config.py
  tests/functional/kafka_consumer/_avro/test_kafka_consumer_with_avro.py
Due: black, ruff

fix(parameters): honor auto transform in batched get_parameters_by_name
  aws_lambda_powertools/utilities/parameters/ssm.py
  tests/functional/parameters/_boto3/test_utilities_parameters.py
Due: black, ruff

fix(docs): keep China layer versions aligned
  .github/workflows/publish_v3_layer.yml
  docs/getting-started/install.md
  docs/maintainers.md
  layer_v3/scripts/update_layer_arn_v3.sh
Due: none

chore(ci): retire Python 3.9 layer automation
  .github/workflows/bootstrap_region.yml
  .github/workflows/layer_govcloud.yml
  .github/workflows/layer_govcloud_verify.yml
  .github/workflows/layers_partition_verify.yml
  .github/workflows/layers_partitions.yml
Due: none
