Repository aws-powertools/powertools-lambda-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff, cloudformation

.pre-commit-config.yaml:

# We use poetry to run formatting and linting before commit/push
# Longer checks such as tests, security and complexity baseline
# are run as part of CI to prevent slower feedback loop
# All checks can be run locally via `make pr`

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: "f71fa2c1f9cf5cb705f73dffe4b21f7c61470ba9" # v4.4.0
    hooks:
      - id: check-merge-conflict
      - id: trailing-whitespace
      - id: check-toml
  - repo: local
    hooks:
      - id: black
        name: formatting::black
        entry: poetry run black
        language: system
        types: [python]
      - id: ruff
        name: linting-format::ruff
        entry: poetry run ruff
        language: system
        types: [python]
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: "ce0d77ac47dc921b62429804fe763d4d35f66a76" # v0.34.0
    hooks:
      - id: markdownlint-docker
        args: ["--fix"]
  - repo: local
    hooks:
      - id: cloudformation
        name: linting::cloudformation
        entry: poetry run cfn-lint
        language: system
        types: [yaml]
        files: examples/.*
  - repo: https://github.com/rhysd/actionlint
    rev: "fd7ba3c382e13dcc0248e425b4cbc3f1185fa3ee" # v1.6.24
    hooks:
      - id: actionlint-docker
        args: [-pyflakes=]
  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: 3420134c37197c21edffc7e6093b14ffae8402f2 # v1.81.0
    hooks:
      - id: terraform_fmt
        args:
          - --args=-recursive
  - repo: https://github.com/gitleaks/gitleaks
    rev: "7804d652c0460f0b61ea9bb2c1f202bfcdbbf144" # v8.16.3
    hooks:
      - id: gitleaks

docs: add decrypt operation diag
  docs/utilities/data_masking.md
Due: none

Deployed 30eafc0d to develop with MkDocs 1.5.3 and mike 1.1.2
  develop/changelog/index.html
  develop/search/search_index.json
  develop/sitemap.xml.gz
Due: none

docs: add encryption ctx, envelope encryption terminologies
  docs/utilities/data_masking.md
Due: none

docs: line editing terminology
  docs/utilities/data_masking.md
Due: none

docs: correct getting started, install sections
  docs/utilities/data_masking.md
Due: none

docs: add note on min memory and separation of concerns upfront
  docs/utilities/data_masking.md
Due: none

docs: use newer Powertools log level env var
  examples/data_masking/sam/template.yaml
Due: cloudformation

docs: add missing logger ctx, remove metrics
  examples/data_masking/sam/template.yaml
  examples/data_masking/src/data_masking_function_example.py
Due: black, ruff, cloudformation

docs: line editing comments
  examples/data_masking/sam/template.yaml
Due: cloudformation

docs: add code annotation, further cleanup
  docs/utilities/data_masking.md
  examples/data_masking/sam/template.yaml
Due: cloudformation

docs: remove unused section
  docs/utilities/data_masking.md
Due: none

docs: move navigation order, fix encryption typo
  docs/utilities/data_masking.md
Due: none

fix(event-handler): upgrade Swagger UI to fix regressions
  aws_lambda_powertools/event_handler/openapi/swagger_ui/html.py
  aws_lambda_powertools/event_handler/openapi/swagger_ui/swagger-ui-bundle.min.js
  aws_lambda_powertools/event_handler/openapi/swagger_ui/swagger-ui.min.css
Due: black, ruff

fix(event-handler): upgrade Swagger UI to fix regressions (#3526)
  aws_lambda_powertools/event_handler/openapi/swagger_ui/html.py
  aws_lambda_powertools/event_handler/openapi/swagger_ui/swagger-ui-bundle.min.js
  aws_lambda_powertools/event_handler/openapi/swagger_ui/swagger-ui.min.css
Due: black, ruff

fix(event-handler): set default OpenAPI version to 3.0.0
  aws_lambda_powertools/event_handler/api_gateway.py
  aws_lambda_powertools/event_handler/openapi/models.py
Due: black, ruff

docs: line editing masking data
  docs/utilities/data_masking.md
  examples/data_masking/src/getting_started_mask_data.py
Due: black, ruff

docs: fix file names in data masking
  docs/utilities/data_masking.md
  examples/data_masking/src/getting_started_mask_data_output.json
Due: none

fix(event-handler): set default OpenAPI version to 3.0.0 (#3527)
  aws_lambda_powertools/event_handler/api_gateway.py
  aws_lambda_powertools/event_handler/openapi/models.py
Due: black, ruff

docs: add symmetric word in required resources
  docs/utilities/data_masking.md
Due: none

docs: line editing encrypting data
  docs/utilities/data_masking.md
  examples/data_masking/src/getting_started_encrypt_data.py
Due: black, ruff

fix(event-handler): fix operation tags schema generation
  aws_lambda_powertools/event_handler/api_gateway.py
  aws_lambda_powertools/event_handler/openapi/models.py
  tests/functional/event_handler/test_openapi_params.py
Due: black, ruff

docs: line editing decrypting data; code snippet fixes
  docs/utilities/data_masking.md
  examples/data_masking/src/getting_started_decrypt_data.py
  examples/data_masking/src/getting_started_decrypt_data_output.json
  examples/data_masking/src/getting_started_encrypt_data.py
Due: black, ruff

fix(event-handler): fix operation tags schema generation (#3528)
  aws_lambda_powertools/event_handler/api_gateway.py
  aws_lambda_powertools/event_handler/openapi/models.py
  tests/functional/event_handler/test_openapi_params.py
Due: black, ruff

docs: move load tests and traces upfront
  docs/utilities/data_masking.md
Due: none

docs: use pascal case for encryption sdk provider
  docs/utilities/data_masking.md
Due: none

chore(ci): bump version to 2.30.2
  aws_lambda_powertools/shared/version.py
  pyproject.toml
Due: black, ruff

chore: version bump
  aws_lambda_powertools/shared/version.py
  pyproject.toml
Due: black, ruff

docs: remove redundant info from encryption sdk
  docs/utilities/data_masking.md
Due: none

docs: add encryption message, link provider section
  docs/utilities/data_masking.md
Due: none

chore(ci): layer docs update
  CHANGELOG.md
  docs/index.md
  examples/logger/sam/template.yaml
  examples/metrics/sam/template.yaml
  examples/tracer/sam/template.yaml
Due: cloudformation

Deployed 77a4a9d2 to develop with MkDocs 1.5.3 and mike 1.1.2
  develop/changelog/index.html
  develop/core/logger/index.html
  develop/core/metrics/index.html
  develop/core/tracer/index.html
  develop/index.html
  develop/search/search_index.json
  develop/sitemap.xml.gz
Due: none

docs: add initial encryption context section
  docs/utilities/data_masking.md
Due: none

docs: remove incorrect info on enc ctx being required, thus allowing random data
  docs/utilities/data_masking.md
Due: none

docs: rename to AAD and add examples
  docs/utilities/data_masking.md
  examples/data_masking/src/getting_started_decrypt_context.py
  examples/data_masking/src/getting_started_encrypt_context.py
Due: black, ruff

docs: rename to AAD and add examples
  docs/utilities/data_masking.md
Due: none
