Repository aws-powertools/powertools-lambda-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff, cloudformation

black:
  name: formatting::black
  entry: poetry run black
  language: system

ruff:
  name: linting-format::ruff
  entry: poetry run ruff
  language: system

cloudformation:
  name: linting::cloudformation
  entry: poetry run cfn-lint
  language: system

Pipeline for v3
  .github/workflows/reusable_deploy_v3_layer_stack.yml
Due: none

Adding v3 stack
  .github/workflows/release-v3.yml
  .github/workflows/reusable_deploy_v3_layer_stack.yml
  .github/workflows/reusable_deploy_v3_sar.yml
  layer_v3/.gitignore
  layer_v3/README.md
  layer_v3/app.py
  layer_v3/cdk.json
  layer_v3/layer/__init__.py
  layer_v3/layer/canary/app.py
  layer_v3/layer/canary_stack.py
  layer_v3/layer/layer_stack.py
  layer_v3/poetry.lock
  layer_v3/pyproject.toml
  layer_v3/sar/template.txt
  layer_v3/scripts/update_layer_arn.sh
Due: black, ruff

Changing working directory
  .github/workflows/publish_v3_layer.yml
  .github/workflows/reusable_deploy_v3_layer_stack.yml
Due: none

chore(ci): new pre-release 2.42.1a0
  aws_lambda_powertools/shared/version.py
  provenance/2.42.1a0/multiple.intoto.jsonl
  pyproject.toml
Due: black, ruff

chore(ci): changelog rebuild
  CHANGELOG.md
Due: none

Addressing Andrea's feedback
  docs/includes/_layer_homepage.md
  docs/includes/_layer_homepage_arm64.md
  docs/includes/_layer_homepage_x86.md
  docs/index.md
Due: none

docs: fix type vs. field in comment
  examples/event_handler_graphql/src/getting_started_schema.graphql
Due: none

Refactoring publish SAR
  .github/workflows/publish_v3_layer.yml
  .github/workflows/reusable_deploy_v3_sar.yml
  layer_v3/app.py
  layer_v3/layer/layer_stack.py
  layer_v3/sar/template.txt
  pyproject.toml
Due: black, ruff

Bumping version
  aws_lambda_powertools/shared/version.py
Due: black, ruff

Renaming SAR name
  .github/workflows/reusable_deploy_v3_sar.yml
Due: none

Deployed ed0b5925 to develop with MkDocs 1.6.0 and mike 2.1.2
  develop/changelog/index.html
  develop/search/search_index.json
  develop/sitemap.xml.gz
Due: none

chore(ci): new pre-release 2.42.1a1
  aws_lambda_powertools/shared/version.py
  provenance/2.42.1a1/multiple.intoto.jsonl
  pyproject.toml
Due: black, ruff

docs: fix type vs. field in comment (#4832)
  examples/event_handler_graphql/src/getting_started_schema.graphql
Due: none

Deployed 2b532c76 to develop with MkDocs 1.6.0 and mike 2.1.2
  develop/core/event_handler/appsync/index.html
  develop/search/search_index.json
  develop/sitemap.xml.gz
Due: none

Addressing Heitor's feedback
  docs/automation.md
Due: none

Addressing Heitor's feedback
  docs/automation.md
  docs/includes/_layer_homepage_arm64.md
  docs/includes/_layer_homepage_x86.md
  docs/index.md
  examples/homepage/install/arm64/amplify.txt
  examples/homepage/install/arm64/cdk_arm64.py
  examples/homepage/install/arm64/pulumi_arm64.py
  examples/homepage/install/arm64/sam.yaml
  examples/homepage/install/arm64/serverless.yml
  examples/homepage/install/arm64/terraform.tf
  examples/homepage/install/sar/cdk_sar.py
  examples/homepage/install/sar/sam.yaml
  examples/homepage/install/sar/scoped_down_iam.yaml
  examples/homepage/install/sar/serverless.yml
  examples/homepage/install/sar/terraform.tf
  examples/homepage/install/x86_64/amplify.txt
  examples/homepage/install/x86_64/cdk_x86.py
  examples/homepage/install/x86_64/pulumi_x86.py
  examples/homepage/install/x86_64/sam.yaml
  examples/homepage/install/x86_64/serverless.yml
  examples/homepage/install/x86_64/terraform.tf
  examples/logger/sam/template.yaml
  examples/metrics/sam/template.yaml
  examples/metrics_datadog/sam/template.yaml
  examples/tracer/sam/template.yaml
  layer/pyproject.toml
  layer_v3/README.md
  layer_v3/pyproject.toml
Due: black, ruff, cloudformation

Addressing Heitor's feedback
  .github/workflows/publish_v3_layer.yml
  .github/workflows/reusable_deploy_v3_layer_stack.yml
Due: none

chore(maintenance): add Banxware customer refernece
  .vscode/settings.json
  docs/index.md
Due: none

chore: add customer names to readme
  README.md
Due: none

refactor(parameters): add top-level get_multiple method in SSMProvider class (#4785)
  .pre-commit-config.yaml
  aws_lambda_powertools/utilities/parameters/ssm.py
  tests/functional/test_logger_utils.py
Due: black, ruff

Fixing e2e tests
  tests/e2e/utils/data_fetcher/logs.py
  tests/e2e/utils/data_fetcher/traces.py
Due: black, ruff

chore(ci): new pre-release 2.42.1a2
  aws_lambda_powertools/shared/version.py
  provenance/2.42.1a2/multiple.intoto.jsonl
  pyproject.toml
Due: black, ruff

chore(ci): fix e2e tests in v3 branch (#4848)
  tests/e2e/utils/data_fetcher/logs.py
  tests/e2e/utils/data_fetcher/traces.py
Due: black, ruff

chore: remove vscode folder
  .vscode/settings.json
Due: none

chore: reorder names
  README.md
  docs/index.md
Due: none

chore(maintenance): add Banxware customer refernece (#4841)
  README.md
  docs/index.md
Due: none

Deployed d567b315 to develop with MkDocs 1.6.0 and mike 2.1.2
  develop/index.html
  develop/search/search_index.json
  develop/sitemap.xml.gz
Due: none

Deployed 33506954 to develop with MkDocs 1.6.0 and mike 2.1.2
  develop/changelog/index.html
  develop/search/search_index.json
Due: none

Fix Redis e2e tests
  tests/e2e/idempotency_redis/infrastructure.py
Due: black, ruff

chore(ci): fix Redis e2e tests in v3 branch (#4852)
  tests/e2e/idempotency_redis/infrastructure.py
Due: black, ruff

chore(ci): new pre-release 2.42.1a3
  aws_lambda_powertools/shared/version.py
  provenance/2.42.1a3/multiple.intoto.jsonl
  pyproject.toml
Due: black, ruff

Path conditions:
  black: any of: \.py$
  ruff: any of: \.py$
  cloudformation: any of: examples/.* and \.(yaml|yml)$
