Repository aws-powertools/powertools-lambda-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, flake8

black:
  name: formatting::black
  entry: poetry run black
  language: system

isort:
  name: formatting::isort
  entry: poetry run isort
  language: system

flake8:
  name: linting::flake8
  entry: poetry run flake8
  language: system

fix: warn customers about unnecessary perf op
  aws_lambda_powertools/event_handler/api_gateway.py
Due: black, isort, flake8

fix(event_handler): Allow for event_source support (#1159)
  aws_lambda_powertools/event_handler/api_gateway.py
  tests/functional/event_handler/test_api_gateway.py
Due: black, isort, flake8

chore(ci): post release on tagged issues too
  .github/workflows/post_release.js
Due: none

fix: Added explicit check for None on queue_url
  aws_lambda_powertools/utilities/batch/sqs.py
Due: black, isort, flake8

fix: change static_pk_value to optional and default of None
  aws_lambda_powertools/utilities/idempotency/persistence/dynamodb.py
Due: black, isort, flake8

fix(event_handler): exception_handler to handle ServiceError exceptions (#1160)
  aws_lambda_powertools/event_handler/api_gateway.py
  tests/functional/event_handler/test_api_gateway.py
Due: black, isort, flake8

fix(data-classes): Add missing SES fields and (#1045)
  aws_lambda_powertools/utilities/data_classes/ses_event.py
  tests/events/sesEvent.json
  tests/functional/test_data_classes.py
Due: black, isort, flake8

fix(parser): Add missing fields for SESEvent (#1027)
  aws_lambda_powertools/utilities/parser/models/__init__.py
  aws_lambda_powertools/utilities/parser/models/ses.py
  tests/events/sesEventS3.json
  tests/functional/parser/test_ses.py
Due: black, isort, flake8

Revert "fix(parser): Add missing fields for SESEvent (#1027)"
  aws_lambda_powertools/utilities/parser/models/__init__.py
  aws_lambda_powertools/utilities/parser/models/ses.py
  tests/events/sesEventS3.json
  tests/functional/parser/test_ses.py
Due: black, isort, flake8

Revert "fix(parser): Add missing fields for SESEvent (#1027)" (#1190)
  aws_lambda_powertools/utilities/parser/models/__init__.py
  aws_lambda_powertools/utilities/parser/models/ses.py
  tests/events/sesEventS3.json
  tests/functional/parser/test_ses.py
Due: black, isort, flake8

chore(ci): changelog pre-generation to fetch tags from origin
  Makefile
Due: none

feat(parameters): add clear_cache method for providers
  aws_lambda_powertools/utilities/parameters/base.py
  tests/functional/test_utilities_parameters.py
Due: black, isort, flake8

feat(parameters): add standalone clear_caches function
  aws_lambda_powertools/utilities/parameters/__init__.py
  aws_lambda_powertools/utilities/parameters/base.py
  tests/functional/test_utilities_parameters.py
Due: black, isort, flake8

docs(parameters): new section clearing cache
  docs/utilities/parameters.md
Due: none

fix(test): add explicit boto region
  tests/functional/test_utilities_parameters.py
Due: black, isort, flake8

revert(parser): Add missing fields for SESEvent (#1027) (#1190)
  aws_lambda_powertools/utilities/parser/models/__init__.py
  aws_lambda_powertools/utilities/parser/models/ses.py
  tests/events/sesEventS3.json
  tests/functional/parser/test_ses.py
Due: black, isort, flake8

chore: bump to 1.25.10
  CHANGELOG.md
  pyproject.toml
Due: none

feat(parameters): add clear_cache method for providers (#1194)
  aws_lambda_powertools/utilities/parameters/__init__.py
  aws_lambda_powertools/utilities/parameters/base.py
  docs/utilities/parameters.md
  tests/functional/test_utilities_parameters.py
Due: black, isort, flake8

chore: include regression in changelog
  CHANGELOG.md
Due: none

docs: Extract clear cache examples
  docs/examples/utilities/parameters/testing_parameters_app.py
  docs/examples/utilities/parameters/testing_parameters_clear_cache.py
  docs/examples/utilities/parameters/testing_parameters_global_clear_caches.py
  docs/utilities/parameters.md
Due: black, isort

feat(event_handler): Allow cookies in response
  aws_lambda_powertools/event_handler/api_gateway.py
  tests/functional/event_handler/test_api_gateway.py
Due: black, isort, flake8

test: Add more coverage
  aws_lambda_powertools/event_handler/api_gateway.py
  tests/functional/event_handler/test_api_gateway.py
Due: black, isort, flake8

feat(parameters): Allow settings boto3.client() arguments
  aws_lambda_powertools/utilities/parameters/appconfig.py
  aws_lambda_powertools/utilities/parameters/secrets.py
  aws_lambda_powertools/utilities/parameters/ssm.py
  docs/utilities/parameters.md
  tests/functional/test_utilities_parameters.py
Due: black, isort, flake8

feat(idempotency): Clean up on lambda timeout
  aws_lambda_powertools/utilities/idempotency/base.py
  aws_lambda_powertools/utilities/idempotency/config.py
  aws_lambda_powertools/utilities/idempotency/persistence/base.py
  aws_lambda_powertools/utilities/idempotency/persistence/dynamodb.py
  tests/functional/idempotency/conftest.py
  tests/functional/idempotency/utils.py
Due: black, isort, flake8

docs(layer): upgrade to 1.25.10
  docs/index.md
Due: none

chore: sync up with powertools layer version
  docs/examples/core/event_handler/api_gateway/layout/template.yml
Due: none

test: Initial tests
  aws_lambda_powertools/utilities/idempotency/config.py
  tests/functional/idempotency/conftest.py
  tests/functional/idempotency/test_idempotency.py
Due: black, isort, flake8

fix: Reset function_timeout on complete
  aws_lambda_powertools/utilities/idempotency/persistence/dynamodb.py
  tests/functional/idempotency/conftest.py
  tests/functional/idempotency/utils.py
Due: black, isort, flake8

chore: some clean up
  aws_lambda_powertools/utilities/idempotency/base.py
  aws_lambda_powertools/utilities/idempotency/persistence/base.py
Due: black, isort, flake8

Initial commit
  .github/workflows/run-e2e-tests.yml
  Makefile
  poetry.lock
  pyproject.toml
  tests/e2e/__init__.py
  tests/e2e/conftest.py
  tests/e2e/logger/__init__.py
  tests/e2e/logger/handlers/basic_handler.py
  tests/e2e/logger/handlers/no_context_handler.py
  tests/e2e/logger/test_logger.py
  tests/e2e/metrics/__init__.py
  tests/e2e/metrics/handlers/basic_handler.py
  tests/e2e/metrics/test_metrics.py
  tests/e2e/tracer/__init__.py
  tests/e2e/tracer/handlers/basic_handler.py
  tests/e2e/tracer/test_tracer.py
  tests/e2e/utils.py
Due: black, isort, flake8

Missing space in log message
  aws_lambda_powertools/utilities/batch/base.py
Due: black, isort, flake8

success_handler() record parameter docstring fix
  aws_lambda_powertools/utilities/batch/base.py
Due: black, isort, flake8

fix(batch): docstring fix for success_handler() record parameter (#1202)
  aws_lambda_powertools/utilities/batch/base.py
Due: black, isort, flake8

fix(batch): missing space in BatchProcessingError message (#1201)
  aws_lambda_powertools/utilities/batch/base.py
Due: black, isort, flake8

docs(roadmap): add new roadmap section
  docs/roadmap.md
  mkdocs.yml
Due: none

fix(batch): allow child_exceptions to be none
  aws_lambda_powertools/utilities/batch/exceptions.py
  tests/functional/test_utilities_batch.py
Due: black, isort, flake8

Rewrite code to use only cf deployment
  poetry.lock
  pyproject.toml
  tests/e2e/conftest.py
  tests/e2e/logger/test_logger.py
  tests/e2e/metrics/test_metrics.py
  tests/e2e/tracer/test_tracer.py
  tests/e2e/utils.py
Due: black, isort, flake8

docs(roadmap): add disclaimer section
  docs/roadmap.md
Due: none

docs(roadmap): add visual representation
  docs/roadmap.md
Due: none

Path conditions:
  black: any of: \.py$
  isort: any of: \.py$
  flake8: any of: \.py$, but not: example
