Repository aws-powertools/powertools-lambda-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff, cloudformation

.pre-commit-config.yaml:

# We use poetry to run formatting and linting before commit/push
# Longer checks such as tests, security and complexity baseline
# are run as part of CI to prevent slower feedback loop
# All checks can be run locally via `make pr`

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: "f71fa2c1f9cf5cb705f73dffe4b21f7c61470ba9" # v4.4.0
    hooks:
      - id: check-merge-conflict
      - id: trailing-whitespace
      - id: check-toml
  - repo: local
    hooks:
      - id: black
        name: formatting::black
        entry: poetry run black
        language: system
        types: [python]
      - id: ruff
        name: linting-format::ruff
        entry: poetry run ruff
        language: system
        types: [python]
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: "ce0d77ac47dc921b62429804fe763d4d35f66a76" # v0.34.0
    hooks:
      - id: markdownlint-docker
        args: ["--fix"]
  - repo: local
    hooks:
      - id: cloudformation
        name: linting::cloudformation
        entry: poetry run cfn-lint
        language: system
        types: [yaml]
        files: examples/.*
  - repo: https://github.com/rhysd/actionlint
    rev: "fd7ba3c382e13dcc0248e425b4cbc3f1185fa3ee" # v1.6.24
    hooks:
      - id: actionlint-docker
        args: [-pyflakes=]
  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: 3420134c37197c21edffc7e6093b14ffae8402f2 # v1.81.0
    hooks:
      - id: terraform_fmt
        args:
          - --args=-recursive
  - repo: https://github.com/gitleaks/gitleaks
    rev: "7804d652c0460f0b61ea9bb2c1f202bfcdbbf144" # v8.16.3
    hooks:
      - id: gitleaks

docs: cleanup persistence layers attrs, snippet titles etc
  docs/utilities/idempotency.md
Due: none

docs: rename batch integration to actual use case name
  docs/utilities/idempotency.md
Due: none

docs: typo in batch integration
  docs/utilities/idempotency.md
Due: none

docs: cut unnecessary anchor name
  docs/utilities/idempotency.md
Due: none

docs: moved composite key under DDB section
  docs/utilities/idempotency.md
Due: none

docs: lead with parameter name over config name
  docs/utilities/idempotency.md
Due: none

docs(idempotency): cleanup default behavior section
  docs/utilities/idempotency.md
Due: none

docs: move bold to draw attention to whole event as idempotency key
  docs/utilities/idempotency.md
Due: none

docs: fix broken links after sections renaming
  docs/utilities/idempotency.md
Due: none

Making mypy happy
  examples/idempotency/src/customize_persistence_layer.py
  examples/idempotency/src/customize_persistence_layer_redis.py
  examples/idempotency/src/getting_started_with_idempotency.py
  examples/idempotency/src/getting_started_with_idempotency_redis_client.py
  examples/idempotency/src/getting_started_with_idempotency_redis_config.py
  examples/idempotency/src/integrate_idempotency_with_batch_processor.py
  examples/idempotency/src/integrate_idempotency_with_validator.py
  examples/idempotency/src/working_with_composite_key.py
  examples/idempotency/src/working_with_custom_config.py
  examples/idempotency/src/working_with_custom_session.py
  examples/idempotency/src/working_with_dataclass_deduced_output_serializer.py
  examples/idempotency/src/working_with_dataclass_explicitly_output_serializer.py
  examples/idempotency/src/working_with_exceptions.py
  examples/idempotency/src/working_with_idempotency_key_required.py
  examples/idempotency/src/working_with_idempotent_function_custom_output_serializer.py
  examples/idempotency/src/working_with_idempotent_function_dataclass.py
  examples/idempotency/src/working_with_idempotent_function_pydantic.py
  examples/idempotency/src/working_with_lambda_timeout.py
  examples/idempotency/src/working_with_local_cache.py
  examples/idempotency/src/working_with_payload_subset.py
  examples/idempotency/src/working_with_pydantic_deduced_output_serializer.py
  examples/idempotency/src/working_with_pydantic_explicitly_output_serializer.py
  examples/idempotency/src/working_with_record_expiration.py
  examples/idempotency/src/working_with_response_hook.py
  examples/idempotency/src/working_with_validation_payload.py
Due: black, ruff

docs: fix conflicts out of order
  docs/utilities/idempotency.md
Due: none

docs(leandro's feedback): add caching in key features
  docs/utilities/idempotency.md
Due: none

chore(ci): new pre-release 2.41.1a8
  aws_lambda_powertools/shared/version.py
  provenance/2.41.1a8/multiple.intoto.jsonl
  pyproject.toml
Due: black, ruff

Apply suggestions from code review
  docs/utilities/idempotency.md
Due: none

docs(leandro's feedback): time window placement
  docs/utilities/idempotency.md
Due: none

docs(leandro's feedback): Redis anchor name
  docs/utilities/idempotency.md
Due: none

docs(leandro's feedback): key features success vs failure ambiguity
  docs/utilities/idempotency.md
Due: none

docs(leandro's feedback): remove ambiguity on Redis VPC connectivity
  docs/utilities/idempotency.md
Due: none

Update docs/utilities/idempotency.md
  docs/utilities/idempotency.md
Due: none

chore(ci): changelog rebuild
  CHANGELOG.md
Due: none

chore(ci): new pre-release 2.41.1a9
  aws_lambda_powertools/shared/version.py
  provenance/2.41.1a9/multiple.intoto.jsonl
  pyproject.toml
Due: black, ruff

Add lambda layer policy to versioning docs
  docs/versioning.md
Due: none

chore(docs): Add lambda layer policy to versioning docs (#4811)
  docs/versioning.md
Due: none

Deployed 39c0314a to develop with MkDocs 1.6.0 and mike 2.1.2
  develop/search/search_index.json
  develop/sitemap.xml.gz
  develop/versioning/index.html
Due: none

docs: move primary key for both persistence storages plus additional ctx
  docs/utilities/idempotency.md
Due: none

docs(idempotency): improve navigation, wording, and new section on guarantees (#4613)
  docs/utilities/idempotency.md
  examples/idempotency/src/customize_persistence_layer.py
  examples/idempotency/src/customize_persistence_layer_redis.py
  examples/idempotency/src/getting_started_with_idempotency.py
  examples/idempotency/src/getting_started_with_idempotency_redis_client.py
  examples/idempotency/src/getting_started_with_idempotency_redis_config.py
  examples/idempotency/src/integrate_idempotency_with_batch_processor.py
  examples/idempotency/src/integrate_idempotency_with_validator.py
  examples/idempotency/src/using_redis_client_with_aws_secrets.py
  examples/idempotency/src/using_redis_client_with_local_certs.py
  examples/idempotency/src/working_with_composite_key.py
  examples/idempotency/src/working_with_custom_config.py
  examples/idempotency/src/working_with_custom_session.py
  examples/idempotency/src/working_with_dataclass_deduced_output_serializer.py
  examples/idempotency/src/working_with_dataclass_explicitly_output_serializer.py
  examples/idempotency/src/working_with_exceptions.py
  examples/idempotency/src/working_with_idempotency_key_required.py
  examples/idempotency/src/working_with_idempotent_function_custom_output_serializer.py
  examples/idempotency/src/working_with_idempotent_function_dataclass.py
  examples/idempotency/src/working_with_idempotent_function_pydantic.py
  examples/idempotency/src/working_with_lambda_timeout.py
  examples/idempotency/src/working_with_local_cache.py
  examples/idempotency/src/working_with_payload_subset.py
  examples/idempotency/src/working_with_pydantic_deduced_output_serializer.py
  examples/idempotency/src/working_with_pydantic_explicitly_output_serializer.py
  examples/idempotency/src/working_with_record_expiration.py
  examples/idempotency/src/working_with_response_hook.py
  examples/idempotency/src/working_with_validation_payload.py
  examples/idempotency/templates/cfn_redis_serverless.yaml
  examples/idempotency/templates/sam.yaml
  examples/idempotency/templates/sam_redis_vpc.yaml
  includes/abbreviations.md
  mkdocs.yml
Due: black, ruff, cloudformation

Deployed f4ea4f89 to develop with MkDocs 1.6.0 and mike 2.1.2
  develop/404.html
  develop/automation/index.html
  develop/changelog/index.html
  develop/contributing/conventions/index.html
  develop/contributing/documentation/rfcs/index.html
  develop/contributing/getting_started/index.html
  develop/contributing/setup/index.html
  develop/core/event_handler/_openapi_customization_metadata/index.html
  develop/core/event_handler/_openapi_customization_operations/index.html
  develop/core/event_handler/_openapi_customization_parameters/index.html
  develop/core/event_handler/api_gateway/index.html
  develop/core/event_handler/appsync/index.html
  develop/core/event_handler/bedrock_agents/index.html
  develop/core/logger/index.html
  develop/core/metrics/datadog/index.html
  develop/core/metrics/index.html
  develop/core/tracer/index.html
  develop/diagram_src/cicd_steps/index.html
  develop/index.html
  develop/maintainers/index.html
  develop/roadmap/index.html
  develop/search/search_index.json
  develop/security/index.html
  develop/sitemap.xml.gz
  develop/tutorial/index.html
  develop/upgrade/index.html
  develop/utilities/batch/index.html
  develop/utilities/data_classes/index.html
  develop/utilities/data_masking/index.html
  develop/utilities/feature_flags/index.html
  develop/utilities/idempotency/index.html
  develop/utilities/jmespath_functions/index.html
  develop/utilities/middleware_factory/index.html
  develop/utilities/parameters/index.html
  develop/utilities/parser/index.html
  develop/utilities/streaming/index.html
  develop/utilities/typing/index.html
  develop/utilities/validation/index.html
  develop/versioning/index.html
  develop/we_made_this/index.html
Due: none

Deployed 83b893b6 to develop with MkDocs 1.6.0 and mike 2.1.2
  develop/changelog/index.html
  develop/search/search_index.json
Due: none

chore: version bump
  aws_lambda_powertools/shared/version.py
  pyproject.toml
Due: black, ruff

chore(ci): bump version to 2.42.0
  aws_lambda_powertools/shared/version.py
  pyproject.toml
Due: black, ruff

chore(ci): layer docs update
  CHANGELOG.md
  docs/index.md
  examples/logger/sam/template.yaml
  examples/metrics/sam/template.yaml
  examples/tracer/sam/template.yaml
Due: cloudformation

Adding Caylent as public ref
  README.md
  docs/index.md
Due: none

docs(public_reference): add Caylent as a public reference (#4822)
  README.md
  docs/index.md
Due: none

Deployed d45dd485 to develop with MkDocs 1.6.0 and mike 2.1.2
  develop/index.html
  develop/search/search_index.json
Due: none

Pipeline for v3
  .github/workflows/publish_v3_layer.yml
  .github/workflows/release-v3.yml
  .github/workflows/reusable_deploy_v3_layer_stack.yml
  docs/automation.md
  docs/includes/_layer_homepage.md
  docs/index.md
  examples/homepage/install/arm64/amplify.txt
  examples/homepage/install/arm64/cdk_arm64.py
  examples/homepage/install/arm64/pulumi_arm64.py
  examples/homepage/install/arm64/sam.yaml
  examples/homepage/install/arm64/serverless.yml
  examples/homepage/install/arm64/terraform.tf
  examples/homepage/install/x86_64/amplify.txt
  examples/homepage/install/x86_64/cdk_x86.py
  examples/homepage/install/x86_64/pulumi_x86.py
  examples/homepage/install/x86_64/sam.yaml
  examples/homepage/install/x86_64/serverless.yml
  examples/homepage/install/x86_64/terraform.tf
  examples/logger/sam/template.yaml
  examples/metrics/sam/template.yaml
  examples/metrics_datadog/sam/template.yaml
  examples/tracer/sam/template.yaml
Due: black, ruff, cloudformation
