Repository aws-powertools/powertools-lambda-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, flake8, cloudformation

black:
  name: formatting::black
  entry: poetry run black
  language: system

isort:
  name: formatting::isort
  entry: poetry run isort
  language: system

flake8:
  name: linting::flake8
  entry: poetry run flake8
  language: system

cloudformation:
  name: linting::cloudformation
  entry: poetry run cfn-lint
  language: system

chore: add space before closing expression
  .github/workflows/release.yml
Due: none

chore: capitalize sentence and add version
  .github/workflows/release.yml
Due: none

chore(ci): use new pypi trusted publisher for increase security (#2198)
  .github/workflows/release.yml
  MAINTAINERS.md
Due: none

feat(event_source): adding support to custom json decode
  aws_lambda_powertools/utilities/data_classes/common.py
  aws_lambda_powertools/utilities/data_classes/kafka_event.py
  aws_lambda_powertools/utilities/data_classes/kinesis_firehose_event.py
  aws_lambda_powertools/utilities/data_classes/sqs_event.py
  tests/functional/test_data_classes.py
Due: black, isort, flake8

feat(event_source): fix code coverage
  tests/events/sqsEvent.json
  tests/functional/test_data_classes.py
Due: black, isort, flake8

chore: add docstring to DictWrapper parameters
  aws_lambda_powertools/utilities/data_classes/common.py
Due: black, isort, flake8

fix: prevent error handling surprises
  aws_lambda_powertools/utilities/data_classes/sqs_event.py
Due: black, isort, flake8

chore(typing): use any to not get in customers' way; docstring for reasoning
  aws_lambda_powertools/utilities/data_classes/sqs_event.py
Due: black, isort, flake8

chore: peer review before merging
  tests/functional/test_data_classes.py
Due: black, isort, flake8

feat(event_source): support custom json_deserializer; add json_body in SQSEvent (#2200)
  aws_lambda_powertools/utilities/data_classes/common.py
  aws_lambda_powertools/utilities/data_classes/kafka_event.py
  aws_lambda_powertools/utilities/data_classes/kinesis_firehose_event.py
  aws_lambda_powertools/utilities/data_classes/sqs_event.py
  tests/events/sqsEvent.json
  tests/functional/test_data_classes.py
Due: black, isort, flake8

bump version to 2.15.0
  pyproject.toml
Due: none

fix(ci): pypi publishing was targetting test endpoint
  .github/workflows/release.yml
Due: none

update changelog with latest changes
  CHANGELOG.md
Due: none

chore(ci): remove build step from release env; no more secrets need
  .github/workflows/release.yml
Due: none

chore: update v2 layer ARN on documentation
  docs/index.md
  examples/logger/sam/template.yaml
  examples/metrics/sam/template.yaml
  examples/tracer/sam/template.yaml
Due: cloudformation

chore(ci): remove auto-merge workflow
  .github/workflows/auto-merge.yml
Due: none

chore(ci): pin actions/checkout
  .github/workflows/codeql-analysis.yml
  .github/workflows/label_pr_on_title.yml
  .github/workflows/on_label_added.yml
  .github/workflows/on_merged_pr.yml
  .github/workflows/on_opened_pr.yml
  .github/workflows/publish_v2_layer.yml
  .github/workflows/python_build.yml
  .github/workflows/record_pr.yml
  .github/workflows/release.yml
  .github/workflows/reusable_deploy_v2_layer_stack.yml
  .github/workflows/reusable_deploy_v2_sar.yml
  .github/workflows/reusable_export_pr_details.yml
  .github/workflows/reusable_publish_changelog.yml
  .github/workflows/reusable_publish_docs.yml
  .github/workflows/reusable_update_v2_layer_arn_docs.yml
  .github/workflows/run-e2e-tests.yml
  .github/workflows/secure_workflows.yml
Due: none

chore(ci): pin actions/github-script
  .github/workflows/label_pr_on_title.yml
  .github/workflows/on_label_added.yml
  .github/workflows/on_merged_pr.yml
  .github/workflows/on_opened_pr.yml
  .github/workflows/record_pr.yml
  .github/workflows/release.yml
  .github/workflows/reusable_export_pr_details.yml
  .github/workflows/secure_workflows.yml
Due: none

chore(ci): pin actions/setup-node
  .github/workflows/publish_v2_layer.yml
  .github/workflows/reusable_deploy_v2_layer_stack.yml
  .github/workflows/reusable_deploy_v2_sar.yml
  .github/workflows/run-e2e-tests.yml
  .github/workflows/secure_workflows.yml
Due: none

chore(ci): pin actions/setup-python
  .github/workflows/publish_v2_layer.yml
  .github/workflows/python_build.yml
  .github/workflows/release.yml
  .github/workflows/reusable_deploy_v2_layer_stack.yml
  .github/workflows/reusable_publish_docs.yml
  .github/workflows/run-e2e-tests.yml
  .github/workflows/secure_workflows.yml
Due: none

chore(ci): pin actions/upload-artifact
  .github/workflows/publish_v2_layer.yml
  .github/workflows/record_pr.yml
  .github/workflows/reusable_deploy_v2_layer_stack.yml
  .github/workflows/secure_workflows.yml
Due: none

chore(ci): pin actions/download-artifact
  .github/workflows/reusable_deploy_v2_layer_stack.yml
  .github/workflows/reusable_deploy_v2_sar.yml
  .github/workflows/reusable_update_v2_layer_arn_docs.yml
  .github/workflows/secure_workflows.yml
Due: none

chore(ci): pin actions/codeql-action
  .github/workflows/codeql-analysis.yml
  .github/workflows/secure_workflows.yml
Due: none

chore(ci): remove dependabot-metadata action
  .github/workflows/secure_workflows.yml
Due: none

adding capitalone
  README.md
  docs/index.md
Due: none

chore(ci): pin aws-actions
  .github/workflows/dispatch_analytics.yml
  .github/workflows/on_closed_issues.yml
  .github/workflows/reusable_deploy_v2_layer_stack.yml
  .github/workflows/reusable_deploy_v2_sar.yml
  .github/workflows/run-e2e-tests.yml
  .github/workflows/secure_workflows.yml
Due: none

chore: leandro feedback
  .github/workflows/codeql-analysis.yml
Due: none

chore(ci): enforce zero trust for third party workflows (#2215)
  .github/workflows/auto-merge.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/dispatch_analytics.yml
  .github/workflows/label_pr_on_title.yml
  .github/workflows/on_closed_issues.yml
  .github/workflows/on_label_added.yml
  .github/workflows/on_merged_pr.yml
  .github/workflows/on_opened_pr.yml
  .github/workflows/publish_v2_layer.yml
  .github/workflows/python_build.yml
  .github/workflows/record_pr.yml
  .github/workflows/release.yml
  .github/workflows/reusable_deploy_v2_layer_stack.yml
  .github/workflows/reusable_deploy_v2_sar.yml
  .github/workflows/reusable_export_pr_details.yml
  .github/workflows/reusable_publish_changelog.yml
  .github/workflows/reusable_publish_docs.yml
  .github/workflows/reusable_update_v2_layer_arn_docs.yml
  .github/workflows/run-e2e-tests.yml
  .github/workflows/secure_workflows.yml
Due: none

chore(ci): keep changelog dispatch in release only
  .github/workflows/on_push_docs.yml
  .github/workflows/rebuild_latest_docs.yml
Due: none

chore(ci): schedule changelog to rebuild everyday at 8am
  .github/workflows/build_changelog.yml
Due: none

chore(ci): schedule changelog to rebuild daily at 8am, and on release only (#2216)
  .github/workflows/build_changelog.yml
  .github/workflows/on_push_docs.yml
  .github/workflows/rebuild_latest_docs.yml
Due: none

docs: refactoring examples - getting started
  docs/utilities/feature_flags.md
  examples/feature_flags/sam/template.yaml
  examples/feature_flags/src/getting_started_single_feature_flag.py
  examples/feature_flags/src/getting_started_single_feature_flag_configuration.json
  examples/feature_flags/src/getting_started_single_feature_flag_payload.json
Due: black, isort, flake8, cloudformation

docs: refactoring examples - static flag
  docs/utilities/feature_flags.md
  examples/feature_flags/src/getting_started_single_feature_flag.py
  examples/feature_flags/src/getting_started_single_feature_flag_features.json
  examples/feature_flags/src/getting_started_static_flag.py
  examples/feature_flags/src/getting_started_static_flag_features.json
  examples/feature_flags/src/getting_started_static_flag_payload.json
Due: black, isort, flake8

docs: refactoring examples - getting all enabled
  docs/utilities/feature_flags.md
  examples/feature_flags/src/getting_all_enabled_features.py
  examples/feature_flags/src/getting_all_enabled_features_features.json
  examples/feature_flags/src/getting_all_enabled_features_payload.json
  examples/feature_flags/src/getting_started_single_feature_flag.py
  examples/feature_flags/src/getting_started_static_flag.py
Due: black, isort, flake8

docs: refactoring examples - target links
  docs/utilities/feature_flags.md
Due: none

docs: refactoring examples - adding comments
  docs/utilities/feature_flags.md
  examples/feature_flags/src/datetime_feature.py
  examples/feature_flags/src/getting_all_enabled_features.py
  examples/feature_flags/src/getting_started_single_feature_flag.py
  examples/feature_flags/src/getting_started_static_flag.py
  examples/feature_flags/src/timebased_feature.py
  examples/feature_flags/src/timebased_happyhour_feature.py
Due: black, isort, flake8

Path conditions:
  black: any of: \.py$
  isort: any of: \.py$
  flake8: any of: \.py$
  cloudformation: any of: examples/.* and \.(yaml|yml)$
