Repository aws-powertools/powertools-lambda-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff, cloudformation

black:
  name: formatting::black
  entry: poetry run black
  language: system

ruff:
  name: linting-format::ruff
  entry: poetry run ruff
  language: system

cloudformation:
  name: linting::cloudformation
  entry: poetry run cfn-lint
  language: system

chore(ci): new pre-release 3.11.1a4
  aws_lambda_powertools/shared/version.py
  provenance/3.11.1a4/multiple.intoto.jsonl
  pyproject.toml
Due: black, ruff

chore(ci): changelog rebuild
  CHANGELOG.md
Due: none

Adding Michael's MCP server
  docs/we_made_this.md
Due: none

docs(i-made-this): adding Michael's MCP server (#6591)
  docs/we_made_this.md
Due: none

chore(docs): fix youtube embed link in we made this
  docs/we_made_this.md
Due: none

chore(docs): fix youtube embed link in we made this (#6593)
  docs/we_made_this.md
Due: none

remove body message
  aws_lambda_powertools/event_handler/bedrock_agent_function.py
  tests/functional/event_handler/required_dependencies/test_bedrock_agent_functions.py
Due: black, ruff

add parser
  aws_lambda_powertools/utilities/parser/envelopes/bedrock_agent.py
  aws_lambda_powertools/utilities/parser/models/__init__.py
  aws_lambda_powertools/utilities/parser/models/bedrock_agent.py
  tests/unit/parser/_pydantic/test_bedrock_agent.py
Due: black, ruff

chore(ci): new pre-release 3.11.1a5
  aws_lambda_powertools/shared/version.py
  provenance/3.11.1a5/multiple.intoto.jsonl
  pyproject.toml
Due: black, ruff

allowed a new deserializer for parser the body
  aws_lambda_powertools/event_handler/api_gateway.py
  tests/functional/event_handler/_pydantic/test_api_gateway.py
Due: black, ruff

chore(ci): new pre-release 3.11.1a6
  aws_lambda_powertools/shared/version.py
  provenance/3.11.1a6/multiple.intoto.jsonl
  pyproject.toml
Due: black, ruff

community docs - we made this addition
  docs/we_made_this.md
Due: none

docs(community): add Ran Isenberg blog post (#6610)
  docs/we_made_this.md
Due: none

add test for required fields
  tests/functional/event_handler/required_dependencies/test_bedrock_agent_functions.py
Due: black, ruff

add more tests for parser and resolver
  aws_lambda_powertools/utilities/parser/envelopes/__init__.py
  tests/functional/event_handler/required_dependencies/test_bedrock_agent_functions.py
  tests/unit/parser/_pydantic/test_bedrock_agent.py
Due: black, ruff

add validation response state
  aws_lambda_powertools/event_handler/__init__.py
  aws_lambda_powertools/event_handler/bedrock_agent_function.py
  tests/functional/event_handler/required_dependencies/test_bedrock_agent_functions.py
Due: black, ruff

chore(ci): bump version to 3.12.0
  aws_lambda_powertools/shared/version.py
  pyproject.toml
Due: black, ruff

chore: version bump
  aws_lambda_powertools/shared/version.py
  pyproject.toml
Due: black, ruff

chore(ci): new pre-release 3.11.1a7
  aws_lambda_powertools/shared/version.py
  provenance/3.11.1a7/multiple.intoto.jsonl
  pyproject.toml
Due: black, ruff

chore(ci): layer docs update
  CHANGELOG.md
  docs/includes/_layer_homepage_arm64.md
  docs/includes/_layer_homepage_x86.md
  docs/index.md
  examples/homepage/install/arm64/amplify.txt
  examples/homepage/install/arm64/cdk_arm64.py
  examples/homepage/install/arm64/pulumi_arm64.py
  examples/homepage/install/arm64/sam.yaml
  examples/homepage/install/arm64/serverless.yml
  examples/homepage/install/arm64/terraform.tf
  examples/homepage/install/x86_64/amplify.txt
  examples/homepage/install/x86_64/cdk_x86.py
  examples/homepage/install/x86_64/pulumi_x86.py
  examples/homepage/install/x86_64/sam.yaml
  examples/homepage/install/x86_64/serverless.yml
  examples/homepage/install/x86_64/terraform.tf
  examples/logger/sam/template.yaml
  examples/metrics/sam/template.yaml
  examples/metrics_datadog/sam/template.yaml
  examples/tracer/sam/template.yaml
Due: black, ruff, cloudformation

Including license check in dependency review
  .github/dependency-review-config.yml
  .github/workflows/dependency-review.yml
Due: none

Including license check in dependency review
  .github/dependency-review-config.yml
Due: none

Including license check in dependency review
  .github/dependency-review-config.yml
  poetry.lock
  pyproject.toml
Due: none

Including license check in dependency review
  .github/workflows/quality_check.yml
Due: none

Including license check in dependency review
  .github/workflows/dependency-review.yml
Due: none

Including license check in dependency review
  poetry.lock
Due: none

chore(ci): new pre-release 3.12.1a0
  aws_lambda_powertools/shared/version.py
  provenance/3.12.1a0/multiple.intoto.jsonl
  pyproject.toml
Due: black, ruff

Path conditions:
  black: any of: \.py$
  ruff: any of: \.py$
  cloudformation: any of: examples/.* and \.(yaml|yml)$
