Repository aws-powertools/powertools-lambda-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff, cloudformation

black:
  name: formatting::black
  entry: poetry run black
  language: system

ruff:
  name: linting-format::ruff
  entry: poetry run ruff
  language: system

cloudformation:
  name: linting::cloudformation
  entry: poetry run cfn-lint
  language: system

Add support for new Ruff checks
  aws_lambda_powertools/utilities/data_classes/common.py
  ruff.toml
Due: black, ruff

Refactoring thread safe tests
  tests/functional/logger/required_dependencies/test_logger_powertools_formatter.py
Due: black, ruff

chore(ci): refactor thread safe tests (#6889)
  tests/functional/logger/required_dependencies/test_logger_powertools_formatter.py
Due: black, ruff

update output
  .github/workflows/layers_partition_verify.yml
Due: none

chore(ci): changelog rebuild
  CHANGELOG.md
Due: none

Bump urllib3 version
  layer_v3/poetry.lock
  layer_v3/pyproject.toml
  poetry.lock
  pyproject.toml
Due: none

fix typo
  .github/workflows/layers_partition_verify.yml
Due: none

typos...
  .github/workflows/layers_partition_verify.yml
Due: none

more typos
  .github/workflows/layers_partition_verify.yml
Due: none

fix permission
  .github/workflows/layers_partitions.yml
Due: none

underscores to hyphens
  .github/workflows/layers_partitions.yml
Due: none

chore(ci): bump urllib3 version (#6893)
  layer_v3/poetry.lock
  layer_v3/pyproject.toml
  poetry.lock
  pyproject.toml
Due: none

Remove v2 deployment files
  .github/workflows/reusable_deploy_v3_sar.yml
  layer/.gitignore
  layer/README.md
  layer/app.py
  layer/cdk.json
  layer/layer/__init__.py
  layer/layer/canary/app.py
  layer/layer/canary_stack.py
  layer/layer/layer_stack.py
  layer/poetry.lock
  layer/pyproject.toml
  layer/sar/template.txt
  layer/scripts/update_layer_arn.sh
Due: black, ruff

Remove v2 deployment files
  .github/workflows/publish_v2_layer.yml
  .github/workflows/release.yml
  .github/workflows/reusable_deploy_v2_layer_stack.yml
  .github/workflows/reusable_deploy_v2_sar.yml
Due: none

chore(ci): remove v2 deployment files (#6895)
  .github/workflows/publish_v2_layer.yml
  .github/workflows/release.yml
  .github/workflows/reusable_deploy_v2_layer_stack.yml
  .github/workflows/reusable_deploy_v2_sar.yml
  .github/workflows/reusable_deploy_v3_sar.yml
  layer/.gitignore
  layer/README.md
  layer/app.py
  layer/cdk.json
  layer/layer/__init__.py
  layer/layer/canary/app.py
  layer/layer/canary_stack.py
  layer/layer/layer_stack.py
  layer/poetry.lock
  layer/pyproject.toml
  layer/sar/template.txt
  layer/scripts/update_layer_arn.sh
Due: black, ruff

Making Sonar Happy
  examples/kafka/consumer/src/working_with_large_messages.py
  examples/kafka/consumer/src/working_with_schema_errors.py
Due: black, ruff

docs(kafka): refactor kafka documentation (#6854)
  docs/utilities/kafka.md
  examples/kafka/consumer/events/kafka_event_avro.json
  examples/kafka/consumer/events/kafka_event_json.json
  examples/kafka/consumer/events/kafka_event_protobuf.json
  examples/kafka/consumer/sam/adjust_batch_size_configuration.yaml
  examples/kafka/consumer/sam/getting_started_with_msk.yaml
  examples/kafka/consumer/schemas/user.avsc
  examples/kafka/consumer/schemas/user.json
  examples/kafka/consumer/schemas/user.proto
  examples/kafka/consumer/src/access_event_metadata.py
  examples/kafka/consumer/src/lambda_handler_test.py
  examples/kafka/consumer/src/serializing_output_with_custom_function.py
  examples/kafka/consumer/src/serializing_output_with_dataclass.py
  examples/kafka/consumer/src/serializing_output_with_pydantic.py
  examples/kafka/consumer/src/testing_your_code.py
  examples/kafka/consumer/src/using_java_naming_convention.py
  examples/kafka/consumer/src/working_with_idempotency.py
  examples/kafka/consumer/src/working_with_key_and_value.py
  examples/kafka/consumer/src/working_with_key_only.py
  examples/kafka/consumer/src/working_with_large_messages.py
  examples/kafka/consumer/src/working_with_record_error_handling.py
  examples/kafka/consumer/src/working_with_schema_errors.py
Due: black, ruff, cloudformation

add docs
  docs/index.md
Due: none

Removing mike
  .github/workflows/reusable_publish_docs.yml
  Makefile
  pyproject.toml
Due: none

Removing mike
  poetry.lock
Due: none

chore(ci): stop publishing to gh-pages branch (#6899)
  .github/workflows/reusable_publish_docs.yml
  Makefile
  poetry.lock
  pyproject.toml
Due: none

Adding build step
  .github/workflows/reusable_publish_docs.yml
Due: none

chore(ci): stop publishing to gh-pages branch (#6901)
  .github/workflows/reusable_publish_docs.yml
Due: none

chore(ci): stop publishing to gh-pages branch (#6902)
  .github/workflows/reusable_publish_docs.yml
Due: none

Adding build step
  docs/requirements.in
  docs/requirements.txt
Due: none

Adding build step
  docs/requirements.txt
Due: none

Adding debug
  .github/workflows/reusable_publish_docs.yml
Due: none

chore(ci): stop publishing to gh-pages branch (#6903)
  .github/workflows/reusable_publish_docs.yml
  docs/requirements.in
  docs/requirements.txt
Due: none

feat(ci): Partition workflow scripts updated to work (#6900)
  .github/workflows/layers_partition_verify.yml
  .github/workflows/layers_partitions.yml
  docs/index.md
Due: none

Pinning versions + removing unecessary tests
  .github/workflows/bootstrap_region.yml
  tests/unit/parser/_pydantic/test_appsync.py
Due: black, ruff

Removing weird deps
  package-lock.json
  package.json
Due: none

chore(ci): pinning versions in actions + refactor tests (#6904)
  .github/workflows/bootstrap_region.yml
  package-lock.json
  package.json
  tests/unit/parser/_pydantic/test_appsync.py
Due: black, ruff

chore(ci): Remove GovCloud specific workflows
  .github/workflows/layer_govcloud.yml
  .github/workflows/layer_govcloud_python313.yml
  .github/workflows/layer_govcloud_verify.yml
Due: none

Path conditions:
  black: any of: \.py$
  ruff: any of: \.py$
  cloudformation: any of: examples/.* and \.(yaml|yml)$
