Repository aws-powertools/powertools-lambda-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff, cloudformation

black:
  name: formatting::black
  entry: poetry run black
  language: system

ruff:
  name: linting-format::ruff
  entry: poetry run ruff
  language: system

cloudformation:
  name: linting::cloudformation
  entry: poetry run cfn-lint
  language: system

docs: code annotation, move env vars
  docs/core/metrics/datadog.md
  examples/metrics_datadog/src/run_tests_env_var.sh
Due: none

docs: recommend using Secrets for API Key
  docs/core/metrics/datadog.md
  examples/metrics_datadog/sam/template.yaml
Due: cloudformation

Adding tags validation + tests
  aws_lambda_powertools/metrics/provider/datadog/datadog.py
  aws_lambda_powertools/metrics/provider/datadog/metrics.py
  aws_lambda_powertools/metrics/provider/datadog/warnings.py
  tests/functional/metrics/test_metrics_datadog.py
  tests/unit/metrics/conftest.py
  tests/unit/metrics/test_unit_datadog.py
Due: black, ruff

Reverting changes
  docs/core/metrics/datadog.md
  examples/metrics_datadog/src/add_datadog_metrics.py
Due: black, ruff

docs(metrics): add observability providers section
  docs/core/metrics.md
Due: none

Addressing Heitor's feedback
  aws_lambda_powertools/metrics/provider/datadog/datadog.py
  examples/metrics_datadog/src/assert_single_datadog_metric.py
Due: black, ruff

Deployed 8ca9017c to develop with MkDocs 1.5.2 and mike 1.1.2
  develop/404.html
  develop/automation/index.html
  develop/changelog/index.html
  develop/core/event_handler/api_gateway/index.html
  develop/core/event_handler/appsync/index.html
  develop/core/logger/index.html
  develop/core/metrics/datadog/index.html
  develop/core/metrics/index.html
  develop/core/tracer/index.html
  develop/diagram_src/cicd_steps/index.html
  develop/index.html
  develop/maintainers/index.html
  develop/roadmap/index.html
  develop/search/search_index.json
  develop/security/index.html
  develop/sitemap.xml.gz
  develop/tutorial/index.html
  develop/upgrade/index.html
  develop/utilities/batch/index.html
  develop/utilities/data_classes/index.html
  develop/utilities/feature_flags/index.html
  develop/utilities/idempotency/index.html
  develop/utilities/jmespath_functions/index.html
  develop/utilities/middleware_factory/index.html
  develop/utilities/parameters/index.html
  develop/utilities/parser/index.html
  develop/utilities/streaming/index.html
  develop/utilities/typing/index.html
  develop/utilities/validation/index.html
  develop/we_made_this/index.html
  stage/core/metrics/datadog/index.html
Due: none

Update Datadog Metrics integration diagram
  docs/core/metrics/datadog.md
Due: none

fix poetry, address some Leandro's suggestion
  Makefile
  aws_lambda_powertools/utilities/idempotency/persistence/dynamodb.py
  poetry.lock
Due: black, ruff

chore(ci): changelog rebuild
  CHANGELOG.md
Due: none

Deployed 0f14e2c7 to develop with MkDocs 1.5.2 and mike 1.1.2
  develop/changelog/index.html
  develop/search/search_index.json
  develop/sitemap.xml.gz
Due: none

docs(metrics): update Datadog integration diagram (#2954)
  docs/core/metrics/datadog.md
Due: none

Deployed 5bd446b0 to develop with MkDocs 1.5.2 and mike 1.1.2
  develop/core/metrics/datadog/index.html
  develop/search/search_index.json
  develop/sitemap.xml.gz
Due: none

fix(parameters): make cache aware of single vs multiple calls
  aws_lambda_powertools/utilities/parameters/base.py
  aws_lambda_powertools/utilities/parameters/types.py
Due: black, ruff

chore: cleanup, add test for single and nested
  aws_lambda_powertools/utilities/parameters/base.py
  aws_lambda_powertools/utilities/parameters/types.py
Due: black, ruff

docs(roadmap): fix question banner syntax
  docs/roadmap.md
Due: none

docs(roadmap): add GovCloud and China Lambda Layer
  docs/roadmap.md
Due: none

docs(roadmap): mention account team
  docs/roadmap.md
Due: none

docs(roadmap): add GovCloud and China region item (#2960)
  docs/roadmap.md
Due: none

Deployed bfde1c91 to develop with MkDocs 1.5.2 and mike 1.1.2
  develop/roadmap/index.html
  develop/search/search_index.json
  develop/sitemap.xml.gz
Due: none

feat(event_handler): allow stripping route prefixes using regexes (#2521)
  aws_lambda_powertools/event_handler/api_gateway.py
  aws_lambda_powertools/event_handler/lambda_function_url.py
  aws_lambda_powertools/event_handler/vpc_lattice.py
  docs/core/event_handler/api_gateway.md
  examples/event_handler_rest/src/strip_route_prefix_regex.py
  tests/functional/event_handler/test_api_gateway.py
Due: black, ruff

chore(test): remove itsdangerous from perf test
  tests/performance/test_data_masking.py
Due: black, ruff

chore(deps): remove itsdangerous dependencies
  poetry.lock
  pyproject.toml
Due: none

parser: making scope field optional
  aws_lambda_powertools/utilities/parser/models/apigwv2.py
Due: black, ruff

parser: adding test
  tests/unit/parser/test_apigwv2.py
Due: black, ruff

fix(parser): API Gateway V2 request context scope field should be optional (#2961)
  aws_lambda_powertools/utilities/parser/models/apigwv2.py
  tests/unit/parser/test_apigwv2.py
Due: black, ruff

Fixing sonarcloud error
  aws_lambda_powertools/event_handler/appsync.py
Due: black, ruff

Adding docstring + increasing coverage
  aws_lambda_powertools/event_handler/appsync.py
  tests/functional/event_handler/test_appsync.py
Due: black, ruff

Path conditions:
  black: any of: \.py$
  ruff: any of: \.py$
  cloudformation: any of: examples/.* and \.(yaml|yml)$
