Repository aws-powertools/powertools-lambda-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff, cloudformation

black:
  name: formatting::black
  entry: poetry run black
  language: system

ruff:
  name: linting-format::ruff
  entry: poetry run ruff
  language: system

cloudformation:
  name: linting::cloudformation
  entry: poetry run cfn-lint
  language: system

docs: add validating query strings section
  docs/core/event_handler/api_gateway.md
  examples/event_handler_rest/src/validating_query_strings.py
Due: black, ruff

docs: improve examples with list type inference
  docs/core/event_handler/api_gateway.md
  examples/event_handler_rest/src/data_validation.py
  examples/event_handler_rest/src/validating_payloads.py
  examples/event_handler_rest/src/validating_query_strings.py
Due: black, ruff

docs: add path validation section
  docs/core/event_handler/api_gateway.md
  examples/event_handler_rest/src/validating_path.py
Due: black, ruff

docs: add missing highlight for path validation
  docs/core/event_handler/api_gateway.md
Due: none

fix(event_handler): replace <> with {} when generating OpenAPI specs
  aws_lambda_powertools/event_handler/api_gateway.py
  aws_lambda_powertools/event_handler/openapi/dependant.py
  tests/functional/event_handler/test_openapi_params.py
Due: black, ruff

docs: document how to inject query strings w/o validation
  docs/core/event_handler/api_gateway.md
  examples/event_handler_rest/src/skip_validating_query_strings.py
Due: black, ruff

fix(event_handler): fix format for OpenAPI path templating (#3399)
  aws_lambda_powertools/event_handler/api_gateway.py
  aws_lambda_powertools/event_handler/openapi/dependant.py
  tests/functional/event_handler/test_openapi_params.py
Due: black, ruff

chore: add query strings to Param, Path and Query
  aws_lambda_powertools/event_handler/openapi/params.py
Due: black, ruff

docs: add OpenAPI and Swagger UI advanced
  docs/core/event_handler/api_gateway.md
  examples/event_handler_rest/src/customizing_api_metadata.py
  examples/event_handler_rest/src/customizing_api_operations.py
  examples/event_handler_rest/src/customizing_swagger.py
  examples/event_handler_rest/src/customizing_swagger_middlewares.py
  examples/event_handler_rest/src/enabling_swagger.py
Due: black, ruff

chore(ci): changelog rebuild
  CHANGELOG.md
Due: none

docs: add openapi parameters section
  docs/core/event_handler/api_gateway.md
Due: none

docs: link data validation to openapi params section
  docs/core/event_handler/api_gateway.md
Due: none

Deployed 148ae87f to develop with MkDocs 1.5.3 and mike 1.1.2
  develop/changelog/index.html
  develop/search/search_index.json
  develop/sitemap.xml.gz
Due: none

docs: add payload subset subsection
  docs/core/event_handler/api_gateway.md
  examples/event_handler_rest/src/validating_payload_subset.json
  examples/event_handler_rest/src/validating_payload_subset.py
  examples/event_handler_rest/src/validating_payload_subset_output.json
Due: black, ruff

docs: update code snippets
  docs/core/event_handler/api_gateway.md
  examples/event_handler_rest/src/data_validation.json
  examples/event_handler_rest/src/data_validation.py
  examples/event_handler_rest/src/data_validation_output.json
  examples/event_handler_rest/src/data_validation_sanitized_error.py
  examples/event_handler_rest/src/data_validation_sanitized_error_output.json
  examples/event_handler_rest/src/skip_validating_query_strings.py
  examples/event_handler_rest/src/validating_path.py
  examples/event_handler_rest/src/validating_payloads.json
  examples/event_handler_rest/src/validating_payloads.py
  examples/event_handler_rest/src/validating_payloads_output.json
  examples/event_handler_rest/src/validating_query_strings.py
Due: black, ruff

docs: use new validation error output; improve wording
  docs/core/event_handler/api_gateway.md
  examples/event_handler_rest/src/data_validation_error_unsanitized_output.json
Due: none

fix(event_handler): simplify default data validation error format
  aws_lambda_powertools/event_handler/api_gateway.py
  tests/functional/event_handler/test_bedrock_agent.py
Due: black, ruff

docs: add OpenAPI and data validation as key features
  docs/core/event_handler/api_gateway.md
Due: none

fix(event_handler): hide error details by default (#3406)
  aws_lambda_powertools/event_handler/api_gateway.py
  tests/functional/event_handler/test_bedrock_agent.py
Due: black, ruff

docs: remove older examples from openapi validation
  examples/event_handler_validation/sam/template.yaml
  examples/event_handler_validation/src/body_parsing.json
  examples/event_handler_validation/src/body_parsing.py
  examples/event_handler_validation/src/body_parsing_embed.json
  examples/event_handler_validation/src/body_parsing_embed.py
  examples/event_handler_validation/src/body_parsing_embed_output.json
  examples/event_handler_validation/src/body_parsing_output.json
  examples/event_handler_validation/src/customize_api_metadata.py
  examples/event_handler_validation/src/customizing_operations.py
  examples/event_handler_validation/src/customizing_parameters.py
  examples/event_handler_validation/src/generate_openapi_json_spec.json
  examples/event_handler_validation/src/generate_openapi_json_spec.py
  examples/event_handler_validation/src/generate_openapi_spec.py
  examples/event_handler_validation/src/getting_started.json
  examples/event_handler_validation/src/getting_started.py
  examples/event_handler_validation/src/getting_started_bad_input.json
  examples/event_handler_validation/src/getting_started_bad_input_output.json
  examples/event_handler_validation/src/getting_started_output.json
  examples/event_handler_validation/src/getting_started_pydantic.json
  examples/event_handler_validation/src/getting_started_pydantic.py
  examples/event_handler_validation/src/getting_started_pydantic_output.json
  examples/event_handler_validation/src/requirements.txt
  examples/event_handler_validation/src/swagger.py
  examples/event_handler_validation/src/swagger_customize.py
  examples/event_handler_validation/src/swagger_middlewares.py
  examples/event_handler_validation/src/validating_query_strings.py
Due: black, ruff, cloudformation

docs: fix swagger UI example
  docs/core/event_handler/api_gateway.md
  examples/event_handler_rest/src/enabling_swagger.py
Due: black, ruff

docs: add note that dataclasses are supported too
  docs/core/event_handler/api_gateway.md
Due: none

docs: add swagger UI routes for API GW
  examples/event_handler_lambda_function_url/sam/template.yaml
  examples/event_handler_rest/sam/template.yaml
Due: cloudformation

chore: remove openapi docs for now
  docs/core/event_handler/api_gateway.md
  docs/core/event_handler/api_gateway/index.md
  docs/core/event_handler/openapi.md
  mkdocs.yml
Due: none

fix: example for old pythons
  docs/core/event_handler/api_gateway.md
  examples/event_handler_rest/src/validating_payload_subset.py
Due: black, ruff

fix: more types
  docs/core/event_handler/api_gateway.md
  examples/event_handler_rest/src/validating_query_strings.py
Due: black, ruff

fix: one more
  docs/core/event_handler/api_gateway.md
  examples/event_handler_rest/src/validating_path.py
Due: black, ruff

docs(event_handlers): new data validation and OpenAPI feature (#3386)
  aws_lambda_powertools/event_handler/openapi/params.py
  docs/core/event_handler/api_gateway.md
  docs/media/swagger.png
  examples/event_handler_lambda_function_url/sam/template.yaml
  examples/event_handler_rest/sam/template.yaml
  examples/event_handler_rest/src/customizing_api_metadata.py
  examples/event_handler_rest/src/customizing_api_operations.py
  examples/event_handler_rest/src/customizing_swagger.py
  examples/event_handler_rest/src/customizing_swagger_middlewares.py
  examples/event_handler_rest/src/data_validation.json
  examples/event_handler_rest/src/data_validation.py
  examples/event_handler_rest/src/data_validation_error.json
  examples/event_handler_rest/src/data_validation_error_unsanitized_output.json
  examples/event_handler_rest/src/data_validation_output.json
  examples/event_handler_rest/src/data_validation_sanitized_error.py
  examples/event_handler_rest/src/data_validation_sanitized_error_output.json
  examples/event_handler_rest/src/enabling_swagger.py
  examples/event_handler_rest/src/skip_validating_query_strings.py
  examples/event_handler_rest/src/validating_path.py
  examples/event_handler_rest/src/validating_payload_subset.json
  examples/event_handler_rest/src/validating_payload_subset.py
  examples/event_handler_rest/src/validating_payload_subset_output.json
  examples/event_handler_rest/src/validating_payloads.json
  examples/event_handler_rest/src/validating_payloads.py
  examples/event_handler_rest/src/validating_payloads_output.json
  examples/event_handler_rest/src/validating_query_strings.py
Due: black, ruff, cloudformation

Deployed 765781cb to develop with MkDocs 1.5.3 and mike 1.1.2
  develop/core/event_handler/api_gateway/index.html
  develop/media/swagger.png
  develop/search/search_index.json
  develop/sitemap.xml.gz
Due: none

chore: version bump
  aws_lambda_powertools/shared/version.py
  pyproject.toml
Due: black, ruff

chore(ci): bump version to 2.28.0
  aws_lambda_powertools/shared/version.py
  pyproject.toml
Due: black, ruff

chore(ci): layer docs update
  CHANGELOG.md
  docs/index.md
  examples/logger/sam/template.yaml
  examples/metrics/sam/template.yaml
  examples/tracer/sam/template.yaml
Due: cloudformation

Deployed dc9a2377 to develop with MkDocs 1.5.3 and mike 1.1.2
  develop/changelog/index.html
  develop/core/logger/index.html
  develop/core/metrics/index.html
  develop/core/tracer/index.html
  develop/index.html
  develop/search/search_index.json
  develop/sitemap.xml.gz
Due: none

Path conditions:
  black: any of: \.py$
  ruff: any of: \.py$
  cloudformation: any of: examples/.* and \.(yaml|yml)$
