Repository aws-powertools/powertools-lambda-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, flake8, cloudformation

black:
  name: formatting::black
  entry: poetry run black
  language: system

isort:
  name: formatting::isort
  entry: poetry run isort
  language: system

flake8:
  name: linting::flake8
  entry: poetry run flake8
  language: system

cloudformation:
  name: linting::cloudformation
  entry: poetry run cfn-lint
  language: system

fix: enable python 3.10 on SAR template
  layer/sar/template.txt
Due: none

chore: update v2 layer ARN on documentation
  docs/index.md
  examples/logger/sam/template.yaml
  examples/metrics/sam/template.yaml
  examples/tracer/sam/template.yaml
Due: cloudformation

bump version to 2.14.0
  pyproject.toml
Due: none

update changelog with latest changes
  CHANGELOG.md
Due: none

docs(readme): update python version badge to 3.10
  README.md
Due: none

fix: add Python 3.10 to pyproject
  poetry.lock
  pyproject.toml
Due: none

chore: add Python 3.10 PyPi language classifier (#2144)
  poetry.lock
  pyproject.toml
Due: none

feat: add queue_url field in SQS EventSource DataClass
  aws_lambda_powertools/utilities/data_classes/sqs_event.py
  tests/functional/test_data_classes.py
Due: black, isort, flake8

feat(event_sources): add queue_url field in SQS EventSource DataClass (#2146)
  aws_lambda_powertools/utilities/data_classes/sqs_event.py
  tests/functional/test_data_classes.py
Due: black, isort, flake8

fix: ignore order when comparing thread results
  tests/e2e/idempotency/test_idempotency_dynamodb.py
Due: black, isort, flake8

fix(e2e): fix e2e tests running on python 3.7
  tests/e2e/streaming/handlers/s3_object_handler.py
Due: black, isort, flake8

fix(e2e): fix test brittleness (#2152)
  tests/e2e/idempotency/test_idempotency_dynamodb.py
  tests/e2e/streaming/handlers/s3_object_handler.py
Due: black, isort, flake8

feat: Add __str__ to Data Classes base DictWrapper
  aws_lambda_powertools/utilities/data_classes/common.py
Due: black, isort, flake8

docs: Data Classes str()
  docs/utilities/data_classes.md
Due: none

feat: Add str sensitive for CodePipeline Data
  aws_lambda_powertools/utilities/data_classes/code_pipeline_job_event.py
Due: black, isort, flake8

test: Data Classes str()
  tests/functional/test_data_classes.py
Due: black, isort, flake8

chore(batch): safeguard custom use of BatchProcessingError exception
  aws_lambda_powertools/utilities/batch/exceptions.py
Due: black, isort, flake8

chore(batch): safeguard custom use of BatchProcessingError exception (#2155)
  aws_lambda_powertools/utilities/batch/exceptions.py
Due: black, isort, flake8

fix(batch): resolve use of ValidationError in bacth which breaks optional pydantic dependency
  aws_lambda_powertools/utilities/batch/base.py
Due: black, isort, flake8

refactor: use pydantic contract and triple check it comes from the same model we know
  aws_lambda_powertools/utilities/batch/base.py
Due: black, isort, flake8

chore: duplicate fix in async
  aws_lambda_powertools/utilities/batch/base.py
Due: black, isort, flake8

fix(batch): resolve use of ValidationError in batch (#2157)
  aws_lambda_powertools/utilities/batch/base.py
Due: black, isort, flake8

bump version to 2.14.1
  pyproject.toml
Due: none

chore: add dummy reusable dispatch analytics job
  .github/workflows/reusable_dispatch_analytics.yml
Due: none

fix: typo
  .github/workflows/reusable_dispatch_analytics.yml
Due: none

chore(docs): adding companies that supports Powertools
  README.md
  docs/media/logos/cloudzero-logo.png
  docs/media/logos/cpqi.png
  docs/media/logos/cyberark-logo-dark.svg
  docs/media/logos/globaldatanet.png
  docs/media/logos/ims-logo.png
  docs/media/logos/propellor-ai.png
  docs/media/logos/topsport.svg
  docs/media/logos/trek10-logo.jpeg
Due: none

chore(docs): fix links
  README.md
Due: none

chore(docs): fix order
  README.md
Due: none

chore(docs): fix typo
  README.md
  docs/index.md
Due: none

chore(docs): text
  README.md
Due: none

chore: add analytics dispatch dummy job
  .github/workflows/reusable_generate_analytics.yml
Due: none

fix: renamed file
  .github/workflows/reusable_dispatch_analytics.yml
  .github/workflows/reusable_generate_analytics.yml
Due: none

fix: encode the payload as bsae64
  .github/workflows/reusable_dispatch_analytics.yml
Due: none

chore: actually call the dispatcher
  .github/workflows/reusable_dispatch_analytics.yml
Due: none

Path conditions:
  black: any of: \.py$
  isort: any of: \.py$
  flake8: any of: \.py$
  cloudformation: any of: examples/.* and \.(yaml|yml)$
