Repository aws-powertools/powertools-lambda-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff, cloudformation

black:
  name: formatting::black
  entry: poetry run black
  language: system

ruff:
  name: linting-format::ruff
  entry: poetry run ruff
  language: system

cloudformation:
  name: linting::cloudformation
  entry: poetry run cfn-lint
  language: system

feat(feature_flags): allow customers to bring their own boto3 client and session (#4717)
  aws_lambda_powertools/utilities/feature_flags/appconfig.py
  docs/utilities/feature_flags.md
  examples/feature_flags/src/custom_boto_client_feature_flags.py
  examples/feature_flags/src/custom_boto_config_feature_flags.py
  examples/feature_flags/src/custom_boto_session_feature_flags.py
  tests/functional/feature_flags/_boto3/test_feature_flags.py
Due: black, ruff

Deployed 10d551cf to develop with MkDocs 1.6.0 and mike 2.1.2
  develop/search/search_index.json
  develop/utilities/feature_flags/index.html
Due: none

Addressing Simon's feedback
  aws_lambda_powertools/event_handler/openapi/models.py
Due: black, ruff

Addressing Simon's feedback
  tests/unit/event_handler/__init__.py
  tests/unit/event_handler/_pydantic/__init__.py
  tests/unit/event_handler/_pydantic/conftest.py
  tests/unit/event_handler/_pydantic/test_openapi_models_pydantic_v1.py
  tests/unit/event_handler/_pydantic/test_openapi_models_pydantic_v2.py
Due: black, ruff

Addressing Simon's feedback
  noxfile.py
Due: black, ruff

Fix bug in Max-Age attribute
  aws_lambda_powertools/shared/cookies.py
  tests/unit/test_cookie_class.py
Due: black, ruff

Add more fields to test
  tests/unit/test_cookie_class.py
Due: black, ruff

Adding more tests
  aws_lambda_powertools/event_handler/openapi/models.py
  tests/unit/event_handler/_pydantic/test_openapi_models_pydantic_v1.py
  tests/unit/event_handler/_pydantic/test_openapi_models_pydantic_v2.py
Due: black, ruff

Adding more tests
  aws_lambda_powertools/event_handler/openapi/models.py
Due: black, ruff

Revert changes in prev_result
  aws_lambda_powertools/utilities/data_classes/appsync_resolver_event.py
Due: black, ruff

Revert changes to examples using "cloudfront-viewer-country"
  aws_lambda_powertools/event_handler/appsync.py
  examples/event_handler_graphql/src/custom_models.py
  tests/functional/event_handler/test_appsync.py
Due: black, ruff

Update tests/unit/data_classes/test_appsync_resolver_event.py
  tests/unit/data_classes/test_appsync_resolver_event.py
Due: black, ruff

Minor simplification in CaseInsensitiveDict
  aws_lambda_powertools/utilities/data_classes/common.py
Due: black, ruff

fix(event_handler): make the max_age attribute comply with RFC specification (#4731)
  aws_lambda_powertools/shared/cookies.py
  tests/unit/test_cookie_class.py
Due: black, ruff

chore(ci): new pre-release 2.40.2a8
  aws_lambda_powertools/shared/version.py
  provenance/2.40.2a8/multiple.intoto.jsonl
  pyproject.toml
Due: black, ruff

Downgrading CDK
  package-lock.json
  package.json
  poetry.lock
  pyproject.toml
Due: none

chore(layers): downgrade aws cdk to 2.145.0 (#4739)
  package-lock.json
  package.json
  poetry.lock
  pyproject.toml
Due: none

chore: version bump
  aws_lambda_powertools/shared/version.py
  pyproject.toml
Due: black, ruff

chore(ci): bump version to 2.41.0
  aws_lambda_powertools/shared/version.py
  pyproject.toml
Due: black, ruff

chore(ci): layer docs update
  CHANGELOG.md
  docs/index.md
  examples/logger/sam/template.yaml
  examples/metrics/sam/template.yaml
  examples/tracer/sam/template.yaml
Due: cloudformation

Deployed 9f400ecd to develop with MkDocs 1.6.0 and mike 2.1.2
  develop/changelog/index.html
  develop/core/logger/index.html
  develop/core/metrics/index.html
  develop/core/tracer/index.html
  develop/index.html
  develop/search/search_index.json
  develop/sitemap.xml.gz
Due: none

chore(ci): changelog rebuild
  CHANGELOG.md
Due: none

chore(ci): new pre-release 2.41.1a0
  aws_lambda_powertools/shared/version.py
  provenance/2.41.1a0/multiple.intoto.jsonl
  pyproject.toml
Due: black, ruff

Deployed 43d1376f to develop with MkDocs 1.6.0 and mike 2.1.2
  develop/changelog/index.html
  develop/search/search_index.json
  develop/sitemap.xml.gz
Due: none

chore(ci): new pre-release 2.41.1a1
  aws_lambda_powertools/shared/version.py
  provenance/2.41.1a1/multiple.intoto.jsonl
  pyproject.toml
Due: black, ruff

feat(event_handler): add OpenAPI extensions (#4703)
  aws_lambda_powertools/event_handler/api_gateway.py
  aws_lambda_powertools/event_handler/bedrock_agent.py
  aws_lambda_powertools/event_handler/openapi/compat.py
  aws_lambda_powertools/event_handler/openapi/models.py
  docs/core/event_handler/api_gateway.md
  examples/event_handler_rest/src/working_with_openapi_extensions.py
  noxfile.py
  tests/e2e/event_handler/handlers/openapi_handler.py
  tests/e2e/event_handler/infrastructure.py
  tests/e2e/event_handler/test_openapi.py
  tests/functional/event_handler/_pydantic/conftest.py
  tests/functional/event_handler/_pydantic/test_openapi_extensions.py
  tests/unit/event_handler/__init__.py
  tests/unit/event_handler/_pydantic/__init__.py
  tests/unit/event_handler/_pydantic/conftest.py
  tests/unit/event_handler/_pydantic/test_openapi_models_pydantic_v1.py
  tests/unit/event_handler/_pydantic/test_openapi_models_pydantic_v2.py
Due: black, ruff

Deployed b8b4632f to develop with MkDocs 1.6.0 and mike 2.1.2
  develop/core/event_handler/api_gateway/index.html
  develop/search/search_index.json
  develop/sitemap.xml.gz
Due: none

chore(ci): new pre-release 2.41.1a2
  aws_lambda_powertools/shared/version.py
  provenance/2.41.1a2/multiple.intoto.jsonl
  pyproject.toml
Due: black, ruff

chore(ci): new pre-release 2.41.1a3
  aws_lambda_powertools/shared/version.py
  provenance/2.41.1a3/multiple.intoto.jsonl
  pyproject.toml
Due: black, ruff

chore(ci): new pre-release 2.41.1a4
  aws_lambda_powertools/shared/version.py
  provenance/2.41.1a4/multiple.intoto.jsonl
  pyproject.toml
Due: black, ruff

Deployed b1c05329 to develop with MkDocs 1.6.0 and mike 2.1.2
  develop/changelog/index.html
  develop/search/search_index.json
  develop/sitemap.xml.gz
Due: none

fix(idempotency): fix timeout bug from #4759
  aws_lambda_powertools/utilities/idempotency/persistence/base.py
Due: black, ruff

Path conditions:
  black: any of: \.py$
  ruff: any of: \.py$
  cloudformation: any of: examples/.* and \.(yaml|yml)$
