Repository aws-powertools/powertools-lambda-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff, cloudformation

black:
  name: formatting::black
  entry: poetry run black
  language: system

ruff:
  name: linting-format::ruff
  entry: poetry run ruff
  language: system

cloudformation:
  name: linting::cloudformation
  entry: poetry run cfn-lint
  language: system

chore(ci): changelog rebuild
  CHANGELOG.md
Due: none

docs(openapi): Update docstring's openapi default version to match current default version (#7669)
  aws_lambda_powertools/event_handler/api_gateway.py
  aws_lambda_powertools/event_handler/openapi/config.py
Due: black, ruff

test(data-classes): add assertions for lazy initialization of token generation properties
  tests/unit/data_classes/required_dependencies/test_cognito_user_pool_event.py
Due: black, ruff

final merge before release
  README.md
  docs/automation.md
  docs/index.md
  docs/tutorial/index.md
  examples/build_recipes/build_multi_arch/build-linux-wheels.sh
  examples/build_recipes/build_multi_arch/lambda-build.yml
  examples/build_recipes/cicd/codebuild/buildspec-advanced.yml
  examples/build_recipes/cicd/codebuild/buildspec.yml
  layer_v3/docker/Dockerfile
  layer_v3/layer_constructors/layer_stack.py
Due: black, ruff, cloudformation

chore(ci): adding support for Python 3.14 - WIP (#7431)
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/static_typing.yml
  .github/workflows/bootstrap_region.yml
  .github/workflows/layer_govcloud.yml
  .github/workflows/layer_govcloud_verify.yml
  .github/workflows/layers_partition_verify.yml
  .github/workflows/layers_partitions.yml
  .github/workflows/pre-release.yml
  .github/workflows/publish_v3_layer.yml
  .github/workflows/quality_check.yml
  .github/workflows/quality_check_docs.yml
  .github/workflows/quality_code_cdk_constructor.yml
  .github/workflows/release-v3.yml
  .github/workflows/reusable_deploy_v3_layer_stack.yml
  .github/workflows/reusable_deploy_v3_sar.yml
  .github/workflows/run-e2e-tests.yml
  .github/workflows/update_ssm.yml
  README.md
  docs/automation.md
  docs/build_recipes/cross-platform.md
  docs/includes/_layer_homepage_arm64.md
  docs/includes/_layer_homepage_x86.md
  docs/index.md
  docs/tutorial/index.md
  docs/upgrade.md
  docs/versioning.md
  examples/build_recipes/build_multi_arch/build-linux-wheels.sh
  examples/build_recipes/build_multi_arch/lambda-build.yml
  examples/build_recipes/cicd/codebuild/buildspec-advanced.yml
  examples/build_recipes/cicd/codebuild/buildspec.yml
  layer_v3/docker/Dockerfile
  layer_v3/layer/canary_stack.py
  layer_v3/layer/layer_stack.py
  layer_v3/layer_constructors/layer_stack.py
  poetry.lock
  pyproject.toml
  tests/e2e/utils/infrastructure.py
  tests/functional/metrics/datadog/test_metrics_datadog.py
Due: black, ruff, cloudformation

chore(ci): bump version to 3.23.0
  aws_lambda_powertools/shared/version.py
  pyproject.toml
Due: black, ruff

bump cdk
  layer_v3/poetry.lock
  layer_v3/pyproject.toml
Due: none

fix(layer): bump cdk version (#7677)
  layer_v3/poetry.lock
  layer_v3/pyproject.toml
Due: none

chore: version bump
  aws_lambda_powertools/shared/version.py
  pyproject.toml
Due: black, ruff

chore(ci): layer docs update
  CHANGELOG.md
  docs/includes/_layer_homepage_arm64.md
  docs/includes/_layer_homepage_x86.md
  docs/index.md
  examples/build_recipes/cdk/basic/app.py
  examples/build_recipes/cdk/multi-stack/stacks/powertools_cdk_stack.py
  examples/build_recipes/sam/multi-env/template.yaml
  examples/build_recipes/sam/with-layers/template.yaml
  examples/homepage/install/arm64/amplify.txt
  examples/homepage/install/arm64/cdk_arm64.py
  examples/homepage/install/arm64/pulumi_arm64.py
  examples/homepage/install/arm64/sam.yaml
  examples/homepage/install/arm64/serverless.yml
  examples/homepage/install/arm64/terraform.tf
  examples/homepage/install/x86_64/amplify.txt
  examples/homepage/install/x86_64/cdk_x86.py
  examples/homepage/install/x86_64/pulumi_x86.py
  examples/homepage/install/x86_64/sam.yaml
  examples/homepage/install/x86_64/serverless.yml
  examples/homepage/install/x86_64/terraform.tf
  examples/logger/sam/template.yaml
  examples/metrics/sam/template.yaml
  examples/metrics_datadog/sam/template.yaml
  examples/tracer/sam/template.yaml
Due: black, ruff, cloudformation

chore(ci): new pre-release 3.23.1a0
  aws_lambda_powertools/shared/version.py
  provenance/3.23.1a0/multiple.intoto.jsonl
  pyproject.toml
Due: black, ruff

fix(ci): add missing dollar signs in SSM parameter path variables
  .github/workflows/update_ssm.yml
Due: none

fix(ci): add missing dollar signs in SSM parameter path variables (#7695)
  .github/workflows/update_ssm.yml
Due: none

chore(ci): new pre-release 3.23.1a1
  aws_lambda_powertools/shared/version.py
  provenance/3.23.1a1/multiple.intoto.jsonl
  pyproject.toml
Due: black, ruff

remote .
  aws_lambda_powertools/event_handler/events_appsync/exceptions.py
Due: black, ruff

refactor(event-handler): remove kwargs from AppSync exception constructor (#7699)
  aws_lambda_powertools/event_handler/events_appsync/exceptions.py
Due: black, ruff

chore(ci): new pre-release 3.23.1a2
  aws_lambda_powertools/shared/version.py
  provenance/3.23.1a2/multiple.intoto.jsonl
  pyproject.toml
Due: black, ruff

chore(ci): new pre-release 3.23.1a3
  aws_lambda_powertools/shared/version.py
  provenance/3.23.1a3/multiple.intoto.jsonl
  pyproject.toml
Due: black, ruff

fix(data-classes): ensure lazy initialization for Cognito token generation response properties (#7653)
  aws_lambda_powertools/utilities/data_classes/cognito_user_pool_event.py
  tests/unit/data_classes/required_dependencies/test_cognito_user_pool_event.py
Due: black, ruff

chore(ci): new pre-release 3.23.1a4
  aws_lambda_powertools/shared/version.py
  provenance/3.23.1a4/multiple.intoto.jsonl
  pyproject.toml
Due: black, ruff

chore(ci): new pre-release 3.23.1a5
  aws_lambda_powertools/shared/version.py
  provenance/3.23.1a5/multiple.intoto.jsonl
  pyproject.toml
Due: black, ruff

chore(ci): new pre-release 3.23.1a6
  aws_lambda_powertools/shared/version.py
  provenance/3.23.1a6/multiple.intoto.jsonl
  pyproject.toml
Due: black, ruff

chore(ci): new pre-release 3.23.1a7
  aws_lambda_powertools/shared/version.py
  provenance/3.23.1a7/multiple.intoto.jsonl
  pyproject.toml
Due: black, ruff

chore(ci): new pre-release 3.23.1a8
  aws_lambda_powertools/shared/version.py
  provenance/3.23.1a8/multiple.intoto.jsonl
  pyproject.toml
Due: black, ruff

docs: clarify BedrockResponse.is_json() always returns True
  aws_lambda_powertools/event_handler/api_gateway.py
  docs/core/event_handler/bedrock_agents.md
Due: black, ruff

Path conditions:
  black: any of: \.py$
  ruff: any of: \.py$
  cloudformation: any of: examples/.* and \.(yaml|yml)$
