Repository aws-powertools/powertools-lambda-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff, cloudformation

.pre-commit-config.yaml:

# We use poetry to run formatting and linting before commit/push
# Longer checks such as tests, security and complexity baseline
# are run as part of CI to prevent slower feedback loop
# All checks can be run locally via `make pr`

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: "f71fa2c1f9cf5cb705f73dffe4b21f7c61470ba9" # v4.4.0
    hooks:
      - id: check-merge-conflict
      - id: trailing-whitespace
      - id: check-toml
  - repo: local
    hooks:
      - id: black
        name: formatting::black
        entry: poetry run black
        language: system
        types: [python]
      - id: ruff
        name: linting-format::ruff
        entry: poetry run ruff
        language: system
        types: [python]
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: "ce0d77ac47dc921b62429804fe763d4d35f66a76" # v0.34.0
    hooks:
      - id: markdownlint-docker
        args: ["--fix"]
  - repo: local
    hooks:
      - id: cloudformation
        name: linting::cloudformation
        entry: poetry run cfn-lint
        language: system
        types: [yaml]
        files: examples/.*
  - repo: https://github.com/rhysd/actionlint
    rev: "fd7ba3c382e13dcc0248e425b4cbc3f1185fa3ee" # v1.6.24
    hooks:
      - id: actionlint-docker
        args: [-pyflakes=]
  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: 3420134c37197c21edffc7e6093b14ffae8402f2 # v1.81.0
    hooks:
      - id: terraform_fmt
        args:
          - --args=-recursive
  - repo: https://github.com/gitleaks/gitleaks
    rev: "7804d652c0460f0b61ea9bb2c1f202bfcdbbf144" # v8.16.3
    hooks:
      - id: gitleaks

feat(general): add support for Python 3.12 (#3304)
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/static_typing.yml
  .github/workflows/publish_v2_layer.yml
  .github/workflows/quality_check.yml
  .github/workflows/quality_check_pydanticv2.yml
  .github/workflows/release.yml
  .github/workflows/reusable_deploy_v2_layer_stack.yml
  .github/workflows/reusable_publish_docs.yml
  .github/workflows/run-e2e-tests.yml
  README.md
  docs/tutorial/index.md
  examples/batch_processing/sam/dynamodb_batch_processing.yaml
  examples/batch_processing/sam/kinesis_batch_processing.yaml
  examples/batch_processing/sam/sqs_batch_processing.yaml
  examples/event_handler_lambda_function_url/sam/template.yaml
  examples/event_handler_rest/sam/micro_function_template.yaml
  examples/event_handler_rest/sam/template.yaml
  examples/idempotency/templates/sam.yaml
  examples/idempotency/templates/terraform.tf
  examples/logger/sam/template.yaml
  examples/metrics/sam/template.yaml
  examples/metrics_datadog/sam/template.yaml
  examples/middleware_factory/sam/combining_powertools_utilities_template.yaml
  examples/tracer/sam/template.yaml
  layer/poetry.lock
  layer/pyproject.toml
  layer/sar/template.txt
  package-lock.json
  poetry.lock
  pyproject.toml
  tests/e2e/utils/infrastructure.py
  tests/performance/data_masking/load_test_data_masking/pt-load-test-stack/template.yaml
Due: black, ruff, cloudformation

Deployed 228b7157 to develop with MkDocs 1.5.3 and mike 1.1.2
  develop/core/event_handler/api_gateway/index.html
  develop/core/logger/index.html
  develop/core/metrics/datadog/index.html
  develop/core/metrics/index.html
  develop/core/tracer/index.html
  develop/search/search_index.json
  develop/sitemap.xml.gz
  develop/tutorial/index.html
  develop/utilities/batch/index.html
  develop/utilities/idempotency/index.html
  develop/utilities/middleware_factory/index.html
Due: none

chore: version bump
  aws_lambda_powertools/shared/version.py
  pyproject.toml
Due: black, ruff

chore(ci): layer docs update
  CHANGELOG.md
  docs/index.md
  examples/logger/sam/template.yaml
  examples/metrics/sam/template.yaml
  examples/tracer/sam/template.yaml
Due: cloudformation

chore(ci): bump version to 2.30.0
  aws_lambda_powertools/shared/version.py
  pyproject.toml
Due: black, ruff

Deployed 810232d6 to develop with MkDocs 1.5.3 and mike 1.1.2
  develop/changelog/index.html
  develop/search/search_index.json
  develop/sitemap.xml.gz
Due: none

Deployed 32b986ab to develop with MkDocs 1.5.3 and mike 1.1.2
  develop/changelog/index.html
  develop/core/logger/index.html
  develop/core/metrics/index.html
  develop/core/tracer/index.html
  develop/index.html
  develop/search/search_index.json
  develop/sitemap.xml.gz
Due: none

Addressing Seshu's feedback
  aws_lambda_powertools/utilities/_data_masking/provider/kms/aws_encryption_sdk.py
Due: black, ruff

Improving examples
  docs/utilities/data_masking.md
  examples/data_masking/sam/template.yaml
  examples/data_masking/src/getting_started_mask_data.py
Due: black, ruff, cloudformation

Improving examples
  docs/utilities/data_masking.md
  examples/data_masking/src/getting_started_decrypt_data.py
  examples/data_masking/src/getting_started_mask_data.py
Due: black, ruff

docs: improve encrypt ops sequence diagram
  docs/utilities/data_masking.md
Due: none

docs: early caching msg before diagram
  docs/utilities/data_masking.md
Due: none

docs: add caching in encryption sdk ops
  docs/utilities/data_masking.md
Due: none

Added max_bytes_encrypted to CMM
  aws_lambda_powertools/utilities/_data_masking/constants.py
  aws_lambda_powertools/utilities/_data_masking/provider/kms/aws_encryption_sdk.py
  docs/utilities/data_masking.md
  examples/data_masking/src/getting_started_decrypt_data.py
  examples/data_masking/src/getting_started_encrypt_data.py
Due: black, ruff

Fix mypy errors
  examples/data_masking/src/getting_started_decrypt_data.py
  examples/data_masking/src/getting_started_encrypt_data.py
Due: black, ruff

Adding logging + data type + variable names
  aws_lambda_powertools/utilities/_data_masking/base.py
  aws_lambda_powertools/utilities/_data_masking/provider/kms/aws_encryption_sdk.py
  examples/data_masking/src/getting_started_decrypt_data.py
  examples/data_masking/src/getting_started_encrypt_data.py
Due: black, ruff

Added docstrings to baseprovider
  aws_lambda_powertools/utilities/_data_masking/base.py
  aws_lambda_powertools/utilities/_data_masking/exceptions.py
  aws_lambda_powertools/utilities/_data_masking/provider/base.py
  aws_lambda_powertools/utilities/_data_masking/provider/kms/aws_encryption_sdk.py
Due: black, ruff

chore(ci): changelog rebuild
  CHANGELOG.md
Due: none

Explain fields syntax more
  docs/utilities/data_masking.md
Due: none

fix(event_handler): allow responses and metadata when using Router
  aws_lambda_powertools/event_handler/api_gateway.py
  aws_lambda_powertools/event_handler/util.py
  tests/functional/event_handler/test_openapi_params.py
Due: black, ruff

chore: add maintenance note
  aws_lambda_powertools/event_handler/util.py
Due: black, ruff

fix(event_handler): allow responses and metadata when using Router (#3514)
  aws_lambda_powertools/event_handler/api_gateway.py
  aws_lambda_powertools/event_handler/util.py
  tests/functional/event_handler/test_openapi_params.py
Due: black, ruff

Deployed ea6c1892 to develop with MkDocs 1.5.3 and mike 1.1.2
  develop/changelog/index.html
  develop/search/search_index.json
  develop/sitemap.xml.gz
Due: none

chore(ci): bump version to 2.30.1
  aws_lambda_powertools/shared/version.py
  pyproject.toml
Due: black, ruff

Deployed 49c5ab12 to develop with MkDocs 1.5.3 and mike 1.1.2
  develop/changelog/index.html
  develop/core/logger/index.html
  develop/core/metrics/index.html
  develop/core/tracer/index.html
  develop/index.html
  develop/search/search_index.json
  develop/sitemap.xml.gz
Due: none

Clarify fields param
  docs/utilities/data_masking.md
Due: none
