Repository aws-powertools/powertools-lambda-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff, cloudformation

.pre-commit-config.yaml:

# We use poetry to run formatting and linting before commit/push
# Longer checks such as tests, security and complexity baseline
# are run as part of CI to prevent slower feedback loop
# All checks can be run locally via `make pr`

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: "f71fa2c1f9cf5cb705f73dffe4b21f7c61470ba9" # v4.4.0
    hooks:
      - id: check-merge-conflict
      - id: trailing-whitespace
      - id: check-toml
  - repo: local
    hooks:
      - id: black
        name: formatting::black
        entry: poetry run black
        language: system
        types: [python]
      - id: ruff
        name: linting-format::ruff
        entry: poetry run ruff
        language: system
        types: [python]
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: "ce0d77ac47dc921b62429804fe763d4d35f66a76" # v0.34.0
    hooks:
      - id: markdownlint-docker
        args: ["--fix"]
  - repo: local
    hooks:
      - id: cloudformation
        name: linting::cloudformation
        entry: poetry run cfn-lint
        language: system
        types: [yaml]
        files: examples/.*
  - repo: https://github.com/rhysd/actionlint
    rev: "fd7ba3c382e13dcc0248e425b4cbc3f1185fa3ee" # v1.6.24
    hooks:
      - id: actionlint-docker
        args: [-pyflakes=]
  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: 3420134c37197c21edffc7e6093b14ffae8402f2 # v1.81.0
    hooks:
      - id: terraform_fmt
        args:
          - --args=-recursive
  - repo: https://github.com/gitleaks/gitleaks
    rev: "7804d652c0460f0b61ea9bb2c1f202bfcdbbf144" # v8.16.3
    hooks:
      - id: gitleaks

chore(ci): changelog rebuild
  CHANGELOG.md
Due: none

fix(event_handler): fix compress handling
  aws_lambda_powertools/event_handler/api_gateway.py
Due: black, ruff

fix(event_handler): fix compress handling (#3420)
  aws_lambda_powertools/event_handler/api_gateway.py
Due: black, ruff

chore: version bump
  aws_lambda_powertools/shared/version.py
  pyproject.toml
Due: black, ruff

chore(ci): bump version to 2.28.1
  aws_lambda_powertools/shared/version.py
  pyproject.toml
Due: black, ruff

chore(ci): layer docs update
  CHANGELOG.md
  docs/index.md
  examples/logger/sam/template.yaml
  examples/metrics/sam/template.yaml
  examples/tracer/sam/template.yaml
Due: cloudformation

Deployed a25e1b7c to develop with MkDocs 1.5.3 and mike 1.1.2
  develop/changelog/index.html
  develop/core/logger/index.html
  develop/core/metrics/index.html
  develop/core/tracer/index.html
  develop/index.html
  develop/search/search_index.json
  develop/sitemap.xml.gz
Due: none

Update canary_stack.py
  layer/layer/canary_stack.py
Due: black, ruff

chore(layers): Update log retention to 10 years (#3424)
  layer/layer/canary_stack.py
Due: black, ruff

Deployed 026beb03 to develop with MkDocs 1.5.3 and mike 1.1.2
  develop/Dockerfile
  develop/sitemap.xml.gz
Due: none

Deployed 227844dc to develop with MkDocs 1.5.3 and mike 1.1.2
  develop/changelog/index.html
  develop/search/search_index.json
  develop/sitemap.xml.gz
Due: none

feat: add ReturnValuesOnConditionCheckFailure to DynamoDB idempotency to return a copy of the item on failure and avoid a subsequent get #3327
  aws_lambda_powertools/utilities/idempotency/base.py
  aws_lambda_powertools/utilities/idempotency/exceptions.py
  aws_lambda_powertools/utilities/idempotency/persistence/base.py
  aws_lambda_powertools/utilities/idempotency/persistence/datarecord.py
  aws_lambda_powertools/utilities/idempotency/persistence/dynamodb.py
  docs/utilities/idempotency.md
  pyproject.toml
  tests/functional/idempotency/conftest.py
  tests/functional/idempotency/test_idempotency.py
  tests/functional/idempotency/utils.py
  tests/unit/idempotency/test_dynamodb_persistence.py
Due: black, ruff

feat: add ReturnValuesOnConditionCheckFailure to DynamoDB idempotency to return a copy of the item on failure and avoid a subsequent get #3327
  tests/functional/idempotency/test_idempotency.py
Due: black, ruff

Deployed ca117dda to develop with MkDocs 1.5.3 and mike 1.1.2
  develop/changelog/index.html
  develop/search/search_index.json
  develop/sitemap.xml.gz
Due: none

Removing unecessary code
  aws_lambda_powertools/utilities/data_classes/api_gateway_proxy_event.py
  aws_lambda_powertools/utilities/parser/models/apigwv2.py
  tests/events/apiGatewayProxyV2LambdaAuthorizerEvent.json
  tests/unit/data_classes/test_api_gateway_proxy_event.py
  tests/unit/data_classes/test_lambda_function_url.py
  tests/unit/parser/test_apigwv2.py
  tests/unit/parser/test_lambda_function_url.py
Due: black, ruff

fix(parameters): make cache aware of single vs multiple calls
  aws_lambda_powertools/utilities/parameters/base.py
  aws_lambda_powertools/utilities/parameters/types.py
Due: black, ruff

chore: cleanup, add test for single and nested
  aws_lambda_powertools/utilities/parameters/base.py
  aws_lambda_powertools/utilities/parameters/types.py
Due: black, ruff

feat(event_handler): support pydantic/dataclass exception handler response
  aws_lambda_powertools/event_handler/api_gateway.py
  aws_lambda_powertools/shared/json_encoder.py
  tests/functional/event_handler/test_api_gateway.py
  tests/unit/test_json_encoder.py
Due: black, ruff

refactor: move pydantic/dataclass detect as fn
  aws_lambda_powertools/shared/functions.py
  aws_lambda_powertools/shared/json_encoder.py
Due: black, ruff

chore: ignore json_encoder complexity B
  Makefile
Due: none

grammar fixes
  docs/utilities/data_masking.md
Due: none

Deployed 4a490716 to develop with MkDocs 1.5.3 and mike 1.1.2
  develop/changelog/index.html
  develop/search/search_index.json
  develop/sitemap.xml.gz
Due: none
