Repository aws-powertools/powertools-lambda-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, flake8, cloudformation

black:
  name: formatting::black
  entry: poetry run black
  language: system

isort:
  name: formatting::isort
  entry: poetry run isort
  language: system

flake8:
  name: linting::flake8
  entry: poetry run flake8
  language: system

cloudformation:
  name: linting::cloudformation
  entry: poetry run cfn-lint
  language: system

refactor: connect contact
  tests/unit/data_classes/test_connect_contact_flow_event.py
Due: black, isort, flake8

refactor: event bridge
  tests/unit/data_classes/test_connect_contact_flow_event.py
  tests/unit/data_classes/test_event_bridge_event.py
Due: black, isort, flake8

refactor: kafka
  tests/unit/data_classes/test_kafka_event.py
Due: black, isort, flake8

refactor: kinesisfirehose
  tests/unit/data_classes/test_kinesis_firehose_event.py
Due: black, isort, flake8

refactor: kinesis stream
  tests/unit/data_classes/test_kinesis_stream_event.py
Due: black, isort, flake8

refactor: s3 event
  tests/unit/data_classes/test_s3_event.py
  tests/unit/data_classes/test_ses_event.py
Due: black, isort, flake8

fix: adjusting crontab
  .github/workflows/ossf_scorecard.yml
Due: none

chore(ci): introduces OSSF Scorecard (#2512)
  .github/workflows/ossf_scorecard.yml
Due: none

refactor: lambda function url
  tests/unit/data_classes/test_lambda_function_url.py
Due: black, isort, flake8

refactor: cloudwatch logs events
  tests/unit/data_classes/test_cloud_watch_logs_event.py
Due: black, isort, flake8

refactor: dynamodb stream
  tests/unit/data_classes/test_dynamo_db_stream_event.py
Due: black, isort, flake8

refactor: codepipeline
  tests/unit/data_classes/test_code_pipeline_job_event.py
Due: black, isort, flake8

refactor: cognito
  tests/unit/data_classes/test_cognito_user_pool_event.py
Due: black, isort, flake8

refactor: aws config
  tests/unit/data_classes/test_aws_config_rule_event.py
Due: black, isort, flake8

chore(ci): fix codeowners team name
  .github/CODEOWNERS
Due: none

chore(ci): fix codeowners team name (#2516)
  .github/CODEOWNERS
Due: none

docs: fix menu
  docs/utilities/batch.md
  docs/utilities/data_classes.md
  docs/utilities/feature_flags.md
  docs/utilities/idempotency.md
  docs/utilities/streaming.md
Due: none

docs(navigation): make Key Feature the first section (#2517)
  docs/utilities/batch.md
  docs/utilities/data_classes.md
  docs/utilities/feature_flags.md
  docs/utilities/idempotency.md
  docs/utilities/streaming.md
Due: none

Deployed 375640cf to develop with MkDocs 1.4.2 and mike 1.1.2
  develop/search/search_index.json
  develop/sitemap.xml
  develop/sitemap.xml.gz
  develop/utilities/batch/index.html
  develop/utilities/data_classes/index.html
  develop/utilities/feature_flags/index.html
  develop/utilities/idempotency/index.html
  develop/utilities/streaming/index.html
Due: none

chore(ci): fix changelog build permissions
  .github/workflows/build_changelog.yml
Due: none

[StepSecurity] ci: Harden GitHub Actions
  .github/workflows/secure_workflows.yml
Due: none

chore(ci): fix changelog build permissions (#2519)
  .github/workflows/build_changelog.yml
Due: none

refactor: addressing Heitor's feedback
  aws_lambda_powertools/utilities/data_classes/active_mq_event.py
  aws_lambda_powertools/utilities/data_classes/kafka_event.py
  tests/unit/data_classes/test_active_mq_event.py
  tests/unit/data_classes/test_kafka_event.py
Due: black, isort, flake8

merge upstream
  poetry.lock
Due: none

addressing Heitorś feedback + enabling new rules
  CONTRIBUTING.md
  poetry.lock
  pyproject.toml
  ruff.toml
Due: none

chore(ci): changelog rebuild
  CHANGELOG.md
Due: none

Revisions per comments
  aws_lambda_powertools/utilities/data_masking/base.py
  aws_lambda_powertools/utilities/data_masking/provider.py
  aws_lambda_powertools/utilities/data_masking/providers/aws_encryption_sdk.py
  aws_lambda_powertools/utilities/data_masking/providers/itsdangerous.py
Due: black, isort, flake8

feature: adding Response compress parameter
  aws_lambda_powertools/event_handler/api_gateway.py
  docs/core/event_handler/api_gateway.md
  examples/event_handler_rest/src/compressing_responses_using_response.py
  examples/event_handler_rest/src/compressing_responses_using_route.py
  tests/functional/event_handler/test_api_gateway.py
Due: black, isort, flake8

chore: update to new docs URL; fix broken links
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/maintenance.yml
  .github/ISSUE_TEMPLATE/rfc.yml
  .github/ISSUE_TEMPLATE/tech_debt.yml
  .github/PULL_REQUEST_TEMPLATE.md
  CONTRIBUTING.md
  MAINTAINERS.md
  README.md
  aws_lambda_powertools/utilities/batch/decorators.py
  docs/index.md
  docs/upgrade.md
  examples/event_handler_graphql/sam/template.yaml
  examples/feature_flags/src/getting_all_enabled_features.py
  examples/logger/sam/template.yaml
  examples/logger/src/powertools_formatter_setup.py
  examples/metrics/sam/template.yaml
  examples/middleware_factory/src/combining_powertools_utilities_function.py
  examples/tracer/sam/template.yaml
  examples/validation/src/getting_started_validator_decorator_function.py
  examples/validation/src/getting_started_validator_standalone_function.py
  examples/validation/src/unwrapping_popular_event_source_function.py
  pyproject.toml
Due: black, isort, flake8, cloudformation

docs: add openssf scorecard badge
  README.md
Due: none

docs(homepage): add Open Source Security Foundation badge; update links to new url (#2545)
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/maintenance.yml
  .github/ISSUE_TEMPLATE/rfc.yml
  .github/ISSUE_TEMPLATE/tech_debt.yml
  .github/PULL_REQUEST_TEMPLATE.md
  CONTRIBUTING.md
  MAINTAINERS.md
  README.md
  aws_lambda_powertools/utilities/batch/decorators.py
  docs/index.md
  docs/upgrade.md
  examples/event_handler_graphql/sam/template.yaml
  examples/feature_flags/src/getting_all_enabled_features.py
  examples/logger/sam/template.yaml
  examples/logger/src/powertools_formatter_setup.py
  examples/metrics/sam/template.yaml
  examples/middleware_factory/src/combining_powertools_utilities_function.py
  examples/tracer/sam/template.yaml
  examples/validation/src/getting_started_validator_decorator_function.py
  examples/validation/src/getting_started_validator_standalone_function.py
  examples/validation/src/unwrapping_popular_event_source_function.py
  pyproject.toml
Due: black, isort, flake8, cloudformation

Deployed 460aaa04 to develop with MkDocs 1.4.2 and mike 1.1.2
  develop/core/event_handler/appsync/index.html
  develop/core/logger/index.html
  develop/core/metrics/index.html
  develop/core/tracer/index.html
  develop/index.html
  develop/search/search_index.json
  develop/sitemap.xml
  develop/sitemap.xml.gz
  develop/upgrade/index.html
  develop/utilities/feature_flags/index.html
  develop/utilities/middleware_factory/index.html
  develop/utilities/validation/index.html
Due: none

feature: addressing Heitor's feedback
  aws_lambda_powertools/event_handler/api_gateway.py
  tests/functional/event_handler/test_api_gateway.py
Due: black, isort, flake8

Path conditions:
  black: any of: \.py$
  isort: any of: \.py$
  flake8: any of: \.py$
  cloudformation: any of: examples/.* and \.(yaml|yml)$
