Repository aws-powertools/powertools-lambda-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff, cloudformation

black:
  name: formatting::black
  entry: poetry run black
  language: system

ruff:
  name: linting-format::ruff
  entry: poetry run ruff
  language: system

cloudformation:
  name: linting::cloudformation
  entry: poetry run cfn-lint
  language: system

chore(ci): changelog rebuild
  CHANGELOG.md
Due: none

chore(ci): new pre-release 2.41.1a5
  aws_lambda_powertools/shared/version.py
  provenance/2.41.1a5/multiple.intoto.jsonl
  pyproject.toml
Due: black, ruff

chore(ci): new pre-release 2.41.1a6
  aws_lambda_powertools/shared/version.py
  provenance/2.41.1a6/multiple.intoto.jsonl
  pyproject.toml
Due: black, ruff

Deployed df3bbf13 to develop with MkDocs 1.6.0 and mike 2.1.2
  develop/changelog/index.html
  develop/search/search_index.json
  develop/sitemap.xml.gz
Due: none

Adding comment
  aws_lambda_powertools/utilities/idempotency/persistence/base.py
Due: black, ruff

fix(idempotency): ensure in_progress_expiration field is set on Lambda timeout. (#4773)
  aws_lambda_powertools/utilities/idempotency/persistence/base.py
Due: black, ruff

Deployed 09d6c843 to develop with MkDocs 1.6.0 and mike 2.1.2
  develop/changelog/index.html
  develop/search/search_index.json
Due: none

Adding top-level method to be according others in the class
  .pre-commit-config.yaml
  aws_lambda_powertools/utilities/parameters/ssm.py
  tests/functional/test_logger_utils.py
Due: black, ruff

chore(ci): new pre-release 2.41.1a7
  aws_lambda_powertools/shared/version.py
  provenance/2.41.1a7/multiple.intoto.jsonl
  pyproject.toml
Due: black, ruff

chore(logger): use package logger over source logger to reduce noise
  aws_lambda_powertools/logging/utils.py
Due: black, ruff

chore(typing): update tracing capture_lambda_handler type
  aws_lambda_powertools/tracing/tracer.py
Due: black, ruff

Deployed c3de4fb5 to develop with MkDocs 1.6.0 and mike 2.1.2
  develop/changelog/index.html
  develop/search/search_index.json
  develop/sitemap.xml.gz
Due: none

chore(logger): use package logger over source logger to reduce noise (#4793)
  aws_lambda_powertools/logging/utils.py
Due: black, ruff

docs(idempotency): cleanup redis usage and link with setup/infra
  docs/utilities/idempotency.md
  examples/idempotency/src/using_redis_client_with_aws_secrets.py
  examples/idempotency/src/using_redis_client_with_local_certs.py
  examples/idempotency/templates/cfn_redis_serverless.yaml
  examples/idempotency/templates/sam_redis_vpc.yaml
Due: black, ruff, cloudformation

docs(idempotency): cleanup idempotent decorator; inline admonitions
  docs/utilities/idempotency.md
  examples/idempotency/src/getting_started_with_idempotency.py
  examples/idempotency/templates/sam.yaml
Due: black, ruff, cloudformation

docs(idempotency): cleanup idempotent_decorator section
  docs/utilities/idempotency.md
  examples/idempotency/src/working_with_idempotent_function_dataclass.py
Due: black, ruff

docs: cleanup handling exceptions
  docs/utilities/idempotency.md
  examples/idempotency/src/working_with_exceptions.py
  includes/abbreviations.md
Due: black, ruff

docs: move caching to getting started
  docs/utilities/idempotency.md
  examples/idempotency/src/working_with_local_cache.py
Due: black, ruff

docs(idempotency): cleanup serialization, fields subset, move batch to new common use cases section
  docs/utilities/idempotency.md
  examples/idempotency/src/integrate_idempotency_with_batch_processor.py
Due: black, ruff

docs: use env var for DDB table, no hardcode
  docs/utilities/idempotency.md
  examples/idempotency/src/customize_persistence_layer.py
  examples/idempotency/src/customize_persistence_layer_redis.py
  examples/idempotency/src/getting_started_with_idempotency_redis_client.py
  examples/idempotency/src/getting_started_with_idempotency_redis_config.py
  examples/idempotency/src/integrate_idempotency_with_validator.py
  examples/idempotency/src/working_with_composite_key.py
  examples/idempotency/src/working_with_custom_config.py
  examples/idempotency/src/working_with_custom_session.py
  examples/idempotency/src/working_with_dataclass_deduced_output_serializer.py
  examples/idempotency/src/working_with_dataclass_explicitly_output_serializer.py
  examples/idempotency/src/working_with_idempotency_key_required.py
  examples/idempotency/src/working_with_idempotent_function_custom_output_serializer.py
  examples/idempotency/src/working_with_idempotent_function_dataclass.py
  examples/idempotency/src/working_with_idempotent_function_pydantic.py
  examples/idempotency/src/working_with_lambda_timeout.py
  examples/idempotency/src/working_with_local_cache.py
  examples/idempotency/src/working_with_payload_subset.py
  examples/idempotency/src/working_with_pydantic_deduced_output_serializer.py
  examples/idempotency/src/working_with_pydantic_explicitly_output_serializer.py
  examples/idempotency/src/working_with_record_expiration.py
  examples/idempotency/src/working_with_response_hook.py
  examples/idempotency/src/working_with_validation_payload.py
Due: black, ruff

docs: moved expiration window to getting started; updated example to set to 24h
  docs/utilities/idempotency.md
  examples/idempotency/src/working_with_record_expiration.py
Due: black, ruff

docs: include IdempotencyValidationError in example
  docs/utilities/idempotency.md
  examples/idempotency/src/working_with_validation_payload.py
Due: black, ruff

docs(config): add social links
  mkdocs.yml
Due: none

Fixing errors on Redis examples
  examples/idempotency/src/using_redis_client_with_aws_secrets.py
  examples/idempotency/src/using_redis_client_with_local_certs.py
Due: black, ruff

docs(idempotency): cleanup intro and key features
  docs/utilities/idempotency.md
Due: none

docs(idempotency): break iam permissions into table; IAM permission to clipboard
  docs/utilities/idempotency.md
Due: none

docs(idempotency): cleanup getting started ddb vs redis
  docs/utilities/idempotency.md
Due: none

docs(idempotency): cleanup dynamodb required resource; break subsections and update nav
  docs/utilities/idempotency.md
Due: none

docs(idempotency): make terminologies crispier
  docs/utilities/idempotency.md
Due: none

docs(idempotency): line editing before decorators
  docs/utilities/idempotency.md
Due: none

docs(idempotency): cleanup timeout section
  docs/utilities/idempotency.md
Due: none

docs: remove tabbed content for single timeout snippet
  docs/utilities/idempotency.md
Due: none

docs(idempotency): note to skip timeout section when using handler decorator
  docs/utilities/idempotency.md
Due: none

docs(idempotency): use cards for required resources
  docs/utilities/idempotency.md
Due: none

Path conditions:
  black: any of: \.py$
  ruff: any of: \.py$
  cloudformation: any of: examples/.* and \.(yaml|yml)$
