Repository aws-powertools/powertools-lambda-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff, cloudformation

.pre-commit-config.yaml:

# We use poetry to run formatting and linting before commit/push
# Longer checks such as tests, security and complexity baseline
# are run as part of CI to prevent slower feedback loop
# All checks can be run locally via `make pr`

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: "f71fa2c1f9cf5cb705f73dffe4b21f7c61470ba9" # v4.4.0
    hooks:
      - id: check-merge-conflict
      - id: trailing-whitespace
      - id: check-toml
  - repo: local
    hooks:
      - id: black
        name: formatting::black
        entry: poetry run black
        language: system
        types: [python]
      - id: ruff
        name: linting-format::ruff
        entry: poetry run ruff
        language: system
        types: [python]
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: "ce0d77ac47dc921b62429804fe763d4d35f66a76" # v0.34.0
    hooks:
      - id: markdownlint-docker
        args: ["--fix"]
  - repo: local
    hooks:
      - id: cloudformation
        name: linting::cloudformation
        entry: poetry run cfn-lint
        language: system
        types: [yaml]
        files: examples/.*
  - repo: https://github.com/rhysd/actionlint
    rev: "fd7ba3c382e13dcc0248e425b4cbc3f1185fa3ee" # v1.6.24
    hooks:
      - id: actionlint-docker
        args: [-pyflakes=]
  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: 3420134c37197c21edffc7e6093b14ffae8402f2 # v1.81.0
    hooks:
      - id: terraform_fmt
        args:
          - --args=-recursive
  - repo: https://github.com/gitleaks/gitleaks
    rev: "7804d652c0460f0b61ea9bb2c1f202bfcdbbf144" # v8.16.3
    hooks:
      - id: gitleaks

Move environment variables section
  docs/utilities/middleware_factory.md
Due: none

Link basic configuration to environment variables
  docs/core/logger.md
Due: none

Refactoring metrics
  aws_lambda_powertools/metrics/base.py
  aws_lambda_powertools/metrics/provider/__init__.py
  aws_lambda_powertools/metrics/provider/base.py
  aws_lambda_powertools/metrics/provider/cloudwatch_emf/cloudwatch.py
  aws_lambda_powertools/metrics/provider/cold_start.py
  tests/functional/metrics/test_metrics_cloudwatch_emf.py
  tests/unit/metrics/test_metrics.py
Due: black, ruff

Refactoring tests
  tests/functional/metrics/conftest.py
  tests/functional/metrics/test_metrics_cloudwatch_emf.py
  tests/functional/metrics/test_metrics_provider.py
  tests/unit/metrics/test_metrics.py
Due: black, ruff

Moving files
  aws_lambda_powertools/metrics/functions.py
  aws_lambda_powertools/metrics/provider/cloudwatch_emf/cloudwatch.py
Due: black, ruff

Ruff refactor
  aws_lambda_powertools/utilities/data_classes/common.py
  examples/batch_processing/src/context_manager_access.py
  ruff.toml
Due: black, ruff

Deployed 50f44204 to develop with MkDocs 1.5.1 and mike 1.1.2
  develop/changelog/index.html
  develop/search/search_index.json
  develop/sitemap.xml.gz
Due: none

Cleaning code
  aws_lambda_powertools/metrics/metrics.py
  aws_lambda_powertools/metrics/provider/base.py
  aws_lambda_powertools/metrics/provider/cloudwatch_emf/cloudwatch.py
Due: black, ruff

chore(ci): changelog rebuild
  CHANGELOG.md
Due: none

Deployed 2fed84b3 to develop with MkDocs 1.5.1 and mike 1.1.2
  develop/changelog/index.html
  develop/search/search_index.json
  develop/sitemap.xml.gz
Due: none

Deployed b0a36585 to develop with MkDocs 1.5.1 and mike 1.1.2
  develop/search/search_index.json
  develop/sitemap.xml.gz
  develop/utilities/batch/index.html
Due: none

Addressing Heitor's feedback
  aws_lambda_powertools/metrics/provider/base.py
  aws_lambda_powertools/metrics/provider/cloudwatch_emf/cloudwatch.py
Due: black, ruff

Addressing Heitor's feedback
  aws_lambda_powertools/metrics/metrics.py
  aws_lambda_powertools/metrics/provider/cloudwatch_emf/cloudwatch.py
  aws_lambda_powertools/metrics/provider/cloudwatch_emf/types.py
  tests/functional/metrics/test_metrics_cloudwatch_emf.py
  tests/functional/metrics/test_metrics_provider.py
Due: black, ruff

Addressing Heitor's feedback
  aws_lambda_powertools/metrics/provider/cloudwatch_emf/cloudwatch.py
  tests/functional/metrics/test_metrics_provider.py
Due: black, ruff

refactor(metrics): move from protocol to ABC; split provider tests (#2934)
  aws_lambda_powertools/metrics/base.py
  aws_lambda_powertools/metrics/functions.py
  aws_lambda_powertools/metrics/metrics.py
  aws_lambda_powertools/metrics/provider/__init__.py
  aws_lambda_powertools/metrics/provider/base.py
  aws_lambda_powertools/metrics/provider/cloudwatch_emf/cloudwatch.py
  aws_lambda_powertools/metrics/provider/cloudwatch_emf/types.py
  aws_lambda_powertools/metrics/provider/cold_start.py
  tests/functional/metrics/conftest.py
  tests/functional/metrics/test_metrics_cloudwatch_emf.py
  tests/functional/metrics/test_metrics_provider.py
Due: black, ruff

Adding default tags method
  aws_lambda_powertools/metrics/provider/base.py
  aws_lambda_powertools/metrics/provider/datadog/datadog.py
  aws_lambda_powertools/metrics/provider/datadog/metrics.py
  tests/functional/metrics/test_metrics_datadog.py
Due: black, ruff

Cleaning tests + adding specific comments
  tests/functional/metrics/test_metrics_datadog.py
Due: black, ruff

Fix small things + improving docstring
  aws_lambda_powertools/metrics/metrics.py
  aws_lambda_powertools/metrics/provider/datadog/datadog.py
  aws_lambda_powertools/metrics/provider/datadog/metrics.py
  aws_lambda_powertools/shared/constants.py
  tests/functional/metrics/test_metrics_datadog.py
Due: black, ruff

Fixing minor bugs
  aws_lambda_powertools/metrics/provider/base.py
  aws_lambda_powertools/metrics/provider/datadog/datadog.py
  aws_lambda_powertools/metrics/provider/datadog/metrics.py
  tests/functional/metrics/test_metrics_datadog.py
Due: black, ruff

Ruff refactor
  examples/event_handler_graphql/src/assert_graphql_response.py
  examples/feature_flags/src/getting_all_enabled_features.py
  examples/parameters/src/get_parameter_by_name_error_handling.py
  examples/parameters/src/getting_started_parameter_by_name.py
  ruff.toml
Due: black, ruff

chore(docs): include the environment variables section in the utilities documentation (#2925)
  docs/core/logger.md
  docs/core/metrics.md
  docs/core/tracer.md
  docs/utilities/middleware_factory.md
  docs/utilities/parameters.md
Due: none

Added functional tests and put input data in separate file
  aws_lambda_powertools/utilities/data_masking/providers/aws_encryption_sdk.py
  tests/functional/data_masking/__init__.py
  tests/functional/data_masking/test_aws_encryption_sdk.py
  tests/unit/data_masking/setup.py
  tests/unit/data_masking/test_data_masking.py
Due: black, ruff

Deployed e8001283 to develop with MkDocs 1.5.1 and mike 1.1.2
  develop/core/logger/index.html
  develop/core/metrics/index.html
  develop/core/tracer/index.html
  develop/search/search_index.json
  develop/sitemap.xml.gz
  develop/utilities/middleware_factory/index.html
  develop/utilities/parameters/index.html
Due: none

Deployed 87c34561 to develop with MkDocs 1.5.1 and mike 1.1.2
  develop/changelog/index.html
  develop/search/search_index.json
  develop/sitemap.xml.gz
Due: none

Deployed 47ff09af to develop with MkDocs 1.5.1 and mike 1.1.2
  develop/core/event_handler/appsync/index.html
  develop/search/search_index.json
  develop/sitemap.xml.gz
  develop/utilities/feature_flags/index.html
  develop/utilities/parameters/index.html
Due: none

Addressing feedback
  aws_lambda_powertools/metrics/functions.py
  aws_lambda_powertools/metrics/provider/datadog/datadog.py
  aws_lambda_powertools/metrics/provider/datadog/metrics.py
  tests/functional/metrics/conftest.py
  tests/functional/metrics/test_metrics_datadog.py
Due: black, ruff

Applied patch to update lock to latest range deps
  poetry.lock
Due: none

Documentation: adding creating metrics
  docs/core/metrics_datadog.md
  examples/metrics_datadog/sam/template.yaml
  examples/metrics_datadog/src/add_metrics_with_provider.py
  examples/metrics_datadog/src/add_metrics_without_provider.py
  mkdocs.yml
Due: black, ruff, cloudformation

Documentation: adding examples
  docs/core/metrics.md
  docs/core/metrics_datadog.md
  examples/metrics_datadog/src/add_metrics_with_tags.py
  examples/metrics_datadog/src/assert_single_datadog_metric.py
  examples/metrics_datadog/src/capture_cold_start_metric.py
  examples/metrics_datadog/src/capture_cold_start_metric_output.json
  examples/metrics_datadog/src/clear_metrics_in_tests.py
  examples/metrics_datadog/src/flush_metrics.py
  examples/metrics_datadog/src/flush_metrics_to_standard_output.py
  examples/metrics_datadog/src/log_metrics_output.json
  examples/metrics_datadog/src/raise_on_empty_metrics.py
  examples/metrics_datadog/src/run_tests_env_var.sh
  examples/metrics_datadog/src/set_default_tags.py
  examples/metrics_datadog/src/set_default_tags_log_metrics.py
  poetry.lock
Due: black, ruff

Documentation: fixing highlights
  docs/core/metrics_datadog.md
  examples/metrics_datadog/src/log_metrics_output.json
Due: none

Documentation: fixing mypy problems 💀
  aws_lambda_powertools/metrics/provider/datadog/metrics.py
  docs/core/metrics_datadog.md
  examples/metrics_datadog/src/capture_cold_start_datadog_metric.py
  examples/metrics_datadog/src/clear_datadog_metrics_in_tests.py
  examples/metrics_datadog/src/flush_datadog_metrics.py
  examples/metrics_datadog/src/raise_on_empty_datadog_metrics.py
Due: black, ruff

Made unit tests more legible, removed parameterization
  tests/unit/data_masking/test_data_masking.py
Due: black, ruff
