Repository aws-powertools/powertools-lambda-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff, cloudformation

.pre-commit-config.yaml:

# We use poetry to run formatting and linting before commit/push
# Longer checks such as tests, security and complexity baseline
# are run as part of CI to prevent slower feedback loop
# All checks can be run locally via `make pr`

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: "f71fa2c1f9cf5cb705f73dffe4b21f7c61470ba9" # v4.4.0
    hooks:
      - id: check-merge-conflict
      - id: trailing-whitespace
      - id: check-toml
  - repo: local
    hooks:
      - id: black
        name: formatting::black
        entry: poetry run black
        language: system
        types: [python]
      - id: ruff
        name: linting-format::ruff
        entry: poetry run ruff
        language: system
        types: [python]
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: "ce0d77ac47dc921b62429804fe763d4d35f66a76" # v0.34.0
    hooks:
      - id: markdownlint-docker
        args: ["--fix"]
  - repo: local
    hooks:
      - id: cloudformation
        name: linting::cloudformation
        entry: poetry run cfn-lint
        language: system
        types: [yaml]
        files: examples/.*
  - repo: https://github.com/rhysd/actionlint
    rev: "fd7ba3c382e13dcc0248e425b4cbc3f1185fa3ee" # v1.6.24
    hooks:
      - id: actionlint-docker
        args: [-pyflakes=]
  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: 3420134c37197c21edffc7e6093b14ffae8402f2 # v1.81.0
    hooks:
      - id: terraform_fmt
        args:
          - --args=-recursive
  - repo: https://github.com/gitleaks/gitleaks
    rev: "7804d652c0460f0b61ea9bb2c1f202bfcdbbf144" # v8.16.3
    hooks:
      - id: gitleaks

chore: more feedback
  docs/core/event_handler/_openapi_customization_operations.md
  docs/core/event_handler/bedrock_agents.md
  examples/event_handler_bedrock_agents/src/assert_bedrock_agent_response.py
  examples/event_handler_bedrock_agents/src/assert_bedrock_agent_response_module.py
  examples/event_handler_bedrock_agents/src/customizing_bedrock_api_operations.py
  examples/event_handler_bedrock_agents/src/customizing_bedrock_api_parameters.py
  examples/event_handler_bedrock_agents/src/getting_started_schema.json
Due: black, ruff

chore: added Alex's comments
  docs/core/event_handler/bedrock_agents.md
Due: none

chore: adding second option for intro overview
  docs/core/event_handler/bedrock_agents.md
  docs/diagram_src/bedrock-agents.drawio
  docs/media/bedrock_agents_intro.svg
Due: none

chore: add agents definition
  docs/core/event_handler/bedrock_agents.md
Due: none

fix(event_handler): OpenAPI schema version respects Pydantic version
  aws_lambda_powertools/event_handler/api_gateway.py
  aws_lambda_powertools/event_handler/openapi/constants.py
  aws_lambda_powertools/event_handler/openapi/models.py
  tests/functional/event_handler/conftest.py
  tests/functional/event_handler/test_openapi_encoders.py
  tests/functional/event_handler/test_openapi_schema_pydantic_v1.py
  tests/functional/event_handler/test_openapi_schema_pydantic_v2.py
Due: black, ruff

fix: types
  examples/event_handler_bedrock_agents/src/assert_bedrock_agent_response_module.py
Due: black, ruff

fix: types
  tests/functional/event_handler/test_openapi_schema_pydantic_v1.py
  tests/functional/event_handler/test_openapi_schema_pydantic_v2.py
Due: black, ruff

chore: add docs on pydantic version
  docs/core/event_handler/api_gateway.md
Due: none

chore: moved loading of pydantic to improve performance
  aws_lambda_powertools/event_handler/api_gateway.py
Due: black, ruff

chore: improve performance again
  aws_lambda_powertools/event_handler/api_gateway.py
  aws_lambda_powertools/event_handler/openapi/constants.py
Due: black, ruff

refactor: implement set() minimum contract, and set() in ssm
  aws_lambda_powertools/utilities/parameters/base.py
  aws_lambda_powertools/utilities/parameters/ssm.py
Due: black, ruff

refactor: use name over path in set_parameter
  aws_lambda_powertools/utilities/parameters/ssm.py
Due: black, ruff

chore(ci): changelog rebuild
  CHANGELOG.md
Due: none

Deployed d7b65cec to develop with MkDocs 1.5.3 and mike 1.1.2
  develop/changelog/index.html
  develop/search/search_index.json
  develop/sitemap.xml.gz
Due: none

chore: addressed feedback
  docs/core/event_handler/bedrock_agents.md
  docs/media/bedrock_agents_intro.svg
Due: none

chore: addressed permissions feedback
  docs/core/event_handler/bedrock_agents.md
  examples/event_handler_bedrock_agents/sam/bedrock_service_role.yaml
  examples/event_handler_bedrock_agents/sam/template.yaml
Due: cloudformation

chore: expanded pydantic explanation
  docs/core/event_handler/bedrock_agents.md
  examples/event_handler_bedrock_agents/src/getting_started_with_validation.py
Due: black, ruff

chore: add sentence on regenerating openapi schemas
  docs/core/event_handler/bedrock_agents.md
Due: none

chore: color contrast
  docs/core/event_handler/bedrock_agents.mermaid
Due: none

feat(data_classes): initialise cloud_watch_alarm_event data class
  aws_lambda_powertools/utilities/data_classes/cloud_watch_alarm_event.py
  tests/events/cloudWatchAlarmEvent.json
  tests/unit/data_classes/test_cloud_watch_alarm_event.py
Due: black, ruff

fix(data_classes): add CloudWatchAlarmEvent to dataclasses index
  aws_lambda_powertools/utilities/data_classes/__init__.py
Due: black, ruff

fix(data_classes): add the satellite classes to index
  aws_lambda_powertools/utilities/data_classes/__init__.py
  aws_lambda_powertools/utilities/data_classes/cloud_watch_alarm_event.py
  tests/unit/data_classes/test_cloud_watch_alarm_event.py
Due: black, ruff

fix(data_classes): address mypy issues
  aws_lambda_powertools/utilities/data_classes/__init__.py
  aws_lambda_powertools/utilities/data_classes/cloud_watch_alarm_event.py
  tests/unit/data_classes/test_cloud_watch_alarm_event.py
Due: black, ruff

docs(data_classes): add documentation on CloudWatchAlarmEvent
  docs/utilities/data_classes.md
Due: none

add new base and xray provider
  aws_lambda_powertools/tracing/provider/base.py
  aws_lambda_powertools/tracing/provider/otel_tracer.py
  aws_lambda_powertools/tracing/provider/xray_tracer.py
Due: black, ruff

fix(data_classes): add 'expression' and 'label' fields to CloudWatchAlarmMetric
  aws_lambda_powertools/utilities/data_classes/cloud_watch_alarm_event.py
  tests/events/cloudWatchAlarmEvent.json
  tests/unit/data_classes/test_cloud_watch_alarm_event.py
Due: black, ruff

chore: update Swagger-UI to 5.x
  aws_lambda_powertools/event_handler/openapi/swagger_ui/swagger-ui-bundle.min.js
  aws_lambda_powertools/event_handler/openapi/swagger_ui/swagger-ui.min.css
Due: none

chore: improved input validation
  docs/core/event_handler/bedrock_agents.md
  docs/core/event_handler/bedrock_agents_validation_sequence_diagram.mermaid
  examples/event_handler_bedrock_agents/src/getting_started_with_validation.py
  examples/event_handler_bedrock_agents/src/getting_started_with_validation_output.json
  examples/event_handler_bedrock_agents/src/getting_started_with_validation_schema.json
Due: black, ruff

chore: sample of additional properties
  docs/core/event_handler/bedrock_agents.md
  examples/event_handler_bedrock_agents/src/accessing_request_fields.py
Due: black, ruff

chore: add more diagrams
  docs/core/event_handler/bedrock_agents.md
  docs/core/event_handler/bedrock_agents_getting_started.mermaid
  examples/event_handler_bedrock_agents/src/validation_failure_input.json
  examples/event_handler_bedrock_agents/src/validation_failure_output.json
Due: none

Improve Logger method typings
  aws_lambda_powertools/logging/logger.py
Due: black, ruff

fix(data_classes): change accountId to `123456789012` in cloudWatchAlarmEvent sample
  tests/events/cloudWatchAlarmEvent.json
Due: none

fix(data_classes): add a new `reason_data_decoded` property to CloudWatchAlarmState
  aws_lambda_powertools/utilities/data_classes/cloud_watch_alarm_event.py
  tests/unit/data_classes/test_cloud_watch_alarm_event.py
Due: black, ruff

fix(data_classes): use Literal instead of Enum for the property `value` in CloudWatchAlarmState
  aws_lambda_powertools/utilities/data_classes/__init__.py
  aws_lambda_powertools/utilities/data_classes/cloud_watch_alarm_event.py
  docs/utilities/data_classes.md
  tests/unit/data_classes/test_cloud_watch_alarm_event.py
Due: black, ruff

improv(data_classes): introduce CloudWatchAlarmData data class that contains the alarm data
  aws_lambda_powertools/utilities/data_classes/__init__.py
  aws_lambda_powertools/utilities/data_classes/cloud_watch_alarm_event.py
  tests/unit/data_classes/test_cloud_watch_alarm_event.py
Due: black, ruff

improv(data_classes): change source property return type to Literal
  aws_lambda_powertools/utilities/data_classes/cloud_watch_alarm_event.py
Due: black, ruff

docs(data_classes): update the example for CloudWatch Alarm State Change Action
  docs/utilities/data_classes.md
Due: none

docs(data_classes): add a working example under `examples/event_sources/`
  examples/event_sources/src/cloudwatch_alarm_event.py
Due: black, ruff

improv(data_classes): use `cached_property` decorator for `reason_data_decoded`
  aws_lambda_powertools/utilities/data_classes/cloud_watch_alarm_event.py
Due: black, ruff
