Repository aws-powertools/powertools-lambda-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, flake8, cloudformation

black:
  name: formatting::black
  entry: poetry run black
  language: system

isort:
  name: formatting::isort
  entry: poetry run isort
  language: system

flake8:
  name: linting::flake8
  entry: poetry run flake8
  language: system

cloudformation:
  name: linting::cloudformation
  entry: poetry run cfn-lint
  language: system

feat(feature_flags): add modulo range condition for segmented experimentation support (#2331)
  aws_lambda_powertools/utilities/feature_flags/comparators.py
  aws_lambda_powertools/utilities/feature_flags/feature_flags.py
  aws_lambda_powertools/utilities/feature_flags/schema.py
  docs/utilities/feature_flags.md
  examples/feature_flags/src/modulo_range_feature.py
  examples/feature_flags/src/modulo_range_feature_event.json
  examples/feature_flags/src/modulo_range_features.json
  examples/feature_flags/src/modulo_range_multiple_feature.py
  examples/feature_flags/src/modulo_range_multiple_features.json
  tests/functional/feature_flags/test_feature_flags.py
  tests/functional/feature_flags/test_schema_validation.py
  tests/functional/feature_flags/test_time_based_actions.py
Due: black, isort, flake8

chore: Change repo URL to the new location
  CHANGELOG.md
  MAINTAINERS.md
  aws_lambda_powertools/logging/logger.py
  docs/core/logger.md
  docs/core/metrics.md
  docs/index.md
  docs/roadmap.md
Due: black, isort, flake8

change docs URL
  MAINTAINERS.md
  docs/index.md
  examples/logger/sam/template.yaml
  examples/metrics/sam/template.yaml
  examples/tracer/sam/template.yaml
Due: cloudformation

fix reference
  .github/actions/create-pr/create_pr_for_staged_changes.sh
Due: none

fix codeowners team name
  .github/CODEOWNERS
Due: none

fix comment
  .github/actions/create-pr/create_pr_for_staged_changes.sh
Due: none

replace old project name
  404.html
Due: none

Deployed f2db924c to develop with MkDocs 1.4.2 and mike 1.1.2
  develop/sitemap.xml.gz
Due: none

fix: remove GH pages
  .github/workflows/reusable_publish_docs.yml
Due: none

chore(ci): remove GH pages action (#2501)
  .github/workflows/reusable_publish_docs.yml
Due: none

addressing Heitor's feedback
  aws_lambda_powertools/utilities/data_classes/common.py
  aws_lambda_powertools/utilities/data_classes/kafka_event.py
  aws_lambda_powertools/utilities/data_classes/vpc_lattice.py
Due: black, isort, flake8

fix(event_source): centralizing helper functions for query, header and base64 (#2496)
  aws_lambda_powertools/utilities/data_classes/active_mq_event.py
  aws_lambda_powertools/utilities/data_classes/api_gateway_authorizer_event.py
  aws_lambda_powertools/utilities/data_classes/appsync_resolver_event.py
  aws_lambda_powertools/utilities/data_classes/aws_config_rule_event.py
  aws_lambda_powertools/utilities/data_classes/cloud_watch_logs_event.py
  aws_lambda_powertools/utilities/data_classes/code_pipeline_job_event.py
  aws_lambda_powertools/utilities/data_classes/common.py
  aws_lambda_powertools/utilities/data_classes/kafka_event.py
  aws_lambda_powertools/utilities/data_classes/rabbit_mq_event.py
  aws_lambda_powertools/utilities/data_classes/s3_object_event.py
  aws_lambda_powertools/utilities/data_classes/shared_functions.py
  aws_lambda_powertools/utilities/data_classes/vpc_lattice.py
Due: black, isort, flake8

addressing Heitor's feedback
  docs/utilities/idempotency.md
  examples/idempotency/tests/app_test_disabling_idempotency_utility.py
  examples/idempotency/tests/app_test_dynamodb_local.py
  examples/idempotency/tests/app_test_io_operations.py
  examples/idempotency/tests/test_disabling_idempotency_utility.py
  examples/idempotency/tests/test_with_dynamodb_local.py
  examples/idempotency/tests/test_with_io_operations.py
Due: black, isort, flake8

fix(docs): ensure versions.json is updated
  .github/workflows/reusable_publish_docs.yml
Due: none

Update reusable_publish_docs.yml
  .github/workflows/reusable_publish_docs.yml
Due: none

adds some comments to the stanza
  .github/workflows/reusable_publish_docs.yml
Due: none

remove dupe code
  .github/workflows/reusable_publish_docs.yml
Due: none

ci(event_source): Splitting tests for improved maintainability and readability
  tests/functional/data_classes/test_active_mq_event.py
  tests/functional/data_classes/test_alb_event.py
  tests/functional/data_classes/test_api_gateway_authorizer_event.py
  tests/functional/data_classes/test_api_gateway_proxy_event.py
  tests/functional/data_classes/test_appsync_authorizer_event.py
  tests/functional/data_classes/test_appsync_resolver_event.py
  tests/functional/data_classes/test_aws_config_rule_event.py
  tests/functional/data_classes/test_cloud_watch_custom_widget_event.py
  tests/functional/data_classes/test_cloud_watch_logs_event.py
  tests/functional/data_classes/test_code_pipeline_job_event.py
  tests/functional/data_classes/test_cognito_user_pool_event.py
  tests/functional/data_classes/test_connect_contact_flow_event.py
  tests/functional/data_classes/test_dynamo_db_stream_event.py
  tests/functional/data_classes/test_event_bridge_event.py
  tests/functional/data_classes/test_kafka_event.py
  tests/functional/data_classes/test_kinesis_firehose_event.py
  tests/functional/data_classes/test_kinesis_stream_event.py
  tests/functional/data_classes/test_rabbit_mq_event.py
  tests/functional/data_classes/test_s3_event.py
  tests/functional/data_classes/test_s3_object_event.py
  tests/functional/data_classes/test_ses_event.py
  tests/functional/data_classes/test_shared_functions.py
  tests/functional/data_classes/test_sns_event.py
  tests/functional/data_classes/test_sqs_event.py
  tests/functional/data_classes/test_vpc_lattice_event.py
  tests/functional/test_data_classes.py
Due: black, isort, flake8

tests: removing files
  tests/functional/data_classes/test_shared_functions.py
Due: black, isort, flake8

tests: moving to unit tests
  tests/unit/data_classes/test_active_mq_event.py
  tests/unit/data_classes/test_alb_event.py
  tests/unit/data_classes/test_api_gateway_authorizer.py
  tests/unit/data_classes/test_api_gateway_authorizer_event.py
  tests/unit/data_classes/test_api_gateway_proxy_event.py
  tests/unit/data_classes/test_appsync_authorizer_event.py
  tests/unit/data_classes/test_appsync_resolver_event.py
  tests/unit/data_classes/test_aws_config_rule_event.py
  tests/unit/data_classes/test_cloud_watch_custom_widget_event.py
  tests/unit/data_classes/test_cloud_watch_logs_event.py
  tests/unit/data_classes/test_code_pipeline_job_event.py
  tests/unit/data_classes/test_cognito_user_pool_event.py
  tests/unit/data_classes/test_connect_contact_flow_event.py
  tests/unit/data_classes/test_dynamo_db_stream_event.py
  tests/unit/data_classes/test_event_bridge_event.py
  tests/unit/data_classes/test_kafka_event.py
  tests/unit/data_classes/test_kinesis_firehose_event.py
  tests/unit/data_classes/test_kinesis_stream_event.py
  tests/unit/data_classes/test_lambda_function_url.py
  tests/unit/data_classes/test_rabbit_mq_event.py
  tests/unit/data_classes/test_s3_event.py
  tests/unit/data_classes/test_s3_object_event.py
  tests/unit/data_classes/test_ses_event.py
  tests/unit/data_classes/test_sns_event.py
  tests/unit/data_classes/test_sqs_event.py
  tests/unit/data_classes/test_vpc_lattice_event.py
  tests/unit/test_data_classes.py
Due: black, isort, flake8

tests: codecoverage
  tests/unit/data_classes/test_s3_eventbridge_notification.py
Due: black, isort, flake8

add OTel provider draft for poc
  aws_lambda_powertools/metrics/provider/__init__.py
  aws_lambda_powertools/metrics/provider/opentelemetry_provider_draft.py
Due: black, isort, flake8

tests: fix comment
  aws_lambda_powertools/logging/logger.py
Due: black, isort, flake8

chore: replaces container for actions
  .github/workflows/run-e2e-tests.yml
Due: none

replace runs on container
  .github/workflows/publish_v2_layer.yml
Due: none

update list of self-hosted runners
  .github/actionlint.yaml
Due: none

chore(ci): updates runner names in workflows (#2510)
  .github/actionlint.yaml
  .github/workflows/publish_v2_layer.yml
  .github/workflows/run-e2e-tests.yml
Due: none

chore(ci): introduce supply chain score card scans
  .github/workflows/ossf_scorecard.yml
Due: none

tests: fix data class events
  tests/unit/data_classes/test_rabbit_mq_event.py
  tests/unit/data_classes/test_s3_event.py
  tests/unit/data_classes/test_s3_object_event.py
  tests/unit/data_classes/test_ses_event.py
  tests/unit/data_classes/test_sns_event.py
  tests/unit/data_classes/test_sqs_event.py
  tests/unit/data_classes/test_vpc_lattice_event.py
Due: black, isort, flake8

refactor: active mq
  tests/unit/data_classes/test_active_mq_event.py
Due: black, isort, flake8

refactor: alb event
  tests/unit/data_classes/test_alb_event.py
Due: black, isort, flake8

refactor: rabbitmq event
  tests/unit/data_classes/test_rabbit_mq_event.py
Due: black, isort, flake8

refactor: api gatewa authorizer
  tests/unit/data_classes/test_api_gateway_authorizer_event.py
  tests/unit/data_classes/test_ses_event.py
  tests/unit/data_classes/test_sqs_event.py
Due: black, isort, flake8

refactor: api gateway proxy
  tests/unit/data_classes/test_api_gateway_proxy_event.py
  tests/unit/data_classes/test_appsync_authorizer_event.py
Due: black, isort, flake8

refactor: appsync direct
  tests/unit/data_classes/test_appsync_resolver_event.py
Due: black, isort, flake8

refactor: cloudwatch widget
  tests/unit/data_classes/test_cloud_watch_custom_widget_event.py
Due: black, isort, flake8

Path conditions:
  black: any of: \.py$
  isort: any of: \.py$
  flake8: any of: \.py$
  cloudformation: any of: examples/.* and \.(yaml|yml)$
