Repository aws-powertools/powertools-lambda-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff, cloudformation

black:
  name: formatting::black
  entry: poetry run black
  language: system

ruff:
  name: linting-format::ruff
  entry: poetry run ruff
  language: system

cloudformation:
  name: linting::cloudformation
  entry: poetry run cfn-lint
  language: system

Removing things
  Makefile
  tests/integration/idempotency/test_idempotency_redis.py
Due: black, ruff

Removing things
  aws_lambda_powertools/utilities/idempotency/persistence/base.py
Due: black, ruff

Fixing docstring and removing old code
  aws_lambda_powertools/utilities/idempotency/persistence/base.py
  aws_lambda_powertools/utilities/idempotency/persistence/redis.py
Due: black, ruff

Improving the documentation
  aws_lambda_powertools/shared/functions.py
  docs/utilities/idempotency.md
  examples/idempotency/src/using_redis_client_with_aws_secrets.py
  examples/idempotency/src/using_redis_client_with_local_certs.py
  examples/idempotency/templates/cfn_redis_serverless.yaml
  examples/idempotency/templates/sam_redis_vpc.yaml
  tests/unit/test_shared_functions.py
Due: black, ruff, cloudformation

Adding more verbose to Parser error message
  aws_lambda_powertools/utilities/parser/parser.py
Due: black, ruff

Highlights + code removal
  aws_lambda_powertools/utilities/idempotency/persistence/redis.py
  docs/utilities/idempotency.md
  examples/idempotency/src/getting_started_with_idempotency_redis_client.py
  examples/idempotency/src/getting_started_with_idempotency_redis_config.py
Due: black, ruff

Removing unnecessary tests
  tests/functional/idempotency/persistence/test_redis_layer.py
Due: black, ruff

Removing unnecessary tests
  aws_lambda_powertools/utilities/idempotency/persistence/redis.py
  tests/functional/idempotency/persistence/test_redis_layer.py
Due: black, ruff

Documentation
  docs/utilities/idempotency.md
Due: none

chore(ci): changelog rebuild
  CHANGELOG.md
Due: none

Deployed 6c414636 to develop with MkDocs 1.5.3 and mike 1.1.2
  develop/changelog/index.html
  develop/search/search_index.json
  develop/sitemap.xml.gz
Due: none

Addressing Ruben's feedback
  aws_lambda_powertools/utilities/parser/parser.py
Due: black, ruff

Deployed 67d35371 to develop with MkDocs 1.5.3 and mike 1.1.2
  develop/changelog/index.html
  develop/search/search_index.json
  develop/sitemap.xml.gz
Due: none

refactor(parser): Improve error message when parsing models and envelopes (#3587)
  aws_lambda_powertools/utilities/parser/parser.py
Due: black, ruff

chore: version bump
  aws_lambda_powertools/shared/version.py
  pyproject.toml
Due: black, ruff

chore(ci): bump version to 2.31.0
  aws_lambda_powertools/shared/version.py
  pyproject.toml
Due: black, ruff

chore(ci): layer docs update
  CHANGELOG.md
  docs/index.md
  examples/logger/sam/template.yaml
  examples/metrics/sam/template.yaml
  examples/tracer/sam/template.yaml
Due: cloudformation

Deployed 3b6f496e to develop with MkDocs 1.5.3 and mike 1.1.2
  develop/changelog/index.html
  develop/core/logger/index.html
  develop/core/metrics/index.html
  develop/core/tracer/index.html
  develop/index.html
  develop/search/search_index.json
  develop/sitemap.xml.gz
Due: none

Show OpenAPI spec with conditional query string
  aws_lambda_powertools/event_handler/api_gateway.py
  aws_lambda_powertools/event_handler/openapi/swagger_ui/html.py
  docs/core/event_handler/api_gateway.md
  tests/functional/event_handler/test_openapi_swagger.py
Due: black, ruff

Deployed aab88f8f to develop with MkDocs 1.5.3 and mike 1.1.2
  develop/changelog/index.html
  develop/search/search_index.json
  develop/sitemap.xml.gz
Due: none

chore(docs): add bedrock agent resolver documentation
  docs/core/event_handler/_openapi_customization_intro.md
  docs/core/event_handler/_openapi_customization_metadata.md
  docs/core/event_handler/_openapi_customization_operations.md
  docs/core/event_handler/_openapi_customization_parameters.md
  docs/core/event_handler/_openapi_customization_swagger.md
  docs/core/event_handler/_swagger_ui.md
  docs/core/event_handler/api_gateway.md
  docs/core/event_handler/bedrock_agents.md
  examples/event_handler_bedrock_agents/sam/template.yaml
  examples/event_handler_bedrock_agents/src/assert_bedrock_agent_response.py
  examples/event_handler_bedrock_agents/src/assert_bedrock_agent_response_module.py
  examples/event_handler_bedrock_agents/src/customizing_api_metadata.py
  examples/event_handler_bedrock_agents/src/customizing_api_operations.py
  examples/event_handler_bedrock_agents/src/customizing_swagger.py
  examples/event_handler_bedrock_agents/src/customizing_swagger_middlewares.py
  examples/event_handler_bedrock_agents/src/enabling_swagger.py
  examples/event_handler_bedrock_agents/src/generating_openapi_schema.json
  examples/event_handler_bedrock_agents/src/generating_openapi_schema.py
  examples/event_handler_bedrock_agents/src/getting_started.json
  examples/event_handler_bedrock_agents/src/getting_started.py
  examples/event_handler_bedrock_agents/src/getting_started_output.json
  mkdocs.yml
Due: black, ruff, cloudformation

fix: increase coverage
  tests/functional/event_handler/test_openapi_responses.py
Due: black, ruff

fix: I hate sonarcube
  tests/functional/event_handler/test_openapi_responses.py
Due: black, ruff

feat(event_handler): add support for additional response models
  aws_lambda_powertools/event_handler/api_gateway.py
  aws_lambda_powertools/event_handler/openapi/types.py
  tests/functional/event_handler/test_openapi_responses.py
Due: black, ruff

fix: pydantic 2
  aws_lambda_powertools/event_handler/api_gateway.py
  aws_lambda_powertools/event_handler/openapi/dependant.py
  aws_lambda_powertools/event_handler/openapi/params.py
Due: black, ruff

fix: refactor
  aws_lambda_powertools/event_handler/openapi/dependant.py
Due: black, ruff

Addressing initial Ruben's feedback
  aws_lambda_powertools/utilities/idempotency/persistence/base.py
  aws_lambda_powertools/utilities/idempotency/persistence/redis.py
  tests/e2e/utils/infrastructure.py
Due: black, ruff

Addressing Ruben's feedback - documentation
  docs/utilities/idempotency.md
Due: none

Addressing Ruben's feedback - docstring
  aws_lambda_powertools/utilities/idempotency/persistence/redis.py
Due: black, ruff

Addressing Ruben's feedback - SSL
  aws_lambda_powertools/utilities/idempotency/persistence/redis.py
  tests/e2e/idempotency_redis/handlers/function_thread_safety_handler.py
  tests/e2e/idempotency_redis/handlers/optional_idempotency_key_handler.py
  tests/e2e/idempotency_redis/handlers/parallel_execution_handler.py
  tests/e2e/idempotency_redis/handlers/ttl_cache_expiration_handler.py
  tests/e2e/idempotency_redis/handlers/ttl_cache_timeout_handler.py
Due: black, ruff

Addressing Ruben's feedback - db_index
  aws_lambda_powertools/utilities/idempotency/persistence/redis.py
Due: black, ruff

Addressing Ruben's feedback - db_index
  tests/functional/idempotency/persistence/test_redis_layer.py
Due: black, ruff

Path conditions:
  black: any of: \.py$
  ruff: any of: \.py$
  cloudformation: any of: examples/.* and \.(yaml|yml)$
