Repository aws-powertools/powertools-lambda-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff, cloudformation

black:
  name: formatting::black
  entry: poetry run black
  language: system

ruff:
  name: linting-format::ruff
  entry: poetry run ruff
  language: system

cloudformation:
  name: linting::cloudformation
  entry: poetry run cfn-lint
  language: system

fix: manual correction for x86 version
  docs/index.md
Due: none

fix(ci): revert layer version bump write-only back to append (#3818)
  .github/workflows/reusable_deploy_v2_layer_stack.yml
Due: none

Deployed 8f1aa913 to develop with MkDocs 1.5.3 and mike 1.1.2
  develop/changelog/index.html
  develop/index.html
  develop/search/search_index.json
  develop/sitemap.xml.gz
Due: none

Deployed 40cd1270 to 2.34.0 with MkDocs 1.5.3 and mike 1.1.2
  2.34.0/index.html
  2.34.0/search/search_index.json
  2.34.0/sitemap.xml.gz
Due: none

chore: cleanup, add test for single and nested
  aws_lambda_powertools/utilities/parameters/base.py
  aws_lambda_powertools/utilities/parameters/types.py
Due: black, ruff

fix(parameters): make cache aware of single vs multiple calls
  aws_lambda_powertools/utilities/parameters/base.py
  aws_lambda_powertools/utilities/parameters/types.py
Due: black, ruff

fix(ci): inject PR_LABELS env
  .github/workflows/label_pr_on_title.yml
Due: none

chore: init PR_LABELS env with default to prevent failure (no labels)
  .github/scripts/constants.js
  .github/scripts/label_pr_based_on_title.js
Due: none

fix(ci): inject PR_LABELS env for PR Label automation (#3819)
  .github/scripts/constants.js
  .github/scripts/label_pr_based_on_title.js
  .github/workflows/label_pr_on_title.yml
Due: none

chore(ci): changelog rebuild
  CHANGELOG.md
Due: none

Deployed 8ed384d6 to develop with MkDocs 1.5.3 and mike 1.1.2
  develop/changelog/index.html
  develop/search/search_index.json
  develop/sitemap.xml.gz
Due: none

docs: fix wording (Tech debt)
  docs/core/event_handler/appsync.md
  examples/event_handler_graphql/sam/template.yaml
Due: cloudformation

refactor: validate before saving to cache
  aws_lambda_powertools/utilities/idempotency/persistence/base.py
  aws_lambda_powertools/utilities/idempotency/persistence/dynamodb.py
Due: black, ruff

fix: use multiprocess LIB to allow local functions by using dill over pickle
  poetry.lock
  pyproject.toml
  tests/functional/idempotency/persistence/test_redis_layer.py
Due: black, ruff

chore: add test to prevent regression
  tests/functional/idempotency/test_idempotency.py
Due: black, ruff

fix(idempotency): validate before saving to cache (#3822)
  aws_lambda_powertools/utilities/idempotency/persistence/base.py
  aws_lambda_powertools/utilities/idempotency/persistence/dynamodb.py
  poetry.lock
  pyproject.toml
  tests/functional/idempotency/persistence/test_redis_layer.py
  tests/functional/idempotency/test_idempotency.py
Due: black, ruff

refactor: use async_ prefix for async code
  aws_lambda_powertools/event_handler/appsync.py
  aws_lambda_powertools/event_handler/graphql_appsync/base.py
  docs/core/event_handler/appsync.md
  examples/event_handler_graphql/src/getting_started_with_batch_async_resolver.py
  tests/e2e/event_handler_appsync/handlers/appsync_resolver_handler.py
  tests/functional/event_handler/test_appsync.py
Due: black, ruff

refactor: move router to a separate file to ease maintenance
  aws_lambda_powertools/event_handler/appsync.py
  aws_lambda_powertools/event_handler/graphql_appsync/__init__.py
  aws_lambda_powertools/event_handler/graphql_appsync/router.py
  examples/event_handler_graphql/src/split_operation_append_context_module.py
  examples/event_handler_graphql/src/split_operation_module.py
  tests/functional/event_handler/test_appsync.py
Due: black, ruff

refactor: rename BasePublic to BaseRouter
  aws_lambda_powertools/event_handler/graphql_appsync/base.py
  aws_lambda_powertools/event_handler/graphql_appsync/router.py
Due: black, ruff

refactor: undo router context composition to reduce complexity and call stacks (getters)
  aws_lambda_powertools/event_handler/appsync.py
  aws_lambda_powertools/event_handler/graphql_appsync/router.py
  tests/functional/event_handler/test_appsync.py
Due: black, ruff

refactor: reduce abstractions, use explicit methods over assignments
  aws_lambda_powertools/event_handler/appsync.py
  aws_lambda_powertools/event_handler/graphql_appsync/base.py
  aws_lambda_powertools/event_handler/graphql_appsync/router.py
  tests/functional/event_handler/test_appsync.py
Due: black, ruff

refactor: move registry to a separate file; make it private
  aws_lambda_powertools/event_handler/graphql_appsync/_registry.py
  aws_lambda_powertools/event_handler/graphql_appsync/router.py
Due: black, ruff

refactor: expand inline if for readability
  aws_lambda_powertools/event_handler/appsync.py
Due: black, ruff

fix(event-handler): return dict on missing multi_value_headers
  aws_lambda_powertools/utilities/data_classes/api_gateway_proxy_event.py
  tests/functional/event_handler/test_openapi_validation_middleware.py
Due: black, ruff

chore: default dict for multi query strings too
  aws_lambda_powertools/utilities/data_classes/api_gateway_proxy_event.py
Due: black, ruff

revert: path_parameters and stage_variables unrelated to the issue
  aws_lambda_powertools/utilities/data_classes/api_gateway_proxy_event.py
Due: black, ruff

fix(event-handler): return dict on missing multi_value_headers (#3824)
  aws_lambda_powertools/utilities/data_classes/api_gateway_proxy_event.py
  tests/functional/event_handler/test_openapi_validation_middleware.py
Due: black, ruff

chore(ci): bump version to 2.34.1
  aws_lambda_powertools/shared/version.py
  pyproject.toml
Due: black, ruff

chore: version bump
  aws_lambda_powertools/shared/version.py
  pyproject.toml
Due: black, ruff

chore(ci): layer docs update
  CHANGELOG.md
  docs/index.md
  examples/logger/sam/template.yaml
  examples/metrics/sam/template.yaml
  examples/tracer/sam/template.yaml
Due: cloudformation

Deployed f956fa34 to develop with MkDocs 1.5.3 and mike 1.1.2
  develop/changelog/index.html
  develop/core/logger/index.html
  develop/core/metrics/index.html
  develop/core/tracer/index.html
  develop/index.html
  develop/search/search_index.json
  develop/sitemap.xml.gz
Due: none

Path conditions:
  black: any of: \.py$
  ruff: any of: \.py$
  cloudformation: any of: examples/.* and \.(yaml|yml)$
