Repository aws-powertools/powertools-lambda-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, flake8, cloudformation

black:
  name: formatting::black
  entry: poetry run black
  language: system

isort:
  name: formatting::isort
  entry: poetry run isort
  language: system

flake8:
  name: linting::flake8
  entry: poetry run flake8
  language: system

cloudformation:
  name: linting::cloudformation
  entry: poetry run cfn-lint
  language: system

chore(docs): line editing
  docs/core/metrics.md
Due: none

feat(metrics): add flush_metrics() method to allow manual flushing of metrics (#2171)
  aws_lambda_powertools/metrics/base.py
  docs/core/metrics.md
  examples/metrics/src/flush_metrics.py
  tests/functional/test_metrics.py
Due: black, isort, flake8

update changelog with latest changes
  CHANGELOG.md
Due: none

chore(docs): docstring
  aws_lambda_powertools/utilities/data_classes/api_gateway_authorizer_event.py
Due: black, isort, flake8

feat(event_source): add support for dynamic partitions in the Api Gateway Authorizer event (#2176)
  aws_lambda_powertools/utilities/data_classes/api_gateway_authorizer_event.py
Due: black, isort, flake8

docs(we-made-this): add serverless transactional message app
  docs/we_made_this.md
Due: none

chore: break message in two sentences.
  docs/utilities/jmespath_functions.md
Due: none

feat(jmespath): new built-in envelopes to unwrap S3 events (#2169)
  aws_lambda_powertools/utilities/jmespath_utils/envelopes.py
  docs/utilities/jmespath_functions.md
  docs/utilities/validation.md
  examples/jmespath_functions/src/extract_data_from_builtin_envelope.py
Due: black, isort, flake8

feat(logger): add DatadogLogFormatter
  aws_lambda_powertools/logging/formatter.py
  aws_lambda_powertools/logging/formatters/__init__.py
  aws_lambda_powertools/logging/formatters/datadog.py
  tests/functional/test_logger_powertools_formatter.py
Due: black, isort, flake8

docs(logger): new observability provider section
  docs/core/logger.md
  examples/logger/src/observability_provider_builtin_formatters.py
Due: black, isort, flake8

chore: remove barrel import to avoid Tracer-like situations
  aws_lambda_powertools/logging/formatters/__init__.py
  examples/logger/src/observability_provider_builtin_formatters.py
Due: black, isort, flake8

fix: correct test import after refactor
  tests/functional/test_logger_powertools_formatter.py
Due: black, isort, flake8

chore: add docstring and note on field change
  aws_lambda_powertools/logging/formatters/datadog.py
Due: black, isort, flake8

chore: use keyword-arg in super to ease future refactoring
  aws_lambda_powertools/logging/formatters/datadog.py
Due: black, isort, flake8

tests: addressing Ruben's feedback
  tests/events/s3SqsEvent.json
  tests/unit/parser/test_s3.py
Due: black, isort, flake8

docs: highlight
  docs/utilities/data_classes.md
Due: none

feat(logger): add DatadogLogFormatter and observability provider (#2183)
  aws_lambda_powertools/logging/formatter.py
  aws_lambda_powertools/logging/formatters/__init__.py
  aws_lambda_powertools/logging/formatters/datadog.py
  docs/core/logger.md
  examples/logger/src/observability_provider_builtin_formatters.py
  tests/functional/test_logger_powertools_formatter.py
Due: black, isort, flake8

Update batch.md to fix typo
  docs/utilities/batch.md
Due: none

docs(batch): fixed typo in DynamoDB Streams section (#2189)
  docs/utilities/batch.md
Due: none

docs(we-made-this): add serverless transactional message app (#2182)
  docs/we_made_this.md
Due: none

docs(jmespath): fix MD037/no-space-in-emphasis
  docs/utilities/jmespath_functions.md
Due: none

feat(parser): add support for SQS-wrapped S3 event notifications (#2108)
  aws_lambda_powertools/utilities/parser/models/__init__.py
  aws_lambda_powertools/utilities/parser/models/s3_event_notification.py
  aws_lambda_powertools/utilities/parser/models/sqs.py
  docs/utilities/parser.md
  tests/events/s3SqsEvent.json
  tests/functional/parser/test_s3.py
  tests/unit/parser/test_s3.py
Due: black, isort, flake8

docs: change the default handler
  examples/logger/sam/template.yaml
  examples/logger/src/append_keys.py
  examples/logger/src/append_keys_extra.py
  examples/logger/src/append_keys_kwargs.py
  examples/logger/src/append_keys_vs_extra.py
  examples/logger/src/bring_your_own_formatter_from_scratch.py
  examples/logger/src/clear_state.py
  examples/logger/src/enabling_boto_logging.py
  examples/logger/src/fake_lambda_context_for_logger_module.py
  examples/logger/src/inject_lambda_context.py
  examples/logger/src/log_incoming_event.py
  examples/logger/src/logger_reuse.py
  examples/logger/src/logging_exceptions.py
  examples/logger/src/logging_inheritance_bad.py
  examples/logger/src/logging_inheritance_good.py
  examples/logger/src/logging_uncaught_exceptions.py
  examples/logger/src/remove_keys.py
  examples/logger/src/sampling_debug_logs.py
  examples/logger/src/set_correlation_id.py
  examples/logger/src/set_correlation_id_jmespath.py
  examples/logger/src/set_correlation_id_method.py
  examples/metrics/sam/template.yaml
  examples/tracer/sam/template.yaml
  examples/tracer/src/capture_lambda_handler.py
  examples/tracer/src/capture_method.py
  examples/tracer/src/capture_method_async.py
  examples/tracer/src/capture_method_async_concurrency.py
  examples/tracer/src/capture_method_context_manager.py
  examples/tracer/src/capture_method_generators.py
  examples/tracer/src/disable_capture_error.py
  examples/tracer/src/disable_capture_response.py
  examples/tracer/src/disable_capture_response_streaming_body.py
  examples/tracer/src/ignore_endpoints.py
  examples/tracer/src/patch_modules.py
  examples/tracer/src/put_trace_annotations.py
  examples/tracer/src/put_trace_metadata.py
  examples/tracer/src/sdk_escape_hatch.py
  examples/tracer/src/tracer_reuse.py
  examples/tracer/src/tracing_aiohttp.py
Due: black, isort, flake8, cloudformation

Added logic for sensitive data masking and unit tests
  aws_lambda_powertools/shared/constants.py
  aws_lambda_powertools/utilities/data_masking/data_masking.py
  tests/unit/data_masking/test_data_masking.py
Due: black, isort, flake8

chore: add Lambda Powertools for .NET in issue templates
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/maintenance.yml
  .github/ISSUE_TEMPLATE/rfc.yml
  .github/ISSUE_TEMPLATE/tech_debt.yml
Due: none

POC of user-agent - Need to review on how to import botocore - Review how to get PT version - better solution than implementing in __init__.py ?
  aws_lambda_powertools/__init__.py
  aws_lambda_powertools/shared/add_user_agent.py
Due: black, isort, flake8

chore(governance): add Lambda Powertools for .NET in issue templates (#2196)
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/maintenance.yml
  .github/ISSUE_TEMPLATE/rfc.yml
  .github/ISSUE_TEMPLATE/tech_debt.yml
Due: none

docs(examples): standardize lambda handler function name (#2192)
  examples/logger/sam/template.yaml
  examples/logger/src/append_keys.py
  examples/logger/src/append_keys_extra.py
  examples/logger/src/append_keys_kwargs.py
  examples/logger/src/append_keys_vs_extra.py
  examples/logger/src/bring_your_own_formatter_from_scratch.py
  examples/logger/src/clear_state.py
  examples/logger/src/enabling_boto_logging.py
  examples/logger/src/fake_lambda_context_for_logger_module.py
  examples/logger/src/inject_lambda_context.py
  examples/logger/src/log_incoming_event.py
  examples/logger/src/logger_reuse.py
  examples/logger/src/logging_exceptions.py
  examples/logger/src/logging_inheritance_bad.py
  examples/logger/src/logging_inheritance_good.py
  examples/logger/src/logging_uncaught_exceptions.py
  examples/logger/src/remove_keys.py
  examples/logger/src/sampling_debug_logs.py
  examples/logger/src/set_correlation_id.py
  examples/logger/src/set_correlation_id_jmespath.py
  examples/logger/src/set_correlation_id_method.py
  examples/metrics/sam/template.yaml
  examples/tracer/sam/template.yaml
  examples/tracer/src/capture_lambda_handler.py
  examples/tracer/src/capture_method.py
  examples/tracer/src/capture_method_async.py
  examples/tracer/src/capture_method_async_concurrency.py
  examples/tracer/src/capture_method_context_manager.py
  examples/tracer/src/capture_method_generators.py
  examples/tracer/src/disable_capture_error.py
  examples/tracer/src/disable_capture_response.py
  examples/tracer/src/disable_capture_response_streaming_body.py
  examples/tracer/src/ignore_endpoints.py
  examples/tracer/src/patch_modules.py
  examples/tracer/src/put_trace_annotations.py
  examples/tracer/src/put_trace_metadata.py
  examples/tracer/src/sdk_escape_hatch.py
  examples/tracer/src/tracer_reuse.py
  examples/tracer/src/tracing_aiohttp.py
Due: black, isort, flake8, cloudformation

chore(ci): use new pypi trusted publisher
  .github/workflows/release.yml
Due: none

chore(ci): split build and release jobs to tigthen permissions
  .github/workflows/release.yml
Due: none

docs(ci): update release process notes
  .github/workflows/release.yml
  MAINTAINERS.md
Due: none

docs(ci): add note on cache key strategy
  .github/workflows/release.yml
Due: none

chore: add space before closing expression
  .github/workflows/release.yml
Due: none

Path conditions:
  black: any of: \.py$
  isort: any of: \.py$
  flake8: any of: \.py$
  cloudformation: any of: examples/.* and \.(yaml|yml)$
