Repository aws-powertools/powertools-lambda-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff, cloudformation

black:
  name: formatting::black
  entry: poetry run black
  language: system

ruff:
  name: linting-format::ruff
  entry: poetry run ruff
  language: system

cloudformation:
  name: linting::cloudformation
  entry: poetry run cfn-lint
  language: system

refactor(idempotency): use standard collections for types (#6487)
  aws_lambda_powertools/utilities/idempotency/base.py
  aws_lambda_powertools/utilities/idempotency/idempotency.py
  aws_lambda_powertools/utilities/idempotency/serialization/custom_dict.py
  tests/functional/idempotency/_boto3/conftest.py
  tests/unit/idempotency/test_dynamodb_persistence.py
Due: black, ruff

refactor(event_handler): use standard collections for types + refactor code (#6495)
  aws_lambda_powertools/event_handler/api_gateway.py
  aws_lambda_powertools/event_handler/appsync.py
  aws_lambda_powertools/event_handler/bedrock_agent.py
  aws_lambda_powertools/event_handler/graphql_appsync/_registry.py
  aws_lambda_powertools/event_handler/graphql_appsync/base.py
  aws_lambda_powertools/event_handler/graphql_appsync/router.py
  aws_lambda_powertools/event_handler/lambda_function_url.py
  aws_lambda_powertools/event_handler/middlewares/openapi_validation.py
  aws_lambda_powertools/event_handler/openapi/compat.py
  aws_lambda_powertools/event_handler/openapi/dependant.py
  aws_lambda_powertools/event_handler/openapi/encoders.py
  aws_lambda_powertools/event_handler/openapi/exceptions.py
  aws_lambda_powertools/event_handler/openapi/params.py
  aws_lambda_powertools/event_handler/openapi/types.py
  aws_lambda_powertools/event_handler/util.py
  aws_lambda_powertools/event_handler/vpc_lattice.py
  tests/functional/event_handler/_pydantic/conftest.py
  tests/functional/event_handler/_pydantic/test_api_gateway.py
  tests/functional/event_handler/_pydantic/test_openapi_config.py
  tests/functional/event_handler/_pydantic/test_openapi_encoders.py
  tests/functional/event_handler/_pydantic/test_openapi_extensions.py
  tests/functional/event_handler/_pydantic/test_openapi_params.py
  tests/functional/event_handler/_pydantic/test_openapi_security.py
  tests/functional/event_handler/_pydantic/test_openapi_security_schemes.py
  tests/functional/event_handler/_pydantic/test_openapi_servers.py
  tests/functional/event_handler/_pydantic/test_openapi_swagger.py
  tests/functional/event_handler/_pydantic/test_openapi_tags.py
  tests/functional/event_handler/required_dependencies/appsync/test_appsync_batch_resolvers.py
  tests/functional/event_handler/required_dependencies/appsync/test_appsync_single_resolvers.py
  tests/functional/event_handler/required_dependencies/test_api_gateway.py
  tests/functional/event_handler/required_dependencies/test_api_middlewares.py
  tests/functional/event_handler/required_dependencies/test_base_path.py
  tests/functional/event_handler/required_dependencies/test_lambda_function_url.py
  tests/functional/event_handler/required_dependencies/test_router.py
  tests/functional/event_handler/required_dependencies/test_vpc_lattice.py
  tests/functional/event_handler/required_dependencies/test_vpc_latticev2.py
Due: black, ruff

fix(logger): warn customers when the ALC log level is less verbose than log buffer (#6509)
  aws_lambda_powertools/logging/logger.py
  tests/functional/logger/required_dependencies/test_powertools_logger_buffer.py
Due: black, ruff

feat(bedrock): add `openapi_extensions` in BedrockAgentResolver (#6510)
  aws_lambda_powertools/event_handler/bedrock_agent.py
  docs/core/event_handler/bedrock_agents.md
  examples/event_handler_bedrock_agents/src/enabling_user_confirmation.py
  tests/functional/event_handler/_pydantic/test_bedrock_agent.py
Due: black, ruff

docs(event_handler): fix typo in api keys swagger url (#6536)
  docs/core/event_handler/api_gateway.md
Due: none

fix(parser): make key attribute optional in Kafka model (#6523)
  aws_lambda_powertools/utilities/data_classes/kafka_event.py
  aws_lambda_powertools/utilities/parser/models/kafka.py
  tests/events/kafkaEventMsk.json
  tests/events/kafkaEventSelfManaged.json
  tests/unit/data_classes/required_dependencies/test_kafka_event.py
  tests/unit/parser/_pydantic/test_kafka.py
Due: black, ruff

AppSync Events
  docs/core/event_handler/appsync_events.md
  examples/event_handler_appsync_events/src/accessing_event_and_context.py
  examples/event_handler_appsync_events/src/getting_started_with_publish_events.py
  examples/event_handler_appsync_events/src/getting_started_with_subscribe_events.py
  examples/event_handler_appsync_events/src/getting_started_with_testing_publish.py
  examples/event_handler_appsync_events/src/getting_started_with_testing_publish_event.json
  examples/event_handler_appsync_events/src/getting_started_with_testing_subscribe.py
  examples/event_handler_appsync_events/src/getting_started_with_testing_subscribe_event.json
  examples/event_handler_appsync_events/src/payload_request.json
  examples/event_handler_appsync_events/src/payload_response.json
  examples/event_handler_appsync_events/src/payload_response_fail_request.json
  examples/event_handler_appsync_events/src/payload_response_with_error.json
  examples/event_handler_appsync_events/src/working_with_aggregated_events.py
  examples/event_handler_appsync_events/src/working_with_async_resolvers.py
  examples/event_handler_appsync_events/src/working_with_error_handling.py
  examples/event_handler_appsync_events/src/working_with_error_handling_multiple.py
  examples/event_handler_appsync_events/src/working_with_error_handling_response.json
  examples/event_handler_appsync_events/src/working_with_wildcard_resolvers.py
  mkdocs.yml
Due: black, ruff

docs(event_handler): add docs for AppSync event resolver (#6557)
  docs/core/event_handler/appsync_events.md
  examples/event_handler_appsync_events/src/accessing_event_and_context.py
  examples/event_handler_appsync_events/src/getting_started_with_publish_events.py
  examples/event_handler_appsync_events/src/getting_started_with_subscribe_events.py
  examples/event_handler_appsync_events/src/getting_started_with_testing_publish.py
  examples/event_handler_appsync_events/src/getting_started_with_testing_publish_event.json
  examples/event_handler_appsync_events/src/getting_started_with_testing_subscribe.py
  examples/event_handler_appsync_events/src/getting_started_with_testing_subscribe_event.json
  examples/event_handler_appsync_events/src/payload_request.json
  examples/event_handler_appsync_events/src/payload_response.json
  examples/event_handler_appsync_events/src/payload_response_fail_request.json
  examples/event_handler_appsync_events/src/payload_response_with_error.json
  examples/event_handler_appsync_events/src/working_with_aggregated_events.py
  examples/event_handler_appsync_events/src/working_with_async_resolvers.py
  examples/event_handler_appsync_events/src/working_with_error_handling.py
  examples/event_handler_appsync_events/src/working_with_error_handling_multiple.py
  examples/event_handler_appsync_events/src/working_with_error_handling_response.json
  examples/event_handler_appsync_events/src/working_with_wildcard_resolvers.py
  mkdocs.yml
Due: black, ruff

Adding AppSync events
  aws_lambda_powertools/event_handler/__init__.py
  aws_lambda_powertools/event_handler/api_gateway.py
  aws_lambda_powertools/event_handler/appsync.py
  aws_lambda_powertools/event_handler/events_appsync/__init__.py
  aws_lambda_powertools/event_handler/events_appsync/_registry.py
  aws_lambda_powertools/event_handler/events_appsync/appsync_events.py
  aws_lambda_powertools/event_handler/events_appsync/base.py
  aws_lambda_powertools/event_handler/events_appsync/exceptions.py
  aws_lambda_powertools/event_handler/events_appsync/functions.py
  aws_lambda_powertools/event_handler/events_appsync/router.py
  aws_lambda_powertools/event_handler/events_appsync/types.py
  aws_lambda_powertools/event_handler/exception_handling.py
  aws_lambda_powertools/utilities/data_classes/__init__.py
  aws_lambda_powertools/utilities/data_classes/appsync_resolver_event.py
  aws_lambda_powertools/utilities/data_classes/appsync_resolver_events_event.py
  docs/core/event_handler/appsync_events.md
  examples/event_handler_appsync_events/src/accessing_event_and_context.py
  examples/event_handler_appsync_events/src/getting_started_with_publish_events.py
  examples/event_handler_appsync_events/src/getting_started_with_subscribe_events.py
  examples/event_handler_appsync_events/src/getting_started_with_testing_publish.py
  examples/event_handler_appsync_events/src/getting_started_with_testing_subscribe.py
  examples/event_handler_appsync_events/src/working_with_aggregated_events.py
  examples/event_handler_appsync_events/src/working_with_error_handling.py
  examples/event_handler_appsync_events/src/working_with_error_handling_multiple.py
  examples/event_handler_appsync_events/src/working_with_wildcard_resolvers.py
  tests/events/appSyncEventsEvent.json
  tests/functional/event_handler/required_dependencies/appsync/test_appsync_events_resolvers.py
  tests/unit/data_classes/required_dependencies/test_appsync_events_event.py
  tests/unit/event_handler/_required_dependencies/__init__.py
  tests/unit/event_handler/_required_dependencies/appsync_events/__init__.py
  tests/unit/event_handler/_required_dependencies/appsync_events/test_functions.py
  tests/unit/event_handler/_required_dependencies/test_exception_handler_manager.py
Due: black, ruff

Adding AppSync events
  aws_lambda_powertools/event_handler/events_appsync/base.py
  aws_lambda_powertools/event_handler/events_appsync/functions.py
  aws_lambda_powertools/event_handler/events_appsync/router.py
  tests/functional/event_handler/required_dependencies/appsync/test_appsync_events_resolvers.py
Due: black, ruff

feat(event_handler): add AppSync events resolver (#6558)
  aws_lambda_powertools/event_handler/__init__.py
  aws_lambda_powertools/event_handler/api_gateway.py
  aws_lambda_powertools/event_handler/appsync.py
  aws_lambda_powertools/event_handler/events_appsync/__init__.py
  aws_lambda_powertools/event_handler/events_appsync/_registry.py
  aws_lambda_powertools/event_handler/events_appsync/appsync_events.py
  aws_lambda_powertools/event_handler/events_appsync/base.py
  aws_lambda_powertools/event_handler/events_appsync/exceptions.py
  aws_lambda_powertools/event_handler/events_appsync/functions.py
  aws_lambda_powertools/event_handler/events_appsync/router.py
  aws_lambda_powertools/event_handler/events_appsync/types.py
  aws_lambda_powertools/event_handler/exception_handling.py
  aws_lambda_powertools/utilities/data_classes/__init__.py
  aws_lambda_powertools/utilities/data_classes/appsync_resolver_event.py
  aws_lambda_powertools/utilities/data_classes/appsync_resolver_events_event.py
  docs/core/event_handler/appsync_events.md
  examples/event_handler_appsync_events/src/accessing_event_and_context.py
  examples/event_handler_appsync_events/src/getting_started_with_publish_events.py
  examples/event_handler_appsync_events/src/getting_started_with_subscribe_events.py
  examples/event_handler_appsync_events/src/getting_started_with_testing_publish.py
  examples/event_handler_appsync_events/src/getting_started_with_testing_subscribe.py
  examples/event_handler_appsync_events/src/working_with_aggregated_events.py
  examples/event_handler_appsync_events/src/working_with_error_handling.py
  examples/event_handler_appsync_events/src/working_with_error_handling_multiple.py
  examples/event_handler_appsync_events/src/working_with_wildcard_resolvers.py
  tests/events/appSyncEventsEvent.json
  tests/functional/event_handler/required_dependencies/appsync/test_appsync_events_resolvers.py
  tests/unit/data_classes/required_dependencies/test_appsync_events_event.py
  tests/unit/event_handler/_required_dependencies/__init__.py
  tests/unit/event_handler/_required_dependencies/appsync_events/__init__.py
  tests/unit/event_handler/_required_dependencies/appsync_events/test_functions.py
  tests/unit/event_handler/_required_dependencies/test_exception_handler_manager.py
Due: black, ruff

chore: version bump
  aws_lambda_powertools/shared/version.py
  pyproject.toml
Due: black, ruff

chore(ci): bump version to 3.11.0
  aws_lambda_powertools/shared/version.py
  pyproject.toml
Due: black, ruff

chore(ci): layer docs update
  CHANGELOG.md
  docs/includes/_layer_homepage_arm64.md
  docs/includes/_layer_homepage_x86.md
  docs/index.md
  examples/homepage/install/arm64/amplify.txt
  examples/homepage/install/arm64/cdk_arm64.py
  examples/homepage/install/arm64/pulumi_arm64.py
  examples/homepage/install/arm64/sam.yaml
  examples/homepage/install/arm64/serverless.yml
  examples/homepage/install/arm64/terraform.tf
  examples/homepage/install/x86_64/amplify.txt
  examples/homepage/install/x86_64/cdk_x86.py
  examples/homepage/install/x86_64/pulumi_x86.py
  examples/homepage/install/x86_64/sam.yaml
  examples/homepage/install/x86_64/serverless.yml
  examples/homepage/install/x86_64/terraform.tf
  examples/logger/sam/template.yaml
  examples/metrics/sam/template.yaml
  examples/metrics_datadog/sam/template.yaml
  examples/tracer/sam/template.yaml
Due: black, ruff, cloudformation

chore(ci): new pre-release 3.11.1a0
  aws_lambda_powertools/shared/version.py
  provenance/3.11.1a0/multiple.intoto.jsonl
  pyproject.toml
Due: black, ruff

chore(ci): changelog rebuild
  CHANGELOG.md
Due: none

feat(bedrock_agent): create bedrock agents functions data class
  aws_lambda_powertools/utilities/data_classes/__init__.py
  aws_lambda_powertools/utilities/data_classes/bedrock_agent_function_event.py
  tests/events/bedrockAgentFunctionEvent.json
  tests/unit/data_classes/required_dependencies/test_bedrock_agent_function_event.py
Due: black, ruff

create resolver
  aws_lambda_powertools/event_handler/__init__.py
  aws_lambda_powertools/event_handler/bedrock_agent_function.py
  tests/functional/event_handler/required_dependencies/test_bedrock_agent_functions.py
Due: black, ruff

mypy
  aws_lambda_powertools/event_handler/bedrock_agent_function.py
  tests/functional/event_handler/required_dependencies/test_bedrock_agent_functions.py
Due: black, ruff

add response
  aws_lambda_powertools/event_handler/bedrock_agent_function.py
  tests/functional/event_handler/required_dependencies/test_bedrock_agent_functions.py
Due: black, ruff

Improve appSync events documrntation
  docs/core/event_handler/appsync_events.md
  examples/event_handler_appsync_events/src/accessing_event_and_context.py
  examples/event_handler_appsync_events/src/fail_entire_batch.py
  examples/event_handler_appsync_events/src/fail_entire_batch_response.json
  examples/event_handler_appsync_events/src/getting_started_with_publish_events.py
  examples/event_handler_appsync_events/src/working_with_aggregated_events.py
  examples/event_handler_appsync_events/src/working_with_async_resolvers.py
  examples/event_handler_appsync_events/src/working_with_authorization_control.py
Due: black, ruff

Improve appSync events documrntation
  docs/core/event_handler/appsync_events.md
Due: none

docs: fix wrong highlights
  docs/core/event_handler/appsync_events.md
Due: none

Update appsync_events.md
  docs/core/event_handler/appsync_events.md
Due: none

chore(ci): new pre-release 3.11.1a1
  aws_lambda_powertools/shared/version.py
  provenance/3.11.1a1/multiple.intoto.jsonl
  pyproject.toml
Due: black, ruff

Improve appSync events documrntation
  .cfnlintrc.yaml
  examples/event_handler_appsync_events/sam/getting_started_with_appsync_events.yaml
Due: cloudformation

docs(appsync_events): improve AppSync events documentation (#6572)
  .cfnlintrc.yaml
  docs/core/event_handler/appsync_events.md
  examples/event_handler_appsync_events/sam/getting_started_with_appsync_events.yaml
  examples/event_handler_appsync_events/src/accessing_event_and_context.py
  examples/event_handler_appsync_events/src/fail_entire_batch.py
  examples/event_handler_appsync_events/src/fail_entire_batch_response.json
  examples/event_handler_appsync_events/src/getting_started_with_publish_events.py
  examples/event_handler_appsync_events/src/working_with_aggregated_events.py
  examples/event_handler_appsync_events/src/working_with_async_resolvers.py
  examples/event_handler_appsync_events/src/working_with_authorization_control.py
Due: black, ruff, cloudformation

add name param to tool
  aws_lambda_powertools/event_handler/bedrock_agent_function.py
  tests/functional/event_handler/required_dependencies/test_bedrock_agent_functions.py
Due: black, ruff

add response optional fields
  aws_lambda_powertools/event_handler/__init__.py
  aws_lambda_powertools/event_handler/bedrock_agent_function.py
  tests/events/bedrockAgentFunctionEvent.json
  tests/functional/event_handler/required_dependencies/test_bedrock_agent_functions.py
Due: black, ruff

chore(ci): new pre-release 3.11.1a2
  aws_lambda_powertools/shared/version.py
  provenance/3.11.1a2/multiple.intoto.jsonl
  pyproject.toml
Due: black, ruff

Fix middleware validation
  aws_lambda_powertools/event_handler/api_gateway.py
  aws_lambda_powertools/event_handler/bedrock_agent.py
  docs/core/event_handler/bedrock_agents.md
  examples/event_handler_bedrock_agents/src/bedrockresponse.py
  examples/event_handler_bedrock_agents/src/working_with_bedrockresponse.py
  tests/functional/event_handler/_pydantic/test_bedrock_agent.py
Due: black, ruff

Fix middleware validation
  aws_lambda_powertools/event_handler/api_gateway.py
  tests/functional/event_handler/_pydantic/test_bedrock_agent.py
Due: black, ruff

chore(ci): new pre-release 3.11.1a3
  aws_lambda_powertools/shared/version.py
  provenance/3.11.1a3/multiple.intoto.jsonl
  pyproject.toml
Due: black, ruff

feat(bedrock_agents): add optional fields to response payload (#6336)
  aws_lambda_powertools/event_handler/__init__.py
  aws_lambda_powertools/event_handler/api_gateway.py
  aws_lambda_powertools/event_handler/bedrock_agent.py
  docs/core/event_handler/bedrock_agents.md
  examples/event_handler_bedrock_agents/src/working_with_bedrockresponse.py
  tests/functional/event_handler/_pydantic/test_bedrock_agent.py
Due: black, ruff

bedrockfunctionresponse and response state
  aws_lambda_powertools/event_handler/__init__.py
  aws_lambda_powertools/event_handler/bedrock_agent_function.py
  aws_lambda_powertools/utilities/data_classes/bedrock_agent_function_event.py
  tests/functional/event_handler/required_dependencies/test_bedrock_agent_functions.py
  tests/unit/data_classes/required_dependencies/test_bedrock_agent_function_event.py
Due: black, ruff

Path conditions:
  black: any of: \.py$
  ruff: any of: \.py$
  cloudformation: any of: examples/.* and \.(yaml|yml)$
