Repository aws-powertools/powertools-lambda-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, flake8, cloudformation

.pre-commit-config.yaml:

# We use poetry to run formatting and linting before commit/push
# Longer checks such as tests, security and complexity baseline
# are run as part of CI to prevent slower feedback loop
# All checks can be run locally via `make pr`

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.4.0
    hooks:
      - id: check-merge-conflict
      - id: trailing-whitespace
      - id: check-toml
  - repo: local
    hooks:
      - id: black
        name: formatting::black
        entry: poetry run black
        language: system
        types: [python]
      - id: isort
        name: formatting::isort
        entry: poetry run isort
        language: system
        types: [python]
  - repo: local
    hooks:
      - id: flake8
        name: linting::flake8
        entry: poetry run flake8
        language: system
        types: [python]
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: "11c08644ce6df850480d98f628596446a526cbc6" # frozen: v0.31.1
    hooks:
      - id: markdownlint
        args: ["--fix"]
  - repo: local
    hooks:
      - id: cloudformation
        name: linting::cloudformation
        entry: poetry run cfn-lint
        language: system
        types: [yaml]
        files: examples/.*
  - repo: https://github.com/rhysd/actionlint
    rev: v1.6.23
    hooks:
      - id: actionlint-docker
        args: [-pyflakes=]

Add type annotation to context
  aws_lambda_powertools/utilities/data_masking/providers/aws_encryption_sdk.py
  tests/unit/data_masking/test_data_masking.py
Due: black, isort, flake8

Fix context
  aws_lambda_powertools/utilities/data_masking/providers/aws_encryption_sdk.py
  tests/unit/data_masking/test_data_masking.py
Due: black, isort, flake8

feat(parser): Parser support for custom resource
  aws_lambda_powertools/utilities/parser/models/__init__.py
  aws_lambda_powertools/utilities/parser/models/custom_resource.py
  docs/utilities/parser.md
  tests/events/customResourceCreate.json
  tests/events/customResourceDelete.json
  tests/events/customResourceUpdate.json
  tests/functional/parser/test_custom_resource.py
Due: black, isort, flake8

refactor to standalone tracer class
  aws_lambda_powertools/tracing/provider/__init__.py
  aws_lambda_powertools/tracing/provider/base.py
  aws_lambda_powertools/tracing/provider/xray_provider.py
  aws_lambda_powertools/tracing/tracer.py
Due: black, isort, flake8

style/typo fixes for review
  aws_lambda_powertools/shared/user_agent.py
  aws_lambda_powertools/utilities/data_classes/code_pipeline_job_event.py
  aws_lambda_powertools/utilities/idempotency/persistence/dynamodb.py
  aws_lambda_powertools/utilities/parameters/base.py
  aws_lambda_powertools/utilities/streaming/_s3_seekable_io.py
Due: black, isort, flake8

refactor tracer provider, add a xray provider
  aws_lambda_powertools/tracing/provider/__init__.py
  aws_lambda_powertools/tracing/provider/base.py
  aws_lambda_powertools/tracing/provider/xray_provider.py
Due: black, isort, flake8

fix pipeline for older python
  aws_lambda_powertools/utilities/parser/models/custom_resource.py
Due: black, isort, flake8

chore(ci): changelog rebuild
  CHANGELOG.md
Due: none

docs: missing rename templates
  examples/logger/sam/template.yaml
  examples/metrics/sam/template.yaml
  examples/tracer/sam/template.yaml
Due: cloudformation

Use a different Metric class for different provider
  aws_lambda_powertools/metrics/provider/__init__.py
  aws_lambda_powertools/metrics/provider/base.py
  aws_lambda_powertools/metrics/provider/datadog_provider_draft.py
Due: black, isort, flake8

fix static checking error
  aws_lambda_powertools/metrics/provider/base.py
  aws_lambda_powertools/metrics/provider/datadog_provider_draft.py
Due: black, isort, flake8

fix static checking error
  aws_lambda_powertools/tracing/provider/xray_provider.py
Due: black, isort, flake8

fix static checking error
  aws_lambda_powertools/metrics/provider/datadog_provider_draft.py
Due: black, isort, flake8

vpc lattice event type
  aws_lambda_powertools/utilities/data_classes/vpc_lattice.py
Due: black, isort, flake8

adding to init
  aws_lambda_powertools/utilities/data_classes/__init__.py
  aws_lambda_powertools/utilities/data_classes/vpc_lattice.py
Due: black, isort, flake8

fixing import name
  aws_lambda_powertools/utilities/data_classes/__init__.py
Due: black, isort, flake8

feat: Add function to decode nested messages on SQS events
  aws_lambda_powertools/utilities/data_classes/event_source.py
  aws_lambda_powertools/utilities/data_classes/sns_event.py
  aws_lambda_powertools/utilities/data_classes/sqs_event.py
  tests/functional/test_data_classes.py
  tests/unit/data_classes/test_sqs_event.py
Due: black, isort, flake8

feat: Add function to decode nested messages on SQS events
  aws_lambda_powertools/utilities/data_classes/event_source.py
Due: black, isort, flake8

chore: docstring
  aws_lambda_powertools/shared/user_agent.py
Due: black, isort, flake8

fix(code_pipeline_job_event): Change `boto3` import location
  aws_lambda_powertools/utilities/data_classes/code_pipeline_job_event.py
Due: black, isort, flake8

feat(user-agent): add custom header User-Agent to AWS SDK requests (#2267)
  aws_lambda_powertools/__init__.py
  aws_lambda_powertools/shared/user_agent.py
  aws_lambda_powertools/shared/version.py
  aws_lambda_powertools/utilities/data_classes/code_pipeline_job_event.py
  aws_lambda_powertools/utilities/idempotency/persistence/dynamodb.py
  aws_lambda_powertools/utilities/parameters/base.py
  aws_lambda_powertools/utilities/streaming/_s3_seekable_io.py
  mypy.ini
  pyproject.toml
Due: black, isort, flake8

chore: fix md file
  docs/core/logger.md
Due: none

fix(event_source): change the import location of boto3 in CodePipelineJobEvent data class (#2353)
  aws_lambda_powertools/utilities/data_classes/code_pipeline_job_event.py
  docs/core/logger.md
Due: black, isort, flake8

refactor(logger): remove subclassing and move unnecessary APIs (#2334)
  aws_lambda_powertools/logging/compat.py
  aws_lambda_powertools/logging/logger.py
  aws_lambda_powertools/logging/utils.py
Due: black, isort, flake8

adding load test event
  tests/events/vpcLatticeEvent.json
  tests/functional/test_data_classes.py
Due: black, isort, flake8

fixing the host
  tests/events/vpcLatticeEvent.json
Due: none

updating documentation
  docs/utilities/data_classes.md
Due: none

spelling
  docs/utilities/data_classes.md
Due: none

missed a link
  docs/utilities/data_classes.md
Due: none
