Repository aws-powertools/powertools-lambda-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff, cloudformation

.pre-commit-config.yaml:

# We use poetry to run formatting and linting before commit/push
# Longer checks such as tests, security and complexity baseline
# are run as part of CI to prevent slower feedback loop
# All checks can be run locally via `make pr`

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: "f71fa2c1f9cf5cb705f73dffe4b21f7c61470ba9" # v4.4.0
    hooks:
      - id: check-merge-conflict
      - id: trailing-whitespace
      - id: check-toml
  - repo: local
    hooks:
      - id: black
        name: formatting::black
        entry: poetry run black
        language: system
        types: [python]
      - id: ruff
        name: linting-format::ruff
        entry: poetry run ruff
        language: system
        types: [python]
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: "ce0d77ac47dc921b62429804fe763d4d35f66a76" # v0.34.0
    hooks:
      - id: markdownlint-docker
        args: ["--fix"]
  - repo: local
    hooks:
      - id: cloudformation
        name: linting::cloudformation
        entry: poetry run cfn-lint
        language: system
        types: [yaml]
        files: examples/.*
  - repo: https://github.com/rhysd/actionlint
    rev: "fd7ba3c382e13dcc0248e425b4cbc3f1185fa3ee" # v1.6.24
    hooks:
      - id: actionlint-docker
        args: [-pyflakes=]
  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: 3420134c37197c21edffc7e6093b14ffae8402f2 # v1.81.0
    hooks:
      - id: terraform_fmt
        args:
          - --args=-recursive
  - repo: https://github.com/gitleaks/gitleaks
    rev: "7804d652c0460f0b61ea9bb2c1f202bfcdbbf144" # v8.16.3
    hooks:
      - id: gitleaks

Bump download artifact
  .github/actions/upload-release-provenance/action.yml
Due: none

chore(ci): bump download artifact action to v4 (#4358)
  .github/actions/upload-release-provenance/action.yml
Due: none

chore(ci): bump version to 2.38.0
  aws_lambda_powertools/shared/version.py
  pyproject.toml
Due: black, ruff

chore: version bump
  aws_lambda_powertools/shared/version.py
  pyproject.toml
Due: black, ruff

chore(ci): layer docs update
  CHANGELOG.md
  docs/index.md
  examples/logger/sam/template.yaml
  examples/metrics/sam/template.yaml
  examples/tracer/sam/template.yaml
Due: cloudformation

Deployed d0293d01 to develop with MkDocs 1.6.0 and mike 2.1.1
  develop/changelog/index.html
  develop/core/logger/index.html
  develop/core/metrics/index.html
  develop/core/tracer/index.html
  develop/index.html
  develop/search/search_index.json
Due: none

Reverting logging child change
  aws_lambda_powertools/logging/constants.py
  aws_lambda_powertools/logging/exceptions.py
  aws_lambda_powertools/logging/logger.py
  docs/core/logger.md
  tests/functional/test_logger.py
Due: black, ruff

fix(logger): reverting logger child modification (#4363)
  aws_lambda_powertools/logging/constants.py
  aws_lambda_powertools/logging/exceptions.py
  aws_lambda_powertools/logging/logger.py
  docs/core/logger.md
  tests/functional/test_logger.py
Due: black, ruff

Deployed ded5622e to develop with MkDocs 1.6.0 and mike 2.1.1
  develop/core/logger/index.html
  develop/search/search_index.json
Due: none

chore(ci): bump version to 2.38.1
  aws_lambda_powertools/shared/version.py
  pyproject.toml
Due: black, ruff

Deployed d60a4fec to develop with MkDocs 1.6.0 and mike 2.1.1
  develop/changelog/index.html
  develop/core/logger/index.html
  develop/core/metrics/index.html
  develop/core/tracer/index.html
  develop/index.html
  develop/search/search_index.json
Due: none

chore(ci): changelog rebuild
  CHANGELOG.md
Due: none

Deployed 9413bb26 to develop with MkDocs 1.6.0 and mike 2.1.1
  develop/changelog/index.html
  develop/search/search_index.json
  develop/sitemap.xml.gz
Due: none

moved code to examples
  docs/index.md
  examples/install/arm64/amplify.txt
  examples/install/arm64/pulumi.py
  examples/install/arm64/sam.yaml
  examples/install/arm64/serverless.yaml
  examples/install/arm64/terraform.tf
  examples/install/sar/cdk.py
  examples/install/sar/sam.yaml
  examples/install/sar/scoped_down_iam.yaml
  examples/install/sar/serverless.yaml
  examples/install/sar/terraform.tf
  examples/install/x86_64/amplify.txt
  examples/install/x86_64/pulumi.py
  examples/install/x86_64/sam.yaml
  examples/install/x86_64/serverless.yaml
  examples/install/x86_64/terraform.tf
Due: black, ruff, cloudformation

moved cdk to examples
  docs/index.md
  examples/install/arm64/cdk.py
  examples/install/x86_64/cdk.py
Due: black, ruff

Deployed 83927e7e to develop with MkDocs 1.6.0 and mike 2.1.1
  develop/changelog/index.html
  develop/search/search_index.json
  develop/sitemap.xml.gz
Due: none

Deployed 58540a76 to develop with MkDocs 1.6.0 and mike 2.1.1
  develop/Dockerfile
  develop/sitemap.xml.gz
Due: none

Moving files + small fix
  .pre-commit-config.yaml
  docs/index.md
  examples/homepage/install/arm64/amplify.txt
  examples/homepage/install/arm64/cdk.py
  examples/homepage/install/arm64/pulumi.py
  examples/homepage/install/arm64/sam.yaml
  examples/homepage/install/arm64/serverless.yml
  examples/homepage/install/arm64/terraform.tf
  examples/homepage/install/sar/cdk.py
  examples/homepage/install/sar/sam.yaml
  examples/homepage/install/sar/scoped_down_iam.yaml
  examples/homepage/install/sar/serverless.yml
  examples/homepage/install/sar/terraform.tf
  examples/homepage/install/x86_64/amplify.txt
  examples/homepage/install/x86_64/cdk.py
  examples/homepage/install/x86_64/pulumi.py
  examples/homepage/install/x86_64/sam.yaml
  examples/homepage/install/x86_64/serverless.yml
  examples/homepage/install/x86_64/terraform.tf
  examples/install/arm64/pulumi.py
  examples/install/arm64/serverless.yaml
  examples/install/sar/cdk.py
  examples/install/sar/scoped_down_iam.yaml
  examples/install/sar/serverless.yaml
  examples/install/x86_64/pulumi.py
  examples/install/x86_64/terraform.tf
Due: black, ruff, cloudformation

docs(homepage): Change installation to CDK v2 (#4351)
  .pre-commit-config.yaml
  docs/index.md
  examples/homepage/install/arm64/amplify.txt
  examples/homepage/install/arm64/cdk.py
  examples/homepage/install/arm64/pulumi.py
  examples/homepage/install/arm64/sam.yaml
  examples/homepage/install/arm64/serverless.yml
  examples/homepage/install/arm64/terraform.tf
  examples/homepage/install/sar/cdk.py
  examples/homepage/install/sar/sam.yaml
  examples/homepage/install/sar/scoped_down_iam.yaml
  examples/homepage/install/sar/serverless.yml
  examples/homepage/install/sar/terraform.tf
  examples/homepage/install/x86_64/amplify.txt
  examples/homepage/install/x86_64/cdk.py
  examples/homepage/install/x86_64/pulumi.py
  examples/homepage/install/x86_64/sam.yaml
  examples/homepage/install/x86_64/serverless.yml
  examples/homepage/install/x86_64/terraform.tf
Due: black, ruff, cloudformation

Deployed fc376f90 to develop with MkDocs 1.6.0 and mike 2.1.1
  develop/index.html
  develop/search/search_index.json
Due: none

fix: remove CloudFormationRequestType type and other minor changes.
  aws_lambda_powertools/utilities/data_classes/cloudformation_custom_resource_event.py
  docs/utilities/data_classes.md
  examples/event_sources/src/cloudformation_custom_resource_handler.py
  tests/unit/data_classes/test_cloudformation_custom_resource_event.py
Due: black, ruff

Fix CORS when working with multiheaders
  aws_lambda_powertools/event_handler/api_gateway.py
  docs/index.md
  examples/homepage/install/arm64/cdk_arm64.py
  examples/homepage/install/arm64/pulumi_arm64.py
  examples/homepage/install/sar/cdk_sar.py
  examples/homepage/install/x86_64/cdk_x86.py
  examples/homepage/install/x86_64/pulumi_x86.py
  mypy.ini
  tests/events/apiGatewayProxyEvent.json
Due: black, ruff

Addressing feedback
  aws_lambda_powertools/event_handler/api_gateway.py
Due: black, ruff

Deployed e3600054 to develop with MkDocs 1.6.0 and mike 2.1.1
  develop/changelog/index.html
  develop/search/search_index.json
  develop/sitemap.xml.gz
Due: none

Addressing feedback
  aws_lambda_powertools/event_handler/api_gateway.py
  aws_lambda_powertools/event_handler/util.py
Due: black, ruff

Addressing Heitor's feedback
  aws_lambda_powertools/event_handler/util.py
Due: black, ruff

fix(event_handler): CORS Origin for ALBResolver multi-headers (#4385)
  aws_lambda_powertools/event_handler/api_gateway.py
  aws_lambda_powertools/event_handler/util.py
  docs/index.md
  examples/homepage/install/arm64/cdk_arm64.py
  examples/homepage/install/arm64/pulumi_arm64.py
  examples/homepage/install/sar/cdk_sar.py
  examples/homepage/install/x86_64/cdk_x86.py
  examples/homepage/install/x86_64/pulumi_x86.py
  mypy.ini
  tests/events/apiGatewayProxyEvent.json
Due: black, ruff

Deployed 6fbad2fe to develop with MkDocs 1.6.0 and mike 2.1.1
  develop/index.html
Due: none

fix: POWERTOOLS_IDEMPOTENCY_DISABLED should respect truthy values
  aws_lambda_powertools/utilities/idempotency/idempotency.py
Due: black, ruff

Adding more tests
  aws_lambda_powertools/utilities/idempotency/idempotency.py
  tests/functional/idempotency/test_idempotency.py
Due: black, ruff
