Repository aws-powertools/powertools-lambda-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff, cloudformation

black:
  name: formatting::black
  entry: poetry run black
  language: system

ruff:
  name: linting-format::ruff
  entry: poetry run ruff
  language: system

cloudformation:
  name: linting::cloudformation
  entry: poetry run cfn-lint
  language: system

chore(ci): bump version to 2.35.0
  aws_lambda_powertools/shared/version.py
  pyproject.toml
Due: black, ruff

chore: version bump
  aws_lambda_powertools/shared/version.py
  pyproject.toml
Due: black, ruff

chore(ci): layer docs update
  CHANGELOG.md
  docs/index.md
  examples/logger/sam/template.yaml
  examples/metrics/sam/template.yaml
  examples/tracer/sam/template.yaml
Due: cloudformation

Deployed b3f9248b to develop with MkDocs 1.5.3 and mike 1.1.2
  develop/changelog/index.html
  develop/search/search_index.json
  develop/sitemap.xml.gz
Due: none

Deployed beef6a6c to develop with MkDocs 1.5.3 and mike 1.1.2
  develop/changelog/index.html
  develop/core/logger/index.html
  develop/core/metrics/index.html
  develop/core/tracer/index.html
  develop/index.html
  develop/search/search_index.json
  develop/sitemap.xml.gz
Due: none

Deployed 2d51955a to develop with MkDocs 1.5.3 and mike 1.1.2
  develop/Dockerfile
  develop/sitemap.xml.gz
Due: none

chore(ci): changelog rebuild
  CHANGELOG.md
Due: none

Deployed 7da8a7b0 to develop with MkDocs 1.5.3 and mike 1.1.2
  develop/404.html
  develop/automation/index.html
  develop/changelog/index.html
  develop/contributing/conventions/index.html
  develop/contributing/documentation/rfcs/index.html
  develop/contributing/getting_started/index.html
  develop/contributing/setup/index.html
  develop/core/event_handler/_openapi_customization_metadata/index.html
  develop/core/event_handler/_openapi_customization_operations/index.html
  develop/core/event_handler/_openapi_customization_parameters/index.html
  develop/core/event_handler/api_gateway/index.html
  develop/core/event_handler/appsync/index.html
  develop/core/event_handler/bedrock_agents/index.html
  develop/core/logger/index.html
  develop/core/metrics/datadog/index.html
  develop/core/metrics/index.html
  develop/core/tracer/index.html
  develop/diagram_src/cicd_steps/index.html
  develop/index.html
  develop/maintainers/index.html
  develop/roadmap/index.html
  develop/search/search_index.json
  develop/security/index.html
  develop/sitemap.xml.gz
  develop/tutorial/index.html
  develop/upgrade/index.html
  develop/utilities/batch/index.html
  develop/utilities/data_classes/index.html
  develop/utilities/data_masking/index.html
  develop/utilities/feature_flags/index.html
  develop/utilities/idempotency/index.html
  develop/utilities/jmespath_functions/index.html
  develop/utilities/middleware_factory/index.html
  develop/utilities/parameters/index.html
  develop/utilities/parser/index.html
  develop/utilities/streaming/index.html
  develop/utilities/typing/index.html
  develop/utilities/validation/index.html
  develop/versioning/index.html
  develop/we_made_this/index.html
Due: none

fix(data_sources): ensure correct types on SQSMessageAttributes
  aws_lambda_powertools/utilities/data_classes/sqs_event.py
  tests/unit/data_classes/test_sqs_event.py
Due: black, ruff

feat(event_handler): use custom serializer during openapi serialization
  aws_lambda_powertools/event_handler/api_gateway.py
  aws_lambda_powertools/event_handler/middlewares/openapi_validation.py
  aws_lambda_powertools/event_handler/openapi/encoders.py
  tests/functional/event_handler/test_openapi_serialization.py
Due: black, ruff

fix(internal): call ruff with correct args
  Makefile
Due: none

fix(internal): call ruff with correct args (#3901)
  Makefile
Due: none

fix(event_handler): validate POST bodies on BedrockAgentResolver
  aws_lambda_powertools/utilities/data_classes/bedrock_agent_event.py
  tests/functional/event_handler/test_bedrock_agent.py
Due: black, ruff

fix
  tests/functional/event_handler/test_bedrock_agent.py
Due: black, ruff

fix: add overloads for get_secret function
  aws_lambda_powertools/utilities/parameters/secrets.py
Due: black, ruff

fix(data_sources): ensure correct types on SQSMessageAttributes (#3898)
  aws_lambda_powertools/utilities/data_classes/sqs_event.py
  tests/unit/data_classes/test_sqs_event.py
Due: black, ruff

Deployed 024d9d75 to develop with MkDocs 1.5.3 and mike 1.1.2
  develop/changelog/index.html
  develop/search/search_index.json
  develop/sitemap.xml.gz
Due: none

fix(event_handler): validate POST bodies on BedrockAgentResolver (#3903)
  aws_lambda_powertools/utilities/data_classes/bedrock_agent_event.py
  tests/functional/event_handler/test_bedrock_agent.py
Due: black, ruff

fix: comments
  aws_lambda_powertools/event_handler/api_gateway.py
  aws_lambda_powertools/event_handler/middlewares/openapi_validation.py
  aws_lambda_powertools/event_handler/openapi/encoders.py
Due: black, ruff

feat(event_handler): use custom serializer during openapi serialization (#3900)
  aws_lambda_powertools/event_handler/api_gateway.py
  aws_lambda_powertools/event_handler/middlewares/openapi_validation.py
  aws_lambda_powertools/event_handler/openapi/encoders.py
  tests/functional/event_handler/test_openapi_serialization.py
Due: black, ruff

chore(ci): bump version to 2.35.1
  aws_lambda_powertools/shared/version.py
  pyproject.toml
Due: black, ruff

Deployed c8c01ece to develop with MkDocs 1.5.3 and mike 1.1.2
  develop/changelog/index.html
  develop/core/logger/index.html
  develop/core/metrics/index.html
  develop/core/tracer/index.html
  develop/index.html
  develop/search/search_index.json
  develop/sitemap.xml.gz
Due: none

refactor(parameters): improve typing for get_secret method (#3910)
  aws_lambda_powertools/utilities/parameters/secrets.py
Due: black, ruff

Deployed a4ac18ce to develop with MkDocs 1.5.3 and mike 1.1.2
  develop/changelog/index.html
  develop/search/search_index.json
  develop/sitemap.xml.gz
Due: none

Path conditions:
  black: any of: \.py$
  ruff: any of: \.py$
  cloudformation: any of: examples/.* and \.(yaml|yml)$
