Repository aws-powertools/powertools-lambda-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, flake8

.pre-commit-config.yaml:

# We use poetry to run formatting and linting before commit/push
# Longer checks such as tests, security and complexity baseline
# are run as part of CI to prevent slower feedback loop
# All checks can be run locally via `make pr`

repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v2.4.0
      hooks:
          - id: check-merge-conflict
          - id: trailing-whitespace
          - id: end-of-file-fixer
          - id: check-toml
    - repo: local
      hooks:
          - id: black
            name: formatting::black
            entry: poetry run black
            language: system
            types: [python]
          - id: isort
            name: formatting::isort
            entry: poetry run isort
            language: system
            types: [python]
    - repo: local
      hooks:
          - id: flake8
            name: linting::flake8
            entry: poetry run flake8
            language: system
            types: [python]
            exclude: example

feat(rest-api): Complete examples
  docs/core/event_handler/api_gateway.md
  docs_examples/core/api_gateway/layout/health.py
  docs_examples/core/api_gateway/layout/main.py
  docs_examples/core/api_gateway/layout/template.yml
  docs_examples/core/api_gateway/layout/test_users.py
Due: black, isort

docs(tutorial): Extract examples
  docs/tutorial/index.md
  docs_examples/tutorial/add_route_hello_by_name.py
  docs_examples/tutorial/add_route_temaplate.yml
  docs_examples/tutorial/code_example_app.py
  docs_examples/tutorial/code_example_template.yml
  docs_examples/tutorial/create_own_router_app.py
  docs_examples/tutorial/create_own_router_template.yml
  docs_examples/tutorial/enrich_generate_traces_app.py
  docs_examples/tutorial/event_handler_app.py
  docs_examples/tutorial/generate_traces_app.py
  docs_examples/tutorial/generate_traces_template.yml
  docs_examples/tutorial/json_logger_app.py
  docs_examples/tutorial/logger_app.py
  docs_examples/tutorial/tracer_app.py
Due: black, isort

docs(tutorial): Extract examples
  docs/tutorial/index.md
  docs_examples/tutorial/create_metrics_app.py
  docs_examples/tutorial/create_metrics_template.yml
  docs_examples/tutorial/metrics_app.py
Due: black, isort

chore: remove unused method
  aws_lambda_powertools/logging/logger.py
Due: black, isort, flake8

docs(logger): custom formatter use case completeness
  docs/core/logger.md
Due: none

docs(plugin): add mermaid to create diagram as code (#1070)
  mkdocs.yml
Due: none

fix(logger): ensure state is cleared for custom formatters (#1072)
  aws_lambda_powertools/logging/formatter.py
  aws_lambda_powertools/logging/logger.py
  docs/core/logger.md
  tests/functional/test_logger.py
Due: black, isort, flake8

chore: bump to 1.25.3
  CHANGELOG.md
  pyproject.toml
Due: none

docs(layer): update to 1.25.3
  docs/index.md
Due: none

docs(validator): Fix name for example and move examples out to files
  docs/examples/utilities/validation/unwrapping_events.py
  docs/examples/utilities/validation/unwrapping_popular_event_sources.py
  docs/examples/utilities/validation/validate_custom_format.py
  docs/examples/utilities/validation/validator_decorator.py
  docs/examples/utilities/validation/validator_function.py
  docs/utilities/validation.md
Due: black, isort

doc(jmespath): Fix examples and extract
  docs/examples/utilities/jmespath_functions/custom_jmespath_function.py
  docs/examples/utilities/jmespath_functions/extract_data_built_in_jmespath.py
  docs/examples/utilities/jmespath_functions/extract_data_jmespath.py
  docs/examples/utilities/jmespath_functions/powertools_base64_gzip_jmespath_function.py
  docs/examples/utilities/jmespath_functions/powertools_base64_jmespath_function.py
  docs/examples/utilities/jmespath_functions/powertools_json_jmespath_function.py
  docs/examples/utilities/jmespath_functions/powertools_json_jmespath_function_idempotency.py
  docs/utilities/jmespath_functions.md
Due: black, isort

docs(typing): Extract examples
  docs/examples/utilities/typing/lambda_context.py
  docs/utilities/typing.md
Due: black, isort

docs(middleware_factory): Extract examples
  docs/examples/utilities/middleware_factory/middleware_no_params.py
  docs/examples/utilities/middleware_factory/middleware_trace_custom.py
  docs/examples/utilities/middleware_factory/middleware_trace_execution.py
  docs/examples/utilities/middleware_factory/middleware_with_params.py
  docs/utilities/middleware_factory.md
Due: black, isort

chore: correct line highlights
  docs/utilities/jmespath_functions.md
Due: none

Ensure external loggers doesnt propagate logs
  aws_lambda_powertools/logging/utils.py
  tests/functional/test_logger_utils.py
Due: black, isort, flake8

docs(tracer): Extract code examples
  docs/core/tracer.md
  docs/examples/core/tracer/aiohttp_trace_config.py
  docs/examples/core/tracer/capture_error_disable.py
  docs/examples/core/tracer/capture_lambda_handler.py
  docs/examples/core/tracer/capture_method_async.py
  docs/examples/core/tracer/capture_method_context_manager.py
  docs/examples/core/tracer/capture_method_generators.py
  docs/examples/core/tracer/capture_method_sync.py
  docs/examples/core/tracer/concurrent_asynchronous_functions.py
  docs/examples/core/tracer/ignore_endpoint.py
  docs/examples/core/tracer/patch_modules.py
  docs/examples/core/tracer/put_annotation.py
  docs/examples/core/tracer/put_metadata.py
  docs/examples/core/tracer/reuse_handler.py
  docs/examples/core/tracer/reuse_payment.py
  docs/examples/core/tracer/sensitive_data_scenario.py
  docs/examples/core/tracer/streaming_object_scenario.py
  docs/examples/core/tracer/template.yml
  docs/examples/core/tracer/tracer_provider_escape_hatches.py
Due: black, isort

docs(metrics): Extract examples
  docs/core/metrics.md
  docs/examples/core/metrics/example_app.py
  docs/examples/core/metrics/flush_metrics.py
  docs/examples/core/metrics/log_metrics_capture_cold_start_metric.py
  docs/examples/core/metrics/log_metrics_default_dimensions.py
  docs/examples/core/metrics/log_metrics_multiple_decorators.py
  docs/examples/core/metrics/log_metrics_raise_on_empty_metrics.py
  docs/examples/core/metrics/metrics_app.py
  docs/examples/core/metrics/metrics_custom_dimensions_app.py
  docs/examples/core/metrics/set_default_dimensions.py
  docs/examples/core/metrics/template.yml
Due: black, isort

docs(contributing): operational excellence pause
  CONTRIBUTING.md
Due: none

docs(metrics): Extract python examples
  docs/core/metrics.md
  docs/examples/core/metrics/add_metadata.py
  docs/examples/core/metrics/clear_metrics_between_tests.py
  docs/examples/core/metrics/flush_metrics_manually.py
  docs/examples/core/metrics/functional_testing.py
  docs/examples/core/metrics/functional_testing_multiple_blobs.py
  docs/examples/core/metrics/single_metric.py
Due: black, isort

docs(logger): Extract examples
  docs/core/logger.md
  docs/examples/core/logger/app.py
  docs/examples/core/logger/collect.py
  docs/examples/core/logger/inject_lambda_context_correlation_id_path.py
  docs/examples/core/logger/inject_lambda_context_correlation_paths.py
  docs/examples/core/logger/logger_append_keys.py
  docs/examples/core/logger/logger_extra_parameter.py
  docs/examples/core/logger/logger_remove_keys.py
  docs/examples/core/logger/logger_set_correlation_id.py
  docs/examples/core/logger/logger_set_correlation_id_data_class.py
  docs/examples/core/logger/logging_incoming_event.py
  docs/examples/core/logger/template.yml
Due: black, isort

docs(logger): Extract examples
  docs/core/logger.md
  docs/examples/core/logger/correct_logger_inheritance.py
  docs/examples/core/logger/incorrect_logger_inheritance.py
  docs/examples/core/logger/inject_lambda_context_clear_state.py
  docs/examples/core/logger/logger_exception.py
  docs/examples/core/logger/logger_log_record_order.py
  docs/examples/core/logger/logger_sample_rate.py
  docs/examples/core/logger/logger_utc.py
  docs/examples/core/logger/logging_formatter.py
  docs/examples/core/logger/overriding_log_records.py
  docs/examples/core/logger/shared.py
  docs/examples/core/logger/shared_app.py
Due: black, isort

docs(logger): Extract examples
  docs/core/logger.md
  docs/examples/core/logger/faq_append_keys_vs_extra.py
  docs/examples/core/logger/faq_enable_boto3_logger.py
  docs/examples/core/logger/faq_utils_copy_config_to_registered_loggers.py
Due: black, isort

docs(logger): Extract remaining examples
  docs/core/logger.md
  docs/examples/core/logger/fake_lambda_context_for_logger.py
  docs/examples/core/logger/fake_lambda_context_for_logger_py36.py
  docs/examples/core/logger/logger_json_default.py
  docs/examples/core/logger/logger_json_serializer.py
  docs/examples/core/logger/logger_logger_formatter.py
  docs/examples/core/logger/logger_logger_formatter_base_powertools_formatter.py
  docs/examples/core/logger/logger_logger_handler.py
Due: black, isort

docs(logger): better filename for extracted examples
  docs/core/logger.md
  docs/examples/core/logger/getting_started_app.py
  docs/examples/core/logger/getting_started_template.yml
  docs/examples/core/logger/inject_lambda_context.py
  docs/examples/core/logger/inject_lambda_context_log_event.py
Due: black, isort

docs(logger): Better shared logger file names
  docs/core/logger.md
  docs/examples/core/logger/shared_logger_app.py
  docs/examples/core/logger/shared_logger_child.py
Due: black, isort

docs(batch): Extract code examples
  docs/examples/utilities/batch/dynamodb_streams_context_manager.py
  docs/examples/utilities/batch/dynamodb_streams_decorator.py
  docs/examples/utilities/batch/dynamodb_streams_template.yml
  docs/examples/utilities/batch/kinesis_data_streams_context_manager.py
  docs/examples/utilities/batch/kinesis_data_streams_decorator.py
  docs/examples/utilities/batch/kinesis_data_streams_template.yml
  docs/examples/utilities/batch/sqs_context_manager.py
  docs/examples/utilities/batch/sqs_decorator.py
  docs/examples/utilities/batch/sqs_template.yml
  docs/utilities/batch.md
Due: black, isort

fix(batch): Correct Pydantic integration examples
  docs/core/logger.md
  docs/examples/utilities/batch/dynamodb_streams_pydantic_inheritance.py
  docs/examples/utilities/batch/kinesis_data_streams_pydantic_inheritance.py
  docs/examples/utilities/batch/sqs_pydantic_inheritance.py
  docs/utilities/batch.md
Due: black, isort

docs(batch): Correct Accessing processed messages examples
  docs/examples/utilities/batch/sqs_processed_messages_context_manager.py
  docs/utilities/batch.md
Due: black, isort

fix(batch): Fix Extending BatchProcessor example
  docs/examples/utilities/batch/sqs_batch_processor_extension.py
  docs/utilities/batch.md
Due: black, isort

fix(docs): fix Creating a custom batch processor
  docs/examples/utilities/batch/custom_batch_processor.py
  docs/utilities/batch.md
Due: black, isort

fix(docs): batch Testing your code
  docs/examples/utilities/batch/caveats_tracer_response_auto_capture.py
  docs/examples/utilities/batch/testing_src_app.py
  docs/examples/utilities/batch/testing_test_app.py
  docs/utilities/batch.md
Due: black, isort

fix(docs): Fix Customizing boto configuration
  docs/examples/utilities/batch/custom_boto3_session_context_manager.py
  docs/examples/utilities/batch/custom_boto3_session_decorator.py
  docs/examples/utilities/batch/custom_config_context_manager.py
  docs/examples/utilities/batch/custom_config_decorator.py
  docs/examples/utilities/batch/migration_context_manager_after.py
  docs/examples/utilities/batch/migration_context_manager_before.py
  docs/examples/utilities/batch/migration_decorator_after.py
  docs/examples/utilities/batch/migration_decorator_before.py
  docs/examples/utilities/batch/sentry_integration.py
  docs/examples/utilities/batch/suppress_exception_decorator_sqs_batch_processor.py
  docs/examples/utilities/batch/suppress_exception_partial_sqs_processor.py
  docs/utilities/batch.md
Due: black, isort

docs(parameters): Extract examples and fixes
  docs/examples/utilities/parameters/app_config_provider.py
  docs/examples/utilities/parameters/create_your_own_s3_provider.py
  docs/examples/utilities/parameters/custom_caching_parameters.py
  docs/examples/utilities/parameters/dynamodb_provider.py
  docs/examples/utilities/parameters/dynamodb_provider_customization.py
  docs/examples/utilities/parameters/dynamodb_provider_get_multiple.py
  docs/examples/utilities/parameters/dynamodb_provider_local.py
  docs/examples/utilities/parameters/fetching_app_config.py
  docs/examples/utilities/parameters/fetching_secrets.py
  docs/examples/utilities/parameters/force_fetch_parameters.py
  docs/examples/utilities/parameters/recursively_parameters.py
  docs/examples/utilities/parameters/secrets_provider.py
  docs/examples/utilities/parameters/ssm_provider.py
  docs/examples/utilities/parameters/ssm_provider_get_options.py
  docs/utilities/parameters.md
Due: black, isort

docs(parameter): Extract more examples
  docs/examples/utilities/parameters/parameters_custom_config.py
  docs/examples/utilities/parameters/parameters_custom_session.py
  docs/examples/utilities/parameters/parameters_sdk_args.py
  docs/examples/utilities/parameters/parameters_transform.py
  docs/examples/utilities/parameters/parameters_transform_auto.py
  docs/examples/utilities/parameters/parameters_transform_providers.py
  docs/examples/utilities/parameters/parameters_transform_raise_on_transform_error.py
  docs/utilities/parameters.md
Due: black, isort

doc(parameter): extract examples
  docs/examples/utilities/parameters/testing_parameters_fixture.py
  docs/examples/utilities/parameters/testing_parameters_index.py
  docs/examples/utilities/parameters/testing_parameters_mock.py
  docs/examples/utilities/parameters/testing_parameters_tests.py
  docs/utilities/parameters.md
Due: black, isort

fix(docs): Fix template yml
  docs/examples/utilities/idempotency/batch_sample.py
  docs/examples/utilities/idempotency/dataclass_sample.py
  docs/examples/utilities/idempotency/idempotent_decorator.py
  docs/examples/utilities/idempotency/parser_pydantic_sample.py
  docs/examples/utilities/idempotency/template.yml
  docs/utilities/idempotency.md
Due: black, isort

docs(idempotency): Add bring your own examples
  docs/examples/utilities/idempotency/bring_your_own_persistent_store.py
  docs/utilities/idempotency.md
Due: black, isort

fix(idempotency): Python syntax error
  docs/examples/utilities/idempotency/dynamodb_persistence_layer_customization.py
  docs/examples/utilities/idempotency/idempotency_exception_sample.py
  docs/examples/utilities/idempotency/payment.py
  docs/utilities/idempotency.md
Due: black, isort
