Repository aws-powertools/powertools-lambda-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff, cloudformation

black:
  name: formatting::black
  entry: poetry run black
  language: system

ruff:
  name: linting-format::ruff
  entry: poetry run ruff
  language: system

cloudformation:
  name: linting::cloudformation
  entry: poetry run cfn-lint
  language: system

add mock redis, redis validation, sentinel support
  Makefile
  aws_lambda_powertools/utilities/idempotency/exceptions.py
  aws_lambda_powertools/utilities/idempotency/persistence/redis.py
  tests/functional/idempotency/persistence/test_redis_layer.py
  tests/integration/idempotency/setup_sentinel.sh
Due: black, ruff

chore(ci): changelog rebuild
  CHANGELOG.md
Due: none

fix(metrics): Fix precedence problem when using default_tags and metric tags
  aws_lambda_powertools/metrics/provider/datadog/datadog.py
  tests/functional/metrics/test_metrics_datadog.py
Due: black, ruff

fix(metrics): Adding dependency
  poetry.lock
  pyproject.toml
Due: none

fix(metrics): wording
  aws_lambda_powertools/metrics/provider/datadog/datadog.py
Due: black, ruff

fix(metrics): preserve default_tags when metric-specific tag is set in Datadog provider (#2997)
  aws_lambda_powertools/metrics/provider/datadog/datadog.py
  poetry.lock
  pyproject.toml
  tests/functional/metrics/test_metrics_datadog.py
Due: black, ruff

Deployed ceb957d0 to develop with MkDocs 1.5.2 and mike 1.1.2
  develop/changelog/index.html
  develop/search/search_index.json
  develop/sitemap.xml.gz
Due: none

fix test
  tests/functional/idempotency/persistence/test_redis_layer.py
Due: black, ruff

Deployed 53650982 to develop with MkDocs 1.5.2 and mike 1.1.2
  develop/changelog/index.html
  develop/search/search_index.json
  develop/sitemap.xml.gz
Due: none

chore(ci): bump version to 2.23.1
  aws_lambda_powertools/shared/version.py
  pyproject.toml
Due: black, ruff

Cr fixes
  aws_lambda_powertools/utilities/idempotency/base.py
  aws_lambda_powertools/utilities/idempotency/idempotency.py
  aws_lambda_powertools/utilities/idempotency/serialization/base.py
  aws_lambda_powertools/utilities/idempotency/serialization/custom_dict.py
  aws_lambda_powertools/utilities/idempotency/serialization/no_op.py
  aws_lambda_powertools/utilities/idempotency/serialization/pydantic.py
Due: black, ruff

chore(ci): layer docs update
  CHANGELOG.md
  docs/index.md
  examples/logger/sam/template.yaml
  examples/metrics/sam/template.yaml
  examples/tracer/sam/template.yaml
Due: cloudformation

fix(ci): change SAR assume role options
  .github/workflows/reusable_deploy_v2_sar.yml
Due: none

fix(ci): change SAR assume role options (#3005)
  .github/workflows/reusable_deploy_v2_sar.yml
Due: none

Revert "fix(ci): change SAR assume role options (#3005)"
  .github/workflows/reusable_deploy_v2_sar.yml
Due: none

Revert "chore(deps): bump aws-actions/configure-aws-credentials from 2.2.0 to 3.0.0 (#3000)"
  .github/workflows/dispatch_analytics.yml
  .github/workflows/reusable_deploy_v2_layer_stack.yml
  .github/workflows/reusable_deploy_v2_sar.yml
  .github/workflows/reusable_publish_docs.yml
  .github/workflows/run-e2e-tests.yml
Due: none

Deployed 7f451765 to 2.23.1 with MkDocs 1.5.2 and mike 1.1.2
  2.23.1/changelog/index.html
  2.23.1/search/search_index.json
  2.23.1/sitemap.xml.gz
Due: none

fix(ci): revert aws credentials action (#3010)
  .github/workflows/dispatch_analytics.yml
  .github/workflows/reusable_deploy_v2_layer_stack.yml
  .github/workflows/reusable_deploy_v2_sar.yml
  .github/workflows/reusable_publish_docs.yml
  .github/workflows/run-e2e-tests.yml
Due: none

chore: version bump
  aws_lambda_powertools/shared/version.py
  pyproject.toml
Due: black, ruff

Deployed 85ab33c5 to 2.23.1 with MkDocs 1.5.2 and mike 1.1.2
  2.23.1/changelog/index.html
  2.23.1/search/search_index.json
  2.23.1/sitemap.xml.gz
Due: none

add support to dynamic model deducation
  aws_lambda_powertools/utilities/idempotency/exceptions.py
  aws_lambda_powertools/utilities/idempotency/idempotency.py
  aws_lambda_powertools/utilities/idempotency/serialization/base.py
  aws_lambda_powertools/utilities/idempotency/serialization/pydantic.py
  tests/functional/idempotency/test_idempotency.py
Due: black, ruff

add negative tests
  tests/functional/idempotency/test_idempotency.py
Due: black, ruff

add implelementation for dataclass
  aws_lambda_powertools/utilities/idempotency/serialization/dataclass.py
Due: black, ruff

add dataclass serializer
  tests/functional/idempotency/test_idempotency.py
Due: black, ruff

Deployed 0ef02c98 to develop with MkDocs 1.5.2 and mike 1.1.2
  develop/changelog/index.html
  develop/core/logger/index.html
  develop/core/metrics/index.html
  develop/core/tracer/index.html
  develop/index.html
  develop/search/search_index.json
  develop/sitemap.xml.gz
Due: none

Path conditions:
  black: any of: \.py$
  ruff: any of: \.py$
  cloudformation: any of: examples/.* and \.(yaml|yml)$
