Repository aws-powertools/powertools-lambda-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff, cloudformation

black:
  name: formatting::black
  entry: poetry run black
  language: system

ruff:
  name: linting-format::ruff
  entry: poetry run ruff
  language: system

cloudformation:
  name: linting::cloudformation
  entry: poetry run cfn-lint
  language: system

Deployed b7e483da to develop with MkDocs 1.6.0 and mike 2.1.2
  develop/search/search_index.json
  develop/sitemap.xml.gz
  develop/utilities/validation/index.html
Due: none

chore(ci): changelog rebuild
  CHANGELOG.md
Due: none

Deployed 02218d39 to develop with MkDocs 1.6.0 and mike 2.1.2
  develop/changelog/index.html
  develop/search/search_index.json
Due: none

Reassign to boto3_session instead of inlined expression
  aws_lambda_powertools/utilities/idempotency/persistence/dynamodb.py
  aws_lambda_powertools/utilities/parameters/appconfig.py
  aws_lambda_powertools/utilities/parameters/secrets.py
  aws_lambda_powertools/utilities/parameters/ssm.py
  examples/idempotency/src/bring_your_own_persistent_store.py
Due: black, ruff

refactor(typing): enable boto3 implicit type annotations (#4692)
  aws_lambda_powertools/utilities/data_classes/s3_object_event.py
  aws_lambda_powertools/utilities/idempotency/persistence/dynamodb.py
  aws_lambda_powertools/utilities/parameters/appconfig.py
  aws_lambda_powertools/utilities/parameters/base.py
  aws_lambda_powertools/utilities/parameters/dynamodb.py
  aws_lambda_powertools/utilities/parameters/secrets.py
  aws_lambda_powertools/utilities/parameters/ssm.py
  aws_lambda_powertools/utilities/parameters/types.py
  aws_lambda_powertools/utilities/streaming/_s3_seekable_io.py
  aws_lambda_powertools/utilities/streaming/s3_object.py
  docs/utilities/data_classes.md
  examples/feature_flags/src/custom_s3_store_provider.py
  examples/idempotency/src/bring_your_own_persistent_store.py
  examples/parameters/src/custom_boto3_all_providers.py
  examples/tracer/src/disable_capture_response_streaming_body.py
  mypy.ini
  poetry.lock
  pyproject.toml
  tests/e2e/utils/auth.py
  tests/e2e/utils/data_fetcher/common.py
  tests/e2e/utils/data_fetcher/logs.py
  tests/e2e/utils/data_fetcher/metrics.py
  tests/e2e/utils/data_fetcher/traces.py
  tests/e2e/utils/infrastructure.py
Due: black, ruff

refactor(parameters): deprecate the config parameter in favor of boto_config (#4893)
  aws_lambda_powertools/utilities/feature_flags/appconfig.py
  aws_lambda_powertools/utilities/parameters/appconfig.py
  aws_lambda_powertools/utilities/parameters/dynamodb.py
  aws_lambda_powertools/utilities/parameters/secrets.py
  aws_lambda_powertools/utilities/parameters/ssm.py
  aws_lambda_powertools/warnings/__init__.py
  docs/utilities/parameters.md
  examples/parameters/src/custom_boto_config.py
  tests/functional/test_utilities_parameters.py
Due: black, ruff

Docmentation fix + small changes
  aws_lambda_powertools/shared/types.py
  aws_lambda_powertools/utilities/feature_flags/__init__.py
  aws_lambda_powertools/utilities/feature_flags/appconfig.py
  aws_lambda_powertools/utilities/feature_flags/comparators.py
  aws_lambda_powertools/utilities/feature_flags/feature_flags.py
  aws_lambda_powertools/utilities/feature_flags/schema.py
  aws_lambda_powertools/utilities/feature_flags/types.py
  docs/core/event_handler/api_gateway.md
  docs/core/event_handler/appsync.md
  examples/middleware_factory/src/combining_powertools_utilities_function.py
  tests/functional/feature_flags/test_time_based_actions.py
Due: black, ruff

Adding tracer to v3
  aws_lambda_powertools/tracing/base.py
  aws_lambda_powertools/tracing/provider/__init__.py
  aws_lambda_powertools/tracing/provider/aws_xray/aws_xray_tracer.py
  aws_lambda_powertools/tracing/provider/base.py
  aws_lambda_powertools/tracing/tracer.py
  tests/unit/test_tracing.py
Due: black, ruff

Adding tracer to v3
  poetry.lock
  pyproject.toml
Due: none

chore(ci): new pre-release 2.42.1a8
  aws_lambda_powertools/shared/version.py
  provenance/2.42.1a8/multiple.intoto.jsonl
  pyproject.toml
Due: black, ruff

feat(metrics): Add NoUnit type for EMF
  aws_lambda_powertools/metrics/provider/cloudwatch_emf/metric_properties.py
Due: black, ruff

feat(metrics): add unit None for CloudWatch EMF Metrics (#4904)
  aws_lambda_powertools/metrics/provider/cloudwatch_emf/metric_properties.py
Due: black, ruff

Deployed f10f6f88 to develop with MkDocs 1.6.0 and mike 2.1.2
  develop/changelog/index.html
  develop/search/search_index.json
  develop/sitemap.xml.gz
Due: none

refactor!(jmespath_utils): deprecate extract_data_from_envelope in jmespath_utils and replace with query
  aws_lambda_powertools/logging/logger.py
  aws_lambda_powertools/utilities/feature_flags/appconfig.py
  aws_lambda_powertools/utilities/jmespath_utils/__init__.py
  aws_lambda_powertools/utilities/validation/validator.py
  docs/utilities/jmespath_functions.md
  examples/jmespath_functions/src/extract_data_from_builtin_envelope.py
  examples/jmespath_functions/src/extract_data_from_envelope.py
  examples/jmespath_functions/src/powertools_base64_gzip_jmespath_function.py
  examples/jmespath_functions/src/powertools_base64_jmespath_function.py
  examples/jmespath_functions/src/powertools_custom_jmespath_function.py
  examples/jmespath_functions/src/powertools_json_jmespath_function.py
  examples/middleware_factory/src/combining_powertools_utilities_function.py
  examples/middleware_factory/src/getting_started_middleware_before_logic_function.py
  examples/middleware_factory/src/getting_started_middleware_with_params_function.py
  tests/functional/idempotency/conftest.py
Due: black, ruff

Adding deprecation decorator
  aws_lambda_powertools/utilities/jmespath_utils/__init__.py
  docs/utilities/jmespath_functions.md
Due: black, ruff

Adding test
  tests/unit/jmespath_util/test_jmespath_util.py
Due: black, ruff

Fix highlight
  docs/utilities/jmespath_functions.md
  examples/jmespath_functions/src/query.py
Due: black, ruff

refactor(jmespath_utils): deprecate extract_data_from_envelope in favor of query (#4907)
  aws_lambda_powertools/logging/logger.py
  aws_lambda_powertools/utilities/feature_flags/appconfig.py
  aws_lambda_powertools/utilities/jmespath_utils/__init__.py
  aws_lambda_powertools/utilities/validation/validator.py
  docs/utilities/jmespath_functions.md
  examples/jmespath_functions/src/extract_data_from_builtin_envelope.py
  examples/jmespath_functions/src/powertools_base64_gzip_jmespath_function.py
  examples/jmespath_functions/src/powertools_base64_jmespath_function.py
  examples/jmespath_functions/src/powertools_custom_jmespath_function.py
  examples/jmespath_functions/src/powertools_json_jmespath_function.py
  examples/jmespath_functions/src/query.py
  examples/middleware_factory/src/combining_powertools_utilities_function.py
  examples/middleware_factory/src/getting_started_middleware_before_logic_function.py
  examples/middleware_factory/src/getting_started_middleware_with_params_function.py
  tests/functional/idempotency/conftest.py
  tests/unit/jmespath_util/test_jmespath_util.py
Due: black, ruff

Deprecating decorators
  aws_lambda_powertools/utilities/batch/decorators.py
  docs/utilities/batch.md
  tests/functional/test_utilities_batch.py
Due: black, ruff

chore: version bump
  aws_lambda_powertools/shared/version.py
  pyproject.toml
Due: black, ruff

chore(ci): bump version to 2.43.0
  aws_lambda_powertools/shared/version.py
  pyproject.toml
Due: black, ruff

chore(ci): new pre-release 2.42.1a9
  aws_lambda_powertools/shared/version.py
  provenance/2.42.1a9/multiple.intoto.jsonl
  pyproject.toml
Due: black, ruff

refactor(batch_processing): mark batch_processor and async_batch_processor as deprecated (#4910)
  aws_lambda_powertools/utilities/batch/decorators.py
  docs/utilities/batch.md
  tests/functional/test_utilities_batch.py
Due: black, ruff

chore(ci): layer docs update
  CHANGELOG.md
  docs/index.md
  examples/logger/sam/template.yaml
  examples/metrics/sam/template.yaml
  examples/tracer/sam/template.yaml
Due: cloudformation

Deployed a1831c20 to develop with MkDocs 1.6.0 and mike 2.1.2
  develop/changelog/index.html
  develop/core/logger/index.html
  develop/core/metrics/index.html
  develop/core/tracer/index.html
  develop/index.html
  develop/search/search_index.json
  develop/sitemap.xml.gz
Due: none

Deployed d86cce1a to develop with MkDocs 1.6.0 and mike 2.1.2
  develop/changelog/index.html
  develop/search/search_index.json
Due: none

chore(ci): new pre-release 2.43.1a0
  aws_lambda_powertools/shared/version.py
  provenance/2.43.1a0/multiple.intoto.jsonl
  pyproject.toml
Due: black, ruff

Deployed f40ad68a to develop with MkDocs 1.6.0 and mike 2.1.2
  develop/changelog/index.html
  develop/search/search_index.json
  develop/sitemap.xml.gz
Due: none

chore(ci): new pre-release 2.43.1a1
  aws_lambda_powertools/shared/version.py
  provenance/2.43.1a1/multiple.intoto.jsonl
  pyproject.toml
Due: black, ruff

Deployed 599dceb4 to develop with MkDocs 1.6.0 and mike 2.1.2
  develop/changelog/index.html
  develop/search/search_index.json
  develop/sitemap.xml.gz
Due: none

fix(event_handler): correct URL for OpenAPI spec in Swagger UI
  aws_lambda_powertools/event_handler/api_gateway.py
  aws_lambda_powertools/event_handler/openapi/swagger_ui/html.py
  tests/functional/event_handler/_pydantic/test_openapi_swagger.py
Due: black, ruff

Fix regression when working with ZERO
  aws_lambda_powertools/utilities/data_classes/dynamo_db_stream_event.py
  tests/unit/data_classes/required_dependencies/test_dynamo_db_stream_event.py
Due: black, ruff

Path conditions:
  black: any of: \.py$
  ruff: any of: \.py$
  cloudformation: any of: examples/.* and \.(yaml|yml)$
