Repository aws-powertools/powertools-lambda-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff, cloudformation

.pre-commit-config.yaml:

# We use poetry to run formatting and linting before commit/push
# Longer checks such as tests, security and complexity baseline
# are run as part of CI to prevent slower feedback loop
# All checks can be run locally via `make pr`

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: "f71fa2c1f9cf5cb705f73dffe4b21f7c61470ba9" # v4.4.0
    hooks:
      - id: check-merge-conflict
      - id: trailing-whitespace
      - id: check-toml
  - repo: local
    hooks:
      - id: black
        name: formatting::black
        entry: poetry run black
        language: system
        types: [python]
      - id: ruff
        name: linting-format::ruff
        entry: poetry run ruff
        language: system
        types: [python]
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: "ce0d77ac47dc921b62429804fe763d4d35f66a76" # v0.34.0
    hooks:
      - id: markdownlint-docker
        args: ["--fix"]
  - repo: local
    hooks:
      - id: cloudformation
        name: linting::cloudformation
        entry: poetry run cfn-lint
        language: system
        types: [yaml]
        files: examples/.*
  - repo: https://github.com/rhysd/actionlint
    rev: "fd7ba3c382e13dcc0248e425b4cbc3f1185fa3ee" # v1.6.24
    hooks:
      - id: actionlint-docker
        args: [-pyflakes=]
  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: 3420134c37197c21edffc7e6093b14ffae8402f2 # v1.81.0
    hooks:
      - id: terraform_fmt
        args:
          - --args=-recursive
  - repo: https://github.com/gitleaks/gitleaks
    rev: "7804d652c0460f0b61ea9bb2c1f202bfcdbbf144" # v8.16.3
    hooks:
      - id: gitleaks

Deployed 6de632de to develop with MkDocs 1.5.1 and mike 1.1.2
  develop/changelog/index.html
  develop/search/search_index.json
  develop/sitemap.xml.gz
Due: none

Addressing Heitor's feedback + improving DX
  aws_lambda_powertools/metrics/functions.py
  aws_lambda_powertools/metrics/provider/datadog/datadog.py
  aws_lambda_powertools/metrics/provider/datadog/metrics.py
  tests/functional/metrics/test_metrics_datadog.py
  tests/unit/metrics/test_functions.py
Due: black, ruff

Fix documentantion and add python3.11 as default runtime
  docs/core/metrics.md
  docs/core/metrics/index.md
  docs/core/metrics_datadog.md
  docs/index.md
  examples/batch_processing/sam/dynamodb_batch_processing.yaml
  examples/batch_processing/sam/kinesis_batch_processing.yaml
  examples/batch_processing/sam/sqs_batch_processing.yaml
  examples/idempotency/templates/sam.yaml
  examples/logger/sam/template.yaml
  examples/metrics/sam/template.yaml
  examples/metrics_datadog/sam/template.yaml
  examples/tracer/sam/template.yaml
  mkdocs.yml
Due: cloudformation

Fix documentantion
  docs/core/metrics_datadog.md
  examples/metrics_datadog/sam/template.yaml
  examples/metrics_datadog/src/log_metrics_standard_output.json
Due: cloudformation

Deployed 8c4958c6 to develop with MkDocs 1.5.1 and mike 1.1.2
  develop/requirements.txt
  develop/sitemap.xml.gz
Due: none

chore(ci): changelog rebuild
  CHANGELOG.md
Due: none

fix tests
  aws_lambda_powertools/utilities/idempotency/base.py
  aws_lambda_powertools/utilities/idempotency/idempotency.py
  tests/functional/idempotency/test_idempotency.py
Due: black, ruff

idemoponcy changes
  aws_lambda_powertools/utilities/idempotency/serialization/base.py
  aws_lambda_powertools/utilities/idempotency/serialization/custom_dict.py
  aws_lambda_powertools/utilities/idempotency/serialization/pydantic.py
  docs/utilities/idempotency.md
  examples/idempotency/src/working_with_idempotent_function_dataclass_output_serializer.py
  examples/idempotency/src/working_with_idempotent_function_pydantic_output_serializer.py
  tests/functional/idempotency/test_idempotency.py
Due: black, ruff

Deployed eba91525 to develop with MkDocs 1.5.1 and mike 1.1.2
  develop/changelog/index.html
  develop/search/search_index.json
  develop/sitemap.xml.gz
Due: none

chore(docs): added documentation
  docs/core/event_handler/api_gateway.md
  examples/event_handler_rest/src/strip_route_prefix_regex.py
Due: black, ruff

fix: streamlined regexes
  aws_lambda_powertools/event_handler/api_gateway.py
  tests/functional/event_handler/test_api_gateway.py
Due: black, ruff

fix: update APIGateway subclasses
  aws_lambda_powertools/event_handler/api_gateway.py
  aws_lambda_powertools/event_handler/lambda_function_url.py
  aws_lambda_powertools/event_handler/vpc_lattice.py
Due: black, ruff

fix: added tests
  aws_lambda_powertools/event_handler/api_gateway.py
  tests/functional/event_handler/test_api_gateway.py
Due: black, ruff

Update _remove_prefix method to iterativly remove prefix by regex
  aws_lambda_powertools/event_handler/api_gateway.py
Due: black, ruff

chore: reword
  aws_lambda_powertools/event_handler/api_gateway.py
Due: black, ruff

feat(event_handler): allow stripping route prefixes using regexes (#2521)
  aws_lambda_powertools/event_handler/api_gateway.py
  aws_lambda_powertools/event_handler/lambda_function_url.py
  aws_lambda_powertools/event_handler/vpc_lattice.py
  docs/core/event_handler/api_gateway.md
  examples/event_handler_rest/src/strip_route_prefix_regex.py
  tests/functional/event_handler/test_api_gateway.py
Due: black, ruff

Deployed 0485c8ab to develop with MkDocs 1.5.1 and mike 1.1.2
  develop/core/event_handler/api_gateway/index.html
  develop/search/search_index.json
  develop/sitemap.xml.gz
Due: none

Moving internal functions to Provider class
  aws_lambda_powertools/metrics/functions.py
  aws_lambda_powertools/metrics/provider/datadog/datadog.py
  tests/unit/metrics/test_functions.py
Due: black, ruff

Adding more information about partners
  docs/core/metrics_datadog.md
Due: none

docs(config): collapse by default given nav size
  mkdocs.yml
Due: none

docs: fix yaml frontmatter issue
  .markdownlintignore
  docs/core/metrics/index.md
Due: none

docs: auto-include abbreviations
  .markdownlintignore
  docs/core/metrics.md
  includes/abbreviations.md
  mkdocs.yml
Due: none

docs(nav): move datadog to its own nav
  docs/core/metrics/datadog.md
  mkdocs.yml
Due: none

docs(datadog): provide terminologies; feat cleanup
  docs/core/metrics/datadog.md
Due: none

docs(metrics): correct typo in terminologies
  docs/core/metrics.md
Due: none

shorten word
  examples/metrics_datadog/sam/template.yaml
Due: cloudformation

docs(datadog): shorten install
  docs/core/metrics/datadog.md
Due: none

docs(datadog): simplify add_metrics
  docs/core/metrics/datadog.md
  examples/metrics_datadog/src/add_metrics.py
  examples/metrics_datadog/src/add_metrics_with_provider.py
  examples/metrics_datadog/src/add_metrics_with_timestamp.py
Due: black, ruff

docs(datadog): simplify tags, mention new warning
  docs/core/metrics/datadog.md
Due: none

docs(datadog): cleanup default tags
  docs/core/metrics/datadog.md
Due: none

docs(datadog): simplify code snippet
  examples/metrics_datadog/src/flush_metrics_to_standard_output.py
Due: black, ruff

docs(datadog): move forwarder to advanced; cleanup
  docs/core/metrics/datadog.md
Due: none

docs(datadog): cleanup flush
  docs/core/metrics/datadog.md
Due: none

docs(datadog): correct typo in cold start
  docs/core/metrics/datadog.md
Due: none
