Repository aws-powertools/powertools-lambda-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, flake8

black:
  name: formatting::black
  entry: poetry run black
  language: system

isort:
  name: formatting::isort
  entry: poetry run isort
  language: system

flake8:
  name: linting::flake8
  entry: poetry run flake8
  language: system

fix(docs): Fix syntax error
  docs/examples/utilities/idempotency/idempotency_cache_ttl.py
  docs/examples/utilities/idempotency/idempotency_composite_primary_key.py
  docs/examples/utilities/idempotency/idempotency_custom_config.py
  docs/examples/utilities/idempotency/idempotency_custom_session.py
  docs/examples/utilities/idempotency/idempotency_in_memory_cache.py
  docs/examples/utilities/idempotency/idempotency_key_required.py
  docs/examples/utilities/idempotency/idempotency_payload_validation.py
  docs/utilities/idempotency.md
Due: black, isort

fix(docs): Fix syntax error
  docs/examples/utilities/idempotency/idempotency_with_validator.py
  docs/utilities/idempotency.md
Due: black, isort

docs(idempotency): Extract code examples
  docs/examples/utilities/idempotency/testing_idempotency_disabled_app.py
  docs/examples/utilities/idempotency/testing_idempotency_disabled_test.py
  docs/examples/utilities/idempotency/testing_with_dynamodb_local_app.py
  docs/examples/utilities/idempotency/testing_with_dynamodb_local_test.py
  docs/examples/utilities/idempotency/testing_with_mocked_dynamodb_app.py
  docs/examples/utilities/idempotency/testing_with_mocked_dynamodb_test.py
  docs/utilities/idempotency.md
Due: black, isort

docs(feature_flags): Extract code examples
  docs/examples/utilities/feature_flags/app_config.py
  docs/examples/utilities/feature_flags/cache_config.py
  docs/examples/utilities/feature_flags/cdk_app.py
  docs/examples/utilities/feature_flags/envelope.py
  docs/examples/utilities/feature_flags/get_enabled_features.py
  docs/examples/utilities/feature_flags/get_raw_configuration.py
  docs/examples/utilities/feature_flags/non_boolean_flag.py
  docs/examples/utilities/feature_flags/single_feature_flag.py
  docs/examples/utilities/feature_flags/static_flag.py
  docs/examples/utilities/feature_flags/template.yml
  docs/examples/utilities/feature_flags/unit_test.py
  docs/utilities/feature_flags.md
Due: black, isort

docs(index): Extract and fix examples
  Makefile
  docs/examples/cdk_app.py
  docs/examples/least_priviledged_template.yml
  docs/examples/main.tf
  docs/examples/sar_cdk_app.py
  docs/examples/sar_main.tf
  docs/index.md
Due: black, isort

Add child loggers validation test
  tests/functional/test_logger_utils.py
Due: black, isort, flake8

docs(parser): Extract examples and fixes
  Makefile
  docs/examples/utilities/parser/parser_envelope.py
  docs/examples/utilities/parser/parser_event_bridge_envelope.py
  docs/examples/utilities/parser/parser_event_bridge_model.py
  docs/examples/utilities/parser/parser_event_parser_decorator.py
  docs/examples/utilities/parser/parser_extending_builtin_models.py
  docs/examples/utilities/parser/parser_models.py
  docs/examples/utilities/parser/parser_parse_function.py
  docs/utilities/parser.md
Due: black, isort

docs(parser): Extract examples
  docs/examples/utilities/parser/parser_model_export.py
  docs/examples/utilities/parser/parser_validator.py
  docs/examples/utilities/parser/parser_validator_all.py
  docs/examples/utilities/parser/parser_validator_root.py
  docs/utilities/parser.md
Due: black, isort

docs(parser): Extract examples
  docs/examples/utilities/parser/parser_event_parser_decorator.py
Due: black, isort

docs(index): Extract and fix sam templates
  Makefile
  docs/examples/core/event_handler/api_gateway/layout/template.yml
  docs/examples/core/event_handler/api_gateway/template.yml
  docs/examples/core/event_handler/appsync/template.yml
  docs/examples/index/lambda_layer_cdk_app.py
  docs/examples/index/lambda_layer_main.tf
  docs/examples/index/lambda_layer_template.yml
  docs/examples/index/least_priviledged_template.yml
  docs/examples/index/sar_cdk_app.py
  docs/examples/index/sar_main.tf
  docs/examples/index/sar_template.yml
  docs/index.md
Due: black, isort

chore: lint unused import
  tests/functional/test_logger_utils.py
Due: black, isort, flake8

revert: service_name fixture
  tests/functional/test_logger_utils.py
Due: black, isort, flake8

fix: use addHandler over monkeypatch
  tests/functional/test_logger_utils.py
Due: black, isort, flake8

chore: remove unnecessary test
  tests/functional/test_logger_utils.py
Due: black, isort, flake8

fix: repurpose test to cover parent loggers case
  tests/functional/test_logger_utils.py
Due: black, isort, flake8

chore: comment reason for change
  aws_lambda_powertools/logging/utils.py
Due: black, isort, flake8

fix: package_logger as const over logger instance
  aws_lambda_powertools/logging/utils.py
Due: black, isort, flake8

Ensure we don't brake bi-directional propagation if child powertools logger is passed as source_logger
  aws_lambda_powertools/logging/utils.py
  tests/functional/test_logger_utils.py
Due: black, isort, flake8

chore: remove duplicate test
  tests/functional/test_logger_utils.py
Due: black, isort, flake8

Update aws_lambda_powertools/logging/utils.py
  aws_lambda_powertools/logging/utils.py
Due: black, isort, flake8

docs: Add how to install Pydantic without binaries
  docs/utilities/parser.md
Due: none

docs(appsync): fix typo
  docs/core/event_handler/appsync.md
Due: none

chore: bump to 1.25.4
  CHANGELOG.md
  pyproject.toml
Due: none

Fix wrong exclude list composed while copying config to external loggers
  aws_lambda_powertools/logging/utils.py
  tests/functional/test_logger_utils.py
Due: black, isort, flake8

fix(logger-utils): regression on exclude set leading to no formatter (#1080)
  aws_lambda_powertools/logging/utils.py
  tests/functional/test_logger_utils.py
Due: black, isort, flake8

chore: bump to 1.25.5
  CHANGELOG.md
  pyproject.toml
Due: none

docs(layer): bump to 1.25.5
  docs/index.md
Due: none

chore: sync up with latest version
  docs/examples/core/event_handler/api_gateway/layout/template.yml
  docs/examples/index/lambda_layer_cdk_app.py
  docs/examples/index/lambda_layer_main.tf
  docs/examples/index/sar_cdk_app.py
  docs/examples/index/sar_main.tf
  docs/examples/index/sar_template.yml
  docs/index.md
Due: black, isort

deps: bumped mkdocs-material to latest
  poetry.lock
Due: none

docs: Update size increase by using pydantic
  docs/utilities/parser.md
Due: none

chore: add tests to reproduce regression
  tests/functional/test_logger.py
Due: black, isort, flake8

fix(logger): ensure default keys are added when cleared
  aws_lambda_powertools/logging/formatter.py
  tests/functional/test_logger.py
Due: black, isort, flake8

fix(logger): clear_state regression on absent standard keys (#1088)
  aws_lambda_powertools/logging/formatter.py
  tests/functional/test_logger.py
Due: black, isort, flake8

chore: bump to 1.25.6
  CHANGELOG.md
  pyproject.toml
Due: none

docs(layer): update to 1.25.6; cosmetic changes
  docs/index.md
Due: none

chore: synup lambda version
  docs/examples/core/event_handler/api_gateway/layout/template.yml
  docs/examples/index/lambda_layer_cdk_app.py
  docs/examples/index/lambda_layer_main.tf
  docs/examples/index/lambda_layer_template.yml
Due: black, isort

chore: bump powertools version
  docs/examples/index/sar_cdk_app.py
  docs/examples/index/sar_main.tf
  docs/examples/index/sar_template.yml
  docs/index.md
Due: black, isort

chore(governance): new static typing report
  .github/ISSUE_TEMPLATE/static_typing_report.md
Due: none

chore(governance): new ask a question
  .github/ISSUE_TEMPLATE/config.yml
Due: none

chore(governance): update bug report to a form
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.yml
Due: none

Path conditions:
  black: any of: \.py$
  isort: any of: \.py$
  flake8: any of: \.py$, but not: example
