Repository aws-powertools/powertools-lambda-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff, cloudformation

.pre-commit-config.yaml:

# We use poetry to run formatting and linting before commit/push
# Longer checks such as tests, security and complexity baseline
# are run as part of CI to prevent slower feedback loop
# All checks can be run locally via `make pr`

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: "f71fa2c1f9cf5cb705f73dffe4b21f7c61470ba9" # v4.4.0
    hooks:
      - id: check-merge-conflict
      - id: trailing-whitespace
      - id: check-toml
  - repo: local
    hooks:
      - id: black
        name: formatting::black
        entry: poetry run black
        language: system
        types: [python]
      - id: ruff
        name: linting-format::ruff
        entry: poetry run ruff
        language: system
        types: [python]
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: "ce0d77ac47dc921b62429804fe763d4d35f66a76" # v0.34.0
    hooks:
      - id: markdownlint-docker
        args: ["--fix"]
  - repo: local
    hooks:
      - id: cloudformation
        name: linting::cloudformation
        entry: poetry run cfn-lint
        language: system
        types: [yaml]
        files: examples/.*
  - repo: https://github.com/rhysd/actionlint
    rev: "fd7ba3c382e13dcc0248e425b4cbc3f1185fa3ee" # v1.6.24
    hooks:
      - id: actionlint-docker
        args: [-pyflakes=]
  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: 3420134c37197c21edffc7e6093b14ffae8402f2 # v1.81.0
    hooks:
      - id: terraform_fmt
        args:
          - --args=-recursive
  - repo: https://github.com/gitleaks/gitleaks
    rev: "7804d652c0460f0b61ea9bb2c1f202bfcdbbf144" # v8.16.3
    hooks:
      - id: gitleaks

chore(ci): changelog rebuild
  CHANGELOG.md
Due: none

Deployed 9244a352 to develop with MkDocs 1.5.3 and mike 1.1.2
  develop/Dockerfile
  develop/sitemap.xml.gz
Due: none

fix: remove unused code
  aws_lambda_powertools/event_handler/api_gateway.py
Due: black, ruff

feat: add oauth2 to webui
  aws_lambda_powertools/event_handler/api_gateway.py
  aws_lambda_powertools/event_handler/openapi/swagger_ui/__init__.py
  aws_lambda_powertools/event_handler/openapi/swagger_ui/html.py
  aws_lambda_powertools/event_handler/openapi/swagger_ui/oauth2.py
Due: black, ruff

fix: pydantic v2 tests
  aws_lambda_powertools/event_handler/openapi/models.py
Due: black, ruff

feat: add docs
  docs/core/event_handler/api_gateway.md
  examples/event_handler_rest/src/security_schemes_global.py
  examples/event_handler_rest/src/security_schemes_per_operation.py
  examples/event_handler_rest/src/swagger_with_oauth2.py
Due: black, ruff

chore: add more tests
  tests/functional/event_handler/test_openapi_security.py
Due: black, ruff

fix: added source of swagger redirect
  aws_lambda_powertools/event_handler/openapi/swagger_ui/oauth2.py
Due: black, ruff

fix: add example and moved oauth2 config
  aws_lambda_powertools/event_handler/openapi/swagger_ui/__init__.py
  aws_lambda_powertools/event_handler/openapi/swagger_ui/oauth2.py
  examples/event_handler_rest/sam/swagger_ui_oauth2_template.yaml
  examples/event_handler_rest/src/swagger_ui_oauth2.py
Due: black, ruff, cloudformation

feat(event_handler): add support for OpenAPI security
  aws_lambda_powertools/event_handler/api_gateway.py
Due: black, ruff

feat: add oauth2 to swagger-ui
  aws_lambda_powertools/event_handler/api_gateway.py
  aws_lambda_powertools/event_handler/openapi/swagger_ui/html.py
  aws_lambda_powertools/event_handler/openapi/swagger_ui/oauth2.py
Due: black, ruff

fix: renamed variable
  aws_lambda_powertools/event_handler/api_gateway.py
  aws_lambda_powertools/event_handler/openapi/swagger_ui/html.py
Due: black, ruff

chore: add tests for security schemes
  aws_lambda_powertools/event_handler/openapi/models.py
  tests/functional/event_handler/test_openapi_security_schemes.py
Due: black, ruff

fix: reduce complexity and branches
  aws_lambda_powertools/event_handler/api_gateway.py
Due: black, ruff

fix: tests
  aws_lambda_powertools/event_handler/api_gateway.py
  aws_lambda_powertools/event_handler/bedrock_agent.py
Due: black, ruff

fix: complexity
  aws_lambda_powertools/event_handler/api_gateway.py
Due: black, ruff

fix: mypy errors
  aws_lambda_powertools/event_handler/openapi/swagger_ui/oauth2.py
Due: black, ruff

Update aws_lambda_powertools/event_handler/api_gateway.py
  aws_lambda_powertools/event_handler/api_gateway.py
Due: black, ruff

Update docs/core/event_handler/api_gateway.md
  docs/core/event_handler/api_gateway.md
Due: none

Apply suggestions from code review
  aws_lambda_powertools/event_handler/openapi/swagger_ui/html.py
Due: black, ruff

Addressing Ruben's feedback
  aws_lambda_powertools/tracing/provider/xray/xray_tracer.py
  aws_lambda_powertools/tracing/tracer.py
Due: black, ruff

Reveting possible breaking change
  aws_lambda_powertools/tracing/base.py
  aws_lambda_powertools/tracing/tracer.py
Due: black, ruff

fix(typing): resolved_headers_field is not Optional
  aws_lambda_powertools/utilities/data_classes/alb_event.py
Due: black, ruff

fix: make client id optional too since it can be filled in Swagger UI
  aws_lambda_powertools/event_handler/openapi/swagger_ui/oauth2.py
Due: black, ruff

chore: add swagger example
  examples/event_handler_rest/sam/swagger_ui_oauth2_template.yaml
  examples/event_handler_rest/src/swagger_ui_oauth2.py
Due: black, ruff, cloudformation

chore: added warning when using client_secret
  aws_lambda_powertools/event_handler/openapi/swagger_ui/oauth2.py
  tests/functional/event_handler/test_openapi_swagger.py
Due: black, ruff

fix: logic
  aws_lambda_powertools/event_handler/openapi/swagger_ui/oauth2.py
Due: black, ruff

feat(event_handler): add support for OpenAPI security schemes (#4103)
  aws_lambda_powertools/event_handler/api_gateway.py
  aws_lambda_powertools/event_handler/bedrock_agent.py
  aws_lambda_powertools/event_handler/openapi/models.py
  aws_lambda_powertools/event_handler/openapi/swagger_ui/__init__.py
  aws_lambda_powertools/event_handler/openapi/swagger_ui/html.py
  aws_lambda_powertools/event_handler/openapi/swagger_ui/oauth2.py
  docs/core/event_handler/api_gateway.md
  examples/event_handler_rest/sam/swagger_ui_oauth2_template.yaml
  examples/event_handler_rest/src/security_schemes_global.py
  examples/event_handler_rest/src/security_schemes_per_operation.py
  examples/event_handler_rest/src/swagger_ui_oauth2.py
  examples/event_handler_rest/src/swagger_with_oauth2.py
  tests/functional/event_handler/test_openapi_security.py
  tests/functional/event_handler/test_openapi_security_schemes.py
  tests/functional/event_handler/test_openapi_swagger.py
Due: black, ruff, cloudformation

Deployed bb8675c1 to develop with MkDocs 1.5.3 and mike 1.1.2
  develop/changelog/index.html
  develop/search/search_index.json
  develop/sitemap.xml.gz
Due: none

chore: version bump
  aws_lambda_powertools/shared/version.py
  pyproject.toml
Due: black, ruff

chore(ci): bump version to 2.37.0
  aws_lambda_powertools/shared/version.py
  pyproject.toml
Due: black, ruff

chore(ci): layer docs update
  CHANGELOG.md
  docs/index.md
  examples/logger/sam/template.yaml
  examples/metrics/sam/template.yaml
  examples/tracer/sam/template.yaml
Due: cloudformation

Deployed be21b9a6 to develop with MkDocs 1.5.3 and mike 1.1.2
  develop/changelog/index.html
  develop/core/logger/index.html
  develop/core/metrics/index.html
  develop/core/tracer/index.html
  develop/index.html
  develop/search/search_index.json
  develop/sitemap.xml.gz
Due: none
