Repository aws-powertools/powertools-lambda-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, flake8, cloudformation

.pre-commit-config.yaml:

# We use poetry to run formatting and linting before commit/push
# Longer checks such as tests, security and complexity baseline
# are run as part of CI to prevent slower feedback loop
# All checks can be run locally via `make pr`

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.4.0
    hooks:
      - id: check-merge-conflict
      - id: trailing-whitespace
      - id: check-toml
  - repo: local
    hooks:
      - id: black
        name: formatting::black
        entry: poetry run black
        language: system
        types: [python]
      - id: isort
        name: formatting::isort
        entry: poetry run isort
        language: system
        types: [python]
  - repo: local
    hooks:
      - id: flake8
        name: linting::flake8
        entry: poetry run flake8
        language: system
        types: [python]
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: "11c08644ce6df850480d98f628596446a526cbc6" # frozen: v0.31.1
    hooks:
      - id: markdownlint
        args: ["--fix"]
  - repo: local
    hooks:
      - id: cloudformation
        name: linting::cloudformation
        entry: poetry run cfn-lint
        language: system
        types: [yaml]
        files: examples/.*
  - repo: https://github.com/rhysd/actionlint
    rev: v1.6.23
    hooks:
      - id: actionlint-docker
        args: [-pyflakes=]

docs: refactoring examples - ordering menu + testing your code
  docs/utilities/feature_flags.md
  examples/feature_flags/src/datetime_features.json
  examples/feature_flags/src/getting_started_with_tests.py
Due: black, isort, flake8

docs: refactoring examples - using jmespath
  docs/utilities/feature_flags.md
  examples/feature_flags/src/appconfig_provider_options.py
  examples/feature_flags/src/appconfig_provider_options_features.json
  examples/feature_flags/src/appconfig_provider_options_payload.json
Due: black, isort, flake8

docs: refactoring examples - using jmespath
  examples/feature_flags/src/appconfig_provider_options.py
  examples/feature_flags/src/appconfig_provider_options_features.json
Due: black, isort, flake8

docs: refactoring examples - max age
  docs/utilities/feature_flags.md
  examples/feature_flags/src/appconfig_provider_options.py
  examples/feature_flags/src/getting_started_with_cache.py
  examples/feature_flags/src/getting_started_with_cache_features.json
  examples/feature_flags/src/getting_started_with_cache_payload.json
Due: black, isort, flake8

docs: refactoring examples - beyond boolean
  docs/utilities/feature_flags.md
  examples/feature_flags/src/beyond_boolean.py
  examples/feature_flags/src/beyond_boolean_features.json
  examples/feature_flags/src/beyond_boolean_payload.json
  examples/feature_flags/src/conditions.json
  examples/feature_flags/src/feature_with_rules.json
  examples/feature_flags/src/minimal_schema.json
Due: black, isort, flake8

docs: refactoring examples - envelope
  docs/utilities/feature_flags.md
  examples/feature_flags/src/extracting_envelope.py
  examples/feature_flags/src/extracting_envelope_features.json
  examples/feature_flags/src/extracting_envelope_payload.json
Due: black, isort, flake8

docs: refactoring examples - getting stored features
  docs/utilities/feature_flags.md
  examples/feature_flags/src/getting_stored_features.py
Due: black, isort, flake8

docs: refactoring examples - custom feature flags provider
  docs/utilities/feature_flags.md
  examples/feature_flags/src/custom_s3_store_provider.py
  examples/feature_flags/src/working_with_own_s3_store_provider.py
  examples/feature_flags/src/working_with_own_s3_store_provider_features.json
  examples/feature_flags/src/working_with_own_s3_store_provider_payload.json
Due: black, isort, flake8

docs: refactoring examples - highlighting
  docs/utilities/feature_flags.md
Due: none

chore(ci): create pull request from temp branch
  .github/scripts/create_pr_for_staged_changes.sh
  .github/workflows/reusable_publish_changelog.yml
Due: none

chore(ci): skip analytics on forks
  .github/workflows/dispatch_analytics.yml
Due: none

chore: trim space
  .github/scripts/create_pr_for_staged_changes.sh
Due: none

chore: leandro's feedback to require PR_TITLE and COMMIT_MSG check
  .github/scripts/create_pr_for_staged_changes.sh
Due: none

chore(ci): create pull request on changelog update (#2224)
  .github/scripts/create_pr_for_staged_changes.sh
  .github/workflows/reusable_publish_changelog.yml
Due: none

chore(ci): build changelog on trunk changes
  .github/workflows/build_changelog.yml
Due: none

chore: reuse PR_TITLE as commit message, making it easier to use
  .github/scripts/create_pr_for_staged_changes.sh
  .github/workflows/reusable_publish_changelog.yml
Due: none

chore(ci): skip analytics on forks (#2225)
  .github/workflows/dispatch_analytics.yml
Due: none

chore(ci): create layer docs pr, not push
  .github/workflows/publish_v2_layer.yml
  .github/workflows/release.yml
  .github/workflows/reusable_deploy_v2_layer_stack.yml
  .github/workflows/reusable_update_v2_layer_arn_docs.yml
Due: none

chore(ci): create PR to bump version; drop now redundant changelog job
  .github/workflows/release.yml
Due: none

chore(ci): breakdown post_release to increase security
  .github/workflows/release.yml
Due: none

docs: refactoring examples - fix menu
  docs/utilities/feature_flags.md
Due: none

chore(ci): update changelog with latest changes
  CHANGELOG.md
Due: none

chore: pydantic refactor
  docs/utilities/batch.md
  examples/batch_processing/src/context_manager_access.py
  examples/batch_processing/src/pydantic_dynamodb.py
  examples/batch_processing/src/pydantic_kinesis.py
  examples/batch_processing/src/pydantic_sqs.py
Due: black, isort, flake8

chore: refactored kinesis examples
  docs/utilities/batch.md
  examples/batch_processing/src/getting_started_kinesis_context_manager.py
  examples/batch_processing/src/getting_started_kinesis_decorator.py
  examples/batch_processing/src/getting_started_kinesis_event.json
  examples/batch_processing/src/getting_started_kinesis_response.json
  examples/batch_processing/src/getting_started_sqs_fifo.py
  examples/batch_processing/src/getting_started_sqs_fifo_context_manager.py
  examples/batch_processing/src/getting_started_sqs_fifo_decorator.py
Due: black, isort, flake8

chore: converted first examples
  docs/utilities/batch.md
  examples/batch_processing/sam/dynamodb_batch_processing.yaml
  examples/batch_processing/sam/kinesis_batch_processing.yaml
  examples/batch_processing/sam/sqs_batch_processing.yaml
  examples/batch_processing/src/getting_started_event.json
  examples/batch_processing/src/getting_started_response.json
  examples/batch_processing/src/getting_started_sqs_context_manager.py
  examples/batch_processing/src/getting_started_sqs_decorator.py
Due: black, isort, flake8, cloudformation

chore: refactored dynamodb samples
  docs/utilities/batch.md
  examples/batch_processing/src/getting_started_dynamodb_context_manager.py
  examples/batch_processing/src/getting_started_dynamodb_decorator.py
  examples/batch_processing/src/getting_started_dynamodb_event.json
  examples/batch_processing/src/getting_started_dynamodb_response.json
Due: black, isort, flake8

chore: refactored testing
  docs/utilities/batch.md
  examples/batch_processing/src/disable_tracing.py
  examples/batch_processing/testing/events/sqs_event.json
  examples/batch_processing/testing/src/__init__.py
  examples/batch_processing/testing/src/app.py
  examples/batch_processing/testing/test_app.py
Due: black, isort, flake8

chore: sentry refactor
  docs/utilities/batch.md
  examples/batch_processing/src/sentry_error_tracking.py
Due: black, isort, flake8

chore: custom partial processor
  docs/utilities/batch.md
  examples/batch_processing/src/custom_partial_processor.py
Due: black, isort, flake8

chore: extending failure
  docs/utilities/batch.md
  examples/batch_processing/src/extending_failure.py
Due: black, isort, flake8

chore: advanced accessing lambda context refactor
  docs/utilities/batch.md
  examples/batch_processing/src/advanced_accessing_lambda_context_decorator.py
  examples/batch_processing/src/advanced_accessing_lambda_context_manager.py
Due: black, isort, flake8

docs: small fixes
  docs/utilities/batch.md
Due: none

Apply suggestions from code review
  examples/batch_processing/sam/dynamodb_batch_processing.yaml
  examples/batch_processing/sam/kinesis_batch_processing.yaml
  examples/batch_processing/sam/sqs_batch_processing.yaml
Due: cloudformation

fix: showcase lambda_context
  docs/utilities/batch.md
  examples/batch_processing/src/advanced_accessing_lambda_context.py
Due: black, isort, flake8

fix: addressed the rest of the comments
  docs/utilities/batch.md
  examples/batch_processing/src/custom_partial_processor.py
  examples/batch_processing/src/disable_tracing.py
Due: black, isort, flake8

chore: sync with latest working script
  .github/scripts/create_pr_for_staged_changes.sh
  .github/workflows/publish_v2_layer.yml
  .github/workflows/release.yml
Due: none

chore: use new custom action to create PR instead
  .github/actions/create-pr/action.yml
  .github/actions/create-pr/create_pr_for_staged_changes.sh
  .github/workflows/reusable_publish_changelog.yml
Due: none

chore: extend publishing docs to accept git ref
  .github/workflows/publish_v2_layer.yml
  .github/workflows/reusable_deploy_v2_layer_stack.yml
  .github/workflows/reusable_publish_docs.yml
  .github/workflows/reusable_update_v2_layer_arn_docs.yml
Due: none
