Repository aws-powertools/powertools-lambda-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff, cloudformation

.pre-commit-config.yaml:

# We use poetry to run formatting and linting before commit/push
# Longer checks such as tests, security and complexity baseline
# are run as part of CI to prevent slower feedback loop
# All checks can be run locally via `make pr`

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: "f71fa2c1f9cf5cb705f73dffe4b21f7c61470ba9" # v4.4.0
    hooks:
      - id: check-merge-conflict
      - id: trailing-whitespace
      - id: check-toml
  - repo: local
    hooks:
      - id: black
        name: formatting::black
        entry: poetry run black
        language: system
        types: [python]
      - id: ruff
        name: linting-format::ruff
        entry: poetry run ruff
        language: system
        types: [python]
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: "ce0d77ac47dc921b62429804fe763d4d35f66a76" # v0.34.0
    hooks:
      - id: markdownlint-docker
        args: ["--fix"]
  - repo: local
    hooks:
      - id: cloudformation
        name: linting::cloudformation
        entry: poetry run cfn-lint
        language: system
        types: [yaml]
        files: examples/.*
  - repo: https://github.com/rhysd/actionlint
    rev: "fd7ba3c382e13dcc0248e425b4cbc3f1185fa3ee" # v1.6.24
    hooks:
      - id: actionlint-docker
        args: [-pyflakes=]
  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: 3420134c37197c21edffc7e6093b14ffae8402f2 # v1.81.0
    hooks:
      - id: terraform_fmt
        args:
          - --args=-recursive
  - repo: https://github.com/gitleaks/gitleaks
    rev: "7804d652c0460f0b61ea9bb2c1f202bfcdbbf144" # v8.16.3
    hooks:
      - id: gitleaks

chore(ci): changelog rebuild
  CHANGELOG.md
Due: none

refactor: separate UploadFile→bytes conversion from normalization
  aws_lambda_powertools/event_handler/middlewares/openapi_validation.py
  aws_lambda_powertools/event_handler/openapi/params.py
Due: black, ruff

test: update test to use _convert_uploadfile_to_bytes after refactoring
  tests/functional/event_handler/_pydantic/test_openapi_validation_middleware.py
Due: black, ruff

chore(ci): new pre-release 3.22.1a6
  aws_lambda_powertools/shared/version.py
  provenance/3.22.1a6/multiple.intoto.jsonl
  pyproject.toml
Due: black, ruff

Fixing regression with annotated types
  aws_lambda_powertools/event_handler/openapi/compat.py
  aws_lambda_powertools/event_handler/openapi/params.py
Due: black, ruff

fix(event-handler): preserve metadata constraints in parameter validation (#7609)
  aws_lambda_powertools/event_handler/openapi/compat.py
  aws_lambda_powertools/event_handler/openapi/params.py
  tests/functional/event_handler/_pydantic/test_openapi_params.py
Due: black, ruff

Fix formatting of note regarding AWS X-Ray SDK
  docs/core/tracer.md
Due: none

Fix typos in api_gateway.py documentation
  aws_lambda_powertools/event_handler/api_gateway.py
Due: black, ruff

docs(tracer): fix typo in the tracer documentation (#7617)
  docs/core/tracer.md
Due: none

docs: add __init__.py with docstring for openapi module
  aws_lambda_powertools/event_handler/openapi/__init__.py
Due: black, ruff

chore(event_handler): fix typos in api_gateway.py file (#7619)
  aws_lambda_powertools/event_handler/api_gateway.py
Due: black, ruff

chore(ci): new pre-release 3.22.1a7
  aws_lambda_powertools/shared/version.py
  provenance/3.22.1a7/multiple.intoto.jsonl
  pyproject.toml
Due: black, ruff

CDK test
  layer_v3/layer_constructors/layer_stack.py
Due: black, ruff

chore(ci): new pre-release 3.22.1a8
  aws_lambda_powertools/shared/version.py
  provenance/3.22.1a8/multiple.intoto.jsonl
  pyproject.toml
Due: black, ruff

chore(ci): bump version to 3.22.1
  aws_lambda_powertools/shared/version.py
  pyproject.toml
Due: black, ruff

chore: version bump
  aws_lambda_powertools/shared/version.py
  pyproject.toml
Due: black, ruff

chore(ci): layer docs update
  CHANGELOG.md
  docs/includes/_layer_homepage_arm64.md
  docs/includes/_layer_homepage_x86.md
  docs/index.md
  examples/build_recipes/cdk/basic/app.py
  examples/build_recipes/cdk/multi-stack/stacks/powertools_cdk_stack.py
  examples/build_recipes/sam/multi-env/template.yaml
  examples/build_recipes/sam/with-layers/template.yaml
  examples/homepage/install/arm64/amplify.txt
  examples/homepage/install/arm64/cdk_arm64.py
  examples/homepage/install/arm64/pulumi_arm64.py
  examples/homepage/install/arm64/sam.yaml
  examples/homepage/install/arm64/serverless.yml
  examples/homepage/install/arm64/terraform.tf
  examples/homepage/install/x86_64/amplify.txt
  examples/homepage/install/x86_64/cdk_x86.py
  examples/homepage/install/x86_64/pulumi_x86.py
  examples/homepage/install/x86_64/sam.yaml
  examples/homepage/install/x86_64/serverless.yml
  examples/homepage/install/x86_64/terraform.tf
  examples/logger/sam/template.yaml
  examples/metrics/sam/template.yaml
  examples/metrics_datadog/sam/template.yaml
  examples/tracer/sam/template.yaml
Due: black, ruff, cloudformation

docs(batch): fix error handling code highlight line number
  docs/utilities/batch.md
Due: none

docs(batch): fix error handling code highlight line number (#7638)
  docs/utilities/batch.md
Due: none

chore(ci): new pre-release 3.22.2a0
  aws_lambda_powertools/shared/version.py
  provenance/3.22.2a0/multiple.intoto.jsonl
  pyproject.toml
Due: black, ruff

chore(docs): fix broken images
  docs/contributing/setup.md
  docs/core/event_handler/api_gateway.md
  docs/we_made_this.md
Due: none

chore(docs): fix broken images (#7644)
  docs/contributing/setup.md
  docs/core/event_handler/api_gateway.md
  docs/we_made_this.md
Due: none

chore(ci): new pre-release 3.22.2a1
  aws_lambda_powertools/shared/version.py
  provenance/3.22.2a1/multiple.intoto.jsonl
  pyproject.toml
Due: black, ruff

chore(ci): new pre-release 3.22.2a2
  aws_lambda_powertools/shared/version.py
  provenance/3.22.2a2/multiple.intoto.jsonl
  pyproject.toml
Due: black, ruff

fix(data-classes): ensure lazy initialization for Cognito token generation responses
  aws_lambda_powertools/utilities/data_classes/cognito_user_pool_event.py
  tests/unit/data_classes/required_dependencies/test_cognito_user_pool_event.py
Due: black, ruff

test(data-classes): use the original test scenario but keep the fixed access
  tests/unit/data_classes/required_dependencies/test_cognito_user_pool_event.py
Due: black, ruff

chore(ci): new pre-release 3.22.2a3
  aws_lambda_powertools/shared/version.py
  provenance/3.22.2a3/multiple.intoto.jsonl
  pyproject.toml
Due: black, ruff

chore(ci): new pre-release 3.22.2a4
  aws_lambda_powertools/shared/version.py
  provenance/3.22.2a4/multiple.intoto.jsonl
  pyproject.toml
Due: black, ruff

test(data-classes): fix linter format issues
  tests/unit/data_classes/required_dependencies/test_cognito_user_pool_event.py
Due: black, ruff

docs(openapi): Update docstring's default openapi version
  aws_lambda_powertools/event_handler/api_gateway.py
Due: black, ruff

docs(openapi): Update docstring's default openapi version
  aws_lambda_powertools/event_handler/openapi/config.py
Due: black, ruff
