Repository aws-powertools/powertools-lambda-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff, cloudformation

black:
  name: formatting::black
  entry: poetry run black
  language: system

ruff:
  name: linting-format::ruff
  entry: poetry run ruff
  language: system

cloudformation:
  name: linting::cloudformation
  entry: poetry run cfn-lint
  language: system

docs: leftover to highlight works for micro/mono fns
  docs/core/event_handler/api_gateway.md
Due: none

docs: fix highlighting after refactoring
  docs/core/event_handler/api_gateway.md
Due: none

chore: remove backup drawio file
  docs/diagram_src/.$api-middlewares.drawio.bkp
Due: none

Deployed 9625d373 to develop with MkDocs 1.5.2 and mike 1.1.2
  develop/core/event_handler/api_gateway/index.html
  develop/diagram_src/api-middlewares.drawio
  develop/media/middlewares_catch_exception-dark.svg
  develop/media/middlewares_catch_exception-light.svg
  develop/media/middlewares_catch_route_exception-dark.svg
  develop/media/middlewares_catch_route_exception-light.svg
  develop/media/middlewares_early_return-dark.svg
  develop/media/middlewares_early_return-light.svg
  develop/media/middlewares_early_return.svg
  develop/media/middlewares_normal_processing-dark.svg
  develop/media/middlewares_normal_processing-light.svg
  develop/media/middlewares_unhandled_exception-dark.svg
  develop/media/middlewares_unhandled_exception-light.svg
  develop/media/middlewares_unhandled_route_exception-dark.svg
  develop/media/middlewares_unhandled_route_exception-light.svg
  develop/search/search_index.json
  develop/sitemap.xml.gz
Due: none

fix(parameters): make cache aware of single vs multiple calls
  aws_lambda_powertools/utilities/parameters/base.py
  aws_lambda_powertools/utilities/parameters/types.py
Due: black, ruff

chore: cleanup, add test for single and nested
  aws_lambda_powertools/utilities/parameters/base.py
  aws_lambda_powertools/utilities/parameters/types.py
Due: black, ruff

add secrets_event
  aws_lambda_powertools/utilities/data_classes/__init__.py
  aws_lambda_powertools/utilities/data_classes/secrets_event.py
  tests/events/secretManagerEvent.json
  tests/unit/data_classes/test_secret_event.py
Due: black, ruff

add example
  aws_lambda_powertools/utilities/data_classes/__init__.py
  docs/utilities/data_classes.md
Due: black, ruff

Revised singleton class to allow for one instance per different configuration
  aws_lambda_powertools/utilities/data_masking/base.py
  aws_lambda_powertools/utilities/data_masking/providers/aws_encryption_sdk.py
  tests/e2e/data_masking/conftest.py
  tests/e2e/data_masking/handlers/basic_handler.py
  tests/e2e/data_masking/infrastructure.py
  tests/e2e/data_masking/test_data_masking.py
  tests/functional/data_masking/test_aws_encryption_sdk.py
  tests/unit/data_masking/test_data_masking.py
Due: black, ruff

chore(ci): changelog rebuild
  CHANGELOG.md
Due: none

docs(event_handler): use correct correlation_id in logger.set_correlation_id example
  examples/event_handler_rest/src/middleware_getting_started.py
  examples/event_handler_rest/src/middleware_global_middlewares_module.py
Due: black, ruff

docs(event_handler): use correct correlation_id for logger in middleware example (#3063)
  examples/event_handler_rest/src/middleware_getting_started.py
  examples/event_handler_rest/src/middleware_global_middlewares_module.py
Due: black, ruff

Deployed da61b63a to develop with MkDocs 1.5.2 and mike 1.1.2
  develop/core/event_handler/api_gateway/index.html
  develop/search/search_index.json
  develop/sitemap.xml.gz
Due: none

docs(event_handler): combine correlation id with logger for a more powerful example
  examples/event_handler_rest/src/middleware_getting_started.py
  examples/event_handler_rest/src/middleware_global_middlewares_module.py
Due: black, ruff

docs: remove Logger dependency on retrieval to address Simon's feedback
  docs/core/event_handler/api_gateway.md
  examples/event_handler_rest/src/middleware_getting_started.py
  examples/event_handler_rest/src/middleware_global_middlewares_module.py
Due: black, ruff

docs: fix racing condition, more notes based on Simon's feedback
  docs/core/event_handler/api_gateway.md
  examples/event_handler_rest/src/middleware_getting_started.py
  examples/event_handler_rest/src/middleware_global_middlewares_module.py
Due: black, ruff

docs(event_handler): demonstrate how to combine logger correlation ID and middleware (#3064)
  docs/core/event_handler/api_gateway.md
  examples/event_handler_rest/src/middleware_getting_started.py
  examples/event_handler_rest/src/middleware_global_middlewares_module.py
Due: black, ruff

Deployed b5235837 to develop with MkDocs 1.5.2 and mike 1.1.2
  develop/core/event_handler/api_gateway/index.html
  develop/search/search_index.json
  develop/sitemap.xml.gz
Due: none

chore(automation): remove previous labels when PR is updated
  .github/scripts/label_pr_based_on_title.js
  .github/scripts/save_pr_details.js
  .github/workflows/reusable_export_pr_details.yml
Due: none

docs: improves navigation, custom example, explanations
  docs/utilities/idempotency.md
  examples/idempotency/src/working_with_dataclass_deduced_output_serializer.py
  examples/idempotency/src/working_with_dataclass_explicitly_output_serializer.py
  examples/idempotency/src/working_with_idempotent_function_custom_output_serializer.py
  examples/idempotency/src/working_with_pydantic_deduced_output_serializer.py
  examples/idempotency/src/working_with_pydantic_explicitly_output_serializer.py
Due: black, ruff

Deployed 480740cd to develop with MkDocs 1.5.2 and mike 1.1.2
  develop/requirements.txt
  develop/sitemap.xml.gz
Due: none

docs(idempotency): use tab navigation, improves custom serializer example, and additional explanations (#3067)
  docs/utilities/idempotency.md
  examples/idempotency/src/working_with_dataclass_deduced_output_serializer.py
  examples/idempotency/src/working_with_dataclass_explicitly_output_serializer.py
  examples/idempotency/src/working_with_idempotent_function_custom_output_serializer.py
  examples/idempotency/src/working_with_pydantic_deduced_output_serializer.py
  examples/idempotency/src/working_with_pydantic_explicitly_output_serializer.py
Due: black, ruff

Deployed 22a6925f to develop with MkDocs 1.5.2 and mike 1.1.2
  develop/search/search_index.json
  develop/sitemap.xml.gz
  develop/utilities/idempotency/index.html
Due: none

chore(ci): bump version to 2.24.0
  aws_lambda_powertools/shared/version.py
  pyproject.toml
Due: black, ruff

chore: version bump
  aws_lambda_powertools/shared/version.py
  pyproject.toml
Due: black, ruff

chore(ci): layer docs update
  CHANGELOG.md
  docs/index.md
  examples/logger/sam/template.yaml
  examples/metrics/sam/template.yaml
  examples/tracer/sam/template.yaml
Due: cloudformation

chore(automation): remove previous labels when PR is updated (#3066)
  .github/scripts/label_pr_based_on_title.js
  .github/scripts/save_pr_details.js
  .github/workflows/reusable_export_pr_details.yml
Due: none

Removed itsdangerous dependencies
  poetry.lock
  pyproject.toml
  tests/unit/data_masking/setup.py
  tests/unit/data_masking/test_data_masking.py
Due: black, ruff

Path conditions:
  black: any of: \.py$
  ruff: any of: \.py$
  cloudformation: any of: examples/.* and \.(yaml|yml)$
