Repository aws-powertools/powertools-lambda-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff, cloudformation

.pre-commit-config.yaml:

# We use poetry to run formatting and linting before commit/push
# Longer checks such as tests, security and complexity baseline
# are run as part of CI to prevent slower feedback loop
# All checks can be run locally via `make pr`

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: "f71fa2c1f9cf5cb705f73dffe4b21f7c61470ba9" # v4.4.0
    hooks:
      - id: check-merge-conflict
      - id: trailing-whitespace
      - id: check-toml
  - repo: local
    hooks:
      - id: black
        name: formatting::black
        entry: poetry run black
        language: system
        types: [python]
      - id: ruff
        name: linting-format::ruff
        entry: poetry run ruff
        language: system
        types: [python]
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: "ce0d77ac47dc921b62429804fe763d4d35f66a76" # v0.34.0
    hooks:
      - id: markdownlint-docker
        args: ["--fix"]
  - repo: local
    hooks:
      - id: cloudformation
        name: linting::cloudformation
        entry: poetry run cfn-lint
        language: system
        types: [yaml]
        files: examples/.*
  - repo: https://github.com/rhysd/actionlint
    rev: "fd7ba3c382e13dcc0248e425b4cbc3f1185fa3ee" # v1.6.24
    hooks:
      - id: actionlint-docker
        args: [-pyflakes=]
  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: 3420134c37197c21edffc7e6093b14ffae8402f2 # v1.81.0
    hooks:
      - id: terraform_fmt
        args:
          - --args=-recursive
  - repo: https://github.com/gitleaks/gitleaks
    rev: "7804d652c0460f0b61ea9bb2c1f202bfcdbbf144" # v8.16.3
    hooks:
      - id: gitleaks

chore: update aws-encryption-sdk allowed versions
  poetry.lock
Due: none

fix(event_handler): handle ALB response when it's None
  aws_lambda_powertools/event_handler/api_gateway.py
  aws_lambda_powertools/event_handler/middlewares/openapi_validation.py
  tests/functional/event_handler/_pydantic/test_openapi_validation_middleware.py
Due: black, ruff

fix(event_handler): handle ALB response when it's None
  aws_lambda_powertools/event_handler/middlewares/openapi_validation.py
  tests/functional/event_handler/_pydantic/test_openapi_validation_middleware.py
Due: black, ruff

fix(event_handler): avoid deadlock in async resolver
  aws_lambda_powertools/event_handler/middlewares/async_utils.py
  tests/functional/event_handler/required_dependencies/test_async_middleware_frame.py
Due: black, ruff

chore: update aws-encryption-sdk allowed versions (#8191)
  poetry.lock
  pyproject.toml
  tests/performance/data_masking/load_test_data_masking/pt-load-test-stack/function_1024/requirements.txt
  tests/performance/data_masking/load_test_data_masking/pt-load-test-stack/function_128/requirements.txt
  tests/performance/data_masking/load_test_data_masking/pt-load-test-stack/function_1769/requirements.txt
Due: none

fix(event_handler): fix ALB resolver returns when response body is None (#8194)
  aws_lambda_powertools/event_handler/api_gateway.py
  aws_lambda_powertools/event_handler/middlewares/openapi_validation.py
  tests/functional/event_handler/_pydantic/test_openapi_validation_middleware.py
Due: black, ruff

fix(event_handler): avoid deadlock in async resolver
  tests/functional/event_handler/required_dependencies/test_async_middleware_frame.py
Due: black, ruff

fix(event_handler): prevent deadlock when async middleware raises before calling next() (#8196)
  aws_lambda_powertools/event_handler/middlewares/async_utils.py
  tests/functional/event_handler/required_dependencies/test_async_middleware_frame.py
Due: black, ruff

chore: version bump
  aws_lambda_powertools/shared/version.py
  pyproject.toml
Due: black, ruff

chore(ci): bump version to 3.29.0
  aws_lambda_powertools/shared/version.py
  pyproject.toml
Due: black, ruff

chore(ci): layer docs update
  CHANGELOG.md
  docs/includes/_layer_homepage_arm64.md
  docs/includes/_layer_homepage_x86.md
  examples/build_recipes/cdk/basic/app.py
  examples/build_recipes/cdk/multi-stack/stacks/powertools_cdk_stack.py
  examples/build_recipes/sam/multi-env/template.yaml
  examples/build_recipes/sam/with-layers/template.yaml
  examples/homepage/install/arm64/amplify.txt
  examples/homepage/install/arm64/cdk_arm64.py
  examples/homepage/install/arm64/pulumi_arm64.py
  examples/homepage/install/arm64/sam.yaml
  examples/homepage/install/arm64/serverless.yml
  examples/homepage/install/arm64/terraform.tf
  examples/homepage/install/x86_64/amplify.txt
  examples/homepage/install/x86_64/cdk_x86.py
  examples/homepage/install/x86_64/pulumi_x86.py
  examples/homepage/install/x86_64/sam.yaml
  examples/homepage/install/x86_64/serverless.yml
  examples/homepage/install/x86_64/terraform.tf
  examples/logger/sam/template.yaml
  examples/metrics/sam/template.yaml
  examples/metrics_datadog/sam/template.yaml
  examples/tracer/sam/template.yaml
Due: black, ruff, cloudformation

chore(deps): batch dependency updates
  .github/workflows/release-drafter.yml
  package-lock.json
  package.json
  poetry.lock
  pyproject.toml
Due: none

chore(deps): batch dependency updates (#8207)
  .github/workflows/release-drafter.yml
  package-lock.json
  package.json
  poetry.lock
  pyproject.toml
Due: none

fix(event-handler): replace Optional[X] and List[X] with X | None and list[X] in openapi/models.py
  aws_lambda_powertools/event_handler/openapi/models.py
Due: black, ruff

fix(event-handler): replace Optional[X] and Dict[X] with modern syntax in swagger_ui/oauth2.py
  aws_lambda_powertools/event_handler/openapi/swagger_ui/oauth2.py
Due: black, ruff

fix(event-handler): replace Optional[list] with list | None in graphql_appsync/base.py docstrings
  aws_lambda_powertools/event_handler/graphql_appsync/base.py
Due: black, ruff

fix(event-handler): fix ruff lint violations in util.py docstrings
  aws_lambda_powertools/event_handler/util.py
Due: black, ruff

fix(event-handler): fix ruff lint violations in appsync.py docstrings
  aws_lambda_powertools/event_handler/appsync.py
Due: black, ruff

fix(event-handler): fix ruff lint violations in graphql_appsync/_registry.py docstrings
  aws_lambda_powertools/event_handler/graphql_appsync/_registry.py
Due: black, ruff

fix(event-handler): fix ruff lint violations in middlewares/openapi_validation.py comments
  aws_lambda_powertools/event_handler/middlewares/openapi_validation.py
Due: black, ruff

fix(docs): update broken AWS Lambda Metadata Endpoint link in metadata.md
  docs/utilities/metadata.md
Due: none

fix(event-handler): restore removed comment in OpenAPIExtensions class
  aws_lambda_powertools/event_handler/openapi/models.py
Due: black, ruff

fix(event-handler): restore accidentally removed comments in openapi/models.py
  aws_lambda_powertools/event_handler/openapi/models.py
Due: black, ruff

fix(event-handler): add missing from __future__ import annotations in oauth2.py
  aws_lambda_powertools/event_handler/openapi/swagger_ui/oauth2.py
Due: black, ruff

fix(event-handler): revert validator signature to Optional in oauth2.py
  aws_lambda_powertools/event_handler/openapi/swagger_ui/oauth2.py
Due: black, ruff

fix(event-handler): fix UP045 lint error in oauth2.py validator signature
  aws_lambda_powertools/event_handler/openapi/swagger_ui/oauth2.py
Due: black, ruff

docs(metadata): fix broken Lambda Metadata Endpoint link
  docs/utilities/metadata.md
Due: none

chore(deps): consolidate dependabot updates (13052026) (#8228)
  package-lock.json
  package.json
  poetry.lock
  pyproject.toml
Due: none

fix(docs): update broken AWS Lambda Metadata Endpoint link (#8209)
  docs/utilities/metadata.md
Due: none

chore: fix ruff lint errors after dependency updates
  benchmark/src/instrumented/main.py
  benchmark/src/reference/main.py
  layer_v3/app.py
  layer_v3/layer/canary/app.py
  parallel_run_e2e.py
Due: black, ruff

chore: fix mypy errors from stricter type checking in new version
  aws_lambda_powertools/utilities/data_masking/provider/base.py
  aws_lambda_powertools/utilities/idempotency/persistence/redis.py
  examples/idempotency/src/getting_started_with_idempotency_redis_client.py
  examples/idempotency/src/using_redis_client_with_local_certs.py
Due: black, ruff

chore(deps): consolidate all open Dependabot updates (#8241)
  .github/workflows/quality_check.yml
  aws_lambda_powertools/utilities/data_masking/provider/base.py
  aws_lambda_powertools/utilities/idempotency/persistence/redis.py
  benchmark/src/instrumented/main.py
  benchmark/src/reference/main.py
  docs/requirements.txt
  examples/idempotency/src/getting_started_with_idempotency_redis_client.py
  examples/idempotency/src/using_redis_client_with_local_certs.py
  layer_v3/app.py
  layer_v3/layer/canary/app.py
  package-lock.json
  package.json
  parallel_run_e2e.py
  poetry.lock
  pyproject.toml
Due: black, ruff

feat(batch): support FIFO entire batch failure override
  aws_lambda_powertools/utilities/batch/sqs_fifo_partial_processor.py
  tests/functional/batch/required_dependencies/test_utilities_batch.py
Due: black, ruff

feat(ci): deploy layers to ap-southeast-6
  .github/workflows/reusable_deploy_v3_layer_stack.yml
Due: none

chore: fix minor typos and grammar in docs and comments
  aws_lambda_powertools/utilities/parameters/ssm.py
  docs/utilities/parser.md
  tests/functional/event_handler/_pydantic/test_openapi_responses.py
Due: black, ruff

ci: add ActionScope workflow exposure scan
  .github/workflows/actionscope.yml
Due: none

chore: fix minor typos and grammar in docs and comments (#8245)
  aws_lambda_powertools/utilities/parameters/ssm.py
  docs/utilities/parser.md
  tests/functional/event_handler/_pydantic/test_openapi_responses.py
Due: black, ruff
