Repository aws-powertools/powertools-lambda-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff, cloudformation

.pre-commit-config.yaml:

# We use poetry to run formatting and linting before commit/push
# Longer checks such as tests, security and complexity baseline
# are run as part of CI to prevent slower feedback loop
# All checks can be run locally via `make pr`

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: "f71fa2c1f9cf5cb705f73dffe4b21f7c61470ba9" # v4.4.0
    hooks:
      - id: check-merge-conflict
      - id: trailing-whitespace
      - id: check-toml
  - repo: local
    hooks:
      - id: black
        name: formatting::black
        entry: poetry run black
        language: system
        types: [python]
      - id: ruff
        name: linting-format::ruff
        entry: poetry run ruff
        language: system
        types: [python]
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: "ce0d77ac47dc921b62429804fe763d4d35f66a76" # v0.34.0
    hooks:
      - id: markdownlint-docker
        args: ["--fix"]
  - repo: local
    hooks:
      - id: cloudformation
        name: linting::cloudformation
        entry: poetry run cfn-lint
        language: system
        types: [yaml]
        files: examples/.*
  - repo: https://github.com/rhysd/actionlint
    rev: "fd7ba3c382e13dcc0248e425b4cbc3f1185fa3ee" # v1.6.24
    hooks:
      - id: actionlint-docker
        args: [-pyflakes=]
  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: 3420134c37197c21edffc7e6093b14ffae8402f2 # v1.81.0
    hooks:
      - id: terraform_fmt
        args:
          - --args=-recursive
  - repo: https://github.com/gitleaks/gitleaks
    rev: "7804d652c0460f0b61ea9bb2c1f202bfcdbbf144" # v8.16.3
    hooks:
      - id: gitleaks

fix: remove schema validation export due to optional dependency
  aws_lambda_powertools/event_handler/middlewares/__init__.py
  tests/functional/event_handler/test_api_middlewares.py
Due: black, ruff

refactor: improve docstrings for schema validation; typing
  aws_lambda_powertools/event_handler/middlewares/schema_validation.py
Due: black, ruff

chore: leftover from previous circular dep issue
  aws_lambda_powertools/event_handler/api_gateway.py
Due: black, ruff

docs: add native middleware section
  docs/core/event_handler/api_gateway.md
Due: none

Deployed 0bb29670 to develop with MkDocs 1.5.2 and mike 1.1.2
  develop/Dockerfile
  develop/sitemap.xml.gz
Due: none

docs - refactor references of with kwargs to , remove **lwargs references.
  docs/core/event_handler/api_gateway.md
Due: none

docs: move staging area to router section
  docs/core/event_handler/api_gateway.md
Due: none

chore: add middleware order test
  tests/functional/event_handler/test_api_middlewares.py
Due: black, ruff

refactor: add debug log
  aws_lambda_powertools/event_handler/api_gateway.py
Due: black, ruff

fix: remove leftover order from middleware order test
  tests/functional/event_handler/test_api_middlewares.py
Due: black, ruff

chore(ci): changelog rebuild
  CHANGELOG.md
Due: none

Deployed 84ac27ad to develop with MkDocs 1.5.2 and mike 1.1.2
  develop/404.html
  develop/assets/javascripts/bundle.78eede0e.min.js
  develop/assets/javascripts/bundle.78eede0e.min.js.map
  develop/assets/javascripts/bundle.dff1b7c8.min.js
  develop/assets/javascripts/bundle.dff1b7c8.min.js.map
  develop/assets/stylesheets/main.046329b4.min.css
  develop/assets/stylesheets/main.046329b4.min.css.map
  develop/assets/stylesheets/main.0e669242.min.css
  develop/assets/stylesheets/main.0e669242.min.css.map
  develop/automation/index.html
  develop/changelog/index.html
  develop/core/event_handler/api_gateway/index.html
  develop/core/event_handler/appsync/index.html
  develop/core/logger/index.html
  develop/core/metrics/datadog/index.html
  develop/core/metrics/index.html
  develop/core/tracer/index.html
  develop/diagram_src/cicd_steps/index.html
  develop/index.html
  develop/maintainers/index.html
  develop/roadmap/index.html
  develop/search/search_index.json
  develop/security/index.html
  develop/sitemap.xml.gz
  develop/tutorial/index.html
  develop/upgrade/index.html
  develop/utilities/batch/index.html
  develop/utilities/data_classes/index.html
  develop/utilities/feature_flags/index.html
  develop/utilities/idempotency/index.html
  develop/utilities/jmespath_functions/index.html
  develop/utilities/middleware_factory/index.html
  develop/utilities/parameters/index.html
  develop/utilities/parser/index.html
  develop/utilities/streaming/index.html
  develop/utilities/typing/index.html
  develop/utilities/validation/index.html
  develop/we_made_this/index.html
Due: none

Adjusts in the documentation
  docs/utilities/idempotency.md
  examples/idempotency/src/working_with_dataclass_deduced_output_serializer.py
  examples/idempotency/src/working_with_dataclass_explicitly_output_serializer.py
  examples/idempotency/src/working_with_pydantic_deduced_output_serializer.py
  examples/idempotency/src/working_with_pydantic_explicitly_output_serializer.py
Due: black, ruff

feat(idempotency): add support to custom serialization/deserialization on idempotency decorator (#2951)
  aws_lambda_powertools/utilities/idempotency/base.py
  aws_lambda_powertools/utilities/idempotency/exceptions.py
  aws_lambda_powertools/utilities/idempotency/idempotency.py
  aws_lambda_powertools/utilities/idempotency/serialization/__init__.py
  aws_lambda_powertools/utilities/idempotency/serialization/base.py
  aws_lambda_powertools/utilities/idempotency/serialization/custom_dict.py
  aws_lambda_powertools/utilities/idempotency/serialization/dataclass.py
  aws_lambda_powertools/utilities/idempotency/serialization/no_op.py
  aws_lambda_powertools/utilities/idempotency/serialization/pydantic.py
  docs/utilities/idempotency.md
  examples/idempotency/src/working_with_dataclass_deduced_output_serializer.py
  examples/idempotency/src/working_with_dataclass_explicitly_output_serializer.py
  examples/idempotency/src/working_with_idempotent_function_custom_output_serializer.py
  examples/idempotency/src/working_with_pydantic_deduced_output_serializer.py
  examples/idempotency/src/working_with_pydantic_explicitly_output_serializer.py
  tests/functional/idempotency/test_idempotency.py
Due: black, ruff

Deployed 8534b163 to develop with MkDocs 1.5.2 and mike 1.1.2
  develop/search/search_index.json
  develop/sitemap.xml.gz
  develop/utilities/idempotency/index.html
Due: none

address Troy/Leandro suggestions
  aws_lambda_powertools/utilities/data_classes/kinesis_firehose_event.py
  tests/unit/data_classes/test_kinesis_firehose_response.py
Due: black, ruff

Added test for using DataMasking in a lambda handler, wip due to incorrect dependencies
  aws_lambda_powertools/utilities/data_masking/base.py
  aws_lambda_powertools/utilities/data_masking/providers/aws_encryption_sdk.py
  tests/e2e/data_masking/handlers/basic_handler.py
  tests/e2e/data_masking/infrastructure.py
  tests/e2e/data_masking/test_data_masking.py
Due: black, ruff

Deployed 0f2870fa to develop with MkDocs 1.5.2 and mike 1.1.2
  develop/changelog/index.html
  develop/search/search_index.json
  develop/sitemap.xml.gz
Due: none

middlewares: reverse internal function rename to ensure no breaking change (just in case)
  aws_lambda_powertools/event_handler/api_gateway.py
Due: black, ruff

chore(tests): remove typing isues
  tests/functional/event_handler/test_api_middlewares.py
Due: black, ruff

fix: promote ApproximateCreationDateTime to datetime
  aws_lambda_powertools/utilities/parser/models/dynamodb.py
  tests/events/dynamoStreamEvent.json
  tests/unit/data_classes/test_dynamo_db_stream_event.py
  tests/unit/parser/test_dynamodb.py
Due: black, ruff

fix(parser): change ApproximateCreationDateTime field to datetime in DynamoDBStreamChangedRecordModel (#3049)
  aws_lambda_powertools/utilities/parser/models/dynamodb.py
  tests/events/dynamoStreamEvent.json
  tests/unit/data_classes/test_dynamo_db_stream_event.py
  tests/unit/parser/test_dynamodb.py
Due: black, ruff

remove 6MB comment
  aws_lambda_powertools/utilities/data_classes/kinesis_firehose_event.py
Due: black, ruff

Deployed 21fa25dd to develop with MkDocs 1.5.2 and mike 1.1.2
  develop/changelog/index.html
  develop/search/search_index.json
  develop/sitemap.xml.gz
Due: none

docs: add micro function examples
  docs/core/event_handler/api_gateway.md
  docs/utilities/data_classes.md
  examples/event_handler_rest/src/micro_function_all_users_route.py
  examples/event_handler_rest/src/micro_function_user_by_id_route.py
Due: black, ruff

add sam template
  docs/core/event_handler/api_gateway.md
  examples/event_handler_rest/sam/micro_function_template.yaml
Due: cloudformation

fix comments
  aws_lambda_powertools/utilities/data_classes/kinesis_firehose_event.py
Due: black, ruff

docs: middleware in router
  docs/core/event_handler/api_gateway.md
  examples/event_handler_rest/src/split_route.py
Due: black, ruff

address Heitor's suggestion
  aws_lambda_powertools/utilities/data_classes/__init__.py
  aws_lambda_powertools/utilities/data_classes/kinesis_firehose_event.py
  examples/event_sources/src/kinesis_firehose_delivery_stream.py
  examples/event_sources/src/kinesis_firehose_response.py
  tests/unit/data_classes/test_kinesis_firehose_response.py
Due: black, ruff

data class default optimization
  aws_lambda_powertools/utilities/data_classes/kinesis_firehose_event.py
Due: black, ruff

remove slot for static check
  aws_lambda_powertools/utilities/data_classes/kinesis_firehose_event.py
Due: black, ruff

fix doc, example
  docs/utilities/data_classes.md
  examples/event_sources/src/kinesis_firehose_response.py
Due: black, ruff

chore: last cleanups
  aws_lambda_powertools/event_handler/api_gateway.py
  aws_lambda_powertools/event_handler/middlewares/base.py
  examples/event_handler_rest/src/all_routes_middleware.py
  examples/event_handler_rest/src/custom_middlewares.py
  examples/event_handler_rest/src/route_middleware.py
Due: black, ruff
