Repository aws-powertools/powertools-lambda-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff, cloudformation

.pre-commit-config.yaml:

# We use poetry to run formatting and linting before commit/push
# Longer checks such as tests, security and complexity baseline
# are run as part of CI to prevent slower feedback loop
# All checks can be run locally via `make pr`

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: "f71fa2c1f9cf5cb705f73dffe4b21f7c61470ba9" # v4.4.0
    hooks:
      - id: check-merge-conflict
      - id: trailing-whitespace
      - id: check-toml
  - repo: local
    hooks:
      - id: black
        name: formatting::black
        entry: poetry run black
        language: system
        types: [python]
      - id: ruff
        name: linting-format::ruff
        entry: poetry run ruff
        language: system
        types: [python]
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: "ce0d77ac47dc921b62429804fe763d4d35f66a76" # v0.34.0
    hooks:
      - id: markdownlint-docker
        args: ["--fix"]
  - repo: local
    hooks:
      - id: cloudformation
        name: linting::cloudformation
        entry: poetry run cfn-lint
        language: system
        types: [yaml]
        files: examples/.*
  - repo: https://github.com/rhysd/actionlint
    rev: "fd7ba3c382e13dcc0248e425b4cbc3f1185fa3ee" # v1.6.24
    hooks:
      - id: actionlint-docker
        args: [-pyflakes=]
  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: 3420134c37197c21edffc7e6093b14ffae8402f2 # v1.81.0
    hooks:
      - id: terraform_fmt
        args:
          - --args=-recursive
  - repo: https://github.com/gitleaks/gitleaks
    rev: "7804d652c0460f0b61ea9bb2c1f202bfcdbbf144" # v8.16.3
    hooks:
      - id: gitleaks

Refactoring documentation
  aws_lambda_powertools/event_handler/api_gateway.py
  docs/core/event_handler/api_gateway.md
  examples/event_handler_rest/src/customizing_response_validation_exception.py
  examples/event_handler_rest/src/response_validation_error_unsanitized_output.json
  examples/event_handler_rest/src/response_validation_sanitized_error_output.json
Due: black, ruff

Addressing Andrea's feedback
  aws_lambda_powertools/event_handler/openapi/config.py
Due: black, ruff

Fix DD_FLUSH_TO_LOG env var type checking
  aws_lambda_powertools/metrics/provider/datadog/datadog.py
  poetry.lock
  pyproject.toml
  tests/functional/metrics/datadog/test_metrics_datadog.py
Due: black, ruff

Fix DD_FLUSH_TO_LOG env var type checking
  aws_lambda_powertools/metrics/provider/datadog/datadog.py
Due: black, ruff

Fix DD_FLUSH_TO_LOG env var type checking
  tests/functional/metrics/datadog/test_metrics_datadog.py
Due: black, ruff

feat(data_classes): add API Gateway Websocket event
  aws_lambda_powertools/utilities/data_classes/__init__.py
  aws_lambda_powertools/utilities/data_classes/api_gateway_websocket_event.py
  tests/unit/data_classes/required_dependencies/test_api_gateway_websocket_event.py
Due: black, ruff

refactor(data_classes): remove duplicated code
  aws_lambda_powertools/utilities/data_classes/alb_event.py
  aws_lambda_powertools/utilities/data_classes/api_gateway_proxy_event.py
  aws_lambda_powertools/utilities/data_classes/bedrock_agent_event.py
Due: black, ruff

refactor(data_classes): simplify nested data classes
  aws_lambda_powertools/utilities/data_classes/alb_event.py
  aws_lambda_powertools/utilities/data_classes/api_gateway_authorizer_event.py
  aws_lambda_powertools/utilities/data_classes/api_gateway_proxy_event.py
  aws_lambda_powertools/utilities/data_classes/appsync_authorizer_event.py
  aws_lambda_powertools/utilities/data_classes/cognito_user_pool_event.py
  aws_lambda_powertools/utilities/data_classes/common.py
  aws_lambda_powertools/utilities/data_classes/kinesis_firehose_event.py
  aws_lambda_powertools/utilities/data_classes/kinesis_stream_event.py
  aws_lambda_powertools/utilities/data_classes/s3_event.py
  aws_lambda_powertools/utilities/data_classes/ses_event.py
  tests/unit/data_classes/required_dependencies/test_cognito_user_pool_event.py
  tests/unit/data_classes/required_dependencies/test_kinesis_stream_event.py
Due: black, ruff

chore(ci): new pre-release 3.8.1a6
  aws_lambda_powertools/shared/version.py
  provenance/3.8.1a6/multiple.intoto.jsonl
  pyproject.toml
Due: black, ruff

chore(ci): changelog rebuild
  CHANGELOG.md
Due: none

feat(data_classes): increase tests code coverage
  tests/unit/data_classes/required_dependencies/test_api_gateway_websocket_event.py
Due: black, ruff

refactor(data_classes): fix tests
  tests/unit/data_classes/required_dependencies/test_cognito_user_pool_event.py
Due: black, ruff

refactor(data_classes): further remove duplicated code
  aws_lambda_powertools/utilities/data_classes/vpc_lattice.py
Due: black, ruff

refactor(data_classes): push another small commit to see if GH works
  aws_lambda_powertools/utilities/data_classes/common.py
Due: black, ruff

Fix DD_FLUSH_TO_LOG env var type checking
  noxfile.py
  poetry.lock
  pyproject.toml
Due: black, ruff

Fix DD_FLUSH_TO_LOG env var type checking
  Makefile
Due: none

Trying to defeat GH actions....
  Makefile
  poetry.lock
Due: none

Trying to defeat GH actions....
  Makefile
Due: none

Trying to defeat GH actions....
  poetry.lock
Due: none

refactor(data_classes): Add comments
  aws_lambda_powertools/utilities/data_classes/bedrock_agent_event.py
  aws_lambda_powertools/utilities/data_classes/vpc_lattice.py
Due: black, ruff

refactor(data_classes): Add base class with common code
  aws_lambda_powertools/utilities/data_classes/cognito_user_pool_event.py
Due: black, ruff

chore(ci): new pre-release 3.8.1a7
  aws_lambda_powertools/shared/version.py
  provenance/3.8.1a7/multiple.intoto.jsonl
  pyproject.toml
Due: black, ruff

chore(ci): new pre-release 3.8.1a8
  aws_lambda_powertools/shared/version.py
  provenance/3.8.1a8/multiple.intoto.jsonl
  pyproject.toml
Due: black, ruff

Fix SAR pipeline
  .github/workflows/reusable_deploy_v3_sar.yml
  .github/workflows/run-e2e-tests.yml
Due: none

Fix SAR pipeline
  .github/workflows/run-e2e-tests.yml
Due: none

Clear buffer before next invocation
  aws_lambda_powertools/logging/logger.py
  docs/core/logger.md
  tests/functional/logger/required_dependencies/test_powertools_logger_buffer.py
Due: black, ruff

Adding function name for ColdStart metric
  aws_lambda_powertools/metrics/functions.py
  aws_lambda_powertools/metrics/metrics.py
  aws_lambda_powertools/metrics/provider/cloudwatch_emf/cloudwatch.py
  aws_lambda_powertools/metrics/provider/datadog/datadog.py
  aws_lambda_powertools/shared/constants.py
  docs/core/metrics.md
  docs/index.md
  examples/metrics/sam/template.yaml
  tests/functional/metrics/datadog/test_metrics_datadog.py
  tests/functional/metrics/required_dependencies/test_metrics_cloudwatch_emf.py
Due: black, ruff, cloudformation

Adding function name for ColdStart metric
  docs/core/metrics.md
  examples/metrics/src/working_with_custom_cold_start_function_name.py
Due: black, ruff

Fix datadog metrics
  tests/functional/metrics/datadog/test_metrics_datadog.py
Due: black, ruff

chore(ci): new pre-release 3.8.1a9
  aws_lambda_powertools/shared/version.py
  provenance/3.8.1a9/multiple.intoto.jsonl
  pyproject.toml
Due: black, ruff

Make utilities aware of Provisioned Concurrency
  aws_lambda_powertools/logging/logger.py
  aws_lambda_powertools/metrics/provider/cold_start.py
  aws_lambda_powertools/shared/constants.py
  aws_lambda_powertools/tracing/tracer.py
  tests/functional/logger/required_dependencies/test_logger.py
  tests/functional/metrics/conftest.py
  tests/unit/test_tracing.py
Due: black, ruff

Improve IdempotencyAlreadyInProgressError message
  aws_lambda_powertools/utilities/idempotency/base.py
  aws_lambda_powertools/utilities/idempotency/persistence/datarecord.py
  aws_lambda_powertools/utilities/idempotency/persistence/dynamodb.py
  tests/functional/idempotency/_boto3/test_idempotency.py
Due: black, ruff

fix: Formatting.
  aws_lambda_powertools/event_handler/lambda_function_url.py
  aws_lambda_powertools/event_handler/vpc_lattice.py
Due: black, ruff

feat(api-gateway-resolver): Add option for custom response validation error status code.
  aws_lambda_powertools/event_handler/lambda_function_url.py
  aws_lambda_powertools/event_handler/vpc_lattice.py
Due: black, ruff

refactor(tests): move unit tests into openapi_validation functional test file
  tests/unit/event_handler/test_response_validation.py
Due: black, ruff

feat(docs): Added doc for custom response validation error responses.
  examples/event_handler_rest/src/response_validation_error_unsanitized_output.json
  examples/event_handler_rest/src/response_validation_sanitized_error_output.json
Due: none

fix(unit-test): fix failed CI.
  tests/unit/event_handler/test_response_validation.py
Due: black, ruff
