Repository aws-powertools/powertools-lambda-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff, cloudformation

.pre-commit-config.yaml:

# We use poetry to run formatting and linting before commit/push
# Longer checks such as tests, security and complexity baseline
# are run as part of CI to prevent slower feedback loop
# All checks can be run locally via `make pr`

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: "f71fa2c1f9cf5cb705f73dffe4b21f7c61470ba9" # v4.4.0
    hooks:
      - id: check-merge-conflict
      - id: trailing-whitespace
      - id: check-toml
  - repo: local
    hooks:
      - id: black
        name: formatting::black
        entry: poetry run black
        language: system
        types: [python]
      - id: ruff
        name: linting-format::ruff
        entry: poetry run ruff
        language: system
        types: [python]
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: "ce0d77ac47dc921b62429804fe763d4d35f66a76" # v0.34.0
    hooks:
      - id: markdownlint-docker
        args: ["--fix"]
  - repo: local
    hooks:
      - id: cloudformation
        name: linting::cloudformation
        entry: poetry run cfn-lint
        language: system
        types: [yaml]
        files: examples/.*
  - repo: https://github.com/rhysd/actionlint
    rev: "fd7ba3c382e13dcc0248e425b4cbc3f1185fa3ee" # v1.6.24
    hooks:
      - id: actionlint-docker
        args: [-pyflakes=]
  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: 3420134c37197c21edffc7e6093b14ffae8402f2 # v1.81.0
    hooks:
      - id: terraform_fmt
        args:
          - --args=-recursive
  - repo: https://github.com/gitleaks/gitleaks
    rev: "7804d652c0460f0b61ea9bb2c1f202bfcdbbf144" # v8.16.3
    hooks:
      - id: gitleaks

chore(ci): new pre-release 3.15.2a5
  aws_lambda_powertools/shared/version.py
  provenance/3.15.2a5/multiple.intoto.jsonl
  pyproject.toml
Due: black, ruff

chore(ci): changelog rebuild
  CHANGELOG.md
Due: none

Integrating SSM workflow
  .github/workflows/release-v3.yml
  .github/workflows/update_ssm.yml
Due: none

Integrating SSM workflow
  .github/workflows/update_ssm.yml
Due: none

Addressing Andrea's feedback
  .github/workflows/update_ssm.yml
Due: none

chore(ci): incorporate SSM update workflow into release pipeline (#6914)
  .github/workflows/release-v3.yml
  .github/workflows/update_ssm.yml
Due: none

chore(ci): new pre-release 3.15.2a6
  aws_lambda_powertools/shared/version.py
  provenance/3.15.2a6/multiple.intoto.jsonl
  pyproject.toml
Due: black, ruff

chore(ci): bump version to 3.16.0
  aws_lambda_powertools/shared/version.py
  pyproject.toml
Due: black, ruff

chore: version bump
  aws_lambda_powertools/shared/version.py
  pyproject.toml
Due: black, ruff

chore(ci): layer docs update
  CHANGELOG.md
  docs/includes/_layer_homepage_arm64.md
  docs/includes/_layer_homepage_x86.md
  docs/index.md
  examples/homepage/install/arm64/amplify.txt
  examples/homepage/install/arm64/cdk_arm64.py
  examples/homepage/install/arm64/pulumi_arm64.py
  examples/homepage/install/arm64/sam.yaml
  examples/homepage/install/arm64/serverless.yml
  examples/homepage/install/arm64/terraform.tf
  examples/homepage/install/x86_64/amplify.txt
  examples/homepage/install/x86_64/cdk_x86.py
  examples/homepage/install/x86_64/pulumi_x86.py
  examples/homepage/install/x86_64/sam.yaml
  examples/homepage/install/x86_64/serverless.yml
  examples/homepage/install/x86_64/terraform.tf
  examples/logger/sam/template.yaml
  examples/metrics/sam/template.yaml
  examples/metrics_datadog/sam/template.yaml
  examples/tracer/sam/template.yaml
Due: black, ruff, cloudformation

chore(ci): new pre-release 3.16.1a0
  aws_lambda_powertools/shared/version.py
  provenance/3.16.1a0/multiple.intoto.jsonl
  pyproject.toml
Due: black, ruff

fix: enable response compression when using multi-value headers
  aws_lambda_powertools/event_handler/api_gateway.py
  tests/functional/event_handler/_pydantic/test_openapi_swagger.py
  tests/functional/event_handler/required_dependencies/test_api_gateway.py
Due: black, ruff

docs(event-handler): remove Amplify transformers section
  docs/core/event_handler/appsync.md
  examples/event_handler_graphql/src/amplify_graphql_transformer_schema.graphql
  examples/event_handler_graphql/src/graphql_transformer_common_field.json
  examples/event_handler_graphql/src/graphql_transformer_find_merchant.json
  examples/event_handler_graphql/src/graphql_transformer_list_locations.json
  examples/event_handler_graphql/src/graphql_transformer_merchant_info.py
  examples/event_handler_graphql/src/graphql_transformer_search_merchant.py
Due: black, ruff

fix: enable response compression when using multi-value headers (#6936)
  aws_lambda_powertools/event_handler/api_gateway.py
  tests/functional/event_handler/_pydantic/test_openapi_swagger.py
  tests/functional/event_handler/required_dependencies/test_api_gateway.py
Due: black, ruff

Update appsync.md
  docs/core/event_handler/appsync.md
Due: none

docs(event-handler): remove Amplify transformers section (#6937)
  docs/core/event_handler/appsync.md
  examples/event_handler_graphql/src/amplify_graphql_transformer_schema.graphql
  examples/event_handler_graphql/src/graphql_transformer_common_field.json
  examples/event_handler_graphql/src/graphql_transformer_find_merchant.json
  examples/event_handler_graphql/src/graphql_transformer_list_locations.json
  examples/event_handler_graphql/src/graphql_transformer_merchant_info.py
  examples/event_handler_graphql/src/graphql_transformer_search_merchant.py
Due: black, ruff

chore(ci): new pre-release 3.16.1a1
  aws_lambda_powertools/shared/version.py
  provenance/3.16.1a1/multiple.intoto.jsonl
  pyproject.toml
Due: black, ruff

Add top-level externalDocs support
  aws_lambda_powertools/event_handler/api_gateway.py
  aws_lambda_powertools/event_handler/openapi/config.py
Due: black, ruff

add formal test
  aws_lambda_powertools/event_handler/api_gateway.py
  tests/functional/event_handler/_pydantic/test_openapi_external_documentation.py
Due: black, ruff

Revert deleted file
  examples/event_handler_graphql/src/graphql_transformer_list_locations.json
Due: none

docs(event_handler): revert deleted file (#6947)
  examples/event_handler_graphql/src/graphql_transformer_list_locations.json
Due: none

cleanup import
  tests/functional/event_handler/_pydantic/test_openapi_external_documentation.py
Due: black, ruff

Update aws_lambda_powertools/event_handler/api_gateway.py
  aws_lambda_powertools/event_handler/api_gateway.py
Due: black, ruff

Fix test
  aws_lambda_powertools/event_handler/openapi/config.py
  tests/functional/event_handler/_pydantic/test_openapi_external_documentation.py
Due: black, ruff

feat(event_handler): add support for externalDocs attribute in OpenAPI schema (#6945)
  aws_lambda_powertools/event_handler/api_gateway.py
  aws_lambda_powertools/event_handler/openapi/config.py
  tests/functional/event_handler/_pydantic/test_openapi_external_documentation.py
Due: black, ruff

chore(ci): new pre-release 3.16.1a2
  aws_lambda_powertools/shared/version.py
  provenance/3.16.1a2/multiple.intoto.jsonl
  pyproject.toml
Due: black, ruff

Updating roadmap
  docs/roadmap.md
Due: none

docs(roadmap): update roadmap items (#6955)
  docs/roadmap.md
Due: none

chore(ci): new pre-release 3.16.1a3
  aws_lambda_powertools/shared/version.py
  provenance/3.16.1a3/multiple.intoto.jsonl
  pyproject.toml
Due: black, ruff

chore(ci): new pre-release 3.16.1a4
  aws_lambda_powertools/shared/version.py
  provenance/3.16.1a4/multiple.intoto.jsonl
  pyproject.toml
Due: black, ruff

Moving the cookbook mcp section
  docs/we_made_this.md
Due: none

docs(we_made_this): add MCP server template (#6851)
  docs/we_made_this.md
Due: none
