Repository aws-powertools/powertools-lambda-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff, cloudformation

.pre-commit-config.yaml:

# We use poetry to run formatting and linting before commit/push
# Longer checks such as tests, security and complexity baseline
# are run as part of CI to prevent slower feedback loop
# All checks can be run locally via `make pr`

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: "f71fa2c1f9cf5cb705f73dffe4b21f7c61470ba9" # v4.4.0
    hooks:
      - id: check-merge-conflict
      - id: trailing-whitespace
      - id: check-toml
  - repo: local
    hooks:
      - id: black
        name: formatting::black
        entry: poetry run black
        language: system
        types: [python]
      - id: ruff
        name: linting-format::ruff
        entry: poetry run ruff
        language: system
        types: [python]
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: "ce0d77ac47dc921b62429804fe763d4d35f66a76" # v0.34.0
    hooks:
      - id: markdownlint-docker
        args: ["--fix"]
  - repo: local
    hooks:
      - id: cloudformation
        name: linting::cloudformation
        entry: poetry run cfn-lint
        language: system
        types: [yaml]
        files: examples/.*
  - repo: https://github.com/rhysd/actionlint
    rev: "fd7ba3c382e13dcc0248e425b4cbc3f1185fa3ee" # v1.6.24
    hooks:
      - id: actionlint-docker
        args: [-pyflakes=]
  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: 3420134c37197c21edffc7e6093b14ffae8402f2 # v1.81.0
    hooks:
      - id: terraform_fmt
        args:
          - --args=-recursive
  - repo: https://github.com/gitleaks/gitleaks
    rev: "7804d652c0460f0b61ea9bb2c1f202bfcdbbf144" # v8.16.3
    hooks:
      - id: gitleaks

chore: use correct branding name
  docs/we_made_this.md
Due: none

docs(community): new batch processing article (#2828)
  docs/we_made_this.md
Due: none

Deployed c060a003 to develop with MkDocs 1.4.3 and mike 1.1.2
  develop/search/search_index.json
  develop/sitemap.xml.gz
  develop/we_made_this/index.html
Due: none

docs(parameters): improve readability on error handling get_parameters_by_name
  docs/utilities/parameters.md
Due: none

docs(parameters): add details about return on get_parameters; improve code snippet
  docs/utilities/parameters.md
  examples/parameters/src/getting_started_recursive_ssm_parameter.py
Due: black, ruff

docs(ssm): correct api docstring on return value
  aws_lambda_powertools/utilities/parameters/ssm.py
Due: black, ruff

docs(parameters): improve readability on error handling get_parameter… (#2833)
  aws_lambda_powertools/utilities/parameters/ssm.py
  docs/utilities/parameters.md
  examples/parameters/src/getting_started_recursive_ssm_parameter.py
Due: black, ruff

Deployed ec62084b to develop with MkDocs 1.4.3 and mike 1.1.2
  develop/search/search_index.json
  develop/sitemap.xml.gz
  develop/utilities/parameters/index.html
Due: none

Skipping test
  tests/unit/test_lru_cache.py
Due: black, ruff

Skipping test for Python 3.11+
  docs/we_made_this.md
  tests/unit/test_lru_cache.py
Due: black, ruff

feat(general): add support for Python 3.11 (#2820)
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/static_typing.yml
  .github/workflows/publish_v2_layer.yml
  .github/workflows/quality_check.yml
  .github/workflows/quality_check_pydanticv2.yml
  .github/workflows/release.yml
  .github/workflows/reusable_deploy_v2_layer_stack.yml
  .github/workflows/reusable_publish_docs.yml
  .github/workflows/run-e2e-tests.yml
  README.md
  docs/tutorial/index.md
  docs/utilities/jmespath_functions.md
  docs/we_made_this.md
  examples/idempotency/templates/terraform.tf
  examples/jmespath_functions/src/powertools_custom_jmespath_function.json
  examples/jmespath_functions/src/powertools_custom_jmespath_function.py
  layer/poetry.lock
  layer/pyproject.toml
  layer/sar/template.txt
  poetry.lock
  pyproject.toml
  tests/e2e/utils/infrastructure.py
  tests/functional/validator/test_validator.py
  tests/unit/test_lru_cache.py
Due: black, ruff

Deployed dfb98928 to develop with MkDocs 1.4.3 and mike 1.1.2
  develop/search/search_index.json
  develop/sitemap.xml.gz
  develop/tutorial/index.html
  develop/utilities/idempotency/index.html
  develop/utilities/jmespath_functions/index.html
  develop/we_made_this/index.html
Due: none

chore(ci): add baking time for layer build
  .github/workflows/publish_v2_layer.yml
Due: none

Deployed 0a48d874 to develop with MkDocs 1.4.3 and mike 1.1.2
  develop/changelog/index.html
  develop/search/search_index.json
  develop/sitemap.xml.gz
Due: none

chore(ci): add baking time for layer build (#2834)
  .github/workflows/publish_v2_layer.yml
Due: none

migrate from ABC to protocol, support convert kwargs to tags, add test
  aws_lambda_powertools/metrics/provider/base.py
  aws_lambda_powertools/metrics/provider/datadog_provider.py
  tests/functional/test_metrics.py
Due: black, ruff

migrate from ABC to protocol, support convert kwargs to tags, add test
  aws_lambda_powertools/metrics/provider/datadog_provider.py
  tests/functional/test_metrics.py
Due: black, ruff

migrate from ABC to protocol, support convert kwargs to tags, add test
  aws_lambda_powertools/metrics/provider/base.py
Due: black, ruff

chore(ci): changelog rebuild
  CHANGELOG.md
Due: none

refactor(parameters): use newer add_to_cache, fetch_from_cache
  aws_lambda_powertools/utilities/parameters/base.py
Due: black, ruff

fix(parameters): make cache aware of single vs multiple calls
  aws_lambda_powertools/utilities/parameters/base.py
  aws_lambda_powertools/utilities/parameters/types.py
  tests/functional/test_utilities_parameters.py
Due: black, ruff

chore: cleanup, add test for single and nested
  aws_lambda_powertools/utilities/parameters/base.py
  aws_lambda_powertools/utilities/parameters/types.py
  tests/functional/test_utilities_parameters.py
Due: black, ruff

fix(parameters): distinct cache key for single vs path with same name (#2839)
  aws_lambda_powertools/utilities/parameters/base.py
  tests/functional/test_utilities_parameters.py
Due: black, ruff

Docs
  docs/tutorial/index.md
Due: none

Deployed 0527be47 to develop with MkDocs 1.4.3 and mike 1.1.2
  develop/changelog/index.html
  develop/search/search_index.json
  develop/sitemap.xml.gz
  develop/tutorial/index.html
Due: none

chore: version bump
  aws_lambda_powertools/shared/version.py
  pyproject.toml
Due: black, ruff

chore(ci): bump version to 2.22.0
  aws_lambda_powertools/shared/version.py
  pyproject.toml
Due: black, ruff

chore(ci): layer docs update
  CHANGELOG.md
  docs/index.md
  examples/logger/sam/template.yaml
  examples/metrics/sam/template.yaml
  examples/tracer/sam/template.yaml
Due: cloudformation

Deployed e32e8d1e to develop with MkDocs 1.4.3 and mike 1.1.2
  develop/changelog/index.html
  develop/core/logger/index.html
  develop/core/metrics/index.html
  develop/core/tracer/index.html
  develop/index.html
  develop/search/search_index.json
  develop/sitemap.xml.gz
Due: none

remove parent class, fix example
  aws_lambda_powertools/metrics/provider/datadog_provider.py
  examples/metrics/src/use_providers.py
Due: black, ruff

docs: add nofollow attribute
  docs/automation.md
  docs/core/event_handler/api_gateway.md
  docs/core/event_handler/appsync.md
  docs/core/logger.md
  docs/core/metrics.md
  docs/core/tracer.md
  docs/index.md
  docs/maintainers.md
  docs/roadmap.md
  docs/security.md
  docs/tutorial/index.md
  docs/upgrade.md
  docs/utilities/batch.md
  docs/utilities/data_classes.md
  docs/utilities/feature_flags.md
  docs/utilities/idempotency.md
  docs/utilities/jmespath_functions.md
  docs/utilities/middleware_factory.md
  docs/utilities/parameters.md
  docs/utilities/parser.md
  docs/utilities/streaming.md
  docs/utilities/typing.md
  docs/utilities/validation.md
  docs/we_made_this.md
Due: none
