Repository aws-powertools/powertools-lambda-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff, cloudformation

black:
  name: formatting::black
  entry: poetry run black
  language: system

ruff:
  name: linting-format::ruff
  entry: poetry run ruff
  language: system

cloudformation:
  name: linting::cloudformation
  entry: poetry run cfn-lint
  language: system

Update aws_lambda_powertools/utilities/data_classes/dynamo_db_stream_event.py
  aws_lambda_powertools/utilities/data_classes/dynamo_db_stream_event.py
Due: black, ruff

chore(ci): new pre-release 3.12.1a5
  aws_lambda_powertools/shared/version.py
  provenance/3.12.1a5/multiple.intoto.jsonl
  pyproject.toml
Due: black, ruff

docs<parser>: correct comment about data decompression
  aws_lambda_powertools/utilities/parser/envelopes/kinesis.py
Due: black, ruff

refactor<parser>: simplify KinesisDataStreamEnvelope decompression and decoding workflow
  aws_lambda_powertools/utilities/parser/envelopes/kinesis.py
Due: black, ruff

chore(ci): changelog rebuild
  CHANGELOG.md
Due: none

Converage
  tests/unit/data_classes/required_dependencies/test_dynamo_db_stream_event.py
  tests/unit/data_classes/required_dependencies/test_kinesis_stream_event.py
Due: black, ruff

feat(event_source): add support for tumbling windows in Kinesis and DynamoDB events (#6658)
  aws_lambda_powertools/utilities/data_classes/dynamo_db_stream_event.py
  aws_lambda_powertools/utilities/data_classes/kinesis_stream_event.py
  tests/events/dynamoStreamTumblingWindowEvent.json
  tests/events/kinesisStreamEvent.json
  tests/events/kinesisStreamTumblingWindowEvent.json
  tests/unit/data_classes/required_dependencies/test_dynamo_db_stream_event.py
  tests/unit/data_classes/required_dependencies/test_kinesis_stream_event.py
Due: black, ruff

Adding cache name
  aws_lambda_powertools/utilities/idempotency/persistence/redis.py
Due: black, ruff

style(parser): format new code using make format
  aws_lambda_powertools/utilities/parser/envelopes/kinesis.py
  tests/unit/parser/_pydantic/test_kinesis.py
Due: black, ruff

test(parser): create test for negative test case of parsing CloudWatch Logs from Kinesis envelope
  tests/unit/parser/_pydantic/test_kinesis.py
Due: black, ruff

chore(ci): new pre-release 3.12.1a6
  aws_lambda_powertools/shared/version.py
  provenance/3.12.1a6/multiple.intoto.jsonl
  pyproject.toml
Due: black, ruff

Changing data type
  aws_lambda_powertools/utilities/parser/envelopes/kinesis.py
  tests/unit/parser/_pydantic/test_kinesis.py
Due: black, ruff

feat(parser): add support to decompress Kinesis CloudWatch logs in Kinesis envelope (#6656)
  aws_lambda_powertools/utilities/parser/envelopes/kinesis.py
  tests/unit/parser/_pydantic/test_kinesis.py
Due: black, ruff

doc event handler, parser and data class
  docs/core/event_handler/bedrock_agents.md
  docs/core/event_handler/bedrock_agents.mermaid
  docs/core/event_handler/bedrock_agents_getting_started.mermaid
  docs/utilities/data_classes.md
  docs/utilities/parser.md
  examples/event_handler_bedrock_agents/src/accessing_request_fields.py
  examples/event_handler_bedrock_agents/src/getting_started_functions.py
  examples/event_handler_bedrock_agents/src/getting_started_output_func.json
  examples/event_handler_bedrock_agents/src/input_getting_started_func.json
  examples/event_handler_bedrock_agents/src/input_validation_schema_func.json
  examples/event_handler_bedrock_agents/src/output_validation_schema_func.json
  examples/event_handler_bedrock_agents/src/validation_failure_input_func.json
  examples/event_handler_bedrock_agents/src/validation_failure_output_func.json
  examples/event_handler_bedrock_agents/src/validation_schema_func.py
  examples/event_handler_bedrock_agents/src/working_bedrock_functions_response.py
  tests/functional/event_handler/required_dependencies/test_bedrock_agent_functions.py
Due: black, ruff

fix doc typo
  docs/core/event_handler/bedrock_agents.md
Due: none

mypy
  docs/core/event_handler/bedrock_agents.md
  examples/event_handler_bedrock_agents/src/working_bedrock_functions_response.py
Due: black, ruff

chore(ci): new pre-release 3.12.1a7
  aws_lambda_powertools/shared/version.py
  provenance/3.12.1a7/multiple.intoto.jsonl
  pyproject.toml
Due: black, ruff

chore(ci): new pre-release 3.12.1a8
  aws_lambda_powertools/shared/version.py
  provenance/3.12.1a8/multiple.intoto.jsonl
  pyproject.toml
Due: black, ruff

Replacing Redis with Cache
  Makefile
  aws_lambda_powertools/utilities/idempotency/persistence/cache.py
  aws_lambda_powertools/utilities/idempotency/persistence/redis.py
  docs/utilities/idempotency.md
  examples/idempotency/src/getting_started_with_idempotency_cache_config.py
  examples/idempotency/src/getting_started_with_idempotency_valkey_client.py
  examples/idempotency/src/using_redis_client_with_aws_secrets.py
  examples/idempotency/src/using_redis_client_with_local_certs.py
  examples/idempotency/templates/cfn_redis_serverless.yaml
  poetry.lock
  pyproject.toml
Due: black, ruff, cloudformation

Makefiule
  Makefile
Due: none

chore(ci): include allowed licenses file in dependency review workflow (#6618)
  .github/dependency-review-config.yml
  .github/workflows/dependency-review.yml
  .github/workflows/quality_check.yml
  Makefile
  poetry.lock
  pyproject.toml
Due: none

More changes
  docs/utilities/idempotency.md
  examples/idempotency/src/using_cache_client_with_aws_secrets.py
  examples/idempotency/src/using_redis_client_with_local_certs.py
Due: black, ruff

refactor(idempotency): replace Redis name with Cache and add valkey-glide support (#6685)
  Makefile
  aws_lambda_powertools/utilities/idempotency/persistence/cache.py
  aws_lambda_powertools/utilities/idempotency/persistence/redis.py
  docs/utilities/idempotency.md
  examples/idempotency/src/getting_started_with_idempotency_cache_config.py
  examples/idempotency/src/getting_started_with_idempotency_valkey_client.py
  examples/idempotency/src/using_cache_client_with_aws_secrets.py
  examples/idempotency/src/using_redis_client_with_aws_secrets.py
  examples/idempotency/src/using_redis_client_with_local_certs.py
  examples/idempotency/templates/cfn_redis_serverless.yaml
  poetry.lock
  pyproject.toml
Due: black, ruff, cloudformation

chore(ci): bump version to 3.13.0
  aws_lambda_powertools/shared/version.py
  pyproject.toml
Due: black, ruff

chore: version bump
  aws_lambda_powertools/shared/version.py
  pyproject.toml
Due: black, ruff

chore(ci): layer docs update
  CHANGELOG.md
  docs/includes/_layer_homepage_arm64.md
  docs/includes/_layer_homepage_x86.md
  docs/index.md
  examples/homepage/install/arm64/amplify.txt
  examples/homepage/install/arm64/cdk_arm64.py
  examples/homepage/install/arm64/pulumi_arm64.py
  examples/homepage/install/arm64/sam.yaml
  examples/homepage/install/arm64/serverless.yml
  examples/homepage/install/arm64/terraform.tf
  examples/homepage/install/x86_64/amplify.txt
  examples/homepage/install/x86_64/cdk_x86.py
  examples/homepage/install/x86_64/pulumi_x86.py
  examples/homepage/install/x86_64/sam.yaml
  examples/homepage/install/x86_64/serverless.yml
  examples/homepage/install/x86_64/terraform.tf
  examples/logger/sam/template.yaml
  examples/metrics/sam/template.yaml
  examples/metrics_datadog/sam/template.yaml
  examples/tracer/sam/template.yaml
Due: black, ruff, cloudformation

chore(ci): new pre-release 3.12.1a9
  aws_lambda_powertools/shared/version.py
  provenance/3.12.1a9/multiple.intoto.jsonl
  pyproject.toml
Due: black, ruff

mkdocs setup and include llmstxt plugin and configure it to the sections needed
  docs/requirements.in
  docs/requirements.txt
  mkdocs.yml
Due: none

chore(ci): new pre-release 3.13.1a0
  aws_lambda_powertools/shared/version.py
  provenance/3.13.1a0/multiple.intoto.jsonl
  pyproject.toml
Due: black, ruff

chore(ci): new pre-release 3.13.1a1
  aws_lambda_powertools/shared/version.py
  provenance/3.13.1a1/multiple.intoto.jsonl
  pyproject.toml
Due: black, ruff

chore(ci): new pre-release 3.13.1a2
  aws_lambda_powertools/shared/version.py
  provenance/3.13.1a2/multiple.intoto.jsonl
  pyproject.toml
Due: black, ruff

Path conditions:
  black: any of: \.py$
  ruff: any of: \.py$
  cloudformation: any of: examples/.* and \.(yaml|yml)$
