Repository aws-powertools/powertools-lambda-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff, cloudformation

black:
  name: formatting::black
  entry: poetry run black
  language: system

ruff:
  name: linting-format::ruff
  entry: poetry run ruff
  language: system

cloudformation:
  name: linting::cloudformation
  entry: poetry run cfn-lint
  language: system

docs(data_classes): reformat table in data_classes
  docs/utilities/data_classes.md
Due: none

Deployed 2bf23c8a to develop with MkDocs 1.5.3 and mike 1.1.2
  develop/404.html
  develop/Dockerfile
  develop/assets/javascripts/bundle.8fd75fb4.min.js
  develop/assets/javascripts/bundle.8fd75fb4.min.js.map
  develop/assets/javascripts/bundle.c8d2eff1.min.js
  develop/assets/javascripts/bundle.c8d2eff1.min.js.map
  develop/automation/index.html
  develop/changelog/index.html
  develop/contributing/conventions/index.html
  develop/contributing/documentation/rfcs/index.html
  develop/contributing/getting_started/index.html
  develop/contributing/setup/index.html
  develop/core/event_handler/api_gateway/index.html
  develop/core/event_handler/appsync/index.html
  develop/core/logger/index.html
  develop/core/metrics/datadog/index.html
  develop/core/metrics/index.html
  develop/core/tracer/index.html
  develop/diagram_src/cicd_steps/index.html
  develop/index.html
  develop/maintainers/index.html
  develop/roadmap/index.html
  develop/security/index.html
  develop/sitemap.xml.gz
  develop/tutorial/index.html
  develop/upgrade/index.html
  develop/utilities/batch/index.html
  develop/utilities/data_classes/index.html
  develop/utilities/data_masking/index.html
  develop/utilities/feature_flags/index.html
  develop/utilities/idempotency/index.html
  develop/utilities/jmespath_functions/index.html
  develop/utilities/middleware_factory/index.html
  develop/utilities/parameters/index.html
  develop/utilities/parser/index.html
  develop/utilities/streaming/index.html
  develop/utilities/typing/index.html
  develop/utilities/validation/index.html
  develop/versioning/index.html
  develop/we_made_this/index.html
Due: none

chore(ci): changelog rebuild
  CHANGELOG.md
Due: none

docs(data_classes): fix cloudwatch_alarm_event example typing issue
  examples/event_sources/src/cloudwatch_alarm_event.py
Due: black, ruff

docs(data_classes): replace example code with reference to the example file for CW alarm state change action
  docs/utilities/data_classes.md
Due: none

feat(data_classes): add `actions_suppressed_by` and `actions_suppressed_reason` properties to CloudWatchAlarmState
  aws_lambda_powertools/utilities/data_classes/cloud_watch_alarm_event.py
  tests/events/cloudWatchAlarmEvent.json
  tests/unit/data_classes/test_cloud_watch_alarm_event.py
Due: black, ruff

Deployed 57fc5d5b to develop with MkDocs 1.5.3 and mike 1.1.2
  develop/changelog/index.html
  develop/search/search_index.json
  develop/sitemap.xml.gz
Due: none

fix: applied feedback
  docs/core/event_handler/bedrock_agents.md
Due: none

chore: add links to pydantic openapi schemas
  docs/core/event_handler/api_gateway.md
Due: none

chore: change default OpenAPI version
  aws_lambda_powertools/event_handler/openapi/constants.py
Due: black, ruff

Adding nofollow for external links
  docs/core/event_handler/api_gateway.md
Due: none

fix(event_handler): OpenAPI schema version respects Pydantic version (#3860)
  aws_lambda_powertools/event_handler/api_gateway.py
  aws_lambda_powertools/event_handler/openapi/constants.py
  aws_lambda_powertools/event_handler/openapi/models.py
  aws_lambda_powertools/event_handler/openapi/swagger_ui/swagger-ui-bundle.min.js
  aws_lambda_powertools/event_handler/openapi/swagger_ui/swagger-ui.min.css
  docs/core/event_handler/api_gateway.md
  tests/functional/event_handler/conftest.py
  tests/functional/event_handler/test_openapi_encoders.py
  tests/functional/event_handler/test_openapi_schema_pydantic_v1.py
  tests/functional/event_handler/test_openapi_schema_pydantic_v2.py
Due: black, ruff

Deployed 579662e4 to develop with MkDocs 1.5.3 and mike 1.1.2
  develop/core/event_handler/api_gateway/index.html
  develop/search/search_index.json
  develop/sitemap.xml.gz
Due: none

Update README.md
  README.md
Due: none

Deployed 2c9147a0 to develop with MkDocs 1.5.3 and mike 1.1.2
  develop/changelog/index.html
  develop/search/search_index.json
  develop/sitemap.xml.gz
Due: none

refactor(logger): improve typing (#3869)
  aws_lambda_powertools/logging/logger.py
Due: black, ruff

Deployed e6b96d6a to develop with MkDocs 1.5.3 and mike 1.1.2
  develop/changelog/index.html
  develop/search/search_index.json
  develop/sitemap.xml.gz
Due: none

chore: apply upstream changes
  docs/core/event_handler/_openapi_customization_metadata.md
Due: none

fix: weird characters
  docs/core/event_handler/api_gateway.md
Due: none

fix: wording
  docs/core/event_handler/bedrock_agents.md
Due: none

fix: make all schemas 3.0.3
  examples/event_handler_bedrock_agents/src/generating_openapi_schema.json
  examples/event_handler_bedrock_agents/src/getting_started_schema.json
  examples/event_handler_bedrock_agents/src/getting_started_with_validation_schema.json
Due: none

fix: highlight
  docs/core/event_handler/bedrock_agents.md
  docs/diagram_src/bedrock-agents.drawio
Due: none

fix: fix
  docs/core/event_handler/api_gateway.md
Due: none

docs(event_handler): add bedrock agent resolver documentation (#3602)
  aws_lambda_powertools/event_handler/bedrock_agent.py
  docs/core/event_handler/_openapi_customization_metadata.md
  docs/core/event_handler/_openapi_customization_operations.md
  docs/core/event_handler/_openapi_customization_parameters.md
  docs/core/event_handler/api_gateway.md
  docs/core/event_handler/bedrock_agents.md
  docs/core/event_handler/bedrock_agents.mermaid
  docs/core/event_handler/bedrock_agents_getting_started.mermaid
  docs/core/event_handler/bedrock_agents_validation_sequence_diagram.mermaid
  examples/event_handler_bedrock_agents/cdk/bedrock_agent_stack.py
  examples/event_handler_bedrock_agents/sam/template.yaml
  examples/event_handler_bedrock_agents/src/accessing_request_fields.py
  examples/event_handler_bedrock_agents/src/assert_bedrock_agent_response.py
  examples/event_handler_bedrock_agents/src/assert_bedrock_agent_response_module.py
  examples/event_handler_bedrock_agents/src/customizing_bedrock_api_metadata.py
  examples/event_handler_bedrock_agents/src/customizing_bedrock_api_operations.py
  examples/event_handler_bedrock_agents/src/customizing_bedrock_api_parameters.py
  examples/event_handler_bedrock_agents/src/generating_openapi_schema.json
  examples/event_handler_bedrock_agents/src/generating_openapi_schema.py
  examples/event_handler_bedrock_agents/src/getting_started.json
  examples/event_handler_bedrock_agents/src/getting_started.py
  examples/event_handler_bedrock_agents/src/getting_started_output.json
  examples/event_handler_bedrock_agents/src/getting_started_schema.json
  examples/event_handler_bedrock_agents/src/getting_started_with_validation.json
  examples/event_handler_bedrock_agents/src/getting_started_with_validation.py
  examples/event_handler_bedrock_agents/src/getting_started_with_validation_output.json
  examples/event_handler_bedrock_agents/src/getting_started_with_validation_schema.json
  examples/event_handler_bedrock_agents/src/validation_failure_input.json
  examples/event_handler_bedrock_agents/src/validation_failure_output.json
  mkdocs.yml
  poetry.lock
  pyproject.toml
  tests/functional/event_handler/test_bedrock_agent.py
Due: black, ruff, cloudformation

chore(docs): add Bedrock Agents to feature list
  README.md
Due: none

chore(docs): add Bedrock Agents to feature list (#3889)
  README.md
Due: none

Path conditions:
  black: any of: \.py$
  ruff: any of: \.py$
  cloudformation: any of: examples/.* and \.(yaml|yml)$
