Repository aws-powertools/powertools-lambda-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff, cloudformation

.pre-commit-config.yaml:

# We use poetry to run formatting and linting before commit/push
# Longer checks such as tests, security and complexity baseline
# are run as part of CI to prevent slower feedback loop
# All checks can be run locally via `make pr`

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: "f71fa2c1f9cf5cb705f73dffe4b21f7c61470ba9" # v4.4.0
    hooks:
      - id: check-merge-conflict
      - id: trailing-whitespace
      - id: check-toml
  - repo: local
    hooks:
      - id: black
        name: formatting::black
        entry: poetry run black
        language: system
        types: [python]
      - id: ruff
        name: linting-format::ruff
        entry: poetry run ruff
        language: system
        types: [python]
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: "ce0d77ac47dc921b62429804fe763d4d35f66a76" # v0.34.0
    hooks:
      - id: markdownlint-docker
        args: ["--fix"]
  - repo: local
    hooks:
      - id: cloudformation
        name: linting::cloudformation
        entry: poetry run cfn-lint
        language: system
        types: [yaml]
        files: examples/.*
  - repo: https://github.com/rhysd/actionlint
    rev: "fd7ba3c382e13dcc0248e425b4cbc3f1185fa3ee" # v1.6.24
    hooks:
      - id: actionlint-docker
        args: [-pyflakes=]
  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: 3420134c37197c21edffc7e6093b14ffae8402f2 # v1.81.0
    hooks:
      - id: terraform_fmt
        args:
          - --args=-recursive
  - repo: https://github.com/gitleaks/gitleaks
    rev: "7804d652c0460f0b61ea9bb2c1f202bfcdbbf144" # v8.16.3
    hooks:
      - id: gitleaks

Testing workflow
  .github/workflows/bootstrap_region.yml
  .github/workflows/build_changelog.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/dependency-review.yml
  .github/workflows/dispatch_analytics.yml
  .github/workflows/label_pr_on_title.yml
  .github/workflows/layer_govcloud.yml
  .github/workflows/layer_govcloud_python313.yml
  .github/workflows/layer_govcloud_verify.yml
  .github/workflows/layer_rename.yml
  .github/workflows/on_closed_issues.yml
  .github/workflows/on_label_added.yml
  .github/workflows/on_merged_pr.yml
  .github/workflows/on_opened_pr.yml
  .github/workflows/on_pr_updates.yml
  .github/workflows/on_push_docs.yml
  .github/workflows/on_schedule_monthly_roadmap_reminder.yml
  .github/workflows/ossf_scorecard.yml
  .github/workflows/pre-release.yml
  .github/workflows/publish_v2_layer.yml
  .github/workflows/publish_v3_layer.yml
  .github/workflows/quality_check.yml
  .github/workflows/quality_code_cdk_constructor.yml
  .github/workflows/rebuild_latest_docs.yml
  .github/workflows/record_pr.yml
  .github/workflows/release-drafter.yml
  .github/workflows/release-v3.yml
  .github/workflows/release.yml
  .github/workflows/reusable_deploy_v2_layer_stack.yml
  .github/workflows/reusable_deploy_v2_sar.yml
  .github/workflows/reusable_deploy_v3_layer_stack.yml
  .github/workflows/reusable_deploy_v3_sar.yml
  .github/workflows/reusable_export_pr_details.yml
  .github/workflows/reusable_publish_changelog.yml
  .github/workflows/reusable_publish_docs.yml
  .github/workflows/run-e2e-tests.yml
  .github/workflows/secure_workflows.yml
  .github/workflows/update_ssm.yml
Due: none

Adding export plugin
  .github/workflows/publish_v3_layer.yml
  .github/workflows/reusable_deploy_v3_layer_stack.yml
Due: none

chore: version bump
  aws_lambda_powertools/shared/version.py
  pyproject.toml
Due: black, ruff

chore(ci): bump version to 3.5.0
  aws_lambda_powertools/shared/version.py
  pyproject.toml
Due: black, ruff

fix(docs): typo in a service name in Event Handler
  docs/core/event_handler/api_gateway.md
Due: none

chore(ci): new pre-release 3.5.1a0
  aws_lambda_powertools/shared/version.py
  provenance/3.5.1a0/multiple.intoto.jsonl
  pyproject.toml
Due: black, ruff

chore(ci): changelog rebuild
  CHANGELOG.md
Due: none

Child logger must respect log level
  aws_lambda_powertools/logging/logger.py
  tests/functional/logger/required_dependencies/test_logger.py
Due: black, ruff

Updating layer version
  docs/includes/_layer_homepage_arm64.md
  docs/includes/_layer_homepage_x86.md
  docs/index.md
  examples/homepage/install/arm64/amplify.txt
  examples/homepage/install/arm64/cdk_arm64.py
  examples/homepage/install/arm64/pulumi_arm64.py
  examples/homepage/install/arm64/sam.yaml
  examples/homepage/install/arm64/serverless.yml
  examples/homepage/install/arm64/terraform.tf
  examples/homepage/install/x86_64/amplify.txt
  examples/homepage/install/x86_64/cdk_x86.py
  examples/homepage/install/x86_64/pulumi_x86.py
  examples/homepage/install/x86_64/sam.yaml
  examples/homepage/install/x86_64/serverless.yml
  examples/homepage/install/x86_64/terraform.tf
  examples/logger/sam/template.yaml
  examples/metrics/sam/template.yaml
  examples/metrics_datadog/sam/template.yaml
  examples/tracer/sam/template.yaml
Due: black, ruff, cloudformation

chore(ci): new pre-release 3.5.1a1
  aws_lambda_powertools/shared/version.py
  provenance/3.5.1a1/multiple.intoto.jsonl
  pyproject.toml
Due: black, ruff

feat(logger): add clear_state method to Logger
  aws_lambda_powertools/logging/logger.py
  docs/core/logger.md
  examples/logger/src/after_clear_state.json
  examples/logger/src/before_clear_state.json
  examples/logger/src/clear_state_method.py
  tests/functional/logger/required_dependencies/test_logger.py
Due: black, ruff

Installing and configuring mkdocstrings plugin
  mkdocs.yml
  poetry.lock
  pyproject.toml
Due: none

Installing and configuring mkdocstrings plugin
  poetry.lock
  pyproject.toml
Due: none

chore(ci): new pre-release 3.5.1a2
  aws_lambda_powertools/shared/version.py
  provenance/3.5.1a2/multiple.intoto.jsonl
  pyproject.toml
Due: black, ruff

add draft documentation
  docs/utilities/data_masking.md
  examples/data_masking/src/custom_data_masking.py
Due: black, ruff

change flags name to more intuitive
  aws_lambda_powertools/utilities/data_masking/base.py
  aws_lambda_powertools/utilities/data_masking/provider/base.py
Due: black, ruff

change doc examples
  aws_lambda_powertools/utilities/data_masking/base.py
  docs/utilities/data_masking.md
  examples/data_masking/src/custom_data_masking.py
Due: black, ruff

fix type check error
  aws_lambda_powertools/utilities/data_masking/provider/base.py
Due: black, ruff

add custom mask functionalities
  aws_lambda_powertools/utilities/data_masking/base.py
  aws_lambda_powertools/utilities/data_masking/provider/base.py
Due: black, ruff

fix format base
  aws_lambda_powertools/utilities/data_masking/provider/base.py
Due: black, ruff

style: format code with black
  aws_lambda_powertools/utilities/data_masking/base.py
  aws_lambda_powertools/utilities/data_masking/provider/base.py
Due: black, ruff

sub header for custom mask in docs
  docs/utilities/data_masking.md
Due: none

add tests for new masks
  aws_lambda_powertools/utilities/data_masking/base.py
  aws_lambda_powertools/utilities/data_masking/provider/base.py
  tests/unit/data_masking/_aws_encryption_sdk/test_unit_data_masking.py
Due: black, ruff

add test for masking rules
  tests/unit/data_masking/_aws_encryption_sdk/test_unit_data_masking.py
Due: black, ruff

masking rules to handle complex nest
  aws_lambda_powertools/utilities/data_masking/base.py
Due: black, ruff

modifications based on the feedback
  aws_lambda_powertools/utilities/data_masking/base.py
  docs/utilities/data_masking.md
  examples/data_masking/src/custom_data_masking.py
  examples/data_masking/src/output_custom_masking.json
  examples/data_masking/src/payload_custom_masking.json
  tests/unit/data_masking/_aws_encryption_sdk/test_unit_data_masking.py
Due: black, ruff

Mkdocstrings - Validation module
  aws_lambda_powertools/utilities/validation/__init__.py
  aws_lambda_powertools/utilities/validation/exceptions.py
  docs/api_doc/validation.md
  mkdocs.yml
Due: black, ruff

changes after feedback
  aws_lambda_powertools/logging/logger.py
  docs/core/logger.md
  tests/functional/logger/required_dependencies/test_logger.py
Due: black, ruff

Mkdocstrings - Typing module
  docs/api_doc/typing.md
  mkdocs.yml
Due: none

change reset default keys
  aws_lambda_powertools/logging/logger.py
Due: black, ruff

chore(ci): new pre-release 3.5.1a3
  aws_lambda_powertools/shared/version.py
  provenance/3.5.1a3/multiple.intoto.jsonl
  pyproject.toml
Due: black, ruff

Fix type annotation with metrics decorator
  aws_lambda_powertools/metrics/metrics.py
Due: black, ruff

Adding new script to bump layer version
  .github/workflows/publish_v3_layer.yml
  .github/workflows/release-v3.yml
  layer_v3/scripts/update_layer_arn_v3.sh
Due: none

Adding new script to bump layer version
  .github/workflows/release-v3.yml
Due: none

mypy and tests modification
  aws_lambda_powertools/utilities/data_masking/base.py
  aws_lambda_powertools/utilities/data_masking/provider/base.py
  tests/unit/data_masking/_aws_encryption_sdk/test_unit_data_masking.py
Due: black, ruff
