Repository aws-powertools/powertools-lambda-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff, cloudformation

black:
  name: formatting::black
  entry: poetry run black
  language: system

ruff:
  name: linting-format::ruff
  entry: poetry run ruff
  language: system

cloudformation:
  name: linting::cloudformation
  entry: poetry run cfn-lint
  language: system

Adding missing test + increasing coverage
  tests/functional/event_handler/test_appsync.py
Due: black, ruff

chore(ci): changelog rebuild
  CHANGELOG.md
Due: none

Deployed 4918b444 to develop with MkDocs 1.5.2 and mike 1.1.2
  develop/changelog/index.html
  develop/search/search_index.json
  develop/sitemap.xml.gz
Due: none

Deployed ac4fe43e to develop with MkDocs 1.5.2 and mike 1.1.2
  develop/changelog/index.html
  develop/search/search_index.json
  develop/sitemap.xml.gz
Due: none

change redis connection
  aws_lambda_powertools/utilities/connections/redis.py
  poetry.lock
  tests/integration/idempotency/test_idempotency_redis.py
Due: black, ruff

roughing in some stuff
  aws_lambda_powertools/utilities/auth/__init__.py
  aws_lambda_powertools/utilities/auth/aws_auth.py
  aws_lambda_powertools/utilities/iam/aws_auth.py
Due: black, ruff

Deployed c4afbbfc to develop with MkDocs 1.5.2 and mike 1.1.2
  develop/changelog/index.html
  develop/search/search_index.json
  develop/sitemap.xml.gz
Due: none

missed includes
  aws_lambda_powertools/utilities/auth/__init__.py
Due: black, ruff

chore: disable sockets in encryption sdk tests
  poetry.lock
  pyproject.toml
  tests/functional/data_masking/conftest.py
Due: black, ruff

refactor(tests): use a test double
  tests/functional/data_masking/conftest.py
  tests/functional/data_masking/test_aws_encryption_sdk.py
Due: black, ruff

* Add NoOpSerializer instead of checking for None * remove import of pydantic in order to not enforce pydantic existence * fix examples * fix bad docs
  aws_lambda_powertools/utilities/idempotency/__init__.py
  aws_lambda_powertools/utilities/idempotency/base.py
  aws_lambda_powertools/utilities/idempotency/idempotency.py
  aws_lambda_powertools/utilities/idempotency/serialization/no_op.py
  examples/idempotency/src/working_with_idempotent_function_dataclass_output_serializer.py
  examples/idempotency/src/working_with_idempotent_function_pydantic_output_serializer.py
  tests/functional/idempotency/test_idempotency.py
Due: black, ruff

chore: address make pr errors
  aws_lambda_powertools/utilities/data_masking/base.py
  aws_lambda_powertools/utilities/data_masking/providers/aws_encryption_sdk.py
  tests/unit/data_masking/test_data_masking.py
Due: black, ruff

chore(ci): bump version to 2.23.0
  aws_lambda_powertools/shared/version.py
  pyproject.toml
Due: black, ruff

chore: version bump
  aws_lambda_powertools/shared/version.py
  pyproject.toml
Due: black, ruff

chore(ci): layer docs update
  CHANGELOG.md
  docs/index.md
  examples/logger/sam/template.yaml
  examples/metrics/sam/template.yaml
  examples/tracer/sam/template.yaml
Due: cloudformation

Deployed 2561f2bd to develop with MkDocs 1.5.2 and mike 1.1.2
  develop/changelog/index.html
  develop/core/logger/index.html
  develop/core/metrics/index.html
  develop/core/tracer/index.html
  develop/index.html
  develop/search/search_index.json
  develop/sitemap.xml.gz
Due: none

Deployed 725f7ac4 to develop with MkDocs 1.5.2 and mike 1.1.2
  develop/changelog/index.html
  develop/search/search_index.json
  develop/sitemap.xml.gz
Due: none

make pr
  aws_lambda_powertools/utilities/idempotency/base.py
  tests/functional/idempotency/test_idempotency.py
Due: black, ruff

fix: subprocess-run-without-check
  tests/e2e/utils/lambda_layer/powertools_layer.py
Due: black, ruff

fix(event_handler): fix invalid escape sequence
  aws_lambda_powertools/event_handler/api_gateway.py
Due: black, ruff

fix: remove another case of W605
  tests/unit/data_classes/test_api_gateway_authorizer.py
Due: black, ruff

fix(event_handler): make invalid chars a raw str to fix DeprecationWarning (#2982)
  aws_lambda_powertools/event_handler/api_gateway.py
  tests/unit/data_classes/test_api_gateway_authorizer.py
Due: black, ruff

update function description
  aws_lambda_powertools/utilities/idempotency/base.py
  aws_lambda_powertools/utilities/idempotency/idempotency.py
Due: black, ruff

Adding E2E tests (wip)
  aws_lambda_powertools/utilities/data_masking/providers/aws_encryption_sdk.py
  tests/e2e/data_masking/__init__.py
  tests/e2e/data_masking/conftest.py
  tests/e2e/data_masking/handlers/basic_handler.py
  tests/e2e/data_masking/infrastructure.py
  tests/e2e/data_masking/test_data_masking.py
Due: black, ruff

Added data_masking constants, made into BaseProvider and added types
  aws_lambda_powertools/shared/constants.py
  aws_lambda_powertools/utilities/data_masking/base.py
  aws_lambda_powertools/utilities/data_masking/constants.py
  aws_lambda_powertools/utilities/data_masking/provider.py
  aws_lambda_powertools/utilities/data_masking/providers/aws_encryption_sdk.py
  tests/e2e/data_masking/test_data_masking.py
  tests/unit/data_masking/setup.py
  tests/unit/data_masking/test_data_masking.py
Due: black, ruff

Add check for encryption_context in Encryption SDK
  aws_lambda_powertools/utilities/data_masking/base.py
  aws_lambda_powertools/utilities/data_masking/provider.py
  aws_lambda_powertools/utilities/data_masking/providers/aws_encryption_sdk.py
  tests/e2e/data_masking/test_data_masking.py
  tests/functional/data_masking/test_aws_encryption_sdk.py
Due: black, ruff

Deployed 62cc2519 to develop with MkDocs 1.5.2 and mike 1.1.2
  develop/changelog/index.html
  develop/search/search_index.json
  develop/sitemap.xml.gz
Due: none

Fixing enc_context e2e tests
  tests/e2e/data_masking/test_data_masking.py
Due: black, ruff

Path conditions:
  black: any of: \.py$
  ruff: any of: \.py$
  cloudformation: any of: examples/.* and \.(yaml|yml)$
