Repository aws-powertools/powertools-lambda-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff, cloudformation

.pre-commit-config.yaml:

# We use poetry to run formatting and linting before commit/push
# Longer checks such as tests, security and complexity baseline
# are run as part of CI to prevent slower feedback loop
# All checks can be run locally via `make pr`

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: "f71fa2c1f9cf5cb705f73dffe4b21f7c61470ba9" # v4.4.0
    hooks:
      - id: check-merge-conflict
      - id: trailing-whitespace
      - id: check-toml
  - repo: local
    hooks:
      - id: black
        name: formatting::black
        entry: poetry run black
        language: system
        types: [python]
      - id: ruff
        name: linting-format::ruff
        entry: poetry run ruff
        language: system
        types: [python]
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: "ce0d77ac47dc921b62429804fe763d4d35f66a76" # v0.34.0
    hooks:
      - id: markdownlint-docker
        args: ["--fix"]
  - repo: local
    hooks:
      - id: cloudformation
        name: linting::cloudformation
        entry: poetry run cfn-lint
        language: system
        types: [yaml]
        files: examples/.*
  - repo: https://github.com/rhysd/actionlint
    rev: "fd7ba3c382e13dcc0248e425b4cbc3f1185fa3ee" # v1.6.24
    hooks:
      - id: actionlint-docker
        args: [-pyflakes=]
  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: 3420134c37197c21edffc7e6093b14ffae8402f2 # v1.81.0
    hooks:
      - id: terraform_fmt
        args:
          - --args=-recursive
  - repo: https://github.com/gitleaks/gitleaks
    rev: "7804d652c0460f0b61ea9bb2c1f202bfcdbbf144" # v8.16.3
    hooks:
      - id: gitleaks

Merging from develop
  poetry.lock
  pyproject.toml
Due: none

Merging from develop
  examples/event_handler_bedrock_agents/cdk/bedrock_agent_stack.py
Due: black, ruff

chore(ci): add the aws-encryption-sdk dependency in the Lambda layer (#4630)
  examples/event_handler_bedrock_agents/cdk/bedrock_agent_stack.py
  poetry.lock
  pyproject.toml
Due: black, ruff

chore(ci): new pre-release 2.39.2a5
  aws_lambda_powertools/shared/version.py
  provenance/2.39.2a5/multiple.intoto.jsonl
  pyproject.toml
Due: black, ruff

chore(ci): changelog rebuild
  CHANGELOG.md
Due: none

bug(event_handler): fix cors no origin bug
  aws_lambda_powertools/event_handler/api_gateway.py
Due: black, ruff

create functional test
  tests/functional/event_handler/required_dependencies/test_api_gateway.py
Due: black, ruff

Downgrading CDK
  package-lock.json
  package.json
  poetry.lock
  pyproject.toml
Due: none

chore(layers): downgrade aws cdk to 2.145.0 (#4640)
  package-lock.json
  package.json
  poetry.lock
  pyproject.toml
Due: none

chore: version bump
  aws_lambda_powertools/shared/version.py
  pyproject.toml
Due: black, ruff

chore(ci): bump version to 2.40.0
  aws_lambda_powertools/shared/version.py
  pyproject.toml
Due: black, ruff

chore(ci): layer docs update
  CHANGELOG.md
  docs/index.md
  examples/logger/sam/template.yaml
  examples/metrics/sam/template.yaml
  examples/tracer/sam/template.yaml
Due: cloudformation

Deployed 7eacda1d to develop with MkDocs 1.6.0 and mike 2.1.2
  develop/changelog/index.html
  develop/core/logger/index.html
  develop/core/metrics/index.html
  develop/core/tracer/index.html
  develop/index.html
  develop/search/search_index.json
  develop/sitemap.xml.gz
Due: none

Deployed c5bde107 to develop with MkDocs 1.6.0 and mike 2.1.2
  develop/changelog/index.html
  develop/search/search_index.json
Due: none

Deployed c5bde107 to 2.40.0 with MkDocs 1.6.0 and mike 2.1.2
  2.40.0/changelog/index.html
  2.40.0/search/search_index.json
Due: none

chore(ci): new pre-release 2.40.1a0
  aws_lambda_powertools/shared/version.py
  provenance/2.40.1a0/multiple.intoto.jsonl
  pyproject.toml
Due: black, ruff

Fix a regression in AppSyncResolver
  aws_lambda_powertools/event_handler/appsync.py
  aws_lambda_powertools/event_handler/graphql_appsync/router.py
  tests/events/appSyncBatchEvent.json
  tests/functional/event_handler/required_dependencies/appsync/test_appsync_batch_resolvers.py
  tests/functional/event_handler/required_dependencies/appsync/test_appsync_single_resolvers.py
Due: black, ruff

Deployed a8f988d6 to develop with MkDocs 1.6.0 and mike 2.1.2
  develop/changelog/index.html
  develop/search/search_index.json
  develop/sitemap.xml.gz
Due: none

Fix a regression in AppSyncResolver
  aws_lambda_powertools/event_handler/appsync.py
Due: black, ruff

Fix a regression in AppSyncResolver
  tests/events/appSyncBatchEvent.json
  tests/functional/event_handler/required_dependencies/appsync/test_appsync_single_resolvers.py
Due: black, ruff

fix(event_handler): current_event regression AppSyncResolver Router (#4652)
  aws_lambda_powertools/event_handler/appsync.py
  aws_lambda_powertools/event_handler/graphql_appsync/router.py
  tests/events/appSyncBatchEvent.json
  tests/functional/event_handler/required_dependencies/appsync/test_appsync_batch_resolvers.py
  tests/functional/event_handler/required_dependencies/appsync/test_appsync_single_resolvers.py
Due: black, ruff

chore(ci): new pre-release 2.40.1a1
  aws_lambda_powertools/shared/version.py
  provenance/2.40.1a1/multiple.intoto.jsonl
  pyproject.toml
Due: black, ruff

chore(ci): bump version to 2.40.1
  aws_lambda_powertools/shared/version.py
  pyproject.toml
Due: black, ruff

Deployed 7f4c3e89 to develop with MkDocs 1.6.0 and mike 2.1.2
  develop/changelog/index.html
  develop/core/logger/index.html
  develop/core/metrics/index.html
  develop/core/tracer/index.html
  develop/index.html
  develop/search/search_index.json
Due: none

Making Ruff happy
  .pre-commit-config.yaml
  tests/functional/logger/required_dependencies/test_logger_utils.py
Due: black, ruff

fix cors
  aws_lambda_powertools/event_handler/api_gateway.py
  tests/functional/event_handler/required_dependencies/test_api_gateway.py
Due: black, ruff

fix test structure
  tests/functional/event_handler/required_dependencies/test_api_gateway.py
Due: black, ruff

add test event
  tests/events/apiGatewayProxyEventNoOrigin.json
Due: none

Deployed be7a4cc6 to develop with MkDocs 1.6.0 and mike 2.1.2
  develop/changelog/index.html
  develop/search/search_index.json
  develop/sitemap.xml.gz
Due: none

fix(event_handler): custom serializer recursive values
  aws_lambda_powertools/event_handler/openapi/encoders.py
  tests/functional/event_handler/_pydantic/test_openapi_encoders.py
Due: black, ruff

chore(ci): new pre-release 2.40.2a0
  aws_lambda_powertools/shared/version.py
  provenance/2.40.2a0/multiple.intoto.jsonl
  pyproject.toml
Due: black, ruff

Deployed f33495a7 to develop with MkDocs 1.6.0 and mike 2.1.2
  develop/changelog/index.html
  develop/search/search_index.json
  develop/sitemap.xml.gz
Due: none
