Repository aws-powertools/powertools-lambda-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, flake8

.pre-commit-config.yaml:

# We use poetry to run formatting and linting before commit/push
# Longer checks such as tests, security and complexity baseline
# are run as part of CI to prevent slower feedback loop
# All checks can be run locally via `make pr`

repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v2.4.0
      hooks:
          - id: check-merge-conflict
          - id: trailing-whitespace
          - id: end-of-file-fixer
          - id: check-toml
    - repo: local
      hooks:
          - id: black
            name: formatting::black
            entry: poetry run black
            language: system
            types: [python]
          - id: isort
            name: formatting::isort
            entry: poetry run isort
            language: system
            types: [python]
    - repo: local
      hooks:
          - id: flake8
            name: linting::flake8
            entry: poetry run flake8
            language: system
            types: [python]
            exclude: example

fix(event-handler): ALB requires empty body but null for CORS preflight
  aws_lambda_powertools/event_handler/api_gateway.py
  tests/functional/event_handler/test_api_gateway.py
Due: black, isort, flake8

fix(event-handler): body to empty string in CORS preflight (ALB non-compliant) (#1249)
  aws_lambda_powertools/event_handler/api_gateway.py
  tests/functional/event_handler/test_api_gateway.py
Due: black, isort, flake8

chore(governance): fix workflow action requirements & syntax
  .github/workflows/on_merged_pr.yml
  .github/workflows/on_opened_pr.yml
Due: none

chore: bump to 1.26.2
  CHANGELOG.md
  pyproject.toml
Due: none

chore(layers): bump to 21 for 1.26.2
  docs/index.md
Due: none

fix(perf): retry tests in rare old CI machines
  poetry.lock
  pyproject.toml
  tests/performance/conftest.py
  tests/performance/test_high_level_imports.py
Due: black, isort, flake8

fix(perf): use pytest-benchmark for more reliable timers
  poetry.lock
  pyproject.toml
  tests/performance/test_high_level_imports.py
Due: black, isort, flake8

chore(test-perf): use pytest-benchmark to improve reliability (#1250)
  poetry.lock
  pyproject.toml
  tests/performance/conftest.py
  tests/performance/test_high_level_imports.py
Due: black, isort, flake8

chore(governance): fix on_merged_pr workflow syntax
  .github/workflows/on_merged_pr.yml
Due: none

fix(batch): handle when child_exceptions is None
  aws_lambda_powertools/utilities/batch/exceptions.py
  tests/functional/test_utilities_batch.py
Due: black, isort, flake8

Update .github/workflows/run-e2e-tests.yml
  .github/workflows/run-e2e-tests.yml
Due: none

Update MAINTAINERS.md
  MAINTAINERS.md
Due: none

Update tests/e2e/utils/helpers.py
  tests/e2e/utils/helpers.py
Due: black, isort, flake8

docs(lint): initial markdownlint config
  .markdownlint.yaml
Due: none

docs(lint): ignore minimum structure for typing doc
  docs/utilities/typing.md
Due: none

docs(lint): adjust markdownlint to our current conventions
  .markdownlint.yaml
  docs/changelog.md
  docs/core/event_handler/api_gateway.md
  docs/core/event_handler/appsync.md
  docs/core/logger.md
  docs/core/metrics.md
  docs/core/tracer.md
  docs/index.md
  docs/roadmap.md
  docs/tutorial/index.md
  docs/utilities/batch.md
  docs/utilities/feature_flags.md
  docs/utilities/idempotency.md
  docs/utilities/jmespath_functions.md
  docs/utilities/parameters.md
  docs/utilities/parser.md
  docs/utilities/validation.md
Due: none

docs(lint): include Makefile target for CI
  Makefile
Due: none

docs(lint): sync CI and local pre-commit
  .pre-commit-config.yaml
  Makefile
Due: none

docs(lint): disable required heading in homepage
  docs/index.md
Due: none

fix(ci): reusable workflow secrets param
  .github/workflows/export_pr_details.yml
Due: none

feat(ci): include docs markdown linting
  .github/workflows/python_docs.yml
Due: none

feat(ci): include docs linting in make pr
  Makefile
Due: none

fix(ci): remove utf-8 body in octokit body req
  .github/workflows/on_opened_pr.yml
Due: none

feat(ci): include docs linting in make pr
  Makefile
  docs/core/event_handler/api_gateway.md
Due: none

docs(lint): add markdownlint rules and automation (#1256)
  .github/workflows/python_docs.yml
  .markdownlint.yaml
  .pre-commit-config.yaml
  Makefile
  docs/changelog.md
  docs/core/event_handler/api_gateway.md
  docs/core/event_handler/appsync.md
  docs/core/logger.md
  docs/core/metrics.md
  docs/core/tracer.md
  docs/index.md
  docs/roadmap.md
  docs/tutorial/index.md
  docs/utilities/batch.md
  docs/utilities/feature_flags.md
  docs/utilities/idempotency.md
  docs/utilities/jmespath_functions.md
  docs/utilities/parameters.md
  docs/utilities/parser.md
  docs/utilities/typing.md
  docs/utilities/validation.md
Due: none

docs(tracer): split initial example
  docs/core/tracer.md
  examples/tracer/src/capture_lambda_handler.py
  examples/tracer/template.yaml
Due: black, isort

chore(ci): rebuild doc to include examples' changes
  .github/workflows/python_docs.yml
Due: none

chore: add cfn-lint in pre-commit
  .pre-commit-config.yaml
Due: none

feat(ci): include examples folder in linting/fmt
  Makefile
Due: none

feature(parser): handle when email_validator package is not present for SES model (#998)
  aws_lambda_powertools/utilities/parser/models/ses.py
Due: black, isort, flake8

fix(pre-commit): ensure flake8 includes examples
  .pre-commit-config.yaml
Due: none

fix(ci): quote prBody GH expr on_opened_pr
  .github/workflows/on_opened_pr.yml
Due: none

feat(ci): include cfn-lint in docs workflow
  .github/workflows/python_docs.yml
Due: none

chore: move to approach B for multiple IaC
  examples/tracer/sam/.aws-sam/build.toml
  examples/tracer/sam/template.yaml
Due: none

docs(tracer): split and lint code snippets (#1260)
  .github/workflows/python_docs.yml
  .pre-commit-config.yaml
  Makefile
  docs/core/tracer.md
  examples/tracer/src/capture_lambda_handler.py
  examples/tracer/template.yaml
Due: black, isort

chore: add sam build gitignore
  .gitignore
Due: none

chore: move to approach B for multiple IaC
  examples/tracer/sam/template.yaml
Due: none

chore: add sam build gitignore v2
  .gitignore
Due: none
