Repository aws-powertools/powertools-lambda-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, flake8, cloudformation

black:
  name: formatting::black
  entry: poetry run black
  language: system

isort:
  name: formatting::isort
  entry: poetry run isort
  language: system

flake8:
  name: linting::flake8
  entry: poetry run flake8
  language: system

cloudformation:
  name: linting::cloudformation
  entry: poetry run cfn-lint
  language: system

optimize docstring
  aws_lambda_powertools/metrics/provider/datadog_provider_draft.py
Due: black, isort, flake8

chore: version bump
  pyproject.toml
Due: none

chore(ci): bump version to 2.16.0
  pyproject.toml
Due: none

chore(ci): changelog rebuild
  CHANGELOG.md
Due: none

fix: don't crash on old botocore versions
  aws_lambda_powertools/shared/user_agent.py
Due: black, isort, flake8

fix(shared): skip user agent on much older botocore versions (#2366)
  aws_lambda_powertools/shared/user_agent.py
Due: black, isort, flake8

chore(ci): bump version to 2.16.1
  pyproject.toml
Due: none

chore(ci): layer docs update
  CHANGELOG.md
  docs/index.md
  examples/logger/sam/template.yaml
  examples/metrics/sam/template.yaml
  examples/tracer/sam/template.yaml
Due: cloudformation

fix(parameters): fix appconfig provider
  aws_lambda_powertools/utilities/parameters/appconfig.py
  docs/utilities/parameters.md
  tests/functional/test_utilities_parameters.py
Due: black, isort, flake8

chore: peer review feedback
  tests/functional/test_utilities_parameters.py
Due: black, isort, flake8

docs(parameters): peer review active voice
  docs/utilities/parameters.md
Due: none

fix(parameters): AppConfigProvider when retrieving multiple unique configuration names (#2378)
  aws_lambda_powertools/utilities/parameters/appconfig.py
  docs/utilities/parameters.md
  tests/functional/test_utilities_parameters.py
Due: black, isort, flake8

fix(ci): make SAR Layer deployments dependant on canaries
  .github/workflows/publish_v2_layer.yml
Due: none

chore: document publish layer workflow
  .github/workflows/publish_v2_layer.yml
Due: none

chore: document sar workflow
  .github/workflows/reusable_deploy_v2_sar.yml
Due: none

chore: wip layer workflow docs
  .github/workflows/publish_v2_layer.yml
  .github/workflows/reusable_deploy_v2_layer_stack.yml
Due: none

fix: move to static version bump
  Makefile
  aws_lambda_powertools/shared/version.py
  pyproject.toml
Due: black, isort, flake8

chore: add version.py in git tag and version bump PR
  .github/workflows/release.yml
Due: none

chore: remove importlib-metadata dep
  poetry.lock
  pyproject.toml
Due: none

fix(shared): move to static version bumping to prevent issues with customers custom builds (#2386)
  .github/workflows/release.yml
  Makefile
  aws_lambda_powertools/shared/version.py
  poetry.lock
  pyproject.toml
Due: black, isort, flake8

chore: add methods for static checkers inference
  aws_lambda_powertools/logging/logger.py
Due: black, isort, flake8

chore(typing): add setLevel and addHandler to Logger for mypy/pyright (#2388)
  aws_lambda_powertools/logging/logger.py
Due: black, isort, flake8

chore(ci): bump version to 2.16.2
  aws_lambda_powertools/shared/version.py
  pyproject.toml
Due: black, isort, flake8

chore: version bump
  aws_lambda_powertools/shared/version.py
  pyproject.toml
Due: black, isort, flake8

chore: document layer deploy workflow
  .github/workflows/reusable_deploy_v2_layer_stack.yml
Due: none

chore: document changelog workflow
  .github/workflows/build_changelog.yml
  .github/workflows/reusable_publish_changelog.yml
Due: none

Path conditions:
  black: any of: \.py$
  isort: any of: \.py$
  flake8: any of: \.py$
  cloudformation: any of: examples/.* and \.(yaml|yml)$
