Repository aws-powertools/powertools-lambda-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, flake8, cloudformation

black:
  name: formatting::black
  entry: poetry run black
  language: system

isort:
  name: formatting::isort
  entry: poetry run isort
  language: system

flake8:
  name: linting::flake8
  entry: poetry run flake8
  language: system

cloudformation:
  name: linting::cloudformation
  entry: poetry run cfn-lint
  language: system

Add negative functional tests for SqsS3EventNotificationModel
  tests/functional/parser/test_sqs_s3_event_notification.py
Due: black, isort, flake8

feat(parameters): Configure max_age and decrypt parameters via environment variables (#2088)
  aws_lambda_powertools/shared/constants.py
  aws_lambda_powertools/shared/functions.py
  aws_lambda_powertools/utilities/parameters/appconfig.py
  aws_lambda_powertools/utilities/parameters/base.py
  aws_lambda_powertools/utilities/parameters/secrets.py
  aws_lambda_powertools/utilities/parameters/ssm.py
  docs/index.md
  docs/utilities/parameters.md
  tests/functional/test_utilities_parameters.py
  tests/unit/test_shared_functions.py
Due: black, isort, flake8

update changelog with latest changes
  CHANGELOG.md
Due: none

bump version to 2.13.0
  pyproject.toml
Due: none

fix(ci): use project's CDK version when building layers
  .github/workflows/publish_v2_layer.yml
  .github/workflows/reusable_deploy_v2_layer_stack.yml
Due: none

fix(ci): add debug log to NPM install
  .github/workflows/publish_v2_layer.yml
Due: none

fix(ci): fix working directory
  .github/workflows/publish_v2_layer.yml
  .github/workflows/reusable_deploy_v2_layer_stack.yml
Due: none

Explicitly import local method
  tests/functional/parser/test_sqs_s3_event_notification.py
Due: black, isort, flake8

chore: update v2 layer ARN on documentation
  docs/index.md
Due: none

fix(ci): replace the correct files for Layer ARN
  .github/workflows/reusable_update_v2_layer_arn_docs.yml
  layer/scripts/update_layer_arn.sh
Due: none

chore(ci): add support for x86-64 regions only
  .github/workflows/reusable_deploy_v2_layer_stack.yml
  layer/app.py
  layer/layer/canary_stack.py
  layer/layer/layer_stack.py
  layer/poetry.lock
  layer/pyproject.toml
Due: black, isort, flake8

fix: re-add None return type
  layer/layer/layer_stack.py
Due: black, isort, flake8

chore(ci): add support for x86-64 regions only (#2122)
  .github/workflows/reusable_deploy_v2_layer_stack.yml
  layer/app.py
  layer/layer/canary_stack.py
  layer/layer/layer_stack.py
  layer/poetry.lock
  layer/pyproject.toml
Due: black, isort, flake8

fix(ci): typo
  layer/layer/layer_stack.py
Due: black, isort, flake8

chore(layer): change layer-balance script to support new regions
  layer/scripts/layer-balancer/go.mod
  layer/scripts/layer-balancer/go.sum
  layer/scripts/layer-balancer/main.go
Due: none

fix(docs): add Layer ARN for new 5 regions
  docs/index.md
Due: none

fix(layers): add debug to update layer arn script
  layer/scripts/update_layer_arn.sh
Due: none

fix(ci): fix layer version in tracer, logger and metrics
  examples/logger/sam/template.yaml
  examples/metrics/sam/template.yaml
  examples/tracer/sam/template.yaml
Due: cloudformation

Revert "chore: update v2 layer ARN on documentation"
  docs/index.md
Due: none

chore: add new tech debt template
  .github/ISSUE_TEMPLATE/tech_debt.yml
Due: none

chore: sync up maintenance template with tech debt template
  .github/ISSUE_TEMPLATE/maintenance.yml
Due: none

docs: add tech-debt label in maintainers playbook
  MAINTAINERS.md
Due: none

chore(github): new tech debt issue form (#2131)
  .github/ISSUE_TEMPLATE/tech_debt.yml
  MAINTAINERS.md
Due: none

feat: add support for python 3.10
  .github/workflows/run-e2e-tests.yml
  package-lock.json
  package.json
  poetry.lock
  pyproject.toml
  tests/e2e/idempotency/handlers/function_thread_safety_handler.py
  tests/e2e/utils/infrastructure.py
Due: black, isort, flake8

fix: add 3.10 to all workflows
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/static_typing.yml
  .github/workflows/publish_v2_layer.yml
  .github/workflows/python_build.yml
  .github/workflows/release.yml
  .github/workflows/reusable_deploy_v2_layer_stack.yml
Due: none

fix: workflow version
  .github/workflows/python_build.yml
  .github/workflows/reusable_publish_docs.yml
  .github/workflows/run-e2e-tests.yml
Due: none

fix: python version
  .github/workflows/python_build.yml
Due: none

fix: bump performance SLA
  tests/performance/test_metrics.py
Due: black, isort, flake8

revert: reverting metrics sla values
  tests/performance/test_metrics.py
Due: black, isort, flake8

fix: addressed comments on PR
  .github/workflows/run-e2e-tests.yml
  tests/e2e/utils/infrastructure.py
Due: black, isort, flake8

fix: bump cdk layer version to support Python 3.10
  layer/poetry.lock
  layer/pyproject.toml
Due: none

feat(runtime): add support for python 3.10 (#2137)
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/static_typing.yml
  .github/workflows/publish_v2_layer.yml
  .github/workflows/python_build.yml
  .github/workflows/release.yml
  .github/workflows/reusable_deploy_v2_layer_stack.yml
  .github/workflows/reusable_publish_docs.yml
  .github/workflows/run-e2e-tests.yml
  layer/poetry.lock
  layer/pyproject.toml
  package-lock.json
  package.json
  poetry.lock
  pyproject.toml
  tests/e2e/idempotency/handlers/function_thread_safety_handler.py
  tests/e2e/utils/infrastructure.py
Due: black, isort, flake8

Path conditions:
  black: any of: \.py$
  isort: any of: \.py$
  flake8: any of: \.py$
  cloudformation: any of: examples/.* and \.(yaml|yml)$
