Repository aws-powertools/powertools-lambda-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff, cloudformation

.pre-commit-config.yaml:

# We use poetry to run formatting and linting before commit/push
# Longer checks such as tests, security and complexity baseline
# are run as part of CI to prevent slower feedback loop
# All checks can be run locally via `make pr`

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: "f71fa2c1f9cf5cb705f73dffe4b21f7c61470ba9" # v4.4.0
    hooks:
      - id: check-merge-conflict
      - id: trailing-whitespace
      - id: check-toml
  - repo: local
    hooks:
      - id: black
        name: formatting::black
        entry: poetry run black
        language: system
        types: [python]
      - id: ruff
        name: linting-format::ruff
        entry: poetry run ruff
        language: system
        types: [python]
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: "ce0d77ac47dc921b62429804fe763d4d35f66a76" # v0.34.0
    hooks:
      - id: markdownlint-docker
        args: ["--fix"]
  - repo: local
    hooks:
      - id: cloudformation
        name: linting::cloudformation
        entry: poetry run cfn-lint
        language: system
        types: [yaml]
        files: examples/.*
  - repo: https://github.com/rhysd/actionlint
    rev: "fd7ba3c382e13dcc0248e425b4cbc3f1185fa3ee" # v1.6.24
    hooks:
      - id: actionlint-docker
        args: [-pyflakes=]
  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: 3420134c37197c21edffc7e6093b14ffae8402f2 # v1.81.0
    hooks:
      - id: terraform_fmt
        args:
          - --args=-recursive
  - repo: https://github.com/gitleaks/gitleaks
    rev: "7804d652c0460f0b61ea9bb2c1f202bfcdbbf144" # v8.16.3
    hooks:
      - id: gitleaks

Deployed a0841c23 to develop with MkDocs 1.5.2 and mike 1.1.2
  develop/changelog/index.html
  develop/core/logger/index.html
  develop/core/metrics/index.html
  develop/core/tracer/index.html
  develop/index.html
  develop/search/search_index.json
  develop/sitemap.xml.gz
Due: none

Added 1024MB funcs and load tested with them
  tests/performance/data_masking/data_masking_load_test.yaml
  tests/performance/data_masking/load_test_data_masking/pt-load-test-stack/nonsingleton_1024/__init__.py
  tests/performance/data_masking/load_test_data_masking/pt-load-test-stack/nonsingleton_1024/app.py
  tests/performance/data_masking/load_test_data_masking/pt-load-test-stack/nonsingleton_1024/requirements.txt
  tests/performance/data_masking/load_test_data_masking/pt-load-test-stack/singleton_1024/__init__.py
  tests/performance/data_masking/load_test_data_masking/pt-load-test-stack/singleton_1024/app.py
  tests/performance/data_masking/load_test_data_masking/pt-load-test-stack/singleton_1024/requirements.txt
  tests/performance/data_masking/load_test_data_masking/pt-load-test-stack/template.yaml
Due: black, ruff

chore(ci): changelog rebuild
  CHANGELOG.md
Due: none

Deployed f92f63f3 to develop with MkDocs 1.5.2 and mike 1.1.2
  develop/Dockerfile
  develop/sitemap.xml.gz
Due: none

Deployed f217c280 to develop with MkDocs 1.5.2 and mike 1.1.2
  develop/changelog/index.html
  develop/search/search_index.json
  develop/sitemap.xml.gz
Due: none

docs: add roadmap item
  docs/contributing/getting_started.md
Due: none

docs: update roadmap end of sept
  docs/roadmap.md
Due: none

docs: hide final structure
  docs/contributing/documentation/api_guide.md
  docs/contributing/documentation/tutorials.md
  docs/contributing/documentation/user_guide.md
  docs/contributing/index.md
  docs/contributing/testing/e2e_tests.md
  docs/contributing/testing/functional_tests.md
  docs/contributing/testing/unit_tests.md
  docs/contributing/tracks/casual_regular_contributor.md
  docs/contributing/tracks/customer_advocate.md
  docs/contributing/tracks/overview.md
  mkdocs.yml
Due: none

add redis
  poetry.lock
Due: none

Deployed b90891d3 to develop with MkDocs 1.5.2 and mike 1.1.2
  develop/Dockerfile
  develop/sitemap.xml.gz
Due: none

couple of modifications
  aws_lambda_powertools/utilities/parameters/ssm.py
Due: black, ruff

forgot to remove this here
  aws_lambda_powertools/utilities/parameters/ssm.py
Due: black, ruff

fix
  aws_lambda_powertools/utilities/parameters/secrets.py
Due: black, ruff

Removed orchestrator function and test since same test in E2E
  tests/performance/data_masking/data_masking_load_test.yaml
  tests/performance/data_masking/load_test_data_masking/pt-load-test-stack/singleton_1024/app.py
  tests/performance/data_masking/load_test_data_masking/pt-load-test-stack/singleton_128/app.py
  tests/performance/data_masking/load_test_data_masking/pt-load-test-stack/template.yaml
Due: black, ruff

Deployed 735d3ee5 to develop with MkDocs 1.5.2 and mike 1.1.2
  develop/changelog/index.html
  develop/search/search_index.json
  develop/sitemap.xml.gz
Due: none

Removed singleton class from code and load and e2e tests
  aws_lambda_powertools/utilities/data_masking/providers/aws_encryption_sdk.py
  tests/e2e/data_masking/test_data_masking.py
  tests/performance/data_masking/data_masking_load_test.yaml
  tests/performance/data_masking/load_test_data_masking/pt-load-test-stack/function_1024/__init__.py
  tests/performance/data_masking/load_test_data_masking/pt-load-test-stack/function_1024/app.py
  tests/performance/data_masking/load_test_data_masking/pt-load-test-stack/function_1024/requirements.txt
  tests/performance/data_masking/load_test_data_masking/pt-load-test-stack/function_128/__init__.py
  tests/performance/data_masking/load_test_data_masking/pt-load-test-stack/function_128/app.py
  tests/performance/data_masking/load_test_data_masking/pt-load-test-stack/function_128/requirements.txt
  tests/performance/data_masking/load_test_data_masking/pt-load-test-stack/function_1769/__init__.py
  tests/performance/data_masking/load_test_data_masking/pt-load-test-stack/function_1769/app.py
  tests/performance/data_masking/load_test_data_masking/pt-load-test-stack/function_1769/requirements.txt
  tests/performance/data_masking/load_test_data_masking/pt-load-test-stack/nonsingleton_1024/app.py
  tests/performance/data_masking/load_test_data_masking/pt-load-test-stack/nonsingleton_128/app.py
  tests/performance/data_masking/load_test_data_masking/pt-load-test-stack/singleton_1024/__init__.py
  tests/performance/data_masking/load_test_data_masking/pt-load-test-stack/singleton_1024/requirements.txt
  tests/performance/data_masking/load_test_data_masking/pt-load-test-stack/singleton_128/__init__.py
  tests/performance/data_masking/load_test_data_masking/pt-load-test-stack/singleton_128/app.py
  tests/performance/data_masking/load_test_data_masking/pt-load-test-stack/singleton_128/requirements.txt
  tests/performance/data_masking/load_test_data_masking/pt-load-test-stack/singleton_1769/__init__.py
  tests/performance/data_masking/load_test_data_masking/pt-load-test-stack/singleton_1769/requirements.txt
  tests/performance/data_masking/load_test_data_masking/pt-load-test-stack/template.yaml
  tests/performance/data_masking/load_test_data_masking/pt-load-test-stack/tests/__init__.py
  tests/performance/data_masking/load_test_data_masking/pt-load-test-stack/tests/requirements.txt
  tests/performance/data_masking/load_test_data_masking/pt-load-test-stack/tests/unit/__init__.py
  tests/performance/data_masking/load_test_data_masking/pt-load-test-stack/tests/unit/test_handler.py
Due: black, ruff

Fix linting errors
  aws_lambda_powertools/utilities/data_masking/base.py
  aws_lambda_powertools/utilities/data_masking/provider.py
Due: black, ruff

Added optional stack trace to exception logging. Issue 1268
  aws_lambda_powertools/logging/formatter.py
  aws_lambda_powertools/shared/constants.py
Due: black, ruff

Fix mypy errors
  aws_lambda_powertools/utilities/data_masking/provider.py
Due: black, ruff

Modified data masking test names
  tests/e2e/data_masking/test_e2e_data_masking.py
  tests/performance/data_masking/test_perf_data_masking.py
  tests/unit/data_masking/test_unit_data_masking.py
Due: black, ruff

Fix dummy KMS key for correct parsing
  tests/functional/data_masking/test_aws_encryption_sdk.py
Due: black, ruff

Bumping cryptography library
  poetry.lock
Due: none

Setting default region to avoid HTTP connection
  tests/functional/data_masking/test_aws_encryption_sdk.py
Due: black, ruff

Removing user agent tracking
  aws_lambda_powertools/utilities/data_masking/providers/aws_encryption_sdk.py
Due: black, ruff

Reverting
  aws_lambda_powertools/utilities/data_masking/providers/aws_encryption_sdk.py
Due: black, ruff

add doc, few todos still need to address
  aws_lambda_powertools/utilities/idempotency/exceptions.py
  aws_lambda_powertools/utilities/idempotency/persistence/redis.py
  docs/utilities/idempotency.md
  examples/idempotency/src/getting_started_with_idempotency_redis_client.py
  examples/idempotency/src/getting_started_with_idempotency_redis_config.py
  examples/idempotency/templates/sam_redis_vpc.yaml
  examples/idempotency/tests/test_with_mock_redis.py
  examples/idempotency/tests/test_with_real_redis.py
Due: black, ruff, cloudformation

Deployed e441c0b7 to develop with MkDocs 1.5.2 and mike 1.1.2
  develop/changelog/index.html
  develop/search/search_index.json
  develop/sitemap.xml.gz
Due: none

feat: publish lambda layer to GovCloud regions
  .github/workflows/reusable_deploy_v2_layer_stack.yml
Due: none

Creating a specific provider instead a client to avoid any http call from AWS SDK Encryption lib
  Makefile
  aws_lambda_powertools/utilities/data_masking/__init__.py
  aws_lambda_powertools/utilities/data_masking/base.py
  aws_lambda_powertools/utilities/data_masking/provider/__init__.py
  aws_lambda_powertools/utilities/data_masking/provider/base.py
  aws_lambda_powertools/utilities/data_masking/provider/kms/__init__.py
  aws_lambda_powertools/utilities/data_masking/provider/kms/aws_encryption_sdk.py
  aws_lambda_powertools/utilities/data_masking/providers/__init__.py
  pyproject.toml
  tests/e2e/data_masking/handlers/basic_handler.py
  tests/e2e/data_masking/test_e2e_data_masking.py
  tests/functional/data_masking/conftest.py
  tests/functional/data_masking/test_aws_encryption_sdk.py
  tests/performance/data_masking/load_test_data_masking/pt-load-test-stack/function_1024/app.py
  tests/performance/data_masking/load_test_data_masking/pt-load-test-stack/function_128/app.py
  tests/performance/data_masking/load_test_data_masking/pt-load-test-stack/function_1769/app.py
Due: black, ruff
