Repository aws-powertools/powertools-lambda-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff, cloudformation

.pre-commit-config.yaml:

# We use poetry to run formatting and linting before commit/push
# Longer checks such as tests, security and complexity baseline
# are run as part of CI to prevent slower feedback loop
# All checks can be run locally via `make pr`

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: "f71fa2c1f9cf5cb705f73dffe4b21f7c61470ba9" # v4.4.0
    hooks:
      - id: check-merge-conflict
      - id: trailing-whitespace
      - id: check-toml
  - repo: local
    hooks:
      - id: black
        name: formatting::black
        entry: poetry run black
        language: system
        types: [python]
      - id: ruff
        name: linting-format::ruff
        entry: poetry run ruff
        language: system
        types: [python]
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: "ce0d77ac47dc921b62429804fe763d4d35f66a76" # v0.34.0
    hooks:
      - id: markdownlint-docker
        args: ["--fix"]
  - repo: local
    hooks:
      - id: cloudformation
        name: linting::cloudformation
        entry: poetry run cfn-lint
        language: system
        types: [yaml]
        files: examples/.*
  - repo: https://github.com/rhysd/actionlint
    rev: "fd7ba3c382e13dcc0248e425b4cbc3f1185fa3ee" # v1.6.24
    hooks:
      - id: actionlint-docker
        args: [-pyflakes=]
  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: 3420134c37197c21edffc7e6093b14ffae8402f2 # v1.81.0
    hooks:
      - id: terraform_fmt
        args:
          - --args=-recursive
  - repo: https://github.com/gitleaks/gitleaks
    rev: "7804d652c0460f0b61ea9bb2c1f202bfcdbbf144" # v8.16.3
    hooks:
      - id: gitleaks

chore(ci): changelog rebuild
  CHANGELOG.md
Due: none

fix(event-handler): enable path parameters on Bedrock handler
  aws_lambda_powertools/event_handler/api_gateway.py
  aws_lambda_powertools/event_handler/bedrock_agent.py
  aws_lambda_powertools/utilities/data_classes/bedrock_agent_event.py
  tests/events/bedrockAgentEventWithPathParams.json
  tests/functional/event_handler/test_bedrock_agent.py
Due: black, ruff

Deployed ee007a32 to develop with MkDocs 1.5.3 and mike 1.1.2
  develop/changelog/index.html
  develop/search/search_index.json
  develop/sitemap.xml.gz
Due: none

chore: change default openapi version to 3.0.0
  aws_lambda_powertools/event_handler/openapi/constants.py
Due: black, ruff

fix: unexport Form, File and Header
  aws_lambda_powertools/event_handler/openapi/dependant.py
  aws_lambda_powertools/event_handler/openapi/params.py
  tests/functional/event_handler/test_openapi_params.py
Due: black, ruff

Deployed b926bd1c to develop with MkDocs 1.5.3 and mike 1.1.2
  develop/changelog/index.html
  develop/search/search_index.json
  develop/sitemap.xml.gz
Due: none

fix(event-handler): enable path parameters on Bedrock handler (#3312)
  aws_lambda_powertools/event_handler/api_gateway.py
  aws_lambda_powertools/event_handler/bedrock_agent.py
  aws_lambda_powertools/event_handler/openapi/constants.py
  aws_lambda_powertools/event_handler/openapi/dependant.py
  aws_lambda_powertools/event_handler/openapi/params.py
  aws_lambda_powertools/utilities/data_classes/bedrock_agent_event.py
  tests/events/bedrockAgentEventWithPathParams.json
  tests/functional/event_handler/test_bedrock_agent.py
  tests/functional/event_handler/test_openapi_params.py
Due: black, ruff

chore: version bump
  aws_lambda_powertools/shared/version.py
  pyproject.toml
Due: black, ruff

chore(ci): bump version to 2.26.1
  aws_lambda_powertools/shared/version.py
  pyproject.toml
Due: black, ruff

chore(ci): layer docs update
  CHANGELOG.md
  docs/index.md
  examples/logger/sam/template.yaml
  examples/metrics/sam/template.yaml
  examples/tracer/sam/template.yaml
Due: cloudformation

Deployed 9b5e424c to develop with MkDocs 1.5.3 and mike 1.1.2
  develop/changelog/index.html
  develop/core/logger/index.html
  develop/core/metrics/index.html
  develop/core/tracer/index.html
  develop/index.html
  develop/search/search_index.json
  develop/sitemap.xml.gz
Due: none

add a race condition test for empty record
  tests/functional/idempotency/persistence/test_redis_layer.py
Due: black, ruff

Deployed 7405a39c to develop with MkDocs 1.5.3 and mike 1.1.2
  develop/changelog/index.html
  develop/search/search_index.json
  develop/sitemap.xml.gz
Due: none

Fix mypy errors
  examples/data_masking/src/custom_provider.py
  examples/data_masking/src/data_masking_function_example.py
  examples/data_masking/src/getting_started_encrypt_data.py
  examples/data_masking/src/getting_started_mask_data.py
  examples/data_masking/src/working_with_own_provider.py
  examples/data_masking/tests/src/single_mock.py
Due: black, ruff

Fix mypy
  examples/data_masking/src/custom_data_masking_provider.py
  examples/data_masking/src/working_with_own_provider.py
Due: black, ruff

Remove itsdangerous
  examples/data_masking/src/custom_data_masking_provider.py
Due: black, ruff

fix mypy
  examples/data_masking/src/__init__.py
Due: black, ruff

delete superflous init file
  examples/data_masking/src/__init__.py
Due: black, ruff

Fix mypy
  examples/data_masking/tests/src/single_mock.py
  mypy.ini
Due: black, ruff

Bumping versions
  layer/poetry.lock
  layer/pyproject.toml
  package.json
  poetry.lock
  pyproject.toml
Due: none

Bumping versions
  package-lock.json
Due: none

Deployed 74be7566 to develop with MkDocs 1.5.3 and mike 1.1.2
  develop/changelog/index.html
  develop/search/search_index.json
  develop/sitemap.xml.gz
Due: none

merging from develop
  poetry.lock
Due: none

Adding support to env variables
  aws_lambda_powertools/logging/logger.py
  aws_lambda_powertools/shared/constants.py
  benchmark/template.yaml
  docs/core/logger.md
  docs/index.md
  docs/tutorial/index.md
  examples/batch_processing/sam/dynamodb_batch_processing.yaml
  examples/batch_processing/sam/kinesis_batch_processing.yaml
  examples/batch_processing/sam/sqs_batch_processing.yaml
  examples/event_handler_graphql/sam/template.yaml
  examples/event_handler_lambda_function_url/sam/template.yaml
  examples/event_handler_rest/sam/micro_function_template.yaml
  examples/event_handler_rest/sam/template.yaml
  examples/logger/sam/template.yaml
  examples/logger/src/setting_log_level_programmatically.py
  examples/logger/src/setting_log_level_via_constructor.py
  tests/functional/test_logger.py
  tests/performance/data_masking/load_test_data_masking/pt-load-test-stack/template.yaml
Due: black, ruff, cloudformation

Adding support to env variables
  examples/middleware_factory/sam/combining_powertools_utilities_template.yaml
Due: cloudformation

feat(logger): Adding support to new env variables (#3348)
  aws_lambda_powertools/logging/logger.py
  aws_lambda_powertools/shared/constants.py
  benchmark/template.yaml
  docs/core/logger.md
  docs/index.md
  docs/tutorial/index.md
  examples/batch_processing/sam/dynamodb_batch_processing.yaml
  examples/batch_processing/sam/kinesis_batch_processing.yaml
  examples/batch_processing/sam/sqs_batch_processing.yaml
  examples/event_handler_graphql/sam/template.yaml
  examples/event_handler_lambda_function_url/sam/template.yaml
  examples/event_handler_rest/sam/micro_function_template.yaml
  examples/event_handler_rest/sam/template.yaml
  examples/logger/sam/template.yaml
  examples/logger/src/setting_log_level_programmatically.py
  examples/logger/src/setting_log_level_via_constructor.py
  examples/middleware_factory/sam/combining_powertools_utilities_template.yaml
  tests/functional/test_logger.py
  tests/performance/data_masking/load_test_data_masking/pt-load-test-stack/template.yaml
Due: black, ruff, cloudformation
