Repository aws-powertools/powertools-lambda-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff, cloudformation

.pre-commit-config.yaml:

# We use poetry to run formatting and linting before commit/push
# Longer checks such as tests, security and complexity baseline
# are run as part of CI to prevent slower feedback loop
# All checks can be run locally via `make pr`

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: "f71fa2c1f9cf5cb705f73dffe4b21f7c61470ba9" # v4.4.0
    hooks:
      - id: check-merge-conflict
      - id: trailing-whitespace
      - id: check-toml
  - repo: local
    hooks:
      - id: black
        name: formatting::black
        entry: poetry run black
        language: system
        types: [python]
      - id: ruff
        name: linting-format::ruff
        entry: poetry run ruff
        language: system
        types: [python]
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: "ce0d77ac47dc921b62429804fe763d4d35f66a76" # v0.34.0
    hooks:
      - id: markdownlint-docker
        args: ["--fix"]
  - repo: local
    hooks:
      - id: cloudformation
        name: linting::cloudformation
        entry: poetry run cfn-lint
        language: system
        types: [yaml]
        files: examples/.*
  - repo: https://github.com/rhysd/actionlint
    rev: "fd7ba3c382e13dcc0248e425b4cbc3f1185fa3ee" # v1.6.24
    hooks:
      - id: actionlint-docker
        args: [-pyflakes=]
  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: 3420134c37197c21edffc7e6093b14ffae8402f2 # v1.81.0
    hooks:
      - id: terraform_fmt
        args:
          - --args=-recursive
  - repo: https://github.com/gitleaks/gitleaks
    rev: "7804d652c0460f0b61ea9bb2c1f202bfcdbbf144" # v8.16.3
    hooks:
      - id: gitleaks

Deployed 0623d087 to develop with MkDocs 1.6.1 and mike 2.1.3
  develop/Dockerfile
Due: none

Revert regression in v3 when raising ValidationError
  aws_lambda_powertools/utilities/parser/parser.py
  tests/functional/parser/test_parser.py
Due: black, ruff

chore(ci): new pre-release 3.0.1a2
  aws_lambda_powertools/shared/version.py
  provenance/3.0.1a2/multiple.intoto.jsonl
  pyproject.toml
Due: black, ruff

chore(ci): changelog rebuild
  CHANGELOG.md
Due: none

feat(ci): GovCloud Layer Workflow
  .github/workflows/layer_govcloud.yml
Due: none

Getting baseline thread safe keys working
  aws_lambda_powertools/logging/formatter.py
  aws_lambda_powertools/logging/logger.py
Due: black, ruff

Functional tests for thread safe keys
  aws_lambda_powertools/logging/formatter.py
  tests/functional/logger/required_dependencies/test_logger_powertools_formatter.py
Due: black, ruff

Small fixes to docs
  docs/core/logger.md
Due: none

Fixing type annotations for THREAD_LOCAL_KEYS
  aws_lambda_powertools/logging/formatter.py
Due: black, ruff

Cleaning up PR
  docs/core/logger.md
  poetry.toml
Due: none

Updating documentation
  docs/core/logger.md
  examples/logger/src/append_thread_local_keys.py
  examples/logger/src/append_thread_local_keys_output.json
  examples/logger/src/clear_thread_local_keys.py
  examples/logger/src/clear_thread_local_keys_output.json
  examples/logger/src/remove_thread_local_keys.py
  examples/logger/src/remove_thread_local_keys_output.json
Due: black, ruff

Clearing thread local keys with clear_state=True
  aws_lambda_powertools/logging/logger.py
  poetry.toml
Due: black, ruff

Replacing '|' with {**dict1, **dict2} due to support of Python < 3.9
  aws_lambda_powertools/logging/formatter.py
Due: black, ruff

Small fixes for linting
  aws_lambda_powertools/logging/formatter.py
  examples/logger/src/append_thread_local_keys.py
  examples/logger/src/clear_thread_local_keys.py
  examples/logger/src/remove_thread_local_keys.py
Due: black, ruff

Cleanup
  aws_lambda_powertools/logging/formatter.py
  tests/functional/logger/required_dependencies/test_logger_powertools_formatter.py
Due: black, ruff

fix types from v2 to v3
  aws_lambda_powertools/logging/formatter.py
  aws_lambda_powertools/logging/logger.py
Due: black, ruff

fix(idempotency): fix response hook invocation when function returns None (#5251)
  aws_lambda_powertools/utilities/idempotency/base.py
  tests/e2e/idempotency/handlers/response_hook.py
  tests/e2e/idempotency/infrastructure.py
  tests/e2e/idempotency/test_idempotency_dynamodb.py
  tests/e2e/idempotency_redis/handlers/response_hook.py
  tests/e2e/idempotency_redis/test_idempotency_redis.py
  tests/functional/idempotency/_boto3/test_idempotency.py
Due: black, ruff

fix(parser): revert a regression in v3 when raising ValidationError (#5259)
  aws_lambda_powertools/utilities/parser/parser.py
  tests/functional/parser/test_parser.py
Due: black, ruff

changed parser documentation
  docs/utilities/parser.md
Due: none

docs(metrics): fix test references
  docs/core/metrics.md
  docs/core/metrics/datadog.md
Due: none

docs(metrics): fix test references (#5265)
  docs/core/metrics.md
  docs/core/metrics/datadog.md
Due: none

Deployed 5665d439 to develop with MkDocs 1.6.1 and mike 2.1.3
  develop/core/metrics/datadog/index.html
  develop/core/metrics/index.html
  develop/sitemap.xml.gz
Due: none

chore(ci): new pre-release 3.0.1a3
  aws_lambda_powertools/shared/version.py
  provenance/3.0.1a3/multiple.intoto.jsonl
  pyproject.toml
Due: black, ruff

add description
  .github/workflows/layer_govcloud.yml
Due: none

Deployed 70edcf0f to develop with MkDocs 1.6.1 and mike 2.1.3
  develop/changelog/index.html
  develop/search/search_index.json
  develop/sitemap.xml.gz
Due: none

Deployed 88efc1a0 to develop with MkDocs 1.6.1 and mike 2.1.3
  develop/Dockerfile
Due: none

chore(ci): new pre-release 3.0.1a4
  aws_lambda_powertools/shared/version.py
  provenance/3.0.1a4/multiple.intoto.jsonl
  pyproject.toml
Due: black, ruff

fix(layers): rename Lambda layer name from x86 to x86_64 (#5226)
  .github/workflows/publish_v2_layer.yml
  .github/workflows/publish_v3_layer.yml
  docs/diagram_src/cicd_steps.md
  docs/includes/_layer_homepage_x86.md
  docs/index.md
  docs/maintainers.md
  docs/roadmap.md
  examples/homepage/install/sar/cdk_sar.py
  examples/homepage/install/sar/sam.yaml
  examples/homepage/install/sar/scoped_down_iam.yaml
  examples/homepage/install/sar/serverless.yml
  examples/homepage/install/sar/terraform.tf
  examples/homepage/install/x86_64/amplify.txt
  examples/homepage/install/x86_64/cdk_x86.py
  examples/homepage/install/x86_64/pulumi_x86.py
  examples/homepage/install/x86_64/sam.yaml
  examples/homepage/install/x86_64/serverless.yml
  examples/homepage/install/x86_64/terraform.tf
  examples/logger/sam/template.yaml
  examples/metrics/sam/template.yaml
  examples/metrics_datadog/sam/template.yaml
  examples/tracer/sam/template.yaml
  layer_v3/app.py
  layer_v3/layer/layer_stack.py
Due: black, ruff, cloudformation

Fix e2e tests
  tests/e2e/idempotency_redis/handlers/response_hook.py
Due: black, ruff

Deployed b5382244 to develop with MkDocs 1.6.1 and mike 2.1.3
  develop/changelog/index.html
  develop/search/search_index.json
Due: none

Add metadata and checks - checks SHA256 against expected - sets metadata for layer
  .github/workflows/layer_govcloud.yml
Due: none
