Repository aws-powertools/powertools-lambda-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, flake8, cloudformation

black:
  name: formatting::black
  entry: poetry run black
  language: system

isort:
  name: formatting::isort
  entry: poetry run isort
  language: system

flake8:
  name: linting::flake8
  entry: poetry run flake8
  language: system

cloudformation:
  name: linting::cloudformation
  entry: poetry run cfn-lint
  language: system

feat: adding cache to json fields
  aws_lambda_powertools/utilities/data_classes/aws_config_rule_event.py
Due: black, isort, flake8

doc: adding docstring
  aws_lambda_powertools/utilities/data_classes/aws_config_rule_event.py
Due: black, isort, flake8

fix: cdk and sam samples
  docs/utilities/idempotency.md
  examples/idempotency/cdk.py
  examples/idempotency/sam.yaml
Due: black, isort, flake8, cloudformation

docs(idempotency): add CDK example (#2434)
  docs/utilities/idempotency.md
  examples/idempotency/cdk.py
  examples/idempotency/sam.yaml
Due: black, isort, flake8, cloudformation

chore(ci): changelog rebuild
  CHANGELOG.md
Due: none

feat(event_sources): add AWS Config Rule event data class (#2175)
  aws_lambda_powertools/utilities/data_classes/__init__.py
  aws_lambda_powertools/utilities/data_classes/aws_config_rule_event.py
  docs/utilities/data_classes.md
  examples/event_sources/src/aws_config_rule.py
  examples/event_sources/src/aws_config_rule_item_changed.json
  examples/event_sources/src/aws_config_rule_oversized.json
  examples/event_sources/src/aws_config_rule_scheduled.json
  tests/events/awsConfigRuleConfigurationChanged.json
  tests/events/awsConfigRuleOversizedConfiguration.json
  tests/events/awsConfigRuleScheduled.json
  tests/functional/test_data_classes.py
Due: black, isort, flake8

docs: fix dynamodb stream event deserialize docstring
  aws_lambda_powertools/utilities/data_classes/common.py
  aws_lambda_powertools/utilities/data_classes/dynamo_db_stream_event.py
Due: black, isort, flake8

add sample document
  docs/core/metrics.md
Due: none

reformat code block
  docs/core/metrics.md
  examples/metrics/src/use_providers.py
Due: black, isort, flake8

bug: fix missing idempotency key
  aws_lambda_powertools/utilities/idempotency/base.py
  aws_lambda_powertools/utilities/idempotency/persistence/base.py
  docs/utilities/idempotency.md
  tests/functional/idempotency/test_idempotency.py
Due: black, isort, flake8

fix return
  aws_lambda_powertools/utilities/idempotency/persistence/base.py
Due: black, isort, flake8

chore: add e2e test for optional idempotency key
  tests/e2e/idempotency/handlers/optional_idempotency_key_handler.py
  tests/e2e/idempotency/infrastructure.py
  tests/e2e/idempotency/test_idempotency_dynamodb.py
Due: black, isort, flake8

chore: fix e2e third payload
  tests/e2e/idempotency/test_idempotency_dynamodb.py
Due: black, isort, flake8

docs(event_sources): fix DynamoDB stream event docstring (#2468)
  aws_lambda_powertools/utilities/data_classes/common.py
  aws_lambda_powertools/utilities/data_classes/dynamo_db_stream_event.py
Due: black, isort, flake8

docs: clarify operations
  docs/utilities/idempotency.md
Due: none

chore: clarify warning
  aws_lambda_powertools/utilities/idempotency/persistence/base.py
Due: black, isort, flake8

chore: strip extra space
  aws_lambda_powertools/utilities/idempotency/persistence/base.py
Due: black, isort, flake8

chore: ignore long warning line
  aws_lambda_powertools/utilities/idempotency/persistence/base.py
Due: black, isort, flake8

fix(idempotency): treat missing idempotency key as non-idempotent transaction (no-op) when raise_on_no_idempotency_key is False (#2477)
  aws_lambda_powertools/utilities/idempotency/base.py
  aws_lambda_powertools/utilities/idempotency/persistence/base.py
  docs/utilities/idempotency.md
  tests/e2e/idempotency/handlers/optional_idempotency_key_handler.py
  tests/e2e/idempotency/infrastructure.py
  tests/e2e/idempotency/test_idempotency_dynamodb.py
  tests/functional/idempotency/test_idempotency.py
Due: black, isort, flake8

docs(idempotency): new sequence flow when idempotency key is optional
  docs/utilities/idempotency.md
Due: none

docs(idempotency): new sequence flow when idempotency key is optional (#2480)
  docs/utilities/idempotency.md
Due: none

chore: version bump
  aws_lambda_powertools/shared/version.py
  pyproject.toml
Due: black, isort, flake8

chore(ci): bump version to 2.17.0
  aws_lambda_powertools/shared/version.py
  pyproject.toml
Due: black, isort, flake8

chore(ci): layer docs update
  CHANGELOG.md
  docs/index.md
  examples/logger/sam/template.yaml
  examples/metrics/sam/template.yaml
  examples/tracer/sam/template.yaml
Due: cloudformation

fix: highligh in docs
  docs/utilities/feature_flags.md
Due: none

feat(feature_flags): add modulo range condition for segmented experimentation support (#2331)
  aws_lambda_powertools/utilities/feature_flags/comparators.py
  aws_lambda_powertools/utilities/feature_flags/feature_flags.py
  aws_lambda_powertools/utilities/feature_flags/schema.py
  docs/utilities/feature_flags.md
  examples/feature_flags/src/modulo_range_feature.py
  examples/feature_flags/src/modulo_range_feature_event.json
  examples/feature_flags/src/modulo_range_features.json
  examples/feature_flags/src/modulo_range_multiple_feature.py
  examples/feature_flags/src/modulo_range_multiple_features.json
  tests/functional/feature_flags/test_feature_flags.py
  tests/functional/feature_flags/test_schema_validation.py
  tests/functional/feature_flags/test_time_based_actions.py
Due: black, isort, flake8

Merging from develop + creating extra dependencies
  poetry.lock
  pyproject.toml
Due: none

Path conditions:
  black: any of: \.py$
  isort: any of: \.py$
  flake8: any of: \.py$
  cloudformation: any of: examples/.* and \.(yaml|yml)$
