Repository aws-powertools/powertools-lambda-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff, cloudformation

.pre-commit-config.yaml:

# We use poetry to run formatting and linting before commit/push
# Longer checks such as tests, security and complexity baseline
# are run as part of CI to prevent slower feedback loop
# All checks can be run locally via `make pr`

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: "f71fa2c1f9cf5cb705f73dffe4b21f7c61470ba9" # v4.4.0
    hooks:
      - id: check-merge-conflict
      - id: trailing-whitespace
      - id: check-toml
  - repo: local
    hooks:
      - id: black
        name: formatting::black
        entry: poetry run black
        language: system
        types: [python]
      - id: ruff
        name: linting-format::ruff
        entry: poetry run ruff
        language: system
        types: [python]
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: "ce0d77ac47dc921b62429804fe763d4d35f66a76" # v0.34.0
    hooks:
      - id: markdownlint-docker
        args: ["--fix"]
  - repo: local
    hooks:
      - id: cloudformation
        name: linting::cloudformation
        entry: poetry run cfn-lint
        language: system
        types: [yaml]
        files: examples/.*
  - repo: https://github.com/rhysd/actionlint
    rev: "fd7ba3c382e13dcc0248e425b4cbc3f1185fa3ee" # v1.6.24
    hooks:
      - id: actionlint-docker
        args: [-pyflakes=]
  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: 3420134c37197c21edffc7e6093b14ffae8402f2 # v1.81.0
    hooks:
      - id: terraform_fmt
        args:
          - --args=-recursive
  - repo: https://github.com/gitleaks/gitleaks
    rev: "7804d652c0460f0b61ea9bb2c1f202bfcdbbf144" # v8.16.3
    hooks:
      - id: gitleaks

fix(event_source): fix regression when working with zero numbers in DynamoDBStreamEvent (#4932)
  aws_lambda_powertools/utilities/data_classes/dynamo_db_stream_event.py
  tests/unit/data_classes/required_dependencies/test_dynamo_db_stream_event.py
Due: black, ruff

chore(ci): new pre-release 2.43.1a2
  aws_lambda_powertools/shared/version.py
  provenance/2.43.1a2/multiple.intoto.jsonl
  pyproject.toml
Due: black, ruff

chore: version bump
  aws_lambda_powertools/shared/version.py
  pyproject.toml
Due: black, ruff

chore(ci): bump version to 2.43.1
  aws_lambda_powertools/shared/version.py
  pyproject.toml
Due: black, ruff

chore(ci): layer docs update
  CHANGELOG.md
  docs/index.md
  examples/logger/sam/template.yaml
  examples/metrics/sam/template.yaml
  examples/tracer/sam/template.yaml
Due: cloudformation

Deployed b548dfda to develop with MkDocs 1.6.0 and mike 2.1.2
  develop/changelog/index.html
  develop/core/logger/index.html
  develop/core/metrics/index.html
  develop/core/tracer/index.html
  develop/index.html
  develop/search/search_index.json
Due: none

refactor(data_classes): add from __future__ import annotations
  aws_lambda_powertools/utilities/data_classes/active_mq_event.py
  aws_lambda_powertools/utilities/data_classes/alb_event.py
  aws_lambda_powertools/utilities/data_classes/api_gateway_authorizer_event.py
  aws_lambda_powertools/utilities/data_classes/api_gateway_proxy_event.py
  aws_lambda_powertools/utilities/data_classes/appsync_authorizer_event.py
  aws_lambda_powertools/utilities/data_classes/appsync_resolver_event.py
  aws_lambda_powertools/utilities/data_classes/aws_config_rule_event.py
  aws_lambda_powertools/utilities/data_classes/bedrock_agent_event.py
  aws_lambda_powertools/utilities/data_classes/cloud_watch_alarm_event.py
  aws_lambda_powertools/utilities/data_classes/cloud_watch_custom_widget_event.py
  aws_lambda_powertools/utilities/data_classes/cloud_watch_logs_event.py
  aws_lambda_powertools/utilities/data_classes/cloudformation_custom_resource_event.py
  aws_lambda_powertools/utilities/data_classes/code_pipeline_job_event.py
  aws_lambda_powertools/utilities/data_classes/cognito_user_pool_event.py
  aws_lambda_powertools/utilities/data_classes/common.py
  aws_lambda_powertools/utilities/data_classes/connect_contact_flow_event.py
  aws_lambda_powertools/utilities/data_classes/dynamo_db_stream_event.py
  aws_lambda_powertools/utilities/data_classes/event_bridge_event.py
  aws_lambda_powertools/utilities/data_classes/event_source.py
  aws_lambda_powertools/utilities/data_classes/kafka_event.py
  aws_lambda_powertools/utilities/data_classes/kinesis_firehose_event.py
  aws_lambda_powertools/utilities/data_classes/kinesis_stream_event.py
  aws_lambda_powertools/utilities/data_classes/rabbit_mq_event.py
  aws_lambda_powertools/utilities/data_classes/s3_batch_operation_event.py
  aws_lambda_powertools/utilities/data_classes/s3_event.py
  aws_lambda_powertools/utilities/data_classes/s3_object_event.py
  aws_lambda_powertools/utilities/data_classes/ses_event.py
  aws_lambda_powertools/utilities/data_classes/sns_event.py
  aws_lambda_powertools/utilities/data_classes/sqs_event.py
  aws_lambda_powertools/utilities/data_classes/vpc_lattice.py
Due: black, ruff

refactor(logging): add from __future__ import annotations
  aws_lambda_powertools/logging/formatter.py
  aws_lambda_powertools/logging/formatters/datadog.py
  aws_lambda_powertools/logging/logger.py
  aws_lambda_powertools/logging/types.py
  aws_lambda_powertools/logging/utils.py
Due: black, ruff

refactor(metrics): add from __future__ import annotations
  aws_lambda_powertools/metrics/base.py
  aws_lambda_powertools/metrics/functions.py
  aws_lambda_powertools/metrics/metrics.py
  aws_lambda_powertools/metrics/provider/base.py
  aws_lambda_powertools/metrics/provider/cloudwatch_emf/cloudwatch.py
  aws_lambda_powertools/metrics/provider/cloudwatch_emf/types.py
  aws_lambda_powertools/metrics/provider/datadog/datadog.py
  aws_lambda_powertools/metrics/provider/datadog/metrics.py
Due: black, ruff

refactor(middleware_factory): add from __future__ import annotations
  aws_lambda_powertools/middleware_factory/factory.py
Due: black, ruff

refactor(shared): add from __future__ import annotations
  aws_lambda_powertools/shared/cookies.py
  aws_lambda_powertools/shared/dynamodb_deserializer.py
  aws_lambda_powertools/shared/functions.py
  aws_lambda_powertools/shared/headers_serializer.py
Due: black, ruff

refactor(tracing): add from __future__ import annotations
  aws_lambda_powertools/tracing/base.py
  aws_lambda_powertools/tracing/tracer.py
Due: black, ruff

refactor(data_masking): add from __future__ import annotations
  aws_lambda_powertools/utilities/data_masking/base.py
  aws_lambda_powertools/utilities/data_masking/provider/base.py
  aws_lambda_powertools/utilities/data_masking/provider/kms/aws_encryption_sdk.py
Due: black, ruff

chore(ci): new pre-release 2.43.2a0
  aws_lambda_powertools/shared/version.py
  provenance/2.43.2a0/multiple.intoto.jsonl
  pyproject.toml
Due: black, ruff

fix(event_handler): correct typo in exception docstring
  aws_lambda_powertools/event_handler/exceptions.py
Due: black, ruff

refactor(event_handler): correct typo in exception docstring (#4948)
  aws_lambda_powertools/event_handler/exceptions.py
Due: black, ruff

feat(general): Add ARM support for ca-west-1
  .github/workflows/reusable_deploy_v2_layer_stack.yml
Due: none

chore(ci): changelog rebuild
  CHANGELOG.md
Due: none

Deployed 2345028c to develop with MkDocs 1.6.0 and mike 2.1.2
  develop/changelog/index.html
  develop/search/search_index.json
  develop/sitemap.xml.gz
Due: none

feat(layers): add ARM64 support for ca-west-1 (#4949)
  .github/workflows/reusable_deploy_v2_layer_stack.yml
Due: none

fix(event_handler): correct URL for OpenAPI spec in Swagger UI (#4930)
  aws_lambda_powertools/event_handler/api_gateway.py
  aws_lambda_powertools/event_handler/openapi/swagger_ui/html.py
  tests/functional/event_handler/_pydantic/test_openapi_swagger.py
Due: black, ruff

Prefer absolute imports
  aws_lambda_powertools/logging/logger.py
Due: black, ruff

Prefer absolute imports
  aws_lambda_powertools/middleware_factory/factory.py
Due: black, ruff

refactor(feature_flags): add from __future__ import annotations
  aws_lambda_powertools/utilities/feature_flags/appconfig.py
  aws_lambda_powertools/utilities/feature_flags/base.py
  aws_lambda_powertools/utilities/feature_flags/comparators.py
  aws_lambda_powertools/utilities/feature_flags/feature_flags.py
  aws_lambda_powertools/utilities/feature_flags/schema.py
  aws_lambda_powertools/utilities/feature_flags/types.py
Due: black, ruff

refactor(idempotency): add from __future__ import annotations
  aws_lambda_powertools/utilities/idempotency/base.py
  aws_lambda_powertools/utilities/idempotency/config.py
  aws_lambda_powertools/utilities/idempotency/exceptions.py
  aws_lambda_powertools/utilities/idempotency/hook.py
  aws_lambda_powertools/utilities/idempotency/idempotency.py
  aws_lambda_powertools/utilities/idempotency/persistence/base.py
  aws_lambda_powertools/utilities/idempotency/persistence/datarecord.py
  aws_lambda_powertools/utilities/idempotency/persistence/dynamodb.py
  aws_lambda_powertools/utilities/idempotency/persistence/redis.py
  aws_lambda_powertools/utilities/idempotency/serialization/base.py
  aws_lambda_powertools/utilities/idempotency/serialization/custom_dict.py
  aws_lambda_powertools/utilities/idempotency/serialization/dataclass.py
  aws_lambda_powertools/utilities/idempotency/serialization/no_op.py
  aws_lambda_powertools/utilities/idempotency/serialization/pydantic.py
Due: black, ruff

refactor(jmespath_utils): add from __future__ import annotations
  aws_lambda_powertools/utilities/jmespath_utils/__init__.py
Due: black, ruff

chore(ci): new pre-release 2.43.2a1
  aws_lambda_powertools/shared/version.py
  provenance/2.43.2a1/multiple.intoto.jsonl
  pyproject.toml
Due: black, ruff

Update poetry.lock
  poetry.lock
Due: none

update lock
  poetry.lock
Due: none

Revert "chore(deps-dev): bump cdklabs-generative-ai-cdk-constructs from 0.1.2…"
  poetry.lock
  pyproject.toml
Due: none

revert(deps): "chore(deps-dev): bump cdklabs-generative-ai-cdk-constructs from 0.1.246 to 0.1.247" (#4974)
  poetry.lock
  pyproject.toml
Due: none

Deployed 33d9c91d to develop with MkDocs 1.6.0 and mike 2.1.2
  develop/changelog/index.html
  develop/search/search_index.json
  develop/sitemap.xml.gz
Due: none

refactor(middlewares): add from __future__ import annotations
  aws_lambda_powertools/event_handler/middlewares/base.py
  aws_lambda_powertools/event_handler/middlewares/openapi_validation.py
  aws_lambda_powertools/event_handler/middlewares/schema_validation.py
Due: black, ruff

refactor(parameters): add from __future__ import annotations
  aws_lambda_powertools/utilities/parameters/appconfig.py
  aws_lambda_powertools/utilities/parameters/base.py
  aws_lambda_powertools/utilities/parameters/dynamodb.py
  aws_lambda_powertools/utilities/parameters/secrets.py
  aws_lambda_powertools/utilities/parameters/ssm.py
Due: black, ruff

refactor(envelopes): add from __future__ import annotations
  aws_lambda_powertools/utilities/parser/envelopes/apigw.py
  aws_lambda_powertools/utilities/parser/envelopes/apigwv2.py
  aws_lambda_powertools/utilities/parser/envelopes/base.py
  aws_lambda_powertools/utilities/parser/envelopes/bedrock_agent.py
  aws_lambda_powertools/utilities/parser/envelopes/cloudwatch.py
  aws_lambda_powertools/utilities/parser/envelopes/dynamodb.py
  aws_lambda_powertools/utilities/parser/envelopes/event_bridge.py
  aws_lambda_powertools/utilities/parser/envelopes/kafka.py
  aws_lambda_powertools/utilities/parser/envelopes/kinesis.py
  aws_lambda_powertools/utilities/parser/envelopes/kinesis_firehose.py
  aws_lambda_powertools/utilities/parser/envelopes/lambda_function_url.py
  aws_lambda_powertools/utilities/parser/envelopes/sns.py
  aws_lambda_powertools/utilities/parser/envelopes/sqs.py
  aws_lambda_powertools/utilities/parser/envelopes/vpc_lattice.py
  aws_lambda_powertools/utilities/parser/envelopes/vpc_latticev2.py
Due: black, ruff

chore(ci): new pre-release 2.43.2a2
  aws_lambda_powertools/shared/version.py
  provenance/2.43.2a2/multiple.intoto.jsonl
  pyproject.toml
Due: black, ruff

Fix e2e tests
  tests/e2e/parser/handlers/handler_with_union_tag.py
Due: black, ruff
