Repository aws-powertools/powertools-lambda-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff, cloudformation

black:
  name: formatting::black
  entry: poetry run black
  language: system

ruff:
  name: linting-format::ruff
  entry: poetry run ruff
  language: system

cloudformation:
  name: linting::cloudformation
  entry: poetry run cfn-lint
  language: system

docs: GA minimal commitment adjustment to allow each language to set their baseline
  docs/versioning.md
Due: none

docs: final line editing
  docs/versioning.md
Due: none

docs(proccess): add versioning and maintenance policy (#3682)
  docs/versioning.md
  mkdocs.yml
Due: none

Deployed e1a4d1ec to develop with MkDocs 1.5.3 and mike 1.1.2
  develop/404.html
  develop/automation/index.html
  develop/changelog/index.html
  develop/contributing/conventions/index.html
  develop/contributing/documentation/rfcs/index.html
  develop/contributing/getting_started/index.html
  develop/contributing/setup/index.html
  develop/core/event_handler/api_gateway/index.html
  develop/core/event_handler/appsync/index.html
  develop/core/logger/index.html
  develop/core/metrics/datadog/index.html
  develop/core/metrics/index.html
  develop/core/tracer/index.html
  develop/diagram_src/cicd_steps/index.html
  develop/index.html
  develop/maintainers/index.html
  develop/roadmap/index.html
  develop/search/search_index.json
  develop/security/index.html
  develop/sitemap.xml.gz
  develop/tutorial/index.html
  develop/utilities/batch/index.html
  develop/utilities/data_classes/index.html
  develop/utilities/feature_flags/index.html
  develop/utilities/idempotency/index.html
  develop/utilities/jmespath_functions/index.html
  develop/utilities/middleware_factory/index.html
  develop/utilities/parameters/index.html
  develop/utilities/parser/index.html
  develop/utilities/streaming/index.html
  develop/utilities/typing/index.html
  develop/utilities/validation/index.html
  develop/versioning/index.html
  develop/we_made_this/index.html
  stage/versioning/index.html
Due: none

Deployed e1a4d1ec to 2.32.0 with MkDocs 1.5.3 and mike 1.1.2
  2.32.0/404.html
  2.32.0/Dockerfile
  2.32.0/automation/index.html
  2.32.0/changelog/index.html
  2.32.0/contributing/conventions/index.html
  2.32.0/contributing/documentation/rfcs/index.html
  2.32.0/contributing/getting_started/index.html
  2.32.0/contributing/setup/index.html
  2.32.0/core/event_handler/api_gateway/index.html
  2.32.0/core/event_handler/appsync/index.html
  2.32.0/core/logger/index.html
  2.32.0/core/metrics/datadog/index.html
  2.32.0/core/metrics/index.html
  2.32.0/core/tracer/index.html
  2.32.0/diagram_src/cicd_steps/index.html
  2.32.0/index.html
  2.32.0/maintainers/index.html
  2.32.0/roadmap/index.html
  2.32.0/search/search_index.json
  2.32.0/security/index.html
  2.32.0/sitemap.xml.gz
  2.32.0/tutorial/index.html
  2.32.0/utilities/batch/index.html
  2.32.0/utilities/data_classes/index.html
  2.32.0/utilities/feature_flags/index.html
  2.32.0/utilities/idempotency/index.html
  2.32.0/utilities/jmespath_functions/index.html
  2.32.0/utilities/middleware_factory/index.html
  2.32.0/utilities/parameters/index.html
  2.32.0/utilities/parser/index.html
  2.32.0/utilities/streaming/index.html
  2.32.0/utilities/typing/index.html
  2.32.0/utilities/validation/index.html
  2.32.0/versioning/index.html
  2.32.0/we_made_this/index.html
  latest/versioning/index.html
Due: none

Adding header - Fix VPC Lattice Payload
  aws_lambda_powertools/utilities/data_classes/vpc_lattice.py
Due: black, ruff

Adding header - tests and final changes
  aws_lambda_powertools/event_handler/middlewares/openapi_validation.py
  tests/events/albMultiValueQueryStringEvent.json
  tests/events/apiGatewayProxyEvent.json
  tests/events/lambdaFunctionUrlEventWithHeaders.json
  tests/events/vpcLatticeEvent.json
  tests/events/vpcLatticeV2EventWithHeaders.json
  tests/functional/event_handler/test_openapi_validation_middleware.py
Due: black, ruff

Making sonarqube happy
  tests/events/albMultiValueQueryStringEvent.json
  tests/events/apiGatewayProxyEvent.json
  tests/events/apiGatewayProxyV2Event.json
  tests/events/lambdaFunctionUrlEventWithHeaders.json
  tests/events/vpcLatticeEvent.json
  tests/events/vpcLatticeV2EventWithHeaders.json
  tests/functional/event_handler/test_openapi_validation_middleware.py
Due: black, ruff

Update docs/utilities/data_masking.md
  docs/utilities/data_masking.md
Due: none

Adding documentation
  docs/core/event_handler/api_gateway.md
  examples/event_handler_rest/src/validating_headers.py
  examples/event_handler_rest/src/working_with_headers_multi_value.py
Due: black, ruff

Added data masking to features lists, removed unnecessary tabs
  README.md
  docs/index.md
  docs/utilities/data_masking.md
  examples/data_masking/src/aws_encryption_provider_example.py
Due: black, ruff

Made passing sdk args section more general
  docs/utilities/data_masking.md
Due: none

Added using multiple keys section
  docs/utilities/data_masking.md
  examples/data_masking/src/changing_default_algorithm.py
  examples/data_masking/src/using_multiple_keys.py
Due: black, ruff

Fix lint
  examples/data_masking/src/using_multiple_keys.py
Due: black, ruff

Polishing few things
  docs/utilities/data_masking.md
  examples/data_masking/src/getting_started_decrypt_data_input.json
Due: none

chore(ci): changelog rebuild
  CHANGELOG.md
Due: none

Deployed b7845980 to develop with MkDocs 1.5.3 and mike 1.1.2
  develop/changelog/index.html
  develop/search/search_index.json
  develop/sitemap.xml.gz
Due: none

Addressing Heitor's feedback
  docs/utilities/data_masking.md
Due: none

Adding workflow
  docs/utilities/data_masking.md
Due: none

Addressing GH hidden conversations
  docs/utilities/data_masking.md
Due: none

Documentation
  docs/utilities/data_masking.md
  examples/data_masking/sam/template.yaml
Due: cloudformation

Final changes
  Makefile
  docs/utilities/data_masking.md
  pyproject.toml
Due: none

Lock file
  poetry.lock
Due: none

Deployed ced0a3d6 to develop with MkDocs 1.5.3 and mike 1.1.2
  develop/404.html
  develop/automation/index.html
  develop/changelog/index.html
  develop/contributing/conventions/index.html
  develop/contributing/documentation/rfcs/index.html
  develop/contributing/getting_started/index.html
  develop/contributing/setup/index.html
  develop/core/event_handler/api_gateway/index.html
  develop/core/event_handler/appsync/index.html
  develop/core/logger/index.html
  develop/core/metrics/datadog/index.html
  develop/core/metrics/index.html
  develop/core/tracer/index.html
  develop/diagram_src/cicd_steps/index.html
  develop/index.html
  develop/maintainers/index.html
  develop/roadmap/index.html
  develop/search/search_index.json
  develop/security/index.html
  develop/sitemap.xml.gz
  develop/tutorial/index.html
  develop/upgrade/index.html
  develop/utilities/batch/index.html
  develop/utilities/data_classes/index.html
  develop/utilities/data_masking/index.html
  develop/utilities/feature_flags/index.html
  develop/utilities/idempotency/index.html
  develop/utilities/jmespath_functions/index.html
  develop/utilities/middleware_factory/index.html
  develop/utilities/parameters/index.html
  develop/utilities/parser/index.html
  develop/utilities/streaming/index.html
  develop/utilities/typing/index.html
  develop/utilities/validation/index.html
  develop/versioning/index.html
  develop/we_made_this/index.html
  stage/utilities/data_masking/index.html
Due: none

Rafactoring to be complaint with RFC
  aws_lambda_powertools/event_handler/middlewares/openapi_validation.py
  aws_lambda_powertools/utilities/data_classes/alb_event.py
  aws_lambda_powertools/utilities/data_classes/api_gateway_proxy_event.py
  aws_lambda_powertools/utilities/data_classes/common.py
  aws_lambda_powertools/utilities/data_classes/vpc_lattice.py
Due: black, ruff

Adding tests
  tests/events/apiGatewayProxyEvent.json
  tests/functional/event_handler/test_openapi_validation_middleware.py
Due: black, ruff

Adding test with Uppercase variables
  aws_lambda_powertools/event_handler/middlewares/openapi_validation.py
  tests/functional/event_handler/test_openapi_validation_middleware.py
Due: black, ruff

Revert event changes
  tests/events/apiGatewayProxyV2Event.json
Due: none

Adding HTTP RFC
  docs/core/event_handler/api_gateway.md
Due: none

Adding getter/setter to clean the code
  aws_lambda_powertools/event_handler/middlewares/openapi_validation.py
  aws_lambda_powertools/event_handler/openapi/params.py
  tests/events/vpcLatticeV2EventWithHeaders.json
  tests/functional/event_handler/test_openapi_validation_middleware.py
Due: black, ruff

Adding getter/setter to clean the code
  aws_lambda_powertools/event_handler/openapi/params.py
Due: black, ruff

Addressing Ruben's feedback
  docs/core/event_handler/api_gateway.md
  examples/event_handler_rest/src/validating_headers.py
  examples/event_handler_rest/src/working_with_headers_multi_value.py
Due: black, ruff

feat(event_handler): support Header parameter validation in OpenAPI schema (#3687)
  aws_lambda_powertools/event_handler/middlewares/openapi_validation.py
  aws_lambda_powertools/event_handler/openapi/dependant.py
  aws_lambda_powertools/event_handler/openapi/params.py
  aws_lambda_powertools/utilities/data_classes/alb_event.py
  aws_lambda_powertools/utilities/data_classes/api_gateway_proxy_event.py
  aws_lambda_powertools/utilities/data_classes/bedrock_agent_event.py
  aws_lambda_powertools/utilities/data_classes/common.py
  aws_lambda_powertools/utilities/data_classes/vpc_lattice.py
  docs/core/event_handler/api_gateway.md
  examples/event_handler_rest/src/validating_headers.py
  examples/event_handler_rest/src/working_with_headers_multi_value.py
  tests/events/albMultiValueQueryStringEvent.json
  tests/events/apiGatewayProxyEvent.json
  tests/events/lambdaFunctionUrlEventWithHeaders.json
  tests/events/vpcLatticeEvent.json
  tests/events/vpcLatticeV2EventWithHeaders.json
  tests/functional/event_handler/test_openapi_params.py
  tests/functional/event_handler/test_openapi_validation_middleware.py
Due: black, ruff

Path conditions:
  black: any of: \.py$
  ruff: any of: \.py$
  cloudformation: any of: examples/.* and \.(yaml|yml)$
