Repository aws-powertools/powertools-lambda-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff, cloudformation

.pre-commit-config.yaml:

# We use poetry to run formatting and linting before commit/push
# Longer checks such as tests, security and complexity baseline
# are run as part of CI to prevent slower feedback loop
# All checks can be run locally via `make pr`

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: "f71fa2c1f9cf5cb705f73dffe4b21f7c61470ba9" # v4.4.0
    hooks:
      - id: check-merge-conflict
      - id: trailing-whitespace
      - id: check-toml
  - repo: local
    hooks:
      - id: black
        name: formatting::black
        entry: poetry run black
        language: system
        types: [python]
      - id: ruff
        name: linting-format::ruff
        entry: poetry run ruff
        language: system
        types: [python]
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: "ce0d77ac47dc921b62429804fe763d4d35f66a76" # v0.34.0
    hooks:
      - id: markdownlint-docker
        args: ["--fix"]
  - repo: local
    hooks:
      - id: cloudformation
        name: linting::cloudformation
        entry: poetry run cfn-lint
        language: system
        types: [yaml]
        files: examples/.*
  - repo: https://github.com/rhysd/actionlint
    rev: "fd7ba3c382e13dcc0248e425b4cbc3f1185fa3ee" # v1.6.24
    hooks:
      - id: actionlint-docker
        args: [-pyflakes=]
  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: 3420134c37197c21edffc7e6093b14ffae8402f2 # v1.81.0
    hooks:
      - id: terraform_fmt
        args:
          - --args=-recursive
  - repo: https://github.com/gitleaks/gitleaks
    rev: "7804d652c0460f0b61ea9bb2c1f202bfcdbbf144" # v8.16.3
    hooks:
      - id: gitleaks

chore(ci): add first centralized reusable workflow
  bla.py
  playground/.prettierrc
  playground/app.mjs
Due: black, ruff

docs: document new Cognito events
  docs/utilities/data_classes.md
Due: none

feat: update cognito user pool events and add new trigger events
  aws_lambda_powertools/utilities/data_classes/cognito_user_pool_event.py
  tests/events/cognitoCustomEmailSenderEvent.json
  tests/events/cognitoCustomSMSSenderEvent.json
  tests/events/cognitoPreTokenV2GenerationEvent.json
  tests/unit/data_classes/test_cognito_user_pool_event.py
Due: black, ruff

chore(ci): changelog rebuild
  CHANGELOG.md
Due: none

Fixing tests
  tests/unit/data_classes/test_cognito_user_pool_event.py
Due: black, ruff

Fixing tests
  aws_lambda_powertools/utilities/data_classes/cognito_user_pool_event.py
Due: black, ruff

Deployed b767d308 to develop with MkDocs 1.6.0 and mike 2.1.1
  develop/changelog/index.html
  develop/search/search_index.json
  develop/sitemap.xml.gz
Due: none

feat(events): Update and Add Cognito User Pool Events (#4423)
  aws_lambda_powertools/utilities/data_classes/cognito_user_pool_event.py
  docs/utilities/data_classes.md
  tests/events/cognitoCustomEmailSenderEvent.json
  tests/events/cognitoCustomSMSSenderEvent.json
  tests/events/cognitoPreTokenV2GenerationEvent.json
  tests/unit/data_classes/test_cognito_user_pool_event.py
Due: black, ruff

Deployed 81892c18 to develop with MkDocs 1.6.0 and mike 2.1.1
  develop/search/search_index.json
  develop/utilities/data_classes/index.html
Due: none

feat(parser): allow union types
  aws_lambda_powertools/utilities/parser/envelopes/base.py
Due: black, ruff

Adding recast as public ref
  README.md
  docs/index.md
Due: none

docs(public reference): add Recast as a public reference (#4491)
  README.md
  docs/index.md
Due: none

Deployed e8dfebf4 to develop with MkDocs 1.6.0 and mike 2.1.1
  develop/index.html
  develop/search/search_index.json
Due: none

fix(apigateway): do not skip middleware and exception handlers on 404
  aws_lambda_powertools/event_handler/api_gateway.py
  tests/functional/event_handler/test_api_middlewares.py
Due: black, ruff

Delete bla.py
  bla.py
Due: black, ruff

fix: default value for include_in_schema
  aws_lambda_powertools/event_handler/api_gateway.py
Due: black, ruff

chore: test preflight on notfound with middlware
  tests/functional/event_handler/test_api_middlewares.py
Due: black, ruff

docs: internal request processing
  aws_lambda_powertools/event_handler/api_gateway.py
Due: black, ruff

fix(event_handler): do not skip middleware and exception handlers on 404 error (#4492)
  aws_lambda_powertools/event_handler/api_gateway.py
  tests/functional/event_handler/test_api_middlewares.py
Due: black, ruff

Deployed acc919f8 to develop with MkDocs 1.6.0 and mike 2.1.1
  develop/changelog/index.html
  develop/search/search_index.json
  develop/sitemap.xml.gz
Due: none

chore: version bump
  aws_lambda_powertools/shared/version.py
  pyproject.toml
Due: black, ruff

chore(ci): bump version to 2.39.0
  aws_lambda_powertools/shared/version.py
  pyproject.toml
Due: black, ruff

chore(ci): layer docs update
  CHANGELOG.md
  docs/index.md
  examples/logger/sam/template.yaml
  examples/metrics/sam/template.yaml
  examples/tracer/sam/template.yaml
Due: cloudformation

Deployed 1655ee5f to develop with MkDocs 1.6.0 and mike 2.1.1
  develop/changelog/index.html
  develop/core/logger/index.html
  develop/core/metrics/index.html
  develop/core/tracer/index.html
  develop/index.html
  develop/search/search_index.json
Due: none

Fix regression when using Event Handler
  aws_lambda_powertools/event_handler/util.py
Due: black, ruff

fix(event_handler): regression making pydantic required (it should not) (#4500)
  aws_lambda_powertools/event_handler/util.py
Due: black, ruff

change validation method in the parser
  aws_lambda_powertools/utilities/parser/parser.py
  tests/functional/parser/test_parser.py
Due: black, ruff

chore(ci): bump version to 2.39.1
  aws_lambda_powertools/shared/version.py
  pyproject.toml
Due: black, ruff

Deployed dedbdefe to develop with MkDocs 1.6.0 and mike 2.1.1
  develop/changelog/index.html
  develop/core/logger/index.html
  develop/core/metrics/index.html
  develop/core/tracer/index.html
  develop/index.html
  develop/search/search_index.json
Due: none

feat: add support for fastjsonschema's handlers param in validation utilities
  aws_lambda_powertools/utilities/validation/base.py
  aws_lambda_powertools/utilities/validation/validator.py
  tests/functional/validator/conftest.py
  tests/functional/validator/test_validator.py
Due: black, ruff

docs: document new handlers param in validation utilities
  docs/utilities/validation.md
Due: none

fix: Change partition and offset on the KafkaEventRecord to be an int type.
  aws_lambda_powertools/utilities/data_classes/kafka_event.py
Due: black, ruff

fix(event_sources): change partition and offset field types in KafkaEventRecord (#4515)
  aws_lambda_powertools/utilities/data_classes/kafka_event.py
Due: black, ruff

docs: [I Made This]: Best practices for accelerating development with serverless blueprints
  docs/we_made_this.md
Due: none
